{% load compress static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ screen.name }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta http-equiv="cleartype" content="on" />

        {% compress css %}
            <link rel="stylesheet" href="{% static "rca_signage/css/normalize.css" %}" />
            <link rel="stylesheet" type="text/less" href="{% static "rca_signage/css/screen.less" %}" />
        {% endcompress %}
    </head>
    <body class="rotated loading">
        <div class="wrapper">
            <h1 id="heading">Events</h1>
            <h2 id="date"></h2>
            <div id="loading">Updating...</div>
            <div id="eventlist"></div>
            <div id="paging-timer">
                <div class="pie spinner"></div>
                <div class="pie filler"></div>
                <div class="mask"></div>
            </div>
            <div id="paging"></div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        
        {% compress js %}
            <script src="{% static "rca_signage/js/screen.js" %}"></script>
        {% endcompress %}
    </body>
</html>