{% extends 'rca_signage/base.html' %}
{% load rca_signage_tags %}

{% block content %}
 <h1>Upcoming events</h1>
 <div class="upcoming-events">
  <ul class="days">
   {% for day in days %}
    <li>
     <div class="date">{{ day.date|date:"l j F" }}</div>
     <ul class="events">
      {% for event in day.events %}
       <li>
        <div class="event-times">{{ event|event_times_display|safe }}</div>
        <div class="event-title">{{ event.page.title }}</div>
        <div class="event-location">{{ event|event_location_display|safe }}</div>
       </li>
      {% endfor %}
     </ul>
    </li>
   {% endfor %}
  </ul>
 </div>
{% endblock %}