
#dateRange {
  width: 210px;
}
.ui-daterangepickercontain{
  float: left;
  position: absolute;
}
.ui-daterangepickercontain *:before, .ui-daterangepickercontain *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

.ui-daterangepickercontain > .ui-daterangepicker > .ui-widget-content{
  width:  180px;
  float: left;
  margin: 0;
  border: none;
  padding-left: 28px;
}

.ranges.ui-widget-header{
  float: left;
}

.ui-icon-triangle-1-e{
  display: none;
}

.ui-daterangepickercontain ul{
  list-style: none;
}

.btnDone{
  width: 100%;
}