@import "../../../../rca/static/rca/css/variables.less";
@import "../../../../rca/static/rca/css/grid.less";
@import "../../../../rca/static/rca/css/mixins.less";
@import "variables.less"; // Show RCA specific variables

@overlay-zindex:5000;

.site-name,
.events-ads-wrapper{
    opacity:1;
    .transition(opacity 0.5s ease);
}

body{
    .clearfix(); /* necessary as immediate children are floated */
}

body.showoverlay{
    overflow:hidden;

    .site-name,
    .events-ads-wrapper{
        opacity:0;
    }
}
.page-content{
    min-height:700px; /* allows for logo in bottom right */
}

#showrca2014-overlay {
    overflow:auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: @overlay-zindex;
    background-color: orange;
    .transition(opacity 0.5s ease);

    &.fade { opacity:0; }
    &.in { opacity:0.7; }

    > div{
        position:absolute;
        background:white;
    }

    .logo{}
    .date{
        width:20%;
    }
    .crest{
        bottom:5%;
        left:5%;
    }
    .name{
        bottom:5%;
        right:5%;
    }
    .intro{
        width:70%;
        left:5%;
        top:200px;        
    }

    .slot-1{
        top:50px;
        left:5%;
    }
    .slot-2{
        top:50px;
        left:46%;
    }
    .slot-3{
        top:50px;
        left:69%;
    }
    .slot-4{
        top:50px;
        left:80%;
    }
    .slot-5{
        right:5%;
        top:30%;
    }
    .slot-6{
        right:5%;
        top:40%;
    }
    .slot-7{
        right:5%;
        top:50%;
    }
    .slot-8{    
        right:5%;
        top:60%;
    }
}

header {
    border-bottom:1px solid rgba(125,125,125,0.1);

    .exhibition-date{
        margin:0;
        position:absolute;
        left:50%;
        top:30px;
        .font-family-newrail-bold();
        width:4em;
        font-size:2em;
        line-height:1.1em;
    }
}

.header-wrapper.affix .exhibition-date{
    display:none;
}
.showsearch {
    display:none;
}
form.search {
    width:85%;
    margin-left:0;
    display:block;
    height:66px;

    input[type="text"]{
        font-size:1em;
    }
}

.full-width-footer{
    margin-top:0;

    &.showrca2014-footer{
        margin-top:@spacing-two;
    }
}

.showrca2014-footer{
    footer{
        padding:1em;
    }
    ul{
        .unlist();
    }
    ul{
        .row();
        .row-flush();
    }
    ul li{
        .column(6);
    }
    address{
        font-style:normal;
    }
    h2{
        margin:0;
        font-size:@font-size-15;
        font-weight:normal;
    }
}
.cookie-notice{
    display:none !important; // F it!
}

.prefooter{
    margin-top:@spacing-two;
    margin-bottom:@spacing-two;

    .logo-rca{
        float:left;
        display:block;
        text-indent:-2000px;
        background-image: url('@{path-static-show}images/logo-rca-footer.png');
        width: 180px;
        height: 90px;
        padding:0;
    }

    .exhibition-name{
        .transform(rotate(-90deg));
        .transform-origin(37% 0);
         .font-family-newrail-bold();
        float:right;
        width:9em;
        font-size:2em;
    }
}

.showrca .footer-logo{
    display:none;
}

@import "modules.less";
@import "themes.less";