.tab-nav{
    a{
        background-color:@color-pale-grey;
      
        &:hover {
            background-color: @color-pink;
            color: @color-white;
        }
    }
    
    li.active a{
        background-color: @color-tab-grey;
    }
}

.programme-curatingcontemporaryart .showgallery{
	li{
		.column(4);
	}
}