.shownav{
	> ul{
		.row();
		.row-flush();
	}
	> ul > li{
		.column(4);
	}
	.jumplist .options{
		max-width:@site-max-width;
		width:100%;
        -moz-column-count: 3;
        -webkit-column-count: 3;
        -moz-column-gap: 20px;
        -webkit-column-gap : 20px;
	}

}