.shownav{
	> ul{
		.row();
		.row-flush();
	}
	> ul > li{
		.column(4);
	}
	.jumplist .options{
		max-width:@site-max-width;
        -moz-column-count: 3;
        -webkit-column-count: 3;
        -moz-column-gap: 20px;
        -webkit-column-gap : 20px;
	}
}

.map-aside{
	float:right;
	width:50%;
}

.programme-curatingcontemporaryart .showgallery{
	li{
		.column(3);
	}
}