.tab-nav{
    a{
        background-color:@color-pale-grey;
      
        &:hover {
            color: @color-white;
        }
    }
    
    li.active a{
        background-color: @color-tab-grey !important;

        &:hover{
            color:inherit;
        }
    }
}

.showgallery{
    li{
        height:300px;
        margin-bottom:@spacing-one;
    }
        .landscape{
            .column(6);
        }
        .portrait{
            .column(3);
        }    
}

.programme-curatingcontemporaryart .showgallery{
    li{
        .column(4);
    }
}
