.tab-nav{
    a{
        background-color:@color-pale-grey;
      
        &:hover {
            color: @color-white;
        }
    }
    
    li.active a{
        background-color: @color-tab-grey !important;

        &:hover{
        	color:inherit;
        }
    }
}

.programme-curatingcontemporaryart .showgallery{
	li{
		.column(4);
	}
}
