<header>
    <h1>Choose a page</h1>
</header>

<div class="nice-padding">
    {% if allow_external_link or allow_email_link %}
        <p class="link-types">
            <b>Internal link</b>
            {% if allow_external_link %}| <a href="{% url 'verdantadmin_choose_page_external_link' %}?{{ querystring }}">External link</a>{% endif %}
            {% if allow_email_link %}| <a href="{% url 'verdantadmin_choose_page_email_link' %}?{{ querystring }}">Email link</a>{% endif %}
        </p>
    {% endif %}

    <p class="breadcrumb">
        {% for page in parent_page.get_ancestors %}
            <a class="navigate-pages" href="{% url 'verdantadmin_choose_page_child' page.id %}?{{ querystring }}">{{ page.title }}</a> /
        {% endfor %}
        <b>{{ parent_page.title }}</b>
    </p>

    <ul>
        {% for entry in pages %}
            <li>
                {% if entry.can_choose %}
                    <a class="choose-page" href="#{{ entry.page.id }}" data-id="{{ entry.page.id }}" data-title="{{ entry.page.title }}" data-url="{{ entry.page.url }}">{{ entry.page.title }}</a>
                {% else %}
                    {{ entry.page.title }}
                {% endif %}
                {% if entry.can_descend %}
                    <a class="navigate-pages" href="{% url 'verdantadmin_choose_page_child' entry.page.id %}?{{ querystring }}">&raquo;</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
