{% extends "rca/base.html" %}

{% block content %}

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey('{{ STRIPE_PUBLISHABLE_KEY }}');
  </script>
  <script type="text/javascript" src="/static/donations/js/jquery.payment.js"></script>
  <script type="text/javascript" src="/static/donations/js/jquery.caret.min.js"></script>
  <script type="text/javascript" src="/static/donations/js/donation.js"></script>
  <style type="text/css">
    .expirydatefield select, #id_cvc{
      width: 75px;
    }
  </style>

  <form action="" method="POST" id="payment-form">
    <span class="payment-errors"></span>

      {{ form }}
      {% csrf_token %}

    <button type="submit">Submit Payment</button>
  </form>

{% endblock %}
