{% extends "rca/base.html" %}

{% block content %}

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey('{{ STRIPE_PUBLISHABLE_KEY }}');
  </script>
  <script type="text/javascript" src="/static/donations/js/jquery.payment.js"></script>
  <script type="text/javascript" src="/static/donations/js/donation.js"></script>
  <style type="text/css">
    .expirydatefield select, #id_cvc{
      width: 75px;
    }
    select[data-stripe="exp-month"]{
      padding: 16px 12px;
    }
    select[data-stripe="exp-year"]{
      text-indent: 3px;
    }
    label[for="id_is_gift_aid"]{
      display: inline-block;
    }
    input[name="is_gift_aid"]{
      position: relative;
      top: 3px;
      left: 8px;
    }
  </style>

  <form action="" method="POST" id="payment-form">
    <div class="messages error">
      <ul class="errorlist"></ul>
    </div>
      <ul>
        {{ form.as_ul }}
      </ul>
      {% csrf_token %}

    <input type="submit" value="Submit Payment" />
  </form>

{% endblock %}
