{% extends "wagtailadmin/base.html" %}
{% load compress %}

{% block extra_js %}
    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}donations/js/jquery.daterangepicker.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}donations/js/donation-export.js"></script>
    {% endcompress %}
{% endblock %}

{% block extra_css %}
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}donations/css/donation-export.css">
    {% endcompress %}
{% endblock extra_css %}

{% block content %}
    <header class="merged nice-padding">
        <h1>Donations</h1>
    </header>
    <section class="nice-padding" style="padding-top:2em;">
        <label>Date range</label>
        <input type="text" id="dateRange" />
        <a href="{% url 'donations_export' %}"  data-href="{% url 'donations_export' %}" class="button icon icon-download download">Download Gift Aid donations only</a>
        <a href="{% url 'donations_export_all' %}" data-href="{% url 'donations_export_all' %}" class="button icon icon-download download">Download all donations</a>
    </section>
{% endblock %}
