{% extends "verdantadmin/base.html" %}

{% block titletag %}Delete redirect {{ redirect.title }}{% endblock %}
{% block content %}

    {% include "verdantadmin/shared/header.html" with title="Delete" subtitle=redirect.title %}

    <div class="row row-flush nice-padding">       
        <p>Are you sure you want to delete this redirect?</p>
        <form action="{% url 'verdantredirects_delete_redirect' redirect.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Yes, delete" class="serious" />
        </form>
    </div>
    
{% endblock %}
