---

---
@import "assets/css/variables.less";
@import "assets/css/grid.less";
@import "assets/css/mixins.less";

.wrapper {
	background-color: @color-white;
	background-color: #ccc;
	.clearfix();
    position: relative;
}

.content {
	background-color: pink;
	.column(12);
	.row();
    margin-top: 100px; /*tbd - space for fixed header */
}

footer {
	//max-width: @grid-max-width;
    .column(12);
    .row();
}

aside {
	.column(2.1);
    margin-top: 100px;  /*tbd - space for fixed header */
    display: none;
}

/* grey background bleeding to edge */
.full-width-footer {
	width: 100%;
	background-color: @color-charcoal;
	color: @color-white;
    .clearfix();
}


body {
	padding: 10px 15px;
	font-size: @font-size-base;
    font-family: @font-family-benton-light;
}

/**
 * $Heading styles
 */

h1 {
	.h1;
    &.major {
        .ho-a-heading;
    }
}

h2 {
    .h2;
}

h3 {
    .h3;
}

h4 {
    .h4;
}

h5 {
    .h5;
}

h6 {
    .h6;
}

a {
    color: @color-black;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        color: @color-highlight-blue;
        cursor: pointer;
    }
}

ul li {
    list-style-type: none;
    &:before {
        content: '\002D\00A0\00A0\00A0\00A0\00A0'; /* 002D is hex for a hyphen, 00A0 is hex for nbsp */
        margin-left: -1.5em;
    }
}

ul ul, ol ol {
    margin-top: 0; /* make sure nested lists don't have a big space before the indented item */
    li {
        font-style: italic;
    }
}

 /* Remove list icons from all sidebar, menu and footer elements */
 aside ul li:before,
 footer ul li:before,
 nav ul li:before {
    content: '';
    margin: 0;
 }

 /* Remove italic style for nested lists in sidebar, menu and footer */
 aside ul ul li,
 footer ul ul li,
 nav ul ul li {
    font-style: normal;
 }


/**
 * $Header
 */

header {
    width: 100%;
    position: fixed;
    z-index: 200;
    height: 200px; /* tbd */
}


/**
 * $Search
 */

 form.search {
    input[type="text"] {
        .t2;
        color: @color-dark-grey;
        width: 92%;
        padding: 0.75em;
        border: none;
        border-image-width: 0;
        border-bottom: 1px solid @color-black; /* fallback for ie 8 */
        border-bottom: 1px solid fade(@color-black, 40%);
        background-color: @color-white; /* fallback for ie 8 */
        background-color: fade(@color-white, 85%);
    }
    input[type="submit"] {
        display: none;
    }
 }

/**
 * $Top navigation
 * Largely copied from Dave's demo so not using same variables as the rest of the site at the moment, and not
 * using less nesting
 */

nav {
    max-width:@grid-max-width;
    border-bottom: 1px solid @color-black; /* fallback for ie 8 */
    border-bottom: 1px solid fade(@color-black, 40%);
    padding:10px 0;
    background-color: @color-white; /* fallback for ie 8 */
    background-color: fade(@color-white, 85%);
    position:relative;
    z-index:999;
    height:150px; /* gets overridden by finding tallest submenu */
    overflow:hidden;
    //padding: 0.75em 0 0.75em 0.75em;
}
    .js nav {
        height:20px;
    }

    nav h2{
        margin:0;
        .a0;
    }

    nav.dl-menuwrapper{
        margin:20px 0;
        height:initial;
        overflow:visible;
    }

    nav ul, nav li{
        margin:0;
        padding:0;
        list-style:none;
    }
    nav ul {
        position:absolute;
        top:0;
        left:45px;
        width:100%;
    }

        nav > ul{
            top:10px;
        }

        nav.ready .menu{
            display:none;
        }
        nav.changing ul{
            pointer-events:none;
        }
        nav.dl-menuwrapper ul{
            left:0;
            top:initial;
            background-color:white;
            position:relative;
            width:auto;
        }
        nav li {
            display:block;
            width:20%;
            //line-height:20px;
        }
            nav.dl-menuwrapper li {
                width:100%;
            }
            nav li > ul{
                display:none;
                left:20%;
            }
                nav.dl-menuwrapper li > ul{
                    display:block;
                    left:0;
                }

                nav li.selected > ul {
                    display:block;
                }

                nav a{
                    font-size:12px;
                    line-height:20px;
                    color:#999;
                    text-decoration:none;
                    text-transform:uppercase;
                    display:inline-block;
                    padding-left:10px;
                }
                nav a:hover{
                    color:rgb(0,150,255);
                } 
                nav .selected > a{
                    color:black;

                }
                nav a:before{
                    float:left;
                    margin-left:-10px;
                    width:10px;
                    content:"/";
                    font-size:12px;
                    line-height:20px;
                    display:block;
                    visibility:hidden;
                    font-weight:bold;
                    color:black;
                }
                    nav li:hover > a:before,
                    nav li.selected > a:before {
                        visibility:visible;
                    }
       
    .js .menu.ready {
        visibility:hidden;
    }

    nav.dl-menuwrapper,
    nav.ready .menu{
        visibility:visible;
    }

    .breadcrumb{
        width:100%;
    }
    .breadcrumb li{
        float:left;
        width:20%; 
    }


/**
 * $Sidebar elements
 */

/* common sidebar links patterns */

.sidebar-links {
    h2 {
        margin: 0;
        padding: 0.75em;
    }
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        margin: 0;
        padding: 0 0.75em;
    }
}

/* sidebar advert */

.sidebar-advert {
    .mixin-sidebar-advert(@color-dark-grey, 20%);
    /*position: relative;
    &:after {
        content: " ";
        .sprite-load;
        background-repeat: no-repeat;
        background-position: -90px -14px;
        width: 67px;
        height: 36px;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }*/
}

/**
 * $Related links
 */

.related {
 	color: @color-white;
 	h2 {
 		.t2;
 		background-color: lighten(@color-black, 60%);
 	}
 	ul {
 		background-color: @color-charcoal;
 	}
 	li {
 		.h7;
 		a {
            padding: 0.5em 0;
            display: block;
 			color: @color-white;
 			border-bottom: 1px solid @color-light-grey;
            &:hover {
                color: @color-highlight-blue;
            }
 		}
 		&.last a {
 			border-bottom: none;
 		}
 	}
}

.today {
 	h2 {
 		.t2;
 		background-color: @color-dark-grey; /* fallback for ie8 */
 		background-color: fade(@color-dark-grey, 20%);
        &:hover {
            background-color: @color-pink;
            color: @color-white;
        }
 	}
 	ul {
 		background-color: @color-white; /* fallback for ie8 */
 		background-color: fade(@color-white, 75%);
 	}
 	li {
        border-bottom: 1px solid @color-black;
        padding: 0.75em;
        &.last {
            border: none;
        }
 		h3 {
 			.bc4;
 			margin: 0;
 		}
 		p {
 			.h7;
            margin: 0;
 		}
 		span {
 			.a2;
            color: @color-medium-grey;
 		}
 	}
}


/**
 * $Footer styles
 */

 footer,
 footer a {
    color: @color-white;
 }

 div.submenu-block {
    display: none;
    margin: 0.5em 0 0 0;
    padding: 1em 0 0.75em 0;
 }

 footer {
    padding: 1em;
    li.main {
        .h7;
        text-transform: uppercase;
        border-top: 1px solid @color-dark-grey;
        padding: 0.5em 0;
        &.last {
            border-bottom: 1px solid @color-dark-grey;
        }
        .clearfix();
        //.sprite-load;
    }

    li.main.expanded {
        padding-bottom: 0;
        div.submenu-block {
            display: block;
            .clearfix();
            border-top: 1px solid @color-dark-grey;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        &.menu {
            background-image: url('/assets/images/logo-footer-mobile.png');
            background-repeat: no-repeat;
            padding-top: 48px; /* temporary so I can see what I'm doing till I have the logo */
        }
    }

    ul ul {
        margin-left: 1em;
    }

    ul ul li {
        .h8;
        text-transform: uppercase;
        padding: 0.25em 0 0 0;
    }

    ul ul ul li {
        .bc5;
        text-transform: uppercase;
        margin-left: 1em; /* Make a nice indent for the second line of text */
        text-indent: -1em; /* Make a nice indent for the second line of text */
    }
    h3 {
        .module-title;
        border-top: 1px solid @color-dark-grey;
        margin-top: 3em;
        padding-top: 0.5em;
    }

    ul.social {
        li {
            display: inline-block;
            color: @color-white;
            .h7;
            margin-right: 1em;
            a {
                display: block;
                width: 40px;
                height: 29px;
                padding: 0.5em 0.75em;
                &:hover {
                    background-color: @color-pink;
                    color: @color-white;
                }
            }
            .facebook {
                background-color: @color-facebook-blue;
            }
            .vimeo {
                background-color: @color-vimeo-blue;
            }
            .twitter {
                background-color: @color-twitter-blue;
            }
            .youtube {
                background-color: @color-youtube-red;
            }
        }
    }

    .smallprint {
        .bc5;
        border-top: 1px solid @color-dark-grey;
        border-bottom: 1px solid @color-dark-grey;
        padding: 0.75em 0;
        margin: 1.5em 0 3em 0;
        li a {
            display: block;
            padding: 1em 0;
        }
    }
 }
 