---

---
@import "assets/css/variables.less";
@import "assets/css/grid.less";
@import "assets/css/mixins.less";

body {
	padding: 20px 20px;
}

.wrapper,
.footer-wrapper {
	margin: 0 auto; /* left and right margins become even at regular desktop size*/
}


.content,
footer {
	width: 100%; /*no space for related content - it is now collapsed */
}