---

---
@import "assets/css/variables.less";
@import "assets/css/grid.less";
@import "assets/css/mixins.less";

body {
	padding: 0;
}

/**
 * $Structure
 */

.wrapper,
.footer-wrapper {
	margin: 0 auto; /* left and right margins become even at regular desktop size */
	width: 90%; /* make sure we have a small left and right margin */
}

header { /* fixed positioned elements can't use margin:auto - set right and margin-right instead */
    width: 90%;
    right: 50%; 
    margin-right: -45%;
}

/* At the desktop width the nav shrinks down to allow room for
the search to appear next to it above the content */
nav {
    .column(9, @grid-gutter-width, 12);
    .row();
}


/* Search moves alongside the menu above the content */
form.search {
    .column(2, @grid-gutter-width, 12);
}


aside {
	display: none; /* at medium desktop size the aside expands with a tab */
}

.content,
footer {
	padding: 0;
	width: 100%; /*no space for related content - it is now collapsed */
}


/**
 * $Desktop footer styles - apply to large desktop size as well
 */
footer {
	section {
		.column(4, @grid-gutter-width, 12);
		.row();
	}
	ul.menu {
		background-image: url('/assets/images/logo-footer.png');
		padding-top: 72px;
	}
	ul.social {
      	li {
            a {
                width: 90px;
                height: auto;
            }
        }
    }
    .smallprint {
    	font-style: italic;
    	ul {
            float: right;
            li {
                display: inline-block;
                margin: 0 2em;
                a {
                	padding: 0;
                }
            }
        }
    }
}