{% extends "rca/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}type-standard-stream{% endblock %}

{% block content %}
    <div class="stream-page">
        <h1 class="h1">{{ page.title }}</h1>
        {% include "rca/includes/modules/strapline.html" with showShareButton=True %}
        <section class="row">

            <section class="body-text-style">
                <div class="bc3 intro">{{ page.intro|richtext }}</div>

                {% include_block page.body %}

            </section>

        </section>
        {% include "rca/includes/modules/twitter-feed.html" %}
    </div>
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" showRelatedLinks="true" collapseToday=page.collapse_upcoming_events %}
{% endblock %}
