{% extends "verdantadmin/base.html" %}
{% block titletag %}Add editors pick{% endblock %}
{% block content %}
    <header>
        <h1>Add editors pick</h1>
    </header>

    <div class="nice-padding">
        <form action="{% url 'verdantsearch_editorspicks_add' %}" method="POST">
            {% csrf_token %}

            <ul class="fields">
                <li>
                    {% include "verdantsearch/searchterms/chooser_field.html" with field=searchterms_form.terms only %}   
                </li>
                <li>
                    {% include "verdantsearch/editorspicks/includes/editorspicks_formset.html" with formset=editors_pick_formset only %}
                </li>
                <li><input type="submit" value="Save" /></li>
            </ul>
        </form>
    </div>
{% endblock %}

{% block extra_css %}
    {% include "verdantadmin/pages/_editor_css.html" %}
{% endblock %}
{% block extra_js %}
    {% include "verdantadmin/pages/_editor_js.html" %}

    <script type="text/javascript">
        {% include "verdantsearch/editorspicks/includes/editorspicks_formset.js" with formset=editors_pick_formset only %}
        {% include "verdantsearch/searchterms/chooser_field.js" only %}

        (function() {
            createSearchTermsChooser('{{ searchterms_form.terms.auto_id }}');
        })();
    </script>
{% endblock %}