{% extends "wagtailadmin/base.html" %}
{% block titletag %}Editing {{ query.query_string }}{% endblock %}
{% block content %}
    <header>
        <h1>Editing <span>{{ query.query_string }}</span></h1>
    </header>

    <form action="{% url 'verdantsearch_editorspicks_edit' query.id %}" method="POST" class="nice-padding">
        {% csrf_token %}

        <ul class="fields">
            <li>
                {% include "verdantsearch/queries/chooser_field.html" with field=query_form.query_string only %}   
            </li>
            <li> 
                {% include "verdantsearch/editorspicks/includes/editorspicks_formset.html" with formset=editors_pick_formset only %}
            </li>
            <li>
                <input type="submit" value="Save" />
                <a href="{% url 'verdantsearch_editorspicks_delete' query.id %}" class="button button-secondary no">Delete</a>
            </li>
        </ul>
    </form>
{% endblock %}

{% block extra_css %}
    {% include "wagtailadmin/pages/_editor_css.html" %}
{% endblock %}
{% block extra_js %}
    {% include "wagtailadmin/pages/_editor_js.html" %}

    <script type="text/javascript">
        {% include "verdantsearch/editorspicks/includes/editorspicks_formset.js" with formset=editors_pick_formset only  %}
        {% include "verdantsearch/queries/chooser_field.js" only %}

        (function() {
            createQueryChooser('{{ query_form.query_string.auto_id }}');
        })();
    </script>
{% endblock %}