{% extends "verdantadmin/base.html" %}
{% block titletag %}Editing {{ searchterms.terms }}{% endblock %}
{% block content %}
    <header>
        <h1>Editing <span>{{ searchterms.terms }}</span></h1>
    </header>

    <form action="{% url 'verdantsearch_editorspicks_edit' searchterms.id %}" method="POST" class="nice-padding">
        {% csrf_token %}

        <ul class="fields">
            <li> 
                {% include "verdantsearch/editorspicks/includes/editorspicks_formset.html" with formset=editors_pick_formset only %}
            </li>
            <li>
                <input type="submit" value="Save" />
                <a href="{% url 'verdantsearch_editorspicks_delete' searchterms.id %}" class="button button-secondary no">Delete</a>
            </li>
        </ul>
    </form>
{% endblock %}

{% block extra_css %}
    {% include "verdantadmin/pages/_editor_css.html" %}
{% endblock %}
{% block extra_js %}
    {% include "verdantadmin/pages/_editor_js.html" %}

    <script type="text/javascript">
        {% include "verdantsearch/editorspicks/includes/editorspicks_formset.js" with formset=editors_pick_formset only  %}
    </script>
{% endblock %}