{% extends "verdantadmin/base.html" %}
{% block titletag %}Editing {{ searchterms.terms }}{% endblock %}
{% block content %}
    <header>
        <h1>Editing <span>{{ searchterms.terms }}</span></h1>
    </header>

    <form action="{% url 'verdantsearch_editorspicks_edit' searchterms.urlify_terms %}" method="POST">
        {% csrf_token %}

        {% comment %}FORM HERE{% endcomment %}

        <div class="nice-padding">
            <input type="submit" value="Save" />
        </div>
    </form>
{% endblock %}

{% block extra_css %}
    {% include "verdantadmin/pages/_editor_css.html" %}
{% endblock %}
{% block extra_js %}
    {% include "verdantadmin/pages/_editor_js.html" %}
{% endblock %}