{% extends "rca/base.html" %}
{% load compress static show_tags wagtailcore_tags %}

{% block body_class %}showrca theme-show2015 {% with self.show_index.get_programmes as programmes %}{% if programmes %}{% for programme in programmes %} programme-{{ programme }}{% endfor %}{% else %} programme-{{ programme }}{% endif %}{% endwith %}{% endblock %}

{% block extra_css %}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static "rca_show/css/core.less" %}" />
        <link rel="stylesheet" type="text/less" href="{% static "rca_show/css/desktop-small.less" %}" media="screen and (min-width:768px)" />
        <link rel="stylesheet" type="text/less" href="{% static "rca_show/css/desktop-regular.less" %}" media="screen and (min-width:1024px)" />
        <link rel="stylesheet" type="text/less" href="{% static "rca_show/css/desktop-large.less" %}"  media="screen and (min-width:1280px)" />
    {% endcompress %}
    <!--[if lt IE 9]>
        {% compress css %}
            <link rel="stylesheet" type="text/less" href="{% static "rca_show/css/desktop-small.less" %}" />
            <link rel="stylesheet" type="text/less" href="{% static "rca_show/css/desktop-regular.less" %}" />
        {% endcompress %}
    <![endif]-->
{% endblock %}

{% block logo %}
    <a href="{% if self.show_index %}{% pageurl self.show_index %}{% endif %}" class="site-name" tabindex="2"><img src="{% static 'rca_show/images/logo-2015.svg' %}" alt="Show RCA {{ self.show_index.year }}" /></a>
{% endblock %}

{% block extra_footer %}
    <div class="prefooter standard-wrapper">
        <a href="/" class="logo-rca">Royal College of Art</a>
        <a href="/" class="exhibition-name">Royal College<br/> of Art Graduate<br/> Exhibition</a>
    </div>

    <div class="footer full-width-footer">
        <div class="footer-wrapper">
            <footer>
                <ul>
                    <li>    
                        <address>
                            <h2>Kensington Campus</h2>
                            Royal College of Art<br />
                            Kensington Gore<br />
                            London SW7 2EU
                        </address>
                    </li>
                    {% if not self.is_programme_page %}
                        <li>
                            <address>
                                <h2>Battersea Campus</h2>
                                15-25 Howie St<br />
                                London<br />
                                SW11 4AS
                            </address>
                        </li>
                    {% endif %}
                    {% for item in self.show_index.menu_items %}
                        <li>
                            <a href="{{ item.0 }}">{{ item.1 }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </footer>
        </div>
    </div>

    {% if self.show_index.overlay_intro %}
        <div id="overlay" class="fade">
            <div class="exhibition-date">{{ self.show_index.exhibition_date|linebreaks }}</div>
            <div class="exhibition-name">Royal College<br /> of Art Graduate<br /> Exhibition</div>
            <div class="content">
                <video autoplay="autoplay" class="full-screen-video">
                    <source src="https://player.vimeo.com/external/124918502.hd.mp4?s=98d43f7f71298356ced95dbd9317a925&profile_id=113" type="video/mp4">
                </video>
                
                <div class="crest"></div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block show_js %}
    <script>
        WebFontConfig = { fontdeck: { id: '42490' } };

        window.showIndexPath = '{{ self.show_index.local_url }}';

        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    {% compress js %}
        <script src="{% static "rca_show/js/vendor/jquery.cookie.js" %}"></script>
        <script src="{% static "rca_show/js/site.js" %}"></script>
    {% endcompress %}

    <script>var coverVid=function(a,b,c){function d(a,b){var c=null;return function(){var d=this,e=arguments;window.clearTimeout(c),c=window.setTimeout(function(){a.apply(d,e)},b)}}function e(){var d=a.parentNode.offsetHeight,e=a.parentNode.offsetWidth,f=b,g=c,h=d/g,i=e/f;i>h?(a.style.height="auto",a.style.width=e+"px"):(a.style.height=d+"px",a.style.width="auto")}document.addEventListener("DOMContentLoaded",e),window.onresize=function(){d(e(),50)},a.style.position="absolute",a.style.top="50%",a.style.left="50%",a.style["-webkit-transform"]="translate(-50%, -50%)",a.style["-ms-transform"]="translate(-50%, -50%)",a.style.transform="translate(-50%, -50%)",a.parentNode.style.overflow="hidden"};window.jQuery&&jQuery.fn.extend({coverVid:function(){return coverVid(this[0],arguments[0],arguments[1]),this}});</script>
{% endblock %}
