{% extends "rca_show/base.html" %}
{% load static show_tags wagtailcore_tags %}

{% block body_class %}showrca theme-show2016 {% with self.show_index.get_programmes as programmes %}{% if programmes %}{% for programme in programmes %} programme-{{ programme }}{% endfor %}{% else %} programme-{{ programme }}{% endif %}{% endwith %}{% endblock %}


{% block logo %}
  {% get_school_logo_2016 school as school_logo %}
  <a href="{% if self.show_index %}{% pageurl self.show_index %}{% endif %}" class="site-name" tabindex="2"><img src="{% static school_logo %}" alt="Show RCA 2016"/></a>
{% endblock %}

{% block extra_footer %}
    <div class="prefooter standard-wrapper">
        <a href="/" class="logo-rca">Royal College of Art</a>
    </div>

    <div class="footer full-width-footer">
        <div class="footer-wrapper">
            <footer>
                <ul>
                    <li>
                        <address>
                            <h2>Kensington Campus</h2>
                            Royal College of Art<br />
                            Kensington Gore<br />
                            London SW7 2EU
                        </address>
                    </li>
                    {% if not self.is_programme_page %}
                        <li>
                            <address>
                                <h2>Battersea Campus</h2>
                                15-25 Howie St<br />
                                London<br />
                                SW11 4AS
                            </address>
                        </li>
                    {% endif %}
                    {% for item in self.show_index.menu_items %}
                        <li>
                            <a href="{{ item.0 }}">{{ item.1 }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </footer>
        </div>
    </div>

    {% if self.show_index.overlay_intro %}
        <div id="overlay" class="fade">
            <div class="content">

                <video autoplay="autoplay" class="full-screen-video">
                    {# old video - before June 2016 #}
                    {# <source src="https://player.vimeo.com/external/124918502.hd.mp4?s=98d43f7f71298356ced95dbd9317a925&amp;profile_id=113" type="video/mp4"> #}

                    {# 720p #}
                    {# <source src="https://player.vimeo.com/external/171609164.sd.mp4?s=2650bba03d9b5d35e3c7f8907817239b73e9edd3&profile_id=165" type="video/mp4"> #}

                    {# 1080p #}
                    <source src="https://player.vimeo.com/external/171609164.hd.mp4?s=64aa93f9dacaf0a3ceeb43e8d56e44357a7f6ae0&profile_id=174" type="video/mp4">
                </video>
            </div>
        </div>
    {% endif %}
{% endblock %}
