{% extends 'rca_show/base.html' %}
{% load show_tags rich_text pageurl %}

{% block body_class %}{{ block.super }} type-landing{% endblock %}

{% block content %}
    {% secondary_menu self as menuitems %}
    {% if "fashionmenswear" in self.get_programmes %}
        {# NON-random students for fashion show #}
        {% get_programme_students self programme as rand_students %}
    {% else %}
        {% get_programme_students self programme True as rand_students %}
    {% endif %}   

    {% get_programme_students self programme as students %}

    {% with menuitems.all as items %}  
    {% if items|length >= 3 %}
        <section class="shownav four-items">
    {% else %}
        <section class="shownav">
    {% endif %}
    {% endwith %}
        {% if not self.is_programme_page %}
            <ul class="nav-overview">
                <li><a href="{% show_subpage_url self 'school_index' %}">Schools &amp; Students</a></li>
                {% for item in menuitems %}
                    <li {% if item.url == self.url %}class="active"{% endif %}>
                        <a href="{% pageurl item %}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <ul>
                <li class="jumplist">
                    <h2 class="toggle">Select a Student</h2>
                    <div class="selected toggle"></div>
                    <ul class="options">
                        {% if self.get_programmes|length > 1 %}
                            {% for programme in self.get_programmes %}
                                <li><a href="{% show_subpage_url self 'programme' school=school programme=programme %}"><b>{% get_programme_display programme %}</b></a></li>
                                {% get_programme_students self programme as students %}
                                {% for student in students %}
                                    <li><a href="{% show_subpage_url self 'student' school=student.school programme=student.programme slug=student.slug %}">{{ student.title }}</a></li>
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            {% get_programme_students self programme as students %}
                            {% for student in students %}
                                <li><a href="{% show_subpage_url self 'student' school=student.school programme=student.programme slug=student.slug %}">{{ student.title }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>
                {% for item in menuitems %}
                    <li>
                        <a href="{% pageurl item %}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>

    {% include "rca_show/includes/modules/rand_gallery.html" with rand_students=rand_students %}

{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" %}
{% endblock %}

{% block extra_js %}

{% endblock %}