{% extends 'rca_show/base.html' %}

{% block body_class %}{{ block.super }} type-login{% endblock %}

{% block content %}
    <h1 class="h1">{% if self.password_prompt %}{{ self.password_prompt }}{% else %}Please enter the password to continue.{% endif %}</h1>

    <section class="row">
        <form class="login-form" method="post" action="{{ action_url }}">
            <ul>
                {% for field in form %}
                    {% include "rca/includes/field_as_li.html" %}
                {% endfor %}
                <li><input type="submit" value="Log in" /></li>
            </ul>
            {% csrf_token %}
        </form>
    </section>
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showRelatedNews="true" %}
{% endblock %}