{% extends "rca_show/base.html" %}
{% load show_tags rich_text pageurl %}

{% block body_class %}{{ block.super }} type-programme school-{{ school }}{% endblock %}

{% block content %}
    {% get_programme_students self.show_index programme as students %}
    {% if "fashionmenswear" in self.get_programmes %}
        {# NON-random students for fashion show #}
        {% get_programme_students self.show_index programme as rand_students %}
    {% elif "animation" in self.get_programmes %}
        {# NON-random students for Animation show #}
        {% get_programme_students self.show_index programme as rand_students %}
    {% else %}
        {% get_programme_students self.show_index programme True as rand_students %}
    {% endif %}

    {% include "rca_show/includes/menus/menu.html" %}

    {% include "rca/includes/modules/carousel.html" with overlayvisible=0 %}

    {% if not self.is_programme_page %}
        <h1>{% get_programme_display programme %}</h1>
    {% endif %}

    {{ intro|safe }}

    {% include "rca_show/includes/modules/gallery.html" with students=rand_students %}    
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" %}
{% endblock %}