{% extends 'rca_show/base.html' %}
{% load show_tags rich_text pageurl %}

{% block body_class %}{{ block.super }} type-school-index{% endblock %}

{% block content %}
    {% secondary_menu self as menuitems %}

    {% get_school_programmes self school as programmes %}
    {% get_schools self as schools %}
    {% get_programme_students self school programme as students %}

    <section class="shownav">
        <ul class="nav-overview">
            <li><a href="{% show_subpage_url self 'school_index' %}">Schools &amp; Students</a></li>
            {% for item in menuitems %}
                <li {% if item.url == self.url %}class="active"{% endif %}>
                    <a href="{% pageurl item %}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul>
            {% if schools %}
                <li class="jumplist">
                    <h2 class="toggle">Select a School</h2>
                    <div class="selected toggle"></div>
                    <ul class="options">
                        {% for school in schools %}
                            <li><a href="{% show_subpage_url self 'school' school=school %}">{% get_school_display school %}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            <li class="jumplist">
                <h2 class="toggle">Select a Programme</h2>
                <div class="selected toggle"></div>
                <ul class="options">
                    {% for programme in programmes %}
                        <li><a href="{% show_subpage_url self 'programme' school=school programme=programme %}">{% get_programme_display programme %}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="jumplist">
                <h2 class="toggle">Select a Student</h2>
                <div class="selected toggle"></div>
                <ul class="options">
                    {% for student in students %}
                        <li><a href="{% show_subpage_url self 'student' programme=student.programme slug=student.slug %}">{{ student.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </section>

    <h1 class="hidden">Schools &amp; Programmes</h1>
    
    <div class="school-list-wrapper">
        {% for school in schools %}
            {% cycle '<ul class="school-list">' '' '' %}
            <li>
                <h2><a href="{% show_subpage_url self 'school' school=school %}" class="color-{{ school }}">{% get_school_display school %}</a></h2>
                <ul>
                    {% get_school_programmes self school as programmes%}
                        {% for programme in programmes %}
                        <li><a href="{% show_subpage_url self 'programme' school=school programme=programme %}" class="hovercolor-{{ school }}">{% get_programme_display programme %}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% cycle '' '' '</ul>' %}
        {% endfor %}
        {% if not schools|length|divisibleby:3 %}</ul>{% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" %}
{% endblock %}