{% extends 'rca_show/base.html' %}
{% load show_tags wagtailcore_tags %}

{% block body_class %}{{ block.super }} type-school school-{{ school }}{% endblock %}

{% block content %}
    {% get_school_programmes self.show_index school as programmes %}
    {% get_school_students self.show_index school as students %}
    {% get_school_students self.show_index school random=True as rand_students %}

    {% include "rca_show/includes/menus/menu.html" %}

    <h1>{% get_school_display school %}</h1>

    <div class="shownav programme-list">
        <ul>
            {% for programme in programmes %}
                <li><a href="{% show_subpage_url self.show_index 'programme' school=school programme=programme %}">{% get_programme_display programme %}</a></li>
            {% endfor %}
        </ul>
    </div>

    {% include "rca_show/includes/modules/gallery.html" with students=rand_students %}
   
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" %}
{% endblock %}