{% extends 'rca_show/base.html' %}
{% load show_tags rich_text pageurl %}

{% block body_class %}{{ block.super }} type-school{% endblock %}

{% block logo %}
    <a href="#" class="site-name" tabindex="2"><p>CCA Show 2014</p></a>
{% endblock %}

{% block content %}
    {% get_school_programmes self school as programmes %}
    {% get_school_students self school as students %}
    {% get_school_students self school random=True as rand_students %}
    {% get_schools self as schools %}

    <section class="shownav">
        <ul>
            <li class="jumplist active">
                <h2 class="toggle">Schools</h2>
                <div class="selected toggle">{% get_school_display school %}</div>
                <ul class="options">
                    {% for school in schools %}
                        <li><a href="{% get_school_url self school %}">{% get_school_display school %}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="jumplist">
                <h2 class="toggle">Programmes</h2>
                <div class="selected toggle"></div>
                <ul class="options">
                    {% for programme in programmes %}
                        <li><a href="{% get_programme_url self school programme %}">{% get_programme_display programme %}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="jumplist">
                <h2 class="toggle">Students</h2>
                <div class="selected toggle"></div>
                <ul class="options">
                    {% for student in students %}
                        <li><a href="{% get_student_url self student %}">{{ student.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </section>

    <h1>{% get_school_display school %}</h1>

    {{ intro|safe }}

    <ul class="showgallery">
        {% for student in rand_students %}
            {% if student.ma_in_show %}
                {% with student.show_carousel_items.all as carousel_items %}
                    {% with carousel_items|first as carousel_item %}
                        {% if carousel_item.image %}
                            {% include "rca_show/includes/modules/gallery_include.html" with student=student galleryitem=student gallery_image=carousel_item.image %}
                        {% elif carousel_item.poster_image %}
                            {% include "rca_show/includes/modules/gallery_include.html" with student=student galleryitem=student gallery_image=carousel_item.poster_image %}
                        {% endif %}
                    {% endwith %}
                {% endwith %}
            {% else %}
                {% with student.research_carousel_items.all as carousel_items %}
                    {% with carousel_items|first as carousel_item %}
                        {% if carousel_item.image %}
                            {% include "rca_show/includes/modules/gallery_include.html" with student=student galleryitem=student gallery_image=carousel_item.image %}
                        {% elif carousel_item.poster_image %}
                            {% include "rca_show/includes/modules/gallery_include.html" with student=student galleryitem=student gallery_image=carousel_item.poster_image %}
                        {% endif %}
                    {% endwith %}
                {% endwith %}
            {% endif %}
        {% endfor %}
    </ul>


{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" %}
{% endblock %}