{% extends 'rca_show/base.html' %}
{% load show_tags rich_text pageurl %}

{% block body_class %}{{ block.super }} type-standard{% endblock %}

{% block content %}
    {% secondary_menu self as menuitems %}
    {% get_show_index as show_index %}

    {% get_programme_students show_index show_index.school show_index.programme as students %}
    {% secondary_menu show_index as menuitems %}

     <section class="shownav">
        <ul class="nav-overview">
            {% if request.show_index.programmes.count %}
                <li class="jumplist">
                    <h2 class="toggle">Select a Student</h2>
                    <div class="selected toggle"></div>
                    <ul class="options">
                        {% for student in students %}
                            <li><a href="{% show_subpage_url show_index 'student' programme=student.programme slug=student.slug %}">{{ student.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="{% show_subpage_url show_index 'school_index' %}">Schools &amp; Students</a>
                </li>
            {% endif %}
            {% for item in menuitems %}
                <li {% if item.url == self.url %}class="active"{% endif %}>
                    <a href="{% pageurl item %}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>

    <h1>{{ self.title }}</h1>

    {% include "rca/includes/modules/carousel.html" %}

    <section class="body-text">
        {% if self.body %}
            {{ self.body|richtext }}
        {% endif %}
    </section>

    {% if self.map_coords %}
        <figure class="map-aside right">
            <div id="map" class="map"></div>
        </figure>
    {% endif %}

    <div class="row col-2">
        {% for block in self.content_block.all %}
            <section class="body-text">
                {% if block.map_coords %}
                    <figure>
                        <div id="map-{{ forloop.counter }}" class="map"></div>
                    </figure>
                {% endif %}

                <div class="body">
                    {{ block.body|richtext }}
                </div>
            </section>
        {% endfor %}
    </div>


    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" %}
{% endblock %}

{% block extra_js %}
   
    <script>
    function initializeMap(id, centre_coords_lat, centre_coords_lon) {
        var myLatlng = new google.maps.LatLng(centre_coords_lat, centre_coords_lon);
        var map_canvas = document.getElementById(id);
        var map_options = {
            center: myLatlng,
            zoom: 17,
            scrollwheel: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            disableDefaultUI: true,
            zoomControl: true,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.SMALL
            }
        }
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map
        });
        var map = new google.maps.Map(map_canvas, map_options);
        marker.setMap(map);
    }
    $(function(){
        {% if self.map_coords %}
            initializeMap('map', {{ self.map_coords }});
        {% endif %}
        {% for block in self.content_block.all %}
            {% if block.map_coords %}
                initializeMap('map-{{ forloop.counter }}', {{ block.map_coords }});
            {% endif %}
        {% endfor %}
    });
    </script>
{% endblock %}