{% extends 'rca_show/base.html' %}
{% load show_tags rich_text pageurl %}

{% block body_class %}{{ block.super }} type-standard{% endblock %}
{% block extra_js_head %}
    <script src="http://jwpsrv.com/library/XNfKwNtrEeOzXiIACwSjMw.js"></script>
    <script type="text/javascript">
        if ((navigator.userAgent.indexOf('Android 2') != -1) ||
        (navigator.userAgent.indexOf('BlackBerry') != -1) ||
        (navigator.userAgent.indexOf('Android 4.1') != -1) ||
        (navigator.userAgent.indexOf('Android 3') != -1))  {
            window.location = "rtsp://uh8w7w.live.cloud.influxis.com:1935/uh8w7w/rca";
        }
    </script>
{% endblock %}
{% block content %}
    {% include "rca_show/includes/menus/menu.html" %}

    <h1>{{ self.title }}</h1>

    {% include "rca_show/includes/modules/stream.html" %}

    <section class="body-text">
       

        {% if self.body %}
            {{ self.body|richtext }}
        {% endif %}
    </section>

{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" %}
{% endblock %}

