{% extends 'rca_show/base_2016.html' %}
{% load show_tags wagtailcore_tags %}

{% block body_class %}{{ block.super }} type-standard{% endblock %}

{% block content %}
    {% get_maps_for_campus "kensington" as kensingtonmaps %}
    {% get_maps_for_campus "battersea" as batterseamaps %}

    {% include "rca_show/includes/menus/menu.html" %}

    <h1>{{ self.title }}</h1>

    {% include "rca/includes/modules/carousel.html" %}

    <section class="body-text">
        {% if self.body %}
            {{ self.body|richtext }}
        {% endif %}
    </section>

    {% if self.map_coords %}
        <figure class="map-aside right">
            <div id="map" class="map"></div>
        </figure>
    {% endif %}

    {% for block in self.content_block.all %}
        <section class="row row-flush">
            <div class="body-text-style four">
                {{ block.body|richtext }}
            </div>
            {% if block.map_coords %}
                <figure class="eight">
                    <div id="map-{{ forloop.counter }}" class="map"></div>
                </figure>
            {% endif %}
        </section>
    {% endfor %}


    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" %}
{% endblock %}

{% block extra_js %}
   
    <script>
    function initializeMap(id, centre_coords_lat, centre_coords_lon) {
        var myLatlng = new google.maps.LatLng(centre_coords_lat, centre_coords_lon);
        var map_canvas = document.getElementById(id);
        var map_options = {
            center: myLatlng,
            zoom: 17,
            scrollwheel: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            disableDefaultUI: true,
            zoomControl: true,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.SMALL
            }
        }
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map
        });
        var map = new google.maps.Map(map_canvas, map_options);
        marker.setMap(map);
    }
    $(function(){
        {% if self.map_coords %}
            initializeMap('map', {{ self.map_coords }});
        {% endif %}
        {% for block in self.content_block.all %}
            {% if block.map_coords %}
                initializeMap('map-{{ forloop.counter }}', {{ block.map_coords }});
            {% endif %}
        {% endfor %}
    });
    </script>
{% endblock %}