{% extends base_template %}
{% load show_tags wagtailcore_tags %}

{% block body_class %}{{ block.super }} type-standard{% endblock %}

{% block content %}
    {% include "rca_show/includes/menus/menu.html" %}

    <h1>{{ self.title }}</h1>

    <section class="row">
        <div id='wowza_player'></div>
        <script id='player_embed' src='//player.cloud.wowza.com/hosted/tw6cmlqf/wowza.js' type='text/javascript'></script>
    </section>

    <section class="body-text">
        {% if self.body %}
            {{ self.body|richtext }}
        {% endif %}
    </section>

{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" %}
{% endblock %}
