{% extends 'rca_show/base.html' %}
{% load show_tags rich_text pageurl %}

{% block body_class %}showrca type-standard{% endblock %}

{% block content %}
	{% secondary_menu request.show_index as menuitems %}

	 <section class="shownav">
        <ul>
            <li>
                <a href="{% get_school_index_url request.show_index %}">Schools &amp; Students</a>
            </li>
            {% for item in menuitems %}
                <li>
                    <a href="{% pageurl item %}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>

    <h1>{{ self.title }}</h1>

    <section class="body-text">
        {% if self.work_description %}
            {{ self.work_description|richtext }}
        {% endif %}
    </section>


{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" %}
{% endblock %}

{% block extra_js %}

{% endblock %}