{% extends "rca_show/base.html" %}
{% load show_tags rich_text pageurl %}

{% block body_class %}{{ block.super }} type-exhibition-map{% endblock %}

{% block content %}
    {% get_show_index as show_index %}
    {% secondary_menu show_index as menuitems %}

    <section class="shownav">
        <ul class="nav-overview">
            <li><a href="{% get_school_index_url show_index %}">Schools &amp; Students</a></li>
            {% for item in menuitems %}
                <li {% if item.url == self.url %}class="active"{% endif %}>
                    <a href="{% pageurl item %}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>

    <h1>{{ self.title }}</h1>

    {{ self.body|richtext }}

{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" %}
{% endblock %}