{% extends 'rca_show/base.html' %}
{% load show_tags rich_text pageurl %}

{% block body_class %}{{ block.super }} type-student{% endblock %}

{% block content %}
    {% get_programme_students self school programme as students %}
    {% secondary_menu self as menuitems %}

    <section class="shownav">
        <ul>
            <li class="jumplist active">
                <h2 class="toggle">Students</h2>
                <div class="selected toggle">{{ student.title }}</div>
                <ul class="options">
                    {% for student in students %}
                        <li><a href="{% get_student_url self student %}">{{ student.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% for item in menuitems %}
                <li>
                    <a href="{% pageurl item %}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>

    {% if student.ma_in_show %}
        {% with student.show_carousel_items.all as carousel_items %}
            {% include "rca_show/includes/modules/carousel.html" %}
        {% endwith %}
    {% else %}
        {% with student.research_carousel_items.all as carousel_items %}
            {% include "rca_show/includes/modules/carousel.html" %}
        {% endwith %}
    {% endif %}

    <section class="row">
        <section class="body-text">
            <h1>
                {% if student.preferred_name %}
                    {{ student.preferred_name }}
                {% else %}
                    {{ student.first_name }} {{ student.last_name }}
                {% endif %}
            </h1>

            <h2>
                {% if student.ma_in_show %}
                    {# If user has a work type defined, switch between title of blah , else nothing #}
                    {% if student.show_work_type %}<span>Title of {{ student.get_show_work_type_display }}:</span>{% endif %}
                    {{ student.show_work_title }}
                {% else %}
                    Title of dissertation: {{ student.research_dissertation_title }}
                {% endif %}
            </h2>

            {% if student.ma_in_show %}
                {{ student.show_work_description|richtext }}
            {% else %}
                {{ student.research_statement|richtext }}
            {% endif %}

        </section>
        <section class="four">
            <div class="meta-data">
                <dl>
                    <dt>Programme</dt>
                    <dd>
                        {% if student.ma_in_show %}
                            {{ student.get_ma_programme_display }}
                        {% else %}
                            {{ student.get_research_programme_display }}
                        {% endif %}
                    </dd>
                    
                    {% if student.phones %}
                        <dt>Phone</dt>
                        <dd>            
                            {% for phone in student.phones.all %}
                                <div>{{ phone.phone }}</div>
                            {% endfor %}
                        </dd>
                    {% endif %}

                    {% if student.emails %}
                        <dt>Emails</dt>
                        <dd>
                            {% for email in student.emails.all %}
                                <div>{{ email.email }}</div>
                            {% endfor %}
                        </dd>
                    {% endif %}
                    </dd>
                </dl>
            </div>
            <div class="single">
                {% include "rca/includes/modules/share-button.html" %}
            </div>
        </section>
    </section>
   
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" %}
{% endblock %}
