{% extends 'rca_show/base.html' %}
{% load show_tags rca_tags image_tags rich_text pageurl %}

{% block body_class %}{{ block.super }} type-student{% endblock %}

{% block content %}
    {% get_schools self as schools %}
    {% get_school_programmes self school as programmes %}
    {% secondary_menu self as menuitems %}

    {% with menuitems.all as items %}  
        {% if items|length >= 3 %}
            <section class="shownav four-items">
        {% else %}
            <section class="shownav">
        {% endif %}
    {% endwith %}
        {% if not self.is_programme_page %}
            <ul class="nav-overview">
                <li><a href="{% show_subpage_url self 'school_index' %}">Schools &amp; Students</a></li>
                {% for item in menuitems %}
                    <li {% if item.url == self.url %}class="active"{% endif %}>
                        <a href="{% pageurl item %}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <ul>
            {% if not self.is_programme_page %}
                <li class="jumplist active">
                    <h2 class="toggle">Select a School</h2>
                    <div class="selected toggle">{% get_school_display school %}</div>
                    <ul class="options">
                        {% for school in schools %}
                            <li><a href="{% show_subpage_url self 'school' school=school %}">{% get_school_display school %}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="jumplist active">
                    <h2 class="toggle">Select a Programme</h2>
                    <div class="selected toggle">{% get_programme_display programme %}</div>
                    <ul class="options">
                        {% for programme in programmes %}
                            <li><a href="{% show_subpage_url self 'programme' school=school programme=programme %}">{% get_programme_display programme %}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            <li class="jumplist active">
                <h2 class="toggle">Select a Student</h2>
                <div class="selected toggle">{{ student.title }}</div>
                <ul class="options">
                    {% if self.get_programmes|length > 1 %}
                        {% for programme in self.get_programmes %}
                            <li><a href="{% show_subpage_url self 'programme' programme=programme %}"><b>{% get_programme_display programme %}</b></a></li>
                            {% get_programme_students self programme as students %}
                            {% for student in students %}
                                <li><a href="{% show_subpage_url self 'student' school=student.school programme=student.programme slug=student.slug %}">{{ student.title }}</a></li>
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        {% get_programme_students self programme as students %}
                        {% for student in students %}
                            <li><a href="{% show_subpage_url self 'student' school=student.school programme=student.programme slug=student.slug %}">{{ student.title }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </li>
            {% if self.is_programme_page %}
                {% for item in menuitems %}
                    <li>
                        <a href="{% pageurl item %}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </section>

    <h1>
        {% if student.preferred_name %}
            {{ student.preferred_name }}
        {% else %}
            {{ student.first_name }} {{ student.last_name }}
        {% endif %}
    </h1>

    {% tabdeck %}
        {% tab "Show RCA work" %}
            {% if student.ma_in_show %}
                {% with student.show_carousel_items.all as carousel_items %}
                    {% include "rca_show/includes/modules/carousel.html" %}
                {% endwith %}
            {% else %}
                {% with student.research_carousel_items.all as carousel_items %}
                    {% include "rca_show/includes/modules/carousel.html" %}
                {% endwith %}
            {% endif %}

            <section class="row">
                <div class="three-nine-cols">
                    <div class="col col-3 first">
                        <div class="meta-data">
                            <dl>
                                <dt>Programme</dt>
                                <dd>
                                    {% if student.ma_in_show %}
                                        {{ student.get_ma_programme_display }}
                                    {% else %}
                                        {{ student.get_research_programme_display }}
                                    {% endif %}
                                </dd>
                                
                                {% if student.phones %}
                                    <dt>Phone</dt>
                                    <dd class="ellipsis">            
                                        {% for phone in student.phones.all %}
                                            <div>{{ phone.phone }}</div>
                                        {% endfor %}
                                    </dd>
                                {% endif %}

                                {% if student.emails %}
                                    <dt>Emails</dt>
                                    <dd class="ellipsis">
                                        {% for email in student.emails.all %}
                                            <div><a href="mailto:{{ email.email }}">{{ email.email }}</a></div>
                                        {% endfor %}
                                    </dd>
                                {% endif %}

                                {% if student.websites %}
                                    <dt>Websites</dt>
                                    <dd class="ellipsis">
                                        {% for website in student.websites.all %}
                                            <div><a href="{{ website.website }}">{{ website.website }}</a></div>
                                        {% endfor %}
                                    </dd>
                                {% endif %}

                                {% if student.twitter_handle %}
                                    <dt>Twitter</dt>
                                    <dd class="ellipsis"><a href="http://www.twitter.com/{{ student.twitter_handle }}">&#64;{{ student.twitter_handle }}</a></dd>
                                {% endif %}

                            </dl>
                        </div>
                        <div class="single">
                            {% include "rca/includes/modules/share-button.html" %}
                        </div>
                    </div>
                    <div class="col col-9 last body-text">
                        <h2 class="module-title">
                            {% if student.ma_in_show %}
                                {# Only show type/title if a type is chosen, else nothing #}
                                {% if student.show_work_type %}
                                    <span>{{ student.get_show_work_type_display }}:</span>
                                {% endif %}
                            {% else %}
                                Dissertation: 
                            {% endif %}
                        </h2>

                    
                        <h3>{{ student.show_work_title }}</h3>

                        {% if student.ma_in_show %}
                            {{ student.show_work_description|richtext }}
                        {% else %}
                            {{ student.research_statement|richtext }}
                        {% endif %}
                        
                    </div>
                </div>
            </section>
        {% endtab %}

        {% tab "Info" %}
            <div class="profile">
                <ul class="four-cols">
                    <li class="col first">
                        {% if student.profile_image %}
                            {% image student.profile_image width-300 %}
                        {% else %}
                            <img src="/static/rca/images/rca-placeholder-square.jpg" width="300">
                        {% endif %}
                    </li>
                    <li class="col">
                        <h3 class="a2">School</h3>
                        <p class="h7">
                            {% if student.ma_in_show %}
                                {{ student.get_ma_school_display }}
                            {% else %}
                                {{ student.get_research_school_display }}
                            {% endif %}
                        </p>

                        <h3 class="a2 space">Programme</h3>
                        <p class="h7">
                            {% if student.ma_in_show %}
                                {{ student.get_ma_programme_display }}
                            {% else %}
                                {{ student.get_research_programme_display }}
                            {% endif %}
                        </p>
        

                        {% if student.ma_specialism %}
                            <h3 class="a2 space">Specialism</h3>
                            <p class="h7">{{ student.ma_specialism }}</p>
                        {% endif %}


                        {% with student.research_supervisors.all as supervisors %}
                            {% if supervisors %}
                                <h3 class="a2 space">Supervisor</h3>
                                {% for supervisor in supervisors %}
                                    {% if supervisor.supervisor %}
                                        <a href="{% pageurl supervisor.supervisor %}"><p class="h7">{{ supervisor.supervisor }}</p></a>
                                    {% else %}
                                        <p class="h7">{{ supervisor.supervisor_other }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </li>
                    <li class="col">
                        {% if student.emails or student.phones or student.website or student.twitter_handle %}
                            <h3 class="a2">Contact</h3>
                            <ul>
                                {% for phone in student.phones.all %}
                                    <li>{{ phone.phone }}</li>
                                {% endfor %}

                                {% for email in student.emails.all %}
                                    <li><a href="mailto:{{ email.email }}">{{ email.email }}</a></li>
                                {% endfor %}

                                {% if student.twitter_handle %}
                                    <li><a href="http://www.twitter.com/{{ student.twitter_handle }}">&#64;{{ student.twitter_handle }}</a></li>
                                {% endif %}

                                {% for website in student.websites.all %}
                                    <li><a href="{{ website.website }}">{{ website.website }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                </ul>
                <div class="divider"></div>
                <ul class="three-nine-cols">
                    <li class="col col-3 first">
                        <div class="row">
                            {% include "rca/includes/modules/share-button.html" %}
                        </div>
                    </li>
                    <li class="col col-9 last body-text-style">
                        {{ student.statement|richtext }}
                    </li>
                </ul>

                <!--degrees-->
                {% with student.previous_degrees.all as degrees %}
                    {% if degrees %}
                        <div class="divider"></div>
                        <ul class="three-nine-cols">
                            <li class="col col-3 first">
                                <h2 class="module-title">Previous degrees</h2>
                            </li>
                            <li class="col col-9 last body-text-style">
                                {% for degree in degrees %}
                                    {{ degree.degree }}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    {% endif %}
                {% endwith %}

                <!--experience-->
                {% with student.experiences.all as experiences %}
                    {% if experiences %}
                        <div class="divider"></div>
                        <ul class="three-nine-cols">
                            <li class="col col-3 first">
                                <h2 class="module-title">Experiences</h2>
                            </li>
                            <li class="col col-9 last body-text-style">
                                {% for experience in experiences %}
                                    {{ experience.experience }}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    {% endif %}
                {% endwith %}

                <!-- exhibitions -->
                {% with student.exhibitions.all as exhibitions %}
                    {% if exhibitions %}
                        <div class="divider"></div>
                        <ul class="three-nine-cols">
                            <li class="col col-3 first">
                                <h2 class="module-title">Exhibitions</h2>
                            </li>
                            <li class="col col-9 last body-text-style">
                                {% for exhibition in exhibitions %}
                                    {{ exhibition.exhibition }}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    {% endif %}
                {% endwith %}

                <!-- conferences -->
                {% with student.conferences.all as conferences %}
                    {% if conferences %}
                        <div class="divider"></div>
                        <ul class="three-nine-cols">
                            <li class="col col-3 first">
                                <h2 class="module-title">Conferences</h2>
                            </li>
                            <li class="col col-9 last body-text-style">
                                {% for conference in conferences %}
                                    {{ conference.name }}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    {% endif %}
                {% endwith %}

                <!-- publications -->
                {% with student.publications.all as publications %}
                    {% if publications %}
                        <div class="divider"></div>
                        <ul class="three-nine-cols">
                            <li class="col col-3 first">
                                <h2 class="module-title">Publications</h2>
                            </li>
                            <li class="col col-9 last body-text-style">
                                {% for publication in publications %}
                                    {{ publication.name }}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    {% endif %}
                {% endwith %}

                <!-- awards -->
                {% with student.awards.all as awards %}
                    {% if awards %}
                        <div class="divider"></div>
                        <ul class="three-nine-cols">
                            <li class="col col-3 first">
                                <h2 class="module-title">Awards</h2>
                            </li>
                            <li class="col col-9 last body-text-style">
                                {% for award in awards %}
                                    {{ award.award }}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    {% endif %}
                {% endwith %}

                <!-- funding -->
                {% if student.funding %}
                    <div class="divider"></div>
                    <ul class="three-nine-cols">
                        <li class="col col-3 first">
                            <h2 class="module-title">Funding</h2>
                        </li>
                        <li class="col col-9 last body-text-style">
                            {{ student.funding }}
                        </li>
                    </ul>
                {% endif %}
                <!-- sponsors -->
                {% with student.sponsors.all as sponsors %}
                    {% if sponsors %}
                    <div class="divider"></div>
                            <ul class="three-nine-cols">
                                <li class="col col-3 first">
                                    <h2 class="module-title">Sponsors</h2>
                                </li>
                                <li class="col col-9 last body-text-style">
                                    {% for sponsor in sponsors %}
                                        {{ sponsor.sponsor }}{% if not forloop.last %}; {% endif %}
                                    {% endfor %}
                                </li>
                            </ul>
                    {% endif %}
                {% endwith %}
                <!-- collaborators -->
                {% with student.collaborators.all as collaborators %}
                    {% if collaborators %}
                    <div class="divider"></div>
                            <ul class="three-nine-cols">
                                <li class="col col-3 first">
                                    <h2 class="module-title">Collaborators</h2>
                                </li>
                                <li class="col col-9 last body-text-style">
                                    {% for collaborator in collaborators %}
                                        {{ collaborator.collaborator }}{% if not forloop.last %}; {% endif %}
                                    {% endfor %}
                                </li>
                            </ul>
                    {% endif %}
                {% endwith %}      

            </div>
        {% endtab %}        
    {% endtabdeck %}    
   
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" %}
{% endblock %}
