[submodule "django-modelcluster"]
	path = django-modelcluster
	url = git@github.com:torchbox/django-modelcluster.git
[submodule "django-treebeard"]
	path = django-treebeard
	url = git@github.com:torchbox/django-treebeard.git
[submodule "django-wagtail"]
	path = django-wagtail
	url = git@github.com:torchbox/wagtail.git
