{% extends "verdantadmin/base.html" %}
{% load image_tags %}

{% block extra_css %}
    {% include "verdantadmin/shared/tag_field_css.html" %}
{% endblock %}

{% block extra_js %}
    {% include "verdantadmin/shared/tag_field_js.html" %}
{% endblock %}

{% block content %}
    <header>
        <h1>Add image</h1>
    </header>

    <div class="nice-padding">
        <form action="{% url 'verdantimages_add_image' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <ul class="fields">
                {% for field in form %}
                    {% include "verdantadmin/shared/field_as_li.html" with field=field %}
                {% endfor %}
                <li><input type="submit" value="Save" /></li>
            </ul>
        </form>
    </div>
{% endblock %}
