{% extends "verdantadmin/base.html" %}

{% block content %}
    <header>
        <h1>Change password</h1>
    </header>

    <div class="nice-padding">
      {% if can_change_password %}
          <form action="{% url 'verdantadmin_account_change_password' %}" method="POST">
              {% csrf_token %}
              {{ form }}
              <input type="submit" value="Change" />
          </form>
      {% else %}
          <p>Sorry, you cannot change your password here.</p>
          <a href="{% url 'verdantadmin_account' %}" class="button button-primary">Back</a>
      {% endif %}
    </div>
{% endblock %}