---
layout: default
bodyclass: type-contact
---

<h1 class="h1 major">Contact <span class="medium-grey">Us</span></h1>

<section class="row">

    <div class="six">

        <div id="map_canvas_kensington" class="map"></div>
    
        <h2 class="h4">Kenisington Campus</h2>
        
        <p>For all general enquiries</p>
        
        <address class="h5">
            Royal College of Art<br>
            Kensington Gore<br>
            London SW7 2EU
        </address>
        
        <p>
            INFO@RCA.AC.UK<br>
            TEL: +44 (0)20 7590 4444 (MAIN SWITCHBOARD)<br>
            FAX: +44 (0)20 7590 4500
        </p>
        
        <div class="row module">
            <h3>Travel</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed condimentum nisi. Nunc a varius metus, id interdum dolor. Vestibulum non ante at odio sagittis ultricies eget auctor augue. Aliquam erat volutpat. Donec eget ipsum enim. Quisque in quam vel libero lobortis convallis. Suspendisse id mi tempor, pharetra metus sed.</p>
        </div>
        
        <ul class="row module">
            <li class="six">
                <h3>Gallery Access</h3>
                <p>
                    Mon: 08.00am – 00.00am<br>
                    Tue: 08.00am – 00.00am<br>
                    Wed: 08.00am – 00.00am<br>
                    Thu: 08.00am – 00.00am<br>
                    Fri: 08.00am – 00.00am<br>
                    Sat: 08.00am – 22.00pm<br>
                    Sun: 08.00am – 20.00pm
                </p>
            </li>
            <li class="six">
                <h3>Term dates</h3>
                <p>
                    Autumn Term:<br>
                    1 Oct – 20 Dec<br><br>
                    Spring Term:<br>
                    1 Oct – 20 Dec<br><br>
                    Summer Term:<br>
                    1 Oct – 20 Dec
                </p>
            </li>
        </ul>
        
        <div class="row module">
            <h3>Eduroam WiFi</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed condimentum nisi.</p>
        </div>
    
    </div><!-- /.six -->

    <div class="six">
        <div id="map_canvas_battersea" class="map"></div>

        <h2 class="h4">Battersea Campus</h2>
        
        <p>For all general enquiries</p>
        
        <address class="h5">
            Royal College of Art<br>
            Howie Street<br>
            London SW11 4AS
        </address>
        
        <p>
            INFO@RCA.AC.UK<br>
            TEL: +44 (0)20 7590 4444 (MAIN SWITCHBOARD)<br>
            FAX: +44 (0)20 7590 4500
        </p>
        
        <div class="row module">
            <h3>Travel</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed condimentum nisi. Nunc a varius metus, id interdum dolor. Vestibulum non ante at odio sagittis ultricies eget auctor augue. Aliquam erat volutpat. Donec eget ipsum enim. Quisque in quam vel libero lobortis convallis. Suspendisse id mi tempor, pharetra metus sed.</p>
        </div>
        
        <ul class="row module">
            <li class="six">
                <h3>Gallery Access</h3>
                <p>
                    Mon: 08.00am – 00.00am<br>
                    Tue: 08.00am – 00.00am<br>
                    Wed: 08.00am – 00.00am<br>
                    Thu: 08.00am – 00.00am<br>
                    Fri: 08.00am – 00.00am<br>
                    Sat: 08.00am – 22.00pm<br>
                    Sun: 08.00am – 20.00pm
                </p>
            </li>
            <li class="six">
                <h3>Term dates</h3>
                <p>
                    Autumn Term:<br>
                    1 Oct – 20 Dec<br><br>
                    Spring Term:<br>
                    1 Oct – 20 Dec<br><br>
                    Summer Term:<br>
                    1 Oct – 20 Dec
                </p>
            </li>
        </ul>
        
        <div class="row module">
            <h3>Eduroam WiFi</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed condimentum nisi.</p>
        </div>
    
    </div><!-- /.six -->

</section>

<section class="row">

    {% include modules/tabs-six.html %}

</section>

{% include modules/twitter-feed.html %}