---
layout: default
bodyclass: type-event
---

<span class="a2"><a href="">Public</a></span>
<h1 class="h1">Sustain Talks present SEE CHANGE</h1>

<section class="event-info row">
	<div class="col-1">
	<p class="bc4 caps">19 March &#124; 6.30 - 7.30 PM</p>
	<p class="location">Lecture Theatre 1, Kensington &#124; Directions and transport details</p>
	<p class="price">&pound;30.00 full price &pound;15.00 concessions</p>
	<p class="book">Book now</p>
	<p class="url">Visit the website: www.rca.ac.uk/sustaintalks</p>
</div>
<div class="col-2">
	{% include modules/share-button.html %}
</div>
</section>
{% include modules/four-plus.html %}
{% include modules/carousel.html %}

{% include modules/body-text.html %}

{% include modules/twitter-feed.html %}