---
layout: default
bodyclass: type-jobs-index
---

<h1 class="h1 major">Jobs</h1>

<section class="row">
	<div class="body-text">
		<p>For an Application form, please click here. If you wish to be sent a hard copy please call +44 (0)20 7590 4138 (24-hour answerphone) and leave your name and address or e-mail <a href="">personnel@rca.ac.uk.</a></p>

		<p>The Application form can be completed electronically and returned to personnel@rca.ac.uk or a hard copy can be posted to the following address and marked for the attention of Personnel:</p>

		<p>
		Royal College of Art<br />
		Kensington Gore<br />
		London<br />
		SW7 2EU
		</p>

		<p>Please also complete an Equal Opportunities Monitoring form and return it with your Application form. This can be found with the Application form by following the link at the bottom of this page.</p>

		<p>The College is committed to equal opportunities and has been awarded the Access to Work 'Two Ticks' award.</p>

		<p>Information about Pay &amp; Staff Benefits at the RCA can be <a href="">downloaded here.</a></p>

		<p>Current vacancies, including job descriptions and closing dates are posted below. The deadline for receipt of applications is midnight of the closing date given.</p>
	</div>
	<section class="four">
		<ul class="button-bar one-button">
	        <li><a href="#" class="button icon icon-download">Pay &amp; Staff Benefits</a></li>
	    </ul>
	</section>
</section>

{% include modules/jobs-one-plus.html %}

<ul class="pagination">
	<li class="next"><a href="jobs-index-2.html">Next</a></li>
</ul>

{% include modules/twitter-feed.html %}