---
layout: default
bodyclass: type-news
---

<h1 class="h1">RCA fashion graduates instrumental in Whitechapel Gallery's first catwalk fundraiser</h1>

<section class="row">
	<!-- <iframe src="//player.vimeo.com/video/9553205?portrait=0&amp;badge=0&amp;color=ff3333" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/9553205">Procrastination</a> from <a href="http://vimeo.com/johnnykelly">Johnny Kelly</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->

	{% include modules/carousel.html %}
</section>

<section class="row">
	
	{% include modules/body-text.html %}

	<section class="four">
		{% include modules/meta-data.html %}
		<div class="single">
			{% include modules/share-button.html %}
		</div>
		
	</section>
</section>

{% include modules/twitter-feed.html %}