---
layout: default
bodyclass: type-programme
---

<div class="full-bleed-image"><img src="assets/images/example/water.jpg" /></div>

<h1 class="h1 major"><span class="medium-grey">Visual</span> Communication</h1>

{% include modules/carousel.html %}

{% include modules/head-of-programme.html %}

{% include modules/carousel-news.html %}

{% include modules/events.html %}

{% include modules/nine-plus.html %}

{% include modules/tabs.html %}

<section class="row cols-nine-three">
    <div class="col9">
        {% include modules/six-plus.html %}
    </div>

    <div class="col3">
        {% include modules/single.html %}
    </div>
</section>

{% include modules/three-plus.html %}

{% include modules/two-plus.html %}

{% include modules/twitter-feed.html %}