---
layout: default
bodyclass: type-school
---

<div class="full-bleed-image"><img src="assets/images/example/water.jpg" /></div>

<h1 class="h1 major"><span class="dark-grey">School</span> <span class="medium-grey">of</span> Communication</h1>

{% include modules/carousel.html %}

{% include modules/six-menu-block.html %}

{% include modules/head-of-programme.html %}

{% include modules/three-plus.html %}

{% include modules/carousel-news.html %}

{% include modules/events.html %}

{% include modules/twitter-feed.html %}