---
layout: default
bodyclass: type-standard-index
---

<div class="full-bleed-image"><img src="assets/images/example/sky.jpg" /></div>

<h1 class="h1 major"><span class="medium-grey">Standard</span> index page heading</h1>

<section class="row">
	{% include modules/carousel.html %}
</section>

{% include modules/index-intro.html %}

{% include modules/five-plus-two-lines.html %}

{% include modules/carousel-news.html %}

{% include modules/contact.html %}

{% include modules/twitter-feed.html %}