---
layout: default
bodyclass: type-standard
---

<h1 class="h1">Standard page heading</h1>

<section class="row">
	{% include modules/carousel.html %}
</section>

<section class="row">
	{% include modules/body-text.html showIntro = true showImage = true %}

	<section class="four">
		<div class="single">
			{% include modules/share-button.html %}
		</div>
		{% include modules/quotation.html %}
		{% include modules/quotation.html %}
    	
	</section>
</section>

{% include modules/twitter-feed.html %}