{% load wagtailcore_tags %}

<div class="header__inner header__inner--level-zero">
    {% include 'rca/includes/modules/logo.html' %}
    {% include 'rca/includes/modules/navigation/menu-toggle.html' with modifier="header__menu-toggle--small" %}
    {% include 'rca/includes/modules/navigation/back-link.html' %}
    {% include 'rca/includes/modules/navigation/standoutnav.html' with modifier="nav--standout-desktop" %}
    <div class="app__search app__search--tablet">

        <form action="/search" method="get" role="search" class="search2">
            <input class="search2__input input" type="text" placeholder="Search…" name="q"{% if search_query %} value="{{ search_query }}"{% endif %}>
            <button class="search2__button button" type="submit">
                <svg width="12px" height="8px" class="search2__icon"><use xlink:href="#arrow"></use></svg>
            </button>
        </form>

    </div>
</div>
<span class="header__inner header__inner--container">
    <div class="header__navigation-toggle">
        {% include 'rca/includes/modules/navigation/menu-toggle.html' with modifier="header__menu-toggle--medium" %}
        {% include 'rca/includes/modules/navigation/search-toggle.html' %}
        <a class="header__menu-close" href="#" data-close-menu>
            <svg width="14" height="14"><use xlink:href="#close"></use></svg>
        </a>
    </div>

    <span class="header__inner header__inner--menu-container">

        <!-- Level 1 - populated via JS -->
        <div class="header__inner header__inner--level-one" data-nav-level-1>
            <div role="navigation" aria-label="Primary">
                <ul data-ul="1" class="nav nav--primary" role="menubar"></ul>
            </div>

            <div class="app__search app__search--desktop" data-search-desktop>

                <form action="/search" method="get" role="search" class="search2">
                    <input class="search2__input input" type="text" placeholder="Search…" name="q"{% if search_query %} value="{{ search_query }}"{% endif %}>
                    <button class="search2__button button" type="submit">
                        <svg width="12px" height="8px" class="search2__icon"><use xlink:href="#arrow"></use></svg>
                    </button>
                </form>

            </div>
        </div>

        <!-- Level 2 - populated via JS -->
        <div class="header__inner header__inner--drawer header__inner--level-two" data-nav-level-2></div>

        <!-- Level 3 - populated via JS -->
        <div class="header__inner header__inner--drawer header__inner--level-three" data-nav-level-3></div>

        {% include 'rca/includes/modules/navigation/standoutnav.html' with modifier="nav--standout-mobile" %}
    </span>
</span>

