.objects{
    .full-width();

    .object{
        .push-padding(@grid-content-indent);
        .pull-padding(@grid-content-indent);
        position:relative;
        border:1px dashed @color-input-border;
        border-width:1px 0 0 0;

        &:first-child{
            border:0;
        }

        &.focused{
            border-color: darken(@color-input-focus, 40%);
        }        

        > h2{
            .border-radius(2px);
            color: @color-text-grey;
            text-transform:uppercase;
            padding:2px 5px;
            position:absolute;
            top:0;
            left:0;
            margin-top:-1px;
            font-size:0.7em;
            z-index:1;
        }

        fieldset{
            .column(10);
            padding-left:0;
        }
    }

    .object-help{
        .column(2);
        float:right;
        margin-top:4em;
        text-align:right;
        padding-right:0;
        opacity:0;
    }
    &:hover .object-help{
        opacity:1;
    }

    .multiple{
        .full-width();
    }
    .multiple > li{
        .push-padding(@grid-content-indent);
        .pull-padding(@grid-content-indent);
        border-top: 1px dashed @color-input-border;

        &:first-child{
            border:0;
        }
    }

    .preview{
        padding-top:1em;
        padding-bottom:0.5em;
    }

    /* Special full-width, one-off fields i.e a single text or textarea input */
    .full{
         
        > .help{
            position:absolute;
            right:0;
            top:0;
            z-index:1;
        }
        fieldset{
            display:block;
            float:none;
            width:initial;
            padding:0;
            .full-width();
        }
        li{
            padding:0;
        }

        .field{
            padding:0;
        }

        label{
            .visuallyhidden();
        }
        input, textarea, .richtext{
            .border-radius(0px);
            .push-padding(@grid-content-indent);
            .pull-padding(2);
            border:0;
            padding-top:3em;
            padding-bottom:2em;
        }

        .title input,
        .title textarea{
            font-size:2em;
            padding-top:2em;
        }
        .error-message{
            .push(@grid-content-indent);
            .pull(@grid-content-indent);
            padding-bottom:2em;
        }

        .error,
        .error input,
        .error textarea{
            background-color:@color-input-error-bg;
        }
    }

    /* wrapper around add button for mutliple objects */
    p.add{
        .full-width();
        .push-padding(@grid-content-indent);
        .pull-padding(@grid-content-indent);
        margin-top:0;
        margin-bottom:0;
        padding-top:3em;
        padding-bottom:3em;
    }

    /* Object controls */
    .controls{
        position:absolute;
        right:0;
        .pull(@grid-content-indent);
        text-transform:uppercase;
        color:@color-grey; 
        
        li{
            position:relative;
            cursor:pointer;
        }
        .icon{
            text-indent:-5000px;
            width:35px;
            height:35px;
            padding:0;

            &:before{
                left:0;
                right:0;
                margin:auto;
            }

            &:hover{
                background-color:@color-teal;
            }
        }
        .move-updown-black{
            cursor:move;
        }
    }
}
