{% extends "verdantadmin/base.html" %}
{% load image_tags %}

{% block content %}
    <header>
        <h1>Edit user</h1>
    </header>

    <div class="nice-padding">
        <form action="{% url 'verdantusers_edit' user.id %}" method="POST">
            {% csrf_token %}
            <ul class="fields">
                {% include "verdantadmin/shared/field_as_li.html" with field=form.username %}

                {% include "verdantadmin/shared/field_as_li.html" with field=form.first_name %}
                {% include "verdantadmin/shared/field_as_li.html" with field=form.last_name %}

                {% include "verdantadmin/shared/field_as_li.html" with field=form.password1 %}
                {% include "verdantadmin/shared/field_as_li.html" with field=form.password2 %}
                {% include "verdantadmin/shared/field_as_li.html" with field=form.is_active %}
                {% include "verdantadmin/shared/field_as_li.html" with field=form.is_superuser %}
                <li><input type="submit" value="Save" /></li>
            </ul>
        </form>
    </div>
{% endblock %}
