{% extends "verdantadmin/base.html" %}
{% load image_tags %}
{% block titletag %}Editing {{ user.username}}{% endblock %}
{% block bodyclass %}menu-users{% endblock %}
{% block content %}

    {% include "verdantadmin/shared/header.html" with title="Editing" subtitle=user.username merged=1 tabbed=1 %}

    <ul class="tab-nav merged">
        <li class="active"><a href="#account">Account</a></li>
        <li><a href="#roles">Roles</a></li>
    </ul>   

    <form action="{% url 'verdantusers_edit' user.id %}" method="POST">
        <div class="tab-content">
            {% csrf_token %}

            <section id="account" class="active nice-padding">
                <ul class="fields">
                    {% include "verdantadmin/shared/field_as_li.html" with field=form.username %}
                    {% include "verdantadmin/shared/field_as_li.html" with field=form.email %}
                    {% include "verdantadmin/shared/field_as_li.html" with field=form.first_name %}
                    {% include "verdantadmin/shared/field_as_li.html" with field=form.last_name %}
                    {% include "verdantadmin/shared/field_as_li.html" with field=form.password1 %}
                    {% include "verdantadmin/shared/field_as_li.html" with field=form.password2 %}
                    {% include "verdantadmin/shared/field_as_li.html" with field=form.is_active %}
                    
                    <li><input type="submit" value="Save" /></li>
                </ul>
            </section>
            <section id="roles" class="nice-padding">
                <ul class="fields">
                    {% include "verdantadmin/shared/field_as_li.html" with field=form.is_superuser %}
                    {% include "verdantadmin/shared/field_as_li.html" with field=form.groups %}
                    <li><input type="submit" value="Save" /></li>
                </ul>
            </section>
        </div>
    </form>
{% endblock %}
