{% extends "verdantadmin/base.html" %}

{% block content %}
    <header>
        <div class="row row-flush">
            <div class="left col9">
                <h1>User management</h1>
            </div>
            <div class="right col3">
                <a href="{% url 'verdantusers_create' %}" class="button icon icon-plus-inverse">Add a user</a>
            </div>
        </div>
    </header>
    <div class="nice-padding">
        <ul class="listing">
            {% for user in users %}
                <li>
                    <a href="{% url 'verdantusers_edit' user.id %}">{{ user }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
