{% extends "wagtailadmin/base.html" %}
{% block titletag %}Push '{{ page.title }}' to the intranet{% endblock %}

{% block content %}
    <header class="nice-padding">
        <div class="row">
            <div class="left">
                <div class="col">
                    <h1>Push '{{ page.title }}' to the intranet</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="nice-padding row-flush">
        <p>
            This will create a new page on the intranet with a copy of the content from '{{ page.title }}'.
        </p>

        <p>
            Once the initial push has completed, any updates to the page here will be automatically
            replicated on the intranet.
        </p>

        <p>
            This action can be undone by logging into the intranet and deleting the page there.
        </p>

        <form action="{% url 'push_to_inforca' page.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="button button-longrunning" data-clicked-text="Pushing..."><span class="icon icon-spinner"></span><em>Push to intranet</em></button>
            <a href="{% url 'wagtailadmin_explore' page.get_parent.id %}" class="button button-secondary">Go back</a>
        </form>
    </div>
{% endblock %}
