{% extends "wagtailadmin/base.html" %}
{% block titletag %}RCA Now{% endblock %}

{% block content %}
    <header class="nice-padding">
        <div class="row">
            <div class="left">
                <div class="col">
                    <h1>RCA Now</h1>
                </div>
            </div>
            <div class="right">
                <a href="{% url 'wagtailadmin_pages_create' 'rca' 'rcanowpage' rca_now_index.id %}" class="button bicolor icon icon-plus">Add a page</a>
            </div>
        </div>
    </header>

    <div class="nice-padding row-flush">
        {% if pages %}
            <div id="page-results">
                {% include "wagtailadmin/pages/list.html" with show_parent=0 allow_navigation=0 %}
            </div>
        {% else %}
            <p>You have not created any RCA Now pages yet. Why not <a href="{% url 'wagtailadmin_pages_create' 'rca' 'rcanowpage' rca_now_index.id %}">add one</a>?</p>
        {% endif %}
    </div>
{% endblock %}
