{% extends "wagtailadmin/base.html" %}
{% block titletag %}RCA Now{% endblock %}

{% block content %}
    <header>
        <div class="row row-flush">
            <div class="left col9">
                <h1>RCA Now</h1>
            </div>
            <div class="right col3">
                <a href="{% url 'wagtailadmin_pages_create' 'rca' 'rcanowpage' rca_now_index.id %}" class="button icon icon-plus-inverse">Add a page</a>
            </div>
        </div>
    </header>

    <div class="nice-padding row-flush">
        {% if pages %}
            <div id="page-results">
                {% include "wagtailadmin/pages/list.html" with show_parent=0 allow_navigation=0 %}
            </div>
        {% else %}
            <p>You have not created any RCA Now pages yet. Why not <a href="{% url 'wagtailadmin_pages_create' 'rca' 'rcanowpage' rca_now_index.id %}">add one</a>?</p>
        {% endif %}
    </div>
{% endblock %}
