---
note: please leave this yaml
---

@import "assets/css/variables.less";
@import "assets/css/mixins.less";
@import "assets/css/grid.less";
@import "assets/css/forms.less";

body{
    font-family:Open Sans,Arial,sans-serif;
    color:@color-text-base;
    overflow-x: hidden;
    position: relative;
}

a{
    .transition(all 0.2s linear);
    color:@color-link;

    &:hover{
        color:@color-link-hover;
    }
}

code{
    .box-shadow(inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2));
    background-color:@color-fieldset-hover;
    padding:2px 5px;
}

kbd{
    .border-radius(3px);
    font-family:Open Sans, Arial, sans-serif;
    border:1px solid @color-grey;
    border-color:rgba(0,0,0,0.2);
    padding:0.3em 0.5em;
}
.kbd{ /* wraps multiple kbd tags */
    font-family:Open Sans, Arial, sans-serif;
    font-weight:300;
    font-size:0.7em;
}


.wrapper{
    overflow:hidden;
}

nav{
    width:240px;
    ul, li{
        margin:0;
        padding:0;
        list-style-type:none;
    }

    a {
        display: block;
        color: #fff;
        font-size: 1.1em;
        font-weight: 300;

        padding: 1em;
    }
}

#nav-toggle{
    position:fixed;
    left:0px;
}
.nav-wrapper{
    .box-shadow(inset -5px 0px 10px 0px rgba(0, 0, 0, 0.5));
    position:relative;
    overflow:hidden;
    background: #333;
    margin-left: -100%;
    width: 80%;
    float: left;
}   
.content-wrapper{
    width:100%;
    float: right;
    position: relative;
}
    .content{
        .row();
        padding-bottom:100px;
    }

body.nav-open .nav-wrapper{
    margin-left:0;
}
body.nav-open .content-wrapper{
    margin-right:-80%;

    .content{
        position:fixed;
    }
}

footer{
    .row();
    background: #333;
    background: rgba(0,0,0,0.7);
    position:fixed;
    bottom:0;
    height:3em;
    width:90%;
    margin:0 5%;
}
    footer ul{
        .transition(all 0.2s ease);
        .unlist();
    }
    footer li{
        float:left;
    }

    .actions{
        .unlist();
        color:white;
        background-color:@color-context-popup-bg;
        position:absolute;
        overflow:hidden;
        height:3em;
        bottom:0;
    }
    .actions a{
        .clearfix();
        position:relative;
        text-decoration:none;
        text-transform:uppercase;
        height:3em;
        line-height:3em;
        display:block;
        color:white;
        padding:0 6em 0 1em;

        &:hover{
            background-color:@color-context-popup-bg-hover;
        }
        .kbd{
            position:absolute;
            right:0;
            top:0;
            padding-right:1em;
        }
    }
    .actions li{
        line-height:3em;
        float:none;
    }
    .actions:hover{
        .box-shadow(0 0 5px rgba(0,0,0,0.5));
        height:3em * 4;
    }
    .actions:hover li{
        display:block;
    }


/* Z-indexes */
.nav-wrapper{
    z-index:2;
}
footer{
    z-index:1;
}

/* Transitions */
.content-wrapper,
.nav-wrapper,
footer {
    .transition(all 0.3s ease)
}


@media screen and (min-width: 600px){
    body{
        margin-left:80px;
    }
    .nav-wrapper{
        position:fixed;
        height:100%;
        margin-left:0;
        left:0;
        width:80px;

        &:hover{
            width:240px;
        }
    }

    #nav-toggle{
        display:none;
    }    
    
    footer{
        width:80%;
        margin-left:40px;
    }
}