---

---

@import "assets/css/variables.less";
@import "assets/css/mixins.less";
@import "assets/css/grid.less";

body{
    font-family:Open Sans,Arial,sans-serif;
    font-size:85%;
    color:@color-text-base;
    overflow-x: hidden;
    position: relative;
}

a{
    .transition(all 0.2s linear);
    color:@color-link;

    &:hover{
        color:@color-link-hover;
    }
}

code{
    .box-shadow(inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2));
    background-color:@color-fieldset-hover;
    padding:2px 5px;
}

kbd{
    .border-radius(3px);
    font-family:Open Sans, Arial, sans-serif;
    border:1px solid @color-grey;
    border-color:rgba(0,0,0,0.2);
    padding:0.3em 0.5em;
}
.kbd{ /* wraps multiple kbd tags */
    font-family:Open Sans, Arial, sans-serif;
    font-weight:300;
    font-size:0.7em;
}

.wrapper{
    overflow:hidden;
}

.nav-wrapper{
    .box-shadow(inset -5px 0px 10px 0px rgba(0, 0, 0, 0.5));
    position:relative;
    background: #333;
    margin-left: -100%;
    width: 80%;
    float: left;
    min-height:800px;

    .logo{
        position:absolute;
        height:150px;
        width:100%;
        overflow:hidden;
        background:url(http://placehold.it/150x150) 50% 0 no-repeat;
    }
    nav{
        margin-top:150px;
    }
}  

#nav-toggle{
    position:fixed;
    left:0px;
}


nav{
    width:100%;

    ul, li{
        margin:0;
        padding:0;
        list-style-type:none;
    }
    ul{
        width:100%;
        border-top:1px solid rgba(200,200,200,0.1);
    }
    li{
        overflow:hidden;
        height:3em;
        line-height:3em;
        border-bottom:1px solid rgba(200,200,200,0.1);
    }
    li.selected{
        .transition(all 0.2s ease);
        background-color:rgba(0,0,0,0.2);
    
        &:after{
            content:"";
            position:absolute;
            margin-top:-3em;
            right:-20px;
            width:20px;
            height:3em;
            background-color:#222;
        }
    }
    a {
        width:240px;        
        font-size:0.85em;
        text-decoration:none;
        text-transform:uppercase;
        display: block;
        color: #fff;
        font-weight: 300;
        padding: 0 1em;
        position:relative;
        text-indent:35px;

        &:before{
            position:absolute;
            left:1em;
            top:0.9em;
            content:"";
            display:inline-block;
            height:25px;
            width:25px;
            background-color:white;
        }
    }
    li.selected a{
        background-color:#222;
    }
}

.content-wrapper{
    width:100%;
    float: right;
    position: relative;
}
    .content{
        .row();
        padding-bottom:100px;
    }

body.nav-open .nav-wrapper{
    margin-left:0;
}
body.nav-open .content-wrapper{
    margin-right:-80%;

    .content{
        position:fixed;
    }
}

footer{
    .row();
    background: #333;
    background: rgba(0,0,0,0.7);
    position:fixed;
    bottom:0;
    height:3em;
    width:90%;
    margin:0 5%;

    ul{
        .transition(all 0.2s ease);
        .unlist();
    }
    li{
        float:left;
    }

    .actions{
        .unlist();
        color:white;
        background-color:@color-context-popup-bg;
        position:absolute;
        overflow:hidden;
        height:3em;
        bottom:0;
 
        a{
            .clearfix();
            position:relative;
            text-decoration:none;
            text-transform:uppercase;
            height:3em;
            line-height:3em;
            display:block;
            color:white;
            padding:0 6em 0 1em;

            &:hover{
                background-color:@color-context-popup-bg-hover;
            }
            .kbd{
                position:absolute;
                right:0;
                top:0;
                padding-right:1em;
            }
        }
        li{
            line-height:3em;
            float:none;
        }
        &:hover{
            .box-shadow(0 0 5px rgba(0,0,0,0.5));
            height:3em * 4;
        }
        &:hover li{
            display:block;
        }
    }
}

/* Z-indexes */
#nav-toggle{
    z-index:5;
}
.nav-wrapper{
    z-index:2;
}
footer{
    z-index:1;
}

/* Transitions */
.content-wrapper,
.nav-wrapper,
footer {
    .transition(all 0.3s ease)
}

@media screen and (min-width: @breakpoint-mobile){
    body{
        margin-left:60px;
    }
    .nav-wrapper{
        position:fixed;
        height:100%;
        margin-left:0;
        left:0;
        width:60px;

        a{
            text-indent:70px;
        }

        &:hover{
            width:240px;

            a{
                text-indent:35px;
            }
        }
    }

    #nav-toggle{
        display:none;
    }    
    
    footer{
        width:80%;
        margin-left:40px;
    }
}

@import "assets/css/components/modals.less";
@import "assets/css/components/forms.less";
@import "assets/css/components/listing.less";