DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ dbname }}',
        'USER': '{{ dbuser }}',
        'PASSWORD': '{{ dbpassword }}',
        'HOST': '{{ dbhost }}',  # Set to empty string for localhost.
        'PORT': '',  # Set to empty string for default.
    }
}

EMBEDLY_KEY = '{{ embedly_key }}'
