{% extends "student_profiles/edit_base.html" %}
{% load static %}

{% block form_content %}

<div class="page-content">
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <h1>CV</h1>
  <section class="row">
    <section class="body-text">
      <form method="POST" class="student-profile" accept-charset="utf-8" enctype="multipart/form-data">{% csrf_token %}

      {% include 'student_profiles/form_snippet.html' with form=academic_form %}

      {% include "student_profiles/formset_single_field.html" with formset=previous_degrees_formset %}
      {% include "student_profiles/formset_single_field.html" with formset=exhibitions_formset %}
      {% include "student_profiles/formset_single_field.html" with formset=awards_formset %}
      {% include "student_profiles/formset_single_field.html" with formset=publications_formset %}
      {% include "student_profiles/formset_single_field.html" with formset=conferences_formset %}

        <div class="profile-actions">
          <input type="submit" class="profile-save" value="Save Draft">
          <a class="button" href="{% url 'student-profiles:preview' page_id %}" target="_blank">Preview</a>
          <input type="submit" class="submit-page" value="Save and submit" name="submit_for_publication">
        </div>
      </form>
    </section>
    <section class="notes">
      <h3>Notes</h3>
      <p>Optional information about your education, exhibitions and experience.</p>
      <p>The form will save automatically every so often. Before you log out, click 'Save as Draft' if you want to return and edit another time; or click 'Submit for Moderation' if you’re ready for your profile information to appear online.</p>
    </section>
  </section>
</div>

{% endblock form_content %}


{% block form_js %}
<script type="text/javascript">
$(function() {
  
  makeFormset('{{ previous_degrees_formset.prefix }}');
  makeFormset('{{ exhibitions_formset.prefix }}');
  makeFormset('{{ awards_formset.prefix }}');
  makeFormset('{{ publications_formset.prefix }}');
  makeFormset('{{ conferences_formset.prefix }}');

})
</script>
{% endblock form_js %}

