{% extends "student_profiles/edit_base.html" %}
{% load static compress %}


{% block form_content %}

<h1>Basic profile</h1>

<form method="POST" class="student-profile" accept-charset="utf-8" enctype="multipart/form-data">{% csrf_token %}

  {% include 'student_profiles/form_snippet.html' with form=basic_form %}

  <hr>
  {% include "student_profiles/formset_single_field.html" with formset=email_formset %}
  <hr>

  {% include "student_profiles/formset_single_field.html" with formset=phone_formset %}
  {% include "student_profiles/formset_single_field.html" with formset=website_formset %}

  <p><input type="submit" class="profile-save" value="Save"></p>
</form>

{% endblock form_content %}


{% block form_js %}
<script type="text/javascript">
$(function() {
  
  makeFormset('{{ email_formset.prefix }}');
  makeFormset('{{ phone_formset.prefix }}');
  makeFormset('{{ website_formset.prefix }}');
  
  makeRichTextEditable('id_statement');
  activateImageUpload('profile_image');
  
})
</script>
{% endblock form_js %}

