{% extends "student_profiles/edit_base.html" %}


{% block form_content %}

<h1>Basic profile</h1>

<form method="POST" accept-charset="utf-8" enctype="multipart/form-data">{% csrf_token %}

  <input id="fileupload" type="file" name="files[]" data-url="image/">
<div id="progress">
    <div class="bar" style="width: 0%; height: 18px; background: green;"></div>
</div>
  
  {% include 'student_profiles/form_snippet.html' with form=basic_form %}

  {{ email_formset.management_form }}
  <label {% if email_formset.total_error_count > 0 %}class="error"{% endif %}>Email
    {{ formset.non_form_errors }}
  </label>
  <div id="email_formset" >
  {% for emailform in email_formset %}
    <label class="field">
    {% for field in emailform %}
      {% include "student_profiles/form_field_unlabelled.html" with field=field %}
    {% endfor %}
    </label>
  {% endfor %}
  {% for error in email_formset.non_form_errors %}
    <small class="error">{{ error }}</small>
  {% endfor %}
  </div>

  {{ phone_formset.management_form }}
  <label id="phone_formset" {% if phone_formset.total_error_count > 0 %}class="error"{% endif %}>Phone number
  {% for phoneform in phone_formset %}
    <label class="field">
    {% for field in phoneform %}
      {% include "student_profiles/form_field_unlabelled.html" with field=field %}
    {% endfor %}
    </label>
  {% endfor %}
  {% for error in phone_formset.non_form_errors %}
    <small class="error">{{ error }}</small>
  {% endfor %}
  </label>

  {{ website_formset.management_form }}
  <label id="website_formset" {% if website_formset.total_error_count > 0 %}class="error"{% endif %}>Website
  {% for websiteform in website_formset %}
    <label class="field">
    {% for field in websiteform %}
      {% include "student_profiles/form_field_unlabelled.html" with field=field %}
    {% endfor %}
    </label>
  {% endfor %}
  {% for error in website_formset.non_form_errors %}
    <small class="error">{{ error }}</small>
  {% endfor %}
  </label>

  <p><input type="submit" value="Continue &rarr;"></p>
</form>

{% endblock form_content %}


{% block form_js %}
<script type="text/javascript">
$(function() {
  $('#email_formset .field').formset({
      prefix: '{{ email_formset.prefix }}',
      formCssClass: 'dynamic-formset-{{ email_formset.prefix }}'
  });
  $('#phone_formset .field').formset({
      prefix: '{{ phone_formset.prefix }}',
      formCssClass: 'dynamic-formset-{{ phone_formset.prefix }}'
  });
  $('#website_formset .field').formset({
      prefix: '{{ website_formset.prefix }}',
      formCssClass: 'dynamic-formset-{{ website_formset.prefix }}'
  });
  makeRichTextEditable('id_statement');
  
  /**
   * Load the given file to check whether this is a readable image.
   */
  function checkImageFile(file, dfd, data) {
  
    var reader = new FileReader();
    var image  = new Image();
  
    reader.readAsDataURL(file);  
    reader.onload = function(_file) {
      image.src    = _file.target.result;
      image.onload = function() {
        dfd.resolveWith(this, [data]);
      };
      image.onerror= function() {
        dfd.rejectWith(this, [data]);
      };
    };
    
  }
  
  /**
   * Put our image validation in the jquery-fileupload processing queue
   */
  $.blueimp.fileupload.prototype.processActions.validate = function (data, options) {
    if (options.disabled) {
      return data;
    }
    var dfd = $.Deferred(),
    file = data.files[data.index];
                
    if (!options.acceptFileTypes.test(file.type)) {
      file.error = 'Invalid file type.';
      dfd.rejectWith(this, [data]);
    } else {
      file.error = 'Invalid file type.';
      checkImageFile(file, dfd, data);
    }
    return dfd.promise();
  };
  
  // activate the file upload field
  $('#fileupload').fileupload({
    dataType: 'json',      {# this is the RETURN type! #}
    imageMaxWidth: 800,
    imageMaxHeight: 800,
    imageMinWidth: 10,
    imageMinHeight: 10,

    acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
    processQueue: [{
      action: 'validate',
      acceptFileTypes: '@',
      disabled: false,
    }],

    processfail: function (e, data) {
      alert('Could not upload ' + data.files[data.index].name + ': this file is not a valid image.');
    },
    
    done: function (e, data) {
      console.log(data);
      $.each(data.result.files, function (index, file) {
        $('<p/>').text(file.name).appendTo(document.body);
      });
    },
    progressall: function (e, data) {
      var progress = parseInt(data.loaded / data.total * 100, 10);
      $('#progress .bar').css(
        'width',
        progress + '%'
      );
    }
  });
      
  
})
</script>
{% endblock form_js %}

