{% extends "rca/base.html" %}
{% load static compress %}

{% block title %}Student profile example{% endblock title %}


{% block content %}

<h1>Basic profile</h1>

<form method="POST" accept-charset="utf-8" enctype="multipart/form-data">{% csrf_token %}
  
  {% include 'student_profiles/form_snippet.html' with form=basic_form %}

  {{ email_formset.management_form }}
  <label id="email_formset" {% if email_formset.total_error_count > 0 %}class="error"{% endif %}>Email
    {{ formset.non_form_errors }}
  {% for emailform in email_formset %}
    <div id="field">
    {% for field in emailform %}
      {% include "student_profiles/form_field_unlabelled.html" with field=field %}
    {% endfor %}
    </div>
  {% endfor %}
  {% for error in email_formset.non_form_errors %}
    <small class="error">{{ error }}</small>
  {% endfor %}
  </label>

  {{ phone_formset.management_form }}
  <label id="phone_formset" {% if phone_formset.total_error_count > 0 %}class="error"{% endif %}>Phone number
  {% for phoneform in phone_formset %}
    <div id="field">
    {% for field in phoneform %}
      {% include "student_profiles/form_field_unlabelled.html" with field=field %}
    {% endfor %}
    </div>
  {% endfor %}
  {% for error in phone_formset.non_form_errors %}
    <small class="error">{{ error }}</small>
  {% endfor %}
  </label>

  {{ website_formset.management_form }}
  <label id="website_formset" {% if website_formset.total_error_count > 0 %}class="error"{% endif %}>Website
  {% for websiteform in website_formset %}
    <div id="field">
    {% for field in websiteform %}
      {% include "student_profiles/form_field_unlabelled.html" with field=field %}
    {% endfor %}
    </div>
  {% endfor %}
  {% for error in website_formset.non_form_errors %}
    <small class="error">{{ error }}</small>
  {% endfor %}
  </label>


  <p><input type="submit" value="Continue &rarr;"></p>
</form>



{% endblock content %}


{% block extra_js %}

            {% compress js %}
<script src="{% static "student_profiles/js/vendor/jquery.formset.js" %}"></script>

<script type="text/javascript">
    $(function() {
        $('#email_formset #field').formset({
            prefix: '{{ email_formset.prefix }}',
            formCssClass: 'dynamic-formset1'
        });
        $('#phone_formset #field').formset({
            prefix: '{{ phone_formset.prefix }}',
            formCssClass: 'dynamic-formset3'
        });
        $('#website_formset #field').formset({
            prefix: '{{ website_formset.prefix }}',
            formCssClass: 'dynamic-formset2'
        });
    })
</script>

{% endcompress %}

{% endblock extra_js %}