{% extends "rca/base.html" %}
{% load static compress %}

{% block title %}Student profile{% endblock title %}


{% block content %}

{# navbar #}
<ul>
  {% if page_id %}
  <li{% if nav_basic %}class="active"{% endif %}><a href="{% url 'student-profiles:edit-basic' page_id %}">Basic profile</a></li>
  <li{% if nav_academic %}class="active"{% endif %}><a href="{% url 'student-profiles:edit-academic' page_id %}">Academic details</a></li>

  {% if is_ma %}<li{% if nav_ma %}class="active"{% endif %}><a href="{% url 'student-profiles:edit-ma' page_id %}">MA details</a></li>{% endif %}
  {% if is_mphil %}<li{% if nav_mphil %}class="active"{% endif %}><a href="#">MPhil details</a></li>{% endif %}
  {% if is_phd %}<li{% if nav_phd %}class="active"{% endif %}><a href="#">PhD details</a></li>{% endif %}

  {# TODO: activate/deactivate this link based on whether the student is in the show #}
  <li{% if nav_show_profile %}class="active"{% endif %}{% if not is_in_show %} disabled=disabled{% endif %}><a href="{% url 'student-profiles:edit-ma-show' page_id %}">Profile for the show</a></li>
  {% endif %}
</ul>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block form_content %}{% endblock form_content %}  {# for inserting the editing forms #}

{% endblock %}


{% block extra_css %}
    {% include "wagtailadmin/pages/_editor_css.html" %}
    {% compress css %}<link rel="stylesheet" type="text/less" href="{% static "student_profiles/css/student_profiles.less" %}" />{% endcompress %}
{% endblock %}
{% block extra_js %}
    {% include "wagtailadmin/pages/_editor_js.html" %}
{% compress js %}
<script src="{% static "student_profiles/js/vendor/jquery.formset.js" %}"></script>  {# cool little JS that helps with formsets #}
<script src="{% static "student_profiles/js/vendor/load-image.all.min.js" %}"></script>
<script src="{% static "student_profiles/js/vendor/jquery.ui.widget.js" %}"></script>
<script src="{% static "student_profiles/js/vendor/jquery.iframe-transport.js" %}"></script>
<script src="{% static "student_profiles/js/vendor/jquery.fileupload.js" %}"></script>
<script src="{% static "student_profiles/js/vendor/jquery.fileupload-process.js" %}"></script>
<script src="{% static "student_profiles/js/vendor/jquery.fileupload-image.js" %}"></script>
<script src="{% static "student_profiles/js/vendor/jquery.fileupload-validate.js" %}"></script>
{% block form_js %}{% endblock form_js %}  {# for activating formset js #}
{% endcompress %}
{% endblock extra_js %}