{% extends "rca/base.html" %}
{% load widget_tweaks %}

{% block title %}Student profile example{% endblock title %}


{% block content %}

<h1>This is the page content!</h1>

<form method="get" accept-charset="utf-8">
  
{% for field in form %}
<label {% if field.errors %}class="error"{% endif %}>{{ field.label }}
  {% if field.help_text %} <p class="secondary label right">{{ field.help_text }}</p>{% endif %}

  {% if field.field.is_read_only %}
  {% render_field field disabled="disabled" %}                                  {# maybe put some icon on it, too? #}
  {% else %}
  {% render_field field %}
  {% endif %}
  
</label>
  {% for error in field.errors %}
    <small class="error">{{ error }}</small>
  {% endfor %}
{% endfor %}



  <p><input type="submit" value="Continue &rarr;"></p>
</form>



{% endblock content %}