{{ formset.management_form }}
<label {% if formset.total_error_count > 0 %}class="error"{% endif %}>{{ formset.title }}
  {{ formset.non_form_errors }}
</label>
<div id="{{ formset.prefix }}" >
{% for form in formset %}
  <div class="inline-form">
    <label class="field">
    {% for field in form %}
      {% include "student_profiles/form_field_unlabelled.html" with field=field %}
    {% endfor %}
    </label>
    <a class="move-up">↑</a>
    <a class="move-down">↓</a>
  </div>
{% endfor %}
{% for error in formset.non_form_errors %}
  <small class="error">{{ error }}</small>
{% endfor %}
</div>