{% extends "student_profiles/edit_base.html" %}
{% load static compress %}

{% block form_content %}

<h1>MA show details</h1>

<form method="POST" accept-charset="utf-8" enctype="multipart/form-data">{% csrf_token %}
  
  {% include 'student_profiles/form_snippet.html' with form=show_form %}

  {{ carouselitem_formset.management_form }}
  Carousel images/videos
  <div id="{{ carouselitem_formset.prefix }}">
  {% for carouselitem_form in carouselitem_formset %}
    <div class="well" style="padding: 1em; border: 1px solid black;">
      {{ carouselitem_form.id }}
      {% include 'student_profiles/form_snippet.html' with form=carouselitem_form %}
    </div>
  {% endfor %}
  </div>

  {% include "student_profiles/formset_single_field.html" with formset=show_collaborators_formset %}
  {% include "student_profiles/formset_single_field.html" with formset=show_sponsors_formset %}


  <p><input type="submit" value="Save"></p>
</form>

{% endblock form_content %}



{% block form_js %}
<script src="{% static "student_profiles/js/image_handler.js" %}"></script>
<script type="text/javascript">
$(function() {
  
  function updateSelects() {
    $('#carousel select').change(function() {
      var value = $(this).val();
      var _match = this.id.match(/id_carousel-(\d+)-item_type/);
      var id_number = _match ? _match[1] : '';

      if (value == 0)        {# image, as defined in forms.py #}
      {
        $('#id_carousel-' + id_number + '-image').parent().parent().show();     {# image fields are wrapped in a div because they contain some more elements #}
        $('#id_carousel-' + id_number + '-overlay_text').parent().show();
        $('#id_carousel-' + id_number + '-embedly_url').parent().hide();
        $('#id_carousel-' + id_number + '-poster_image').parent().parent().hide();
      } else if (value == 1) {# video #}
      {
        $('#id_carousel-' + id_number + '-image').parent().parent().hide();
        $('#id_carousel-' + id_number + '-overlay_text').parent().hide();
        $('#id_carousel-' + id_number + '-embedly_url').parent().show();
        $('#id_carousel-' + id_number + '-poster_image').parent().parent().show();
      }
    });
  };
  
  
  $('#{{ show_collaborators_formset.prefix }} .field').formset({
      prefix: '{{ show_collaborators_formset.prefix }}',
      formCssClass: 'dynamic-formset-{{ show_collaborators_formset.prefix }}'
  });

  $('#{{ show_sponsors_formset.prefix }} .field').formset({
      prefix: '{{ show_sponsors_formset.prefix }}',
      formCssClass: 'dynamic-formset-{{ show_sponsors_formset.prefix }}'
  });

  $('#{{ carouselitem_formset.prefix }} .well').formset({
      prefix: '{{ carouselitem_formset.prefix }}',
      formCssClass: 'dynamic-formset-{{ carouselitem_formset.prefix }}',
    added: function(row) { updateSelects(); row.find('select').each(function(){ $(this).trigger('change')}); },
  });
  makeRichTextEditable('id_show_work_description');
  activateImageUpload('postcard_image');
  
  updateSelects();
  $('#carousel select').each(function(i) {
    $(this).trigger('change');
  });
  
})
</script>
{% endblock form_js %}



