{% extends "student_profiles/edit_base.html" %}


{% block form_content %}

<h1>MA show details</h1>

<form method="POST" accept-charset="utf-8" enctype="multipart/form-data">{% csrf_token %}
  
  {% include 'student_profiles/form_snippet.html' with form=show_form %}

  {{ carouselitem_formset.management_form }}
  Carousel images/videos
  <div id="{{ carouselitem_formset.prefix }}">
  {% for carouselitem_form in carouselitem_formset %}
    <div class="well" style="padding: 1em; border: 1px solid black;">
      {{ carouselitem_form.id }}
      {% include 'student_profiles/form_snippet.html' with form=carouselitem_form %}
    </div>
  {% endfor %}
  </div>

  {% include "student_profiles/formset_single_field.html" with formset=show_collaborators_formset %}
  {% include "student_profiles/formset_single_field.html" with formset=show_sponsors_formset %}


  <p><input type="submit" value="Save"></p>
</form>

{% endblock form_content %}



{% block form_js %}
<script type="text/javascript">
$(function() {
  $('#{{ show_collaborators_formset.prefix }} .field').formset({
      prefix: '{{ show_collaborators_formset.prefix }}',
      formCssClass: 'dynamic-formset-{{ show_collaborators_formset.prefix }}'
  });

  $('#{{ show_sponsors_formset.prefix }} .field').formset({
      prefix: '{{ show_sponsors_formset.prefix }}',
      formCssClass: 'dynamic-formset-{{ show_sponsors_formset.prefix }}'
  });

  $('#{{ carouselitem_formset.prefix }} .well').formset({
      prefix: '{{ carouselitem_formset.prefix }}',
      formCssClass: 'dynamic-formset-{{ carouselitem_formset.prefix }}'
  });
  makeRichTextEditable('id_show_work_description');
})
</script>
{% endblock form_js %}



