{% extends "student_profiles/edit_base.html" %}
{% load static %}

{% block form_content %}

<div class="page-content">
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <h1>MPhil details</h1>
  <section class="row">
    <section class="body-text">
      <form method="POST" class="student-profile" accept-charset="utf-8" enctype="multipart/form-data">{% csrf_token %}
        
        {% include 'student_profiles/form_snippet.html' with form=mphil_form %}

        {{ carouselitem_formset.management_form }}
        <h4>Carousel images/videos</h4>
        <div id="{{ carouselitem_formset.prefix }}" class="field-set">
        {% for carouselitem_form in carouselitem_formset %}
          <div class="inline-form">
            {{ carouselitem_form.id }}
            {% include 'student_profiles/form_snippet.html' with form=carouselitem_form %}
          <input type="hidden" class="order-value" name="{{ form.prefix }}-ORDER" value="{{ forloop.counter0 }}">
          <i class="icon action ion-android-arrow-up move-up"></i>
          <i class="icon action ion-android-arrow-down move-down"></i>
          </div>
        {% endfor %}
        </div>

        {% include "student_profiles/formset_single_field.html" with formset=collaborator %}
        {% include "student_profiles/formset_single_field.html" with formset=sponsor %}

        {{ supervisor.management_form }}
        Supervisors
        <div id="{{ supervisor.prefix }}">
        {% for form in supervisor %}
          <div class="inline-form">
            {{ form.id }}
            {% include 'student_profiles/form_snippet.html' with form=form %}
          <i class="icon action ion-android-arrow-up move-up"></i>
          <i class="icon action ion-android-arrow-down move-down"></i>
          </div>
        {% endfor %}
        </div>

        <div class="profile-actions">
          <input type="submit" class="profile-save" value="Save">
        </div>
      </form>
    </section>
  </section>
</div>

{% endblock form_content %}



{% block form_js %}
<script type="text/javascript">
  
function updateCarouselSelects() {
  $('#{{ carouselitem_formset.prefix }} select').change(function() {
    var value = $(this).val();
    var _match = this.id.match(/id_carousel-(\d+)-item_type/);
    var id_number = _match ? _match[1] : '';
    
    if (value == 'image')        {# image, as defined in forms.py #}
    {
      $('#carousel-' + id_number + '-image_id').show();
      $('#id_carousel-' + id_number + '-overlay_text').parent().show();

      $('#id_carousel-' + id_number + '-embedly_url').parent().hide();
      $('#carousel-' + id_number + '-poster_image_id').hide();
      $('#id_carousel-' + id_number + '-embedly_url').val('');
      $('#carousel-' + id_number + '-poster_image_id input').val('');
    } else if (value == 'video')
    {
      $('#carousel-' + id_number + '-image_id').hide();
      $('#id_carousel-' + id_number + '-overlay_text').parent().hide();
      $('#carousel-' + id_number + '-image_id input').val('');
      $('#id_carousel-' + id_number + '-overlay_text').val('');
      
      $('#id_carousel-' + id_number + '-embedly_url').parent().show();
      $('#carousel-' + id_number + '-poster_image_id').show();
    }
  });
};

function updateSupervisorSelects() {
  $('#{{ supervisor.prefix }} select').change(function() {
    var value = $(this).val();
    var _match = this.id.match(/id_supervisor-(\d+)-supervisor_type/);
    var id_number = _match ? _match[1] : '';

    if (value == 'internal') {
      $('#id_supervisor-' + id_number + '-supervisor').parent().show();

      $('#id_supervisor-' + id_number + '-supervisor_other').parent().hide();
      $('#id_supervisor-' + id_number + '-supervisor_other').val('');
      
    }
    else if (value == 'other')
    {

      $('#id_supervisor-' + id_number + '-supervisor').parent().hide();
      $('#id_supervisor-' + id_number + '-supervisor').val('');

      $('#id_supervisor-' + id_number + '-supervisor_other').parent().show();
    }
  });
}

makeFormset('{{ collaborator.prefix }}');
makeFormset('{{ sponsor.prefix }}');
makeFormset('{{ supervisor.prefix }}');
makeFormset('{{ carouselitem_formset.prefix }}',
  addedFunc=function(row) {
    updateCarouselSelects();
    row.find('select').each(function(){ $(this).trigger('change')});
    row.find('.image-uploader-block').each(function(i) { activateImageUpload(this.id); });
  }
);

makeRichTextEditable('id_mphil_statement');
$('.image-uploader-block').each(function(i) {
  activateImageUpload(this.id);
});

updateCarouselSelects();
$('#carousel select').each(function(i) {
  $(this).trigger('change');
});
  
updateSupervisorSelects();
$('#{{ supervisor.prefix }} select').each(function(i) {$(this).trigger('change');});
  
</script>
{% endblock form_js %}
