{% extends "rca/base.html" %}
{% load static compress %}

{% block title %}RCA Now: Edit page{% endblock title %}


{% block content %}

<p>
<a href="{% url 'nowpages:overview' %}">Back to the page list</a>
</p>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


{% block form_content %}{% endblock form_content %}  {# for inserting the editing forms #}

{% endblock %}


{% block extra_css %}
    {% include "wagtailadmin/pages/_editor_css.html" %}
    {% compress css %}<link rel="stylesheet" type="text/less" href="{% static "student_profiles/css/student_profiles.less" %}" />{% endcompress %}
{% endblock %}
{% block extra_js %}
    {% include "wagtailadmin/pages/_editor_js.html" %}
    {% include "wagtailadmin/shared/tag_field_js.html" %}
{% compress js %}

{# we import the JS files here because every form uses them anyway #}
<script src="{% static "student_profiles/js/nowpages.js" %}"></script>
{% block form_js %}{% endblock form_js %}  {# for activating formset js #}
<script src="{% static "student_profiles/js/autosave.js" %}"></script>
<script type="text/javascript">
  enableAutosave('form.now-page');
</script>

{% endcompress %}
{% endblock extra_js %}