{% extends "rca/base.html" %}
{% load static compress %}

{% block title %}Student profiles{% endblock title %}


{% block content %}

<h1>Your profiles</h1>

{% if not profile_pages %}
<div>
  There are currently no profile pages for you.
</div>
{% endif %}

<table>
  <tr>
    <th>Page title</th>
    <th>Status</th>
    <th></th>
  </tr>
  {% for page in profile_pages %}
    <tr>
      <td>{{ page.title }}</td>
      <td>{% if page.live %}LIVE {% if page.has_unpublished_changes %} + Draft{% endif %}
        {% else %}
        Draft{% endif %}
      <td>
        {% if page.live %}<a href="{{ page.url }}">Show live page</a><br>{% endif %}
        {% if page.has_unpublished_changes %}<a href="{% url 'student-profiles:preview' page.id %}">Show preview</a>{% endif %}
      </td>
      <td><a href="{% url 'student-profiles:edit-basic' page.id %}" class="button">edit</a></td>
      <td>{% if page.has_unpublished_changes %}<a href="#" class="button">submit for moderation</a>{% endif %}</td>
    </tr>
  {% endfor %}
</table>

<form action="{% url 'student-profiles:new-basic' %}" method="get">
  <input type="submit" value="Create a new profile page">
</form>

{% endblock %}