{% extends "student_profiles/edit_base.html" %}
{% load static compress %}

{% block form_content %}

<div class="page-content">
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <h1>Postcard Image Upload</h1>
  <section class="row">
    <section class="body-text">
      <form method="POST" class="student-profile" accept-charset="utf-8" enctype="multipart/form-data">{% csrf_token %}

        {% include 'student_profiles/form_snippet.html' with form=form %}

        <div class="profile-actions">
          <input type="submit" class="profile-save" value="Save Draft">
          <input type="submit" class="submit-page" value="Save and submit" name="submit_for_publication">
        </div>
      </form>
    </section>
    <section class="notes">
      <h3>Notes</h3>
      <p>Upload your postcard image. The postcard image will be used to print a set of postcards with your contact details, for you tu use during the show.</p>
</p>
      <p>The form will save automatically every so often. Before you log out, click 'Save as Draft' if you want to return and edit another time; or click 'Submit for Moderation' if you’re ready for your profile information to appear online.</p>
    </section>
  </section>
</div>

{% endblock form_content %}


{% block extra_css %}

{{ block.super }}
{% endblock extra_css %}


{% block form_js %}
<script type="text/javascript">
$(function() {

  activateImageUpload('postcard_image', {
      imageMinWidth: 1240,
      imageMinHeight: 1748,
      maxFileSize: 10485760
  });

})
</script>
{% endblock form_js %}



