{% if research_items %}
    <section class="three-plus x-plus row module">
        <h2 class="module-title">Research</h2>
        <div class="item-container">
            <ul class="row">
                {% for research_item in research_items %}
                    {% if forloop.counter0|divisibleby:"4" %}
                        <li class="newrow">
                    {% else %}
                        <li>
                    {% endif %}
                    {% include "rca/includes/modules/research_item.html" %}
                {% endfor %}
            </ul>
        </div>
    </section>
{% endif %}