{% load pageurl image_tags %}

{% if events %}
	<section class="one-plus x-plus module" data-pagination=".pagination">
	    <div class="item-container">
	        <ul class="row">
	        	{% for event in events %}
	        		{% comment %}The forloop counter just gives the index for the current set of reseults, and we need to know the overall
	        		index of the event item to know when to correctly apply the newrow class. This isn't available from the django
	        		paginator, but the index of the first item on the page is. Adding this to the forloop counter, and then adding -1 (because
	        		start_index is 1 based not 0 based) gives the correct calculation. {% endcomment %}
	        		{% if forloop.counter0|add:events.start_index|add:"-1"|divisibleby:"2" %}
	    				<li class="newrow">
	    			{% else %}
	    				<li>
	    			{% endif %}
	    				<a href="{% pageurl event %}">
		    				{% if event.feed_image %}
	                    		<div class="image">{% image event.feed_image width-600 %}</div>
	                    	{% endif %}
		                    <ul class="content">
		                        <li class="first">
		                            <h2 class="h5">{{ event.title }}</h2>
		                            {% if event.listing_intro %}
		                            	<p>{{ event.listing_intro }}</p>
		                            {% endif %}
		                            
		                        </li>
		                        <li class="second">
		                            <h3 class="bc4 caps">{{ event.start_date|date:"j F" }} <span class="location">{% if event.location_other %}{{ event.location_other }}{% elif event.location %}{{ event.get_location_display }}{% endif %}</span></h3>
		                            <p class="a2">{{ event.get_audience_display }}</p>
		                        </li>
		                    </ul>
		                </a>
		            </li>
	        	{% endfor %}
	        	{% if events.paginator.count > 10 %}
	        		<li class="load-more{% if events|length|divisibleby:'2' %} newrow{% endif %}"><a href="#">+</a></li>
	        	{% endif %}
	        </ul>
	    </div>
	</section>

	<ul class="pagination infinite">
		<!--
		{% if events.has_previous %}
	        <li class="previous"><a href="?page={{ events.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Previous</a></li>
	    {% endif %}
		-->

	    {% if events.has_next %}
	        <li class="next"><a href="?page={{ events.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Next</a></li>
	    {% endif %}
	</ul>

{% endif %}