{% load rca_tags %}
<div class="full-width-footer">
    <div class="footer-wrapper">
        <footer>
            <a class="footer-logo">Royal College of Art</a>
            <ul class="menu">
                {% footer_menu %}
            </ul>
            <div class="social-wrapper">
                <h3>Follow the RCA</h3>
                <ul class="social">
                    <!-- newer buttons use the svg sprite not the old png one -->
                    <li>
                        <a href="https://www.instagram.com/royalcollegeofart/" class="instagram">
                            <span class="social-hide">Instagram</span>
                            <svg class="social-icon">
                                <title>Instagram</title>
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li><a href="https://twitter.com/RCA" class="twitter"><span class="social-hide">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/RCA.London" class="facebook"><span class="social-hide">Facebook</span></a></li>
                    <li>
                        <a href="https://www.linkedin.com/school/royal-college-of-art/" class="linkedin">
                            <span class="social-hide">Linkedin</span>
                            <svg class="social-icon">
                                <title>Linkedin</title>
                                <use xlink:href="#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li><a href="https://www.youtube.com/user/royalcollegeofart" class="youtube"><span class="social-hide">YouTube</span></a></li>
                    <li><a href="https://vimeo.com/royalcollegeofart" class="vimeo"><span class="social-hide">Vimeo</span></a></li>
                </ul>
            </div>
            <div class="smallprint">
                <span class="address">
                    Royal College of Art, Kensington Gore, London SW7 2EU
                </span>
                <ul>
                    <li><a href="/contact-us/about-this-website/privacy-cookies/">Privacy &amp; Cookies</a></li>
                    <li><a href="/contact-us/about-this-website/terms-conditions/">Terms &amp; Conditions</a></li>
                    <li><a href="/contact-us/about-this-website/accessibility/">Accessibility</a></li>
                </ul>
            </div>
            <div class="trademarks">
                RCA&#8482; Royal College of Art&#8482; are trademarks of the Royal College of Art
            </div>
        </footer>
    </div>
</div>

{# load static wagtailcore_tags navigation_tags #}

<div class="footer">

    <div class="footer__container">

        <div class="footer__upper grid">

            <div class="footer__logo">
                {# include 'patterns/atoms/logo/logo.html' #}
            </div>

            <div class="footer__action">
                {# include 'patterns/atoms/audience-nav-item/audience-nav-item.html' #}
            </div>

        </div>

        {# if settings.utils.SocialMediaSettings.twitter_handle or settings.utils.SocialMediaSettings.facebook_app_id #}
            <div class="footer__mid grid">
                <ul class="footer__social-links">
                    <li class="social-item social-item--twitter">
                        <a class="social-item__link" href="#" aria-label="Twitter">
                            <svg class="social-item__icon" width="24" height="24">
                                <use xlink:href="#twitter">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item social-item--facebook">
                        <a class="social-item__link" href="#" aria-label="Facebook">
                            <svg class="social-item__icon" width="24" height="24">
                                <use xlink:href="#facebook">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item social-item--instagram">
                        <a class="social-item__link" href="#" aria-label="Instagram">
                            <svg class="social-item__icon" width="24" height="24">
                                <use xlink:href="#instagram">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item social-item--youtube">
                        <a class="social-item__link" href="#" aria-label="YouTube">
                            <svg class="social-item__icon" width="24" height="24">
                                <use xlink:href="#youtube">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item social-item--linkedin">
                        <a class="social-item__link" href="https://twitter.com/{{ settings.utils.SocialMediaSettings.twitter_handle }}" aria-label="Linkedin">
                            <svg class="social-item__icon" width="24" height="24">
                                <use xlink:href="#linkedin">
                                </use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        {# endif #}

        <div class="footer__lower grid">

            <nav class="footer__links" role="navigation" aria-label="Footer navigation">
                {# footerlinks #}
            </nav>

            <div class="footer__credit" role="contentinfo">
                <p class="footer__credit-item">Royal College of Art, Kensington Gore, London SW7 2EU</p>
                <p class="footer__credit-item">RCA&trade; Royal College of Art&trade; are trademarks of the Royal College of Art </p>
            </div>

        </div>

    </div>

</div>
