<div class="full-width-footer">
    <div class="footer-wrapper">
        <footer>
            <a href="" class="footer-logo">Royal College of Art</a>
            <ul class="menu">
                <li class="main"><a href="">Schools &amp; programmes</a>
                    <div class="submenu-block">
                        <ul>
                            <section>
                                <li><a href="">School of Architecture</a></li>
                                <ul class="dl-submenu">
                                    <li><a href="">Architecture</a></li>
                                    <li><a href="">Interior design</a></li>
                                </ul>
                                <li><a href="">School of Humanities</a></li>
                                <ul>
                                    <li><a href="">Critical &amp; historical studies</a></li>
                                    <li><a href="">Critical writing in art &amp; design</a></li>
                                    <li><a href="">Curating contemporary art</a></li>
                                    <li><a href="">History of design</a></li>
                                </ul>
                            </section>
                            <section>
                                <li><a href="">School of Communication</a></li>
                                <ul>
                                    <li><a href="">Animation</a></li>
                                    <li><a href="">Information experience design</a></li>
                                    <li><a href="">Visual communication</a></li>
                                </ul>
                                <li><a href="">School of Fine Art</a></li>
                                <ul>
                                    <li><a href="">Painting</a></li>
                                    <li><a href="">Photography</a></li>
                                    <li><a href="">Printmaking</a></li>
                                    <li><a href="">Sculpture</a></li>
                                </ul>
                            </section>
                            <section>
                                <li><a href="">School of Design</a></li>
                                <ul>
                                    <li><a href="">Design interactions</a></li>
                                    <li><a href="">Design prodcuts</a></li>
                                    <li><a href="">Global innovation design</a></li>
                                    <li><a href="">Innovation design engineering (IDE)</a></li>
                                    <li><a href="">Service design</a></li>
                                    <li><a href="">Vehicle design</a></li>
                                </ul>
                                <li><a href="">School of Material</a></li>
                                <ul>
                                    <li><a href="">Ceramics &amp; glass</a></li>
                                    <li><a href="">Goldsmithing, silversmithing, metalwork &amp; jewellery</a></li>
                                    <li><a href="">Fashion menswear</a></li>
                                    <li><a href="">Fashion womenswear</a></li>
                                    <li><a href="">Textiles</a></li>
                                </ul>
                            </section>
                        </ul>
                    </div>
                    <span class="footer-expand"></span>
                </li>
                <li class="main"><a href="">Study at RCA</a>
                    <div class="submenu-block">
                        <ul>
                            <section>
                                <li><a href="">The RCA experience</a></li>
                                <li><a href="">Facilities</a></li>   
                            </section>
                            <section>
                                <li><a href="">Support services</a></li>
                                <li><a href="">Fees &amp; funding</a></li>
                            </section>
                            <section>
                                <li><a href="">Open days</a></li>
                                <li><a href="">Apply</a></li>
                            </section>
                        </ul>
                    </div>
                    <span class="footer-expand"></span>
                </li>
                <li class="main"><a href="">Research &amp; innovation</a>
                    <div class="submenu-block">
                        <ul>
                            <section>
                                <li><a href="">Current research</a></li>
                                <li><a href="">Success stories</a></li>
                                <li><a href="">Research support</a></li>
                                <li><a href="">Research news</a></li>
                            </section>
                            <section>
                                <li><a href="">Helen Hamlyn centre</a></li>
                                <li><a href="">InnovationRCA</a></li>
                                <li><a href="">RapidFormRCA</a></li>
                                <li><a href="">Sustain</a></li>
                            </section>
                            <section>
                                <li><a href="">Business &amp; partnerships</a></li>
                            </section>
                        </ul>
                    </div>
                    <span class="footer-expand"></span>
                </li>
                <li class="main"><a href="">Showcase</a>
                    <div class="submenu-block">
                        <ul>
                            <section>
                                <li><a href="">Show RCA (2007-13)</a></li>
                            </section>
                            <section>
                                <li><a href="">RCA Now</a></li>
                            </section>
                        </ul>
                    </div>
                    <span class="footer-expand"></span>
                </li>
                <li class="main last"><a href="">More</a>
                    <div class="submenu-block">
                        <ul>
                            <section>
                                <li><a href="">Our history</a></li>
                                <li><a href="">Governance</a></li>
                                <li><a href="">Support the RCA</a></li>
                                <li><a href="">For alumni</a></li>
                            </section>
                            <section>
                                <li><a href="">Events</a></li>
                                <li><a href="">News</a></li>
                                <li><a href="">Publications</a></li>
                                <li><a href="">Jobs</a></li>
                            </section>
                            <section>
                                <li><a href="">Contact us</a></li>
                                <li><a href="">Maps &amp; visiting</a></li>
                                <li><a href="">Term dates</a></li>
                                <li><a href="">Venue hire</a></li>
                            </section>
                        </ul>
                    </div>
                    <span class="footer-expand"></span>
                </li>
            </ul>
            <div class="social-wrapper">
                <h3>Follow the RCA</h3>
                <ul class="social">
                    <li><a href="" class="facebook">Facebook</a></li>
                    <li><a href="" class="vimeo">Vimeo</a></li>
                    <li><a href="" class="twitter">Twitter</a></li>
                    <li><a href="" class="youtube">YouTube</a></li>
                </ul>
            </div>
            <div class="smallprint">
                <span class="address">
                    Royal College of Art, Kensington Gore, London, SW7 2EU
                </span>
                <ul>
                    <li><a href="">Privacy policy</a></li>
                    <li><a href="">Copyright notice</a></li>
                    <li><a href="">Accessiblity</a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>