{% load rca_tags %}
<div class="full-width-footer">
    <div class="footer-wrapper">
        <footer>
            <a href="#" class="footer-logo">Royal College of Art</a>
            <ul class="menu">
                {% footer_menu %}
            </ul>
            <div class="social-wrapper">
                <h3>Follow the RCA</h3>
                <ul class="social">
                    <li><a href="https://www.facebook.com/RCA.London" class="facebook">Facebook</a></li>
                    <li><a href="http://vimeo.com/royalcollegeofart" class="vimeo">Vimeo</a></li>
                    <li><a href="http://twitter.com/RCAevents" class="twitter">Twitter</a></li>
                    <li><a href="http://www.youtube.com/user/royalcollegeofart" class="youtube">YouTube</a></li>
                </ul>
            </div>
            <div class="smallprint">
                <span class="address">
                    Royal College of Art, Kensington Gore, London, SW7 2EU
                </span>
                <ul>
                    <li><a href="/more/contact-us/about-this-website/privacy-cookies/">Privacy policy</a></li>
                    <li><a href="/more/contact-us/about-this-website/terms-conditions/">Copyright notice</a></li>
                    <li><a href="/more/contact-us/about-this-website/accessibility/">Accessibility</a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>
