{% load pageurl image_tags %}

{% if gallery_items %}
    <section class="gallery module" data-pagination=".pagination">
        <div class='item-container row'>
            <ul class='row'>
                {% for galleryitem in gallery_items %}
                {% with galleryitem.carousel_items.all as carousel_items %} 
                            {% with carousel_items|first as carousel_item %}
                                {% if carousel_item.image %}        
                                    {% if carousel_item.image.is_landscape %}
                        <li class="item landscape">
                            <a href="{% pageurl galleryitem %}">
                                <div class="image landscape">
                                    {% else %}
                        <li class="item portrait">
                            <a href="{% pageurl galleryitem %}">
                                <div class="image portrait">
                                    {% endif %}
                                    {% image carousel_item.image width-600 %}
                                </div>
                                <div class="content">
                                    <h2 class="h6">{{ carousel_item.image.title }}</h2>
                                    <p>{{ galleryitem.title }}</p>
                                    <p class="meta a2">{{ galleryitem.get_programme_display }}</p>
                                </div>
                            </a>
                        </li>   
                        {% endif %}
                        {% endwith %}
                        {% endwith %}
                {% endfor %}


                {% if gallery_items.paginator.count > 10 %}
                    <li class="load-more{% if gallery_items|length|divisibleby:'2' %} newrow{% endif %}"><a href="#">+</a></li>
                {% endif %}
            </ul>
        </div>
    </section>

    <ul class="pagination infinite">
        <!--
        {% if rca_now_items.has_previous %}
            <li class="previous"><a href="?page={{ rca_now_items.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Previous</a></li>
        {% endif %}
        -->

        {% if gallery_items.has_next %}
            <li class="next"><a href="?page={{ gallery_items.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Next</a></li>
        {% endif %}
    </ul>

{% endif %}

<script type="text/javascript">
    {% if related_programmes %}
        var related_programmes = {{related_programmes|safe}};
    {% else %}
        var related_programmes = [];
    {% endif %}
</script>
