{% load rca_tags %}
<header class="page-header">
    {% block logo %}
        <a href="/" class="site-name" tabindex="2"><p>Royal College of Art</p></a>
    {% endblock %}
    <div class="showmenu dl-trigger">Show menu</div>
    <div class="showsearch">Show search</div>
    <div class="nav-wrapper">
        <div class="inner">
            <nav>
                <h2><a href="javascript: void(0);" class="trigger" tabindex="3">Menu</a></h2>
                <ul class="menu dl-menu">
                    {% menu %}
                </ul>
            </nav>
        </div>
        <form class="search" action="{% url 'wagtailsearch_search' %}" method="get">
            <input  tabindex="5" id="search_box" type="text" name="q" placeholder="Search"{% if query_string %} value="{{ query_string }}"{% endif %} />
            <input type="submit" value="search" />
        </form>
    </div>

</header>