
{% load rca_tags wagtailcore_tags %}
<div class="header bg--dark header-content-light"> {# modifier needs to be set by BE. `bg--dark &, .header-content-light` #}

    <div class="header__container grid">

        <div class="header__logo">
            {% include "rca/includes/modules/logo.html" %}
        </div>

        <div class="header__navigation-toggle bg--light">
            {% include 'rca/includes/modules/navigation/menu-toggle.html' %}
            {% include 'rca/includes/modules/navigation/search-toggle.html' %}
        </div>

        <div class="audience-nav-item bg--light">
            <a class="audience-nav-item__link" href="#">
                <div class="audience-nav-item__label">
                    Study at RCA
                </div>
                <svg class="audience-nav-item__icon" width="12" height="8">
                    <use xlink:href="#arrow-site-rebuild"></use>
                </svg>
            </a>
        </div>

        <div class="audience-nav-item bg--light">
            <a class="audience-nav-item__link" href="#">
                <div class="audience-nav-item__label">
                    Research and Innovation
                </div>
                <svg class="audience-nav-item__icon" width="12" height="8">
                    <use xlink:href="#arrow-site-rebuild"></use>
                </svg>
            </a>
        </div>

        <div class="audience-nav-item bg--light">
            <a class="audience-nav-item__link" href="#">
                <div class="audience-nav-item__label">
                    Life at the RCA
                </div>
                <svg class="audience-nav-item__icon" width="12" height="8">
                    <use xlink:href="#arrow-site-rebuild"></use>
                </svg>
            </a>
        </div>

    </div>

</div>