<!-- {% load rca_tags %}
<header class="page-header">
    {% block logo %}
        <a href="/" class="site-name" tabindex="2"><p>Royal College of Art</p></a>
    {% endblock %}
    <div class="showmenu dl-trigger">Show menu</div>
    <div class="showsearch">Show search</div>
    <div class="nav-wrapper">
        <div class="inner">
            <nav>
                <h2><a href="javascript: void(0);" class="trigger" tabindex="3">Menu</a></h2>
                <ul class="menu dl-menu">
                    {% menu %}
                </ul>
            </nav>
        </div>
        <form class="search" action="{% url 'wagtailsearch_search' %}" method="get">
            <input  tabindex="5" id="search_box" type="text" name="q" placeholder="Search"{% if query_string %} value="{{ query_string }}"{% endif %} />
            <input type="submit" value="search" />
        </form>
    </div>

</header> -->

<!-- New Header Code -->

{% load rca_tags wagtailcore_tags %}
<div class="header header-content-dark bg--light"> {# modifier needs to be set by BE. `bg--dark &, .header-content-light` #}

    <div class="header__container grid">

        <div class="header__logo">
            {% include "rca/includes/modules/logo.html" %}
        </div>

        <div class="header__navigation-toggle bg--light">
            {% include 'rca/includes/modules/navigation/menu-toggle.html' %}
            {% include 'rca/includes/modules/navigation/search-toggle.html' %}
        </div>

        <div class="audience-nav-item bg--light">
            <a class="audience-nav-item__link" href="#">
                <div class="audience-nav-item__label">
                    Study at RCA
                </div>
                <svg class="audience-nav-item__icon" width="12" height="8">
                    <use xlink:href="#arrow-site-rebuild"></use>
                </svg>
            </a>
        </div>

        <div class="audience-nav-item bg--light">
            <a class="audience-nav-item__link" href="#">
                <div class="audience-nav-item__label">
                    Research and Innovation
                </div>
                <svg class="audience-nav-item__icon" width="12" height="8">
                    <use xlink:href="#arrow-site-rebuild"></use>
                </svg>
            </a>
        </div>

        <div class="audience-nav-item bg--light">
            <a class="audience-nav-item__link" href="#">
                <div class="audience-nav-item__label">
                    Life at the RCA
                </div>
                <svg class="audience-nav-item__icon" width="12" height="8">
                    <use xlink:href="#arrow-site-rebuild"></use>
                </svg>
            </a>
        </div>

    </div>

</div>
