{% load pageurl image_tags %}

{% if rca_now_items %}

    <section class="one-plus x-plus module" data-pagination=".pagination">
        <h2 class="module-title">A title</h2>
        <div class="item-container">
            <ul class="row">

                {% for rcanow in rca_now_items %}
                    {% comment %}The forloop counter just gives the index for the current set of reseults, and we need to know the overall
                    index of the rcanow item to know when to correctly apply the newrow class. This isn't available from the django
                    paginator, but the index of the first item on the page is. Adding this to the forloop counter, and then adding -1 (because
                    start_index is 1 based not 0 based) gives the correct calculation. {% endcomment %}
                    {% if forloop.counter0|add:rca_now_items.start_index|add:"-1"|divisibleby:"2" %}
                        <li class="newrow">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{% pageurl rcanow %}">
                            {% if rcanow.feed_image %}
                            <div class="image">{% image rcanow.feed_image width-600 %}</div>
                            {% endif %}
                            <div class="content">
                                <h3 class="h5">{{ rcanow.title }}</h3>
                                {% if rcanow.author %}
                                    <p class="bc4">{{ author }}</p>
                                {% endif %}
                                <p class="a2">{{ rcanow.get_programme_display }}</p>
                            </div>
                        </a>
                    </li>
                <!--<li>
                    <a href="#">
                        <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                        <div class="content">
                            <h3 class="h5">Cras quis elit eleifend quam sagittis sagittis vel sed sem. </h3>
                            <p class="bc4">Student Name</p>
                            <p class="a2">News</p>
                        </div>
                    </a>
                </li>
                <li class="newrow">
                    <a href="#">
                        <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                        <div class="content">
                            <h3 class="h5">Morbi non quam imperdiet, ultrices odio ut, condimentum massa. Aliquam gravida mi quis enim venenatis, nec rutrum mauris convallis.</h3>
                            <p class="bc4">Student Name</p>
                            <p class="a2">News</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                        <div class="content">
                            <h3 class="h5">Nam dictum vestibulum dolor, et dignissim dolor auctor vel. Maecenas sit amet nibh turpis.</h3>
                            <p class="bc4">Student Name</p>
                            <p class="a2">News</p>
                        </div>
                    </a>
                </li>
                <li class="newrow">
                    <a href="#">
                        <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                        <div class="content">
                            <h3 class="h5">Praesent est sapien, ultricies et libero id, luctus laoreet nisi. Aenean</h3>
                            <p class="bc4">Student Name</p>
                            <p class="a2">News</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                        <div class="content">
                            <h3 class="h5">Maecenas hendrerit elit in dui convallis ornare. Vestibulum quis eros dictum, mattis sem vitae, hendrerit lacus. Nam dictum vestibulum dolor, et dignissim dolor auctor vel. Maecenas sit amet nibh turpis. Phasellus eget hendrerit nisl.</h3>
                            <p class="bc4">Student Name</p>
                            <p class="a2">News</p>
                        </div>
                    </a>
                </li>
                <li class="newrow">
                    <a href="#">
                        <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                        <div class="content">
                            <h3 class="h5">In fringilla diam vestibulum. Etiam in cursus eros, eget semper eros. Nam a pharetra turpis, </h3>
                            <p class="bc4">Student Name</p>
                            <p class="a2">News</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                        <div class="content">
                            <h3 class="h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac nunc augue. Vivamus dolor diam, luctus lobortis fringilla ut</h3>
                            <p class="bc4">Student Name</p>
                            <p class="a2">News</p>
                        </div>
                    </a>
                </li>
                <li class="newrow">
                    <a href="#">
                        <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                        <div class="content">
                            <h3 class="h5">Cras quis elit eleifend quam sagittis sagittis vel sed sem.</h3>
                            <p class="bc4">Student Name</p>
                            <p class="a2">News</p>
                        </div>
                    </a>
                </li>-->
                {% endfor %}
                {% if rca_now_items.paginator.count > 10 %}
                    <li class="load-more{% if rca_now_items|length|divisibleby:'2' %} newrow{% endif %}"><a href="#">+</a></li>
                {% endif %}
            </ul>
        </div>
    </section>

    <ul class="pagination infinite">
        <!--
        {% if rca_now_items.has_previous %}
            <li class="previous"><a href="?page={{ rca_now_items.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Previous</a></li>
        {% endif %}
        -->

        {% if rca_now_items.has_next %}
            <li class="next"><a href="?page={{ rca_now_items.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Next</a></li>
        {% endif %}
    </ul>

{% endif %}