{% load pageurl image_tags %}

{% if research_students %}
    <section class="five-plus x-plus row module" data-pagination=".pagination">
        <div class="item-container">
            <ul class="row">
                {% for student in research_students %}
                    {% comment %}The forloop counter just gives the index for the current set of reseults, and we need to know the overall
                    index of the rcanow item to know when to correctly apply the newrow class. This isn't available from the django
                    paginator, but the index of the first item on the page is. Adding this to the forloop counter, and then adding -1 (because
                    start_index is 1 based not 0 based) gives the correct calculation. {% endcomment %}
                    {% if forloop.counter0|add:research_students.start_index|add:"-1"|divisibleby:"6" %}
                        <li class="newrow">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{% pageurl self %}{{ student.slug }}/">
                            <div class="image">
                                {% if student.profile_image %}
                                    {% image student.profile_image width-200 %}
                                {% else %}
                                    <img src="/static/rca/images/rca-placeholder-square.jpg" width="200">
                                {% endif %}
                            </div>
                            <div class="content">
                                <h3 class="a3">{{ student.title }}</h3>
                                {% if student.listing_intro %}
                                    <p class="a4">{{ student.listing_intro }}</p>
                                {% endif %}
                            </div>
                        </a>
                    </li>

                {% endfor %}
                {% if research_students.paginator.count > 17 %}
                    <li class="load-more{% if research_students|length|divisibleby:'6' %} newrow{% endif %}"><a href="#">+</a></li>
                {% endif %}
            </ul>
        </div>
    </section>

    <ul class="pagination infinite">
        <!--
        {% if rca_now_items.has_previous %}
            <li class="previous"><a href="?page={{ rca_now_items.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Previous</a></li>
        {% endif %}
        -->

        {% if research_students.has_next %}
            <li class="next"><a href="?page={{ research_students.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Next</a></li>
        {% endif %}
    </ul>

{% endif %}

<script type="text/javascript">
    var filters = {{ filters|safe }};
</script>
