{% load pageurl image_tags %}

{% if reviews %}
    <section class="one-plus x-plus index-listing module" data-pagination=".pagination">
        <div class="item-container">
            <ul class="row">
                {% for review in reviews %}
                    {% comment %}The forloop counter just gives the index for the current set of results, and we need to know the overall
                    index of the news item to know when to correctly apply the newrow class. This isn't available from the django
                    paginator, but the index of the first item on the page is. Adding this to the forloop counter, and then adding -1 (because
                    start_index is 1 based not 0 based) gives the correct calculation. {% endcomment %}
                    {% if forloop.counter0|add:reviews.start_index|add:"-1"|divisibleby:"2" %}
                        <li class="newrow">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{% pageurl review %}">
                                <div class="image">
                                    {% if review.feed_image %}
                                        {% image review.feed_image width-600 %}
                                    {% else %}
                                        {% with review.carousel_items.all as carousel_items %}
                                            {% with carousel_items|first as carousel_item %}
                                                {% if carousel_item.image %}
                                                    {% image carousel_item.image fill-600x338 %}
                                                {% else %}
                                                {# TODO: delete these placeholder images from git once proper image exists #}
                                                    <img src="/static/rca/images/rca-placeholder.jpg" width="600">
                                                {% endif %}
                                            {% endwith %}
                                        {% endwith %}
                                    {% endif %}
                                </div>
                            <div class="content">
                                <h3 class='h5'>{{ review.title }}</h3>
                                {% if review.listing_intro %}
                                <p>{{ review.listing_intro }}</p>
                                {% endif %}
                            </div>
                        </a>
                    </li>
                {% endfor %}
                {% if reviews.paginator.count > 10 %}
                    <li class="load-more{% if reviews|length|divisibleby:'2' %} newrow{% endif %}"><a href="#">+</a></li>
                {% endif %}
            </ul>
        </div>
    </section>

    <ul class="pagination infinite">

        {% if reviews.has_next %}
            <li class="next"><a href="?page={{ reviews.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Next</a></li>
        {% endif %}
    </ul>

{% endif %}


<script type="text/javascript">
    {% if related_programmes %}
        var related_programmes = {{related_programmes|safe}};
    {% else %}
        var related_programmes = [];
    {% endif %}
</script>

