{% load rca_tags %}

<!-- Events -->
{% if showToday %}
    {% upcoming_events exclude=self %}
{% endif %}

<!-- adverts -->
{% if showAdverts %}
    <!-- adverts -->
    <div class="apply">
        <a href="#">
            <h2>Apply to Study</h2>
            <p>at the Royal College of Art</p>
        </a>
    </div>
{% endif %}

<!--open days-->
{% if showOpenDays %}
    <div class="open-days">
        <a href="#">
            <h2>Open Days</h2>
        </a>
    </div>
{% endif %}

<!-- Related links -->
{% if showRelatedLinks %}
    {% load pageurl %}
    {% if self.get_siblings or self.related_links %}
    <div class="related expanded">
        <h2>In this section</h2>
        <div class="wrapper">
            <!-- <h3 class="dark">In this section</h3> -->
            {% if self.get_siblings %}
                <ul>
                    {% for page in self.get_other_siblings %}
                        <li><a href="{% pageurl page %}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% with self.related_links.all as related_links %}
                {% if related_links %}
                    <h3>See also</h3>
                    <ul class="extra-links">
                    {% for link in related_links %}
                        <li><a href="{% pageurl link.link %}">{{ link.link_text }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    {% endif %}
{% endif %}

<!-- related content -->
{% if showRelatedNews %}
    {% comment %}
    {% with self.get_related_news as related_news %}
        {% if related_news %}
            found some
        {% endif %}
    {% endwith %}
    {% endcomment %}
    <div class="related-content-item">
        <a href="">
            <figure>
                <img src="http://instasrc.com/180x100/architecture" alt="" />
                <figcaption>A new building for Battersea</figcaption>
            </figure>
        </a>
        <a href="" class="index-page-link">News</a>
    </div>
    <div class="related-content-item">
        <a href="">
            <figure>
                <img src="http://instasrc.com/180x100/art" alt="" />
                <figcaption>The Eglu</figcaption>
            </figure>
        </a>
        <a href="" class="index-page-link">News</a>
    </div>
    <div class="related-content-item">
        <a href="">
            <figure>
                <img src="http://instasrc.com/180x100/art" alt="" />
                <figcaption>Talking interiors</figcaption>
            </figure>
        </a>
        <a href="" class="index-page-link">News</a>
    </div>
{% endif %}

{% if showRelatedStaff %}
    <div class="related-content-item">
        <a href="">
            <figure class="staff">
                <img src="http://instasrc.com/125x125/people" alt="" />
                <figcaption>Name<span>Surname</span></figcaption>
            </figure>
        </a>
    </div>
    <div class="related-content-item">
        <a href="">
            <figure class="staff">
                <img src="http://instasrc.com/125x125/people" alt="" />
                <figcaption>Name<span>Surname</span></figcaption>
            </figure>
        </a>
    </div>
{% endif %}

<!-- job adverts -->
{% if showJobs %}
    {% upcoming_jobs exclude=self %}
{% endif %}

{% if showRCANow %}
    {% rca_now_latest exclude=self %}
{% endif %}

<!-- tags -->
{% if showTags %}
    <div class="related expanded">
        <h2>Tags</h2>
        <div class="wrapper">
            <ul>
                <li><a href="">animation (12)</a></li>
                <li><a href="">glassmaking (5)</a></li>
                <li><a href="">fashion (2)</a></li>
                <li><a href="">design (1)</a></li>
                <li><a href="">architecture (1)</a></li>
                <li><a href="">illustration (1)</a></li>
            </ul>
        </div>
    </div>
{% endif %}