{% load rca_tags image_tags pageurl %}

<!-- Events -->
{% if showToday %}
    {% upcoming_events exclude=self %}
{% endif %}

<!-- adverts -->
{% if showAdverts %}
    <!-- adverts -->
    {% comment %} if there are no global adverts start the colour cycle for the adverts and hide the output {% endcomment %}
    {% if not global_adverts %}
        <span class="display:none">{% cycle 'advert-grey' 'advert-pale-blue' 'advert-green' 'advert-blue' 'advert-pink' as adcolors %}</span>
    {% endif %}
    {% if global_adverts %}
        {% for advert in global_adverts %}
            <div class="{% cycle 'advert-grey' 'advert-pale-blue' 'advert-green' 'advert-blue' 'advert-pink' as adcolors %}">
                {% if advert.url %}<a href="{{ advert.url }}">{% elif advert.page %}<a href="{{ advert.page }}">{% endif %}
                    <h2>{{ advert.text }}</h2>
                    {% if advert.plain_text %}{{ advert.plain_text }}{% endif %}
                {% if advert.url or advert.page %}</a>{% endif %}
            </div>
        {% endfor %}
    {% endif %}
    {% with self.manual_adverts.all as adverts %}
        {% if adverts %}
            {% for advert in adverts %}
                <div class="{% cycle adcolors %}">
                    {% if advert.ad.url %}<a href="{{ advert.ad.url }}">{% elif advert.ad.page %}<a href="{{ advert.ad.page }}">{% endif %}
                    <h2>{{ advert.ad.text }}</h2>
                    {% if advert.ad.plain_text %}{{ advert.ad.plain_text }}{% endif %}
                {% if advert.ad.url or advert.ad.page %}</a>{% endif %}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!--<div class="apply">
        <a href="#">
            <h2>Apply to Study</h2>
            <p>at the Royal College of Art</p>
        </a>
    </div>-->
{% endif %}

<!--open days-->
{% if showOpenDays %}
    <div class="open-days">
        <a href="#">
            <h2>Open Days</h2>
        </a>
    </div>
{% endif %}

<!-- Related links -->
{% if showRelatedLinks %}
    {% sidebar_links calling_page=self %}
{% endif %}

<!-- related content -->
{% if showRelatedNews %}
    {% with self.get_related_news as related_news %}
        {% if related_news %}
            {% for news_item in related_news %}
                <div class="related-content-item">
                    <a href="{% pageurl news_item %}">
                        <figure>
                            {% if news_item.feed_image %}{% image news_item.feed_image width-180 %}{% endif %}
                            <figcaption>{{news_item.title }}</figcaption>
                        </figure>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endif %}

{% if showRelatedStudents %}
    {% students_related programme=self.programme exclude=self %}
{% endif %}

{% if showRandomStaff %}
    {% staff_random exclude=self %}
{% endif %}

<!-- job adverts -->
{% if showJobs %}
    {% upcoming_jobs exclude=self %}
{% endif %}

{% if showRCANow %}
    {% rca_now_latest exclude=self %}
{% endif %}

<!-- tags -->
{% if showTags %}
    <div class="related expanded">
        <h2>Tags</h2>
        <div class="wrapper">
            <ul>
                <li><a href="">animation (12)</a></li>
                <li><a href="">glassmaking (5)</a></li>
                <li><a href="">fashion (2)</a></li>
                <li><a href="">design (1)</a></li>
                <li><a href="">architecture (1)</a></li>
                <li><a href="">illustration (1)</a></li>
            </ul>
        </div>
    </div>
{% endif %}