{% load image_tags pageurl %}

{% for news_item in self.get_related_news %}
    <div class="related-content-item">
        <a href="{% pageurl news_item %}">
            <figure>
                {% if news_item.feed_image %}
                    {% image news_item.feed_image width-180 %}
                {% else %}
                    {% with news_item.carousel_items.all as carousel_items %}
                        {% with carousel_items|first as carousel_item %}
                            {% if carousel_item.image %}
                                {% image carousel_item.image fill-180x101 %}
                            {% else %}
                                {# TODO: delete these placeholder images from git once proper image exists #}
                                <img src="/static/rca/images/rca-placeholder.jpg" width="180">
                            {% endif %}
                        {% endwith %}
                    {% endwith %}
                {% endif %}
                <figcaption>{{news_item.title }}</figcaption>
            </figure>
        </a>
    </div>
{% endfor %}
