{% extends "verdantadmin/base.html" %}
{% load image_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}verdantadmin/css/vendor/jquery.tagit.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}verdantadmin/css/vendor/tagit.ui-zendesk.css">
{% endblock %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}verdantadmin/js/vendor/tag-it.js"></script>
    <script>
        $(function() {
            $('#id_tags').tagit();
        });
    </script>
{% endblock %}

{% block content %}
    <header>
        <h1>Add image</h1>
    </header>

    <form action="{% url 'verdantimages_add_image' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
{% endblock %}
