{% extends "verdantadmin/base.html" %}
{% load image_tags %}

{% block extra_css %}
    {% include "verdantadmin/shared/tag_field_css.html" %}
{% endblock %}

{% block extra_js %}
    {% include "verdantadmin/shared/tag_field_js.html" %}
{% endblock %}

{% block content %}
    <header>
        <h1>Editing: <span>{{ image.title }}</span></h1>
    </header>
    <div class="row row-flush nice-padding">
        <div class="col6">
            {% image image max-800x600 %}
        </div>
        <div class="col6">
            <h2>Image details</h2>
            <form action="{% url 'verdantimages_edit_image' image.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <ul class="fields">
                    {% for field in form %}

                        {% if field.name == 'file' %}
                            {% include "verdantimages/images/_file_field.html" %}
                        {% else %}
                            {% include "verdantadmin/shared/field_as_li.html" %}
                        {% endif %}

                    {% endfor %}
                    <li><input type="submit" value="Save" /></li>
                </ul>
            </form>
            <a href="{% url 'verdantimages_delete_image' image.id %}">Delete image</a>
        </div>
    </div>
{% endblock %}
