{% extends "verdantadmin/base.html" %}
{% load image_tags ellipsistrim %}


{% block extra_js %}
    <script>
        $('#id_q').on('input', function() {
            clearTimeout($.data(this, 'timer'));
            var wait = setTimeout(search, 200);
            $(this).data('timer', wait);
        });
        $('a.suggested-tag').click(function() {
            $('#id_q').val($(this).text());
            search();
            return false;
        })
        function search () {
            $.ajax({
                url: "{%url 'verdantimages_index' %}",
                data: {q: $('#id_q').val()},
                success: function(data, status) {
                    $('#image-results').html(data);
                },
            });
        };
    </script>
{% endblock %}

{% block content %}
    <header>
        <div class="row row-flush">
            <div class="left col9">
                <h1>Images</h1>
            </div>
            <div class="right col3">
                <a href="{% url 'verdantimages_add_image' %}" class="button icon icon-plus-inverse">Add an image</a>
            </div>
        </div>
    </header>

    <form class="search-bar full-width" action="{% url 'verdantimages_index' %}" method="get">
        <ul class="fields">
            {% for field in form %}
                {% include "verdantadmin/shared/field_as_li.html" with field=field %}
            {% endfor %}
            <li class="submit"><input type="submit" value="Search" /></li>
            {% if popular_tags %}
                <li class="popular-tags">
                    <h3>Popular tags</h3>
                    {% for tag in popular_tags %}
                        <a class="suggested-tag" href="{% url 'verdantimages_search_image' %}?q={{ tag.name|urlencode }}">{{ tag.name }}</a>
                    {% endfor %}
                </li>
            {% endif %}
        </ul>
    </form>

    <div class="nice-padding">
        <div id="image-results">
            {% include "verdantimages/images/results.html" %}
        </div>
    </div>
{% endblock %}
