{% extends "verdantadmin/base.html" %}
{% block extra_css %}
    {% include "verdantimages/shared/tag_field_css.html" %}
{% endblock %}

{% block extra_js %}
    <script>
        $('#id_q').keyup(function() {
            clearTimeout($.data(this, 'timer'));
            var wait = setTimeout(search, 500);
            $(this).data('timer', wait);
        });
        function search () {
            $.ajax({
                url: "{%url 'verdantimages_search_image' %}",
                data: {q: "" + $('#id_q').val() + ""},
                success: function(data, status) {
                        $('.image-results').html(data);
                    },
                });
        };
    </script>
{% endblock %}

{% block content %}
    <header>
        <h1>Start typing tags</h1>
        <form class="" action="{% url 'verdantimages_search_image' %}" method="get">
            <ul class="fields">
                {% for field in form %}
                    {% include "verdantadmin/shared/field_as_li.html" with field=field %}
                {% endfor %}
                <li class="button"><input type="submit" value="Filter" /></li>
            </ul>
        </form>
        <a href="{% url 'verdantimages_add_image' %}" class="button icon add-teal">Add an image</a>
    </header>

    <div class="image-results">
    {% include "verdantimages/images/search-results.html" %}
    </div>

<h1>Or upload a new one:</h1>
<form class="image-upload" action="{% url 'verdantimages_chooser_upload' %}{% if will_select_format %}?select_format=true{% endif %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Upload">
</form>
{% endblock %}
