{% extends 'rca_show/includes/menus/base.html' %}
{% load show_tags %}

{% block jumplist %}
    <li class="jumplist{% if student %} active{% endif %}">
        <h2 class="toggle">Films by student</h2>
        <div class="selected toggle">{% if student %}{{ student }}{% endif %}</div>
        <ul class="options">
            {# assumption that animation is 1 of 1 programmes defined #}
            {% get_programme_students self.show_index programme as students %}
            {% for student in students %}
                <li>
                    <a href="{% show_subpage_url self.show_index 'student' school=student.school programme=student.programme slug=student.slug %}">
                        <span class="student">{{ student.title }}</span>
                        <span class="work">{{ student.show_work_title }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
    <li class="jumplist">
        <h2 class="toggle">Films by title</h2>
        <div class="selected toggle"></div>
        <ul class="options">
            {% for student in works %}
                <li>
                    <a href="{% show_subpage_url self.show_index 'student' school=student.school programme=student.programme slug=student.slug %}">
                        <span class="work">{{ student.show_work_title }}</span>
                        <span class="student">{{ student.title }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endblock %}
