{% extends 'rca_show/includes/menus/base.html' %}
{% load show_tags %}

{% block overview %}{% endblock %}

{% block jumplist %}
    <li class="jumplist">
        <h2 class="toggle">Students</h2>
        <div class="selected toggle"></div>
        <ul class="options">
            {% if self.show_index.get_programmes|length > 1 %}
                {% for programme in self.get_programmes %}
                    <li><a href="{% show_subpage_url self.show_index 'programme' programme=programme %}"><b>{% get_programme_display programme %}</b></a></li>
                    {% get_programme_students self.show_index programme as students %}
                    {% for student in students %}
                        <li><a href="{% show_subpage_url self.show_index 'student' school=student.school programme=student.programme slug=student.slug %}">{{ student.title }}</a></li>
                    {% endfor %}
                {% endfor %}
            {% else %}
                {% get_programme_students self.show_index programme as students %}
                {% for student in students %}
                    <li><a href="{% show_subpage_url self.show_index 'student' school=student.school programme=student.programme slug=student.slug %}">{{ student.title }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </li>
    {% for item in self.show_index.menu_items %}
        <li>
            <a href="{{ item.0 }}">{{ item.1 }}</a>
        </li>
    {% endfor %}
{% endblock %}
