{% extends "rca/editorial_page.html" %}

{% load image_tags %}

{% block pre_content %}
    {% image self.mugshot width-300 %}
{% endblock %}

{% block sidebar %}
    <h2>News stories by {{ self.title }}:</h2>
    <ul>
        {% for story in self.news_items.all %}
            <li><a href="{{ story.url }}">{{ story.title }}</a></li>
        {% endfor %}
    </ul>

    <p>in alphabetical order:</p>
    <ul>
        {% for page in news_items %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
