{% extends "rca/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/less" href="{% static "rca/css/showrca2014/core.less" %}" />
    <link rel="stylesheet" type="text/less" href="{% static "rca/css/showrca2014/desktop-small.less" %}" media="screen and (min-width:768px)" />
    <link rel="stylesheet" type="text/less" href="{% static "rca/css/showrca2014/desktop-regular.less" %}" media="screen and (min-width:1024px)" />
    <link rel="stylesheet" type="text/less" href="{% static "rca/css/showrca2014/desktop-large.less" %}"  media="screen and (min-width:1280px)" />

    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/less" href="{% static "rca/css/showrca2014/desktop-small.less" %}" />
        <link rel="stylesheet" type="text/less" href="{% static "rca/css/showrca2014/desktop-regular.less" %}" />
    <![endif]-->
{% endblock %}

{% block logo %}helo{% endblock %}
