{% load compress static wagtailimages_tags wagtailuserbar rca_tags wagtailsettings_tags wagtailcore_tags %}
{% get_settings %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_postfix %} | Royal College of Art{% endblock %}</title>
        <meta name="description" content="{% if self.social_text %}{{ self.social_text }}{% else %}Royal College of Art{% endif %}" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta http-equiv="cleartype" content="on" />

        <link rel="apple-touch-icon" sizes="180x180" href="{% static "rca/images/apple-touch-icon.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "rca/images/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "rca/images/favicon-16x16.png" %}">
        <link rel="manifest" href="{% static "rca/images/site.webmanifest" %}">
        <link rel="mask-icon" href="{% static "rca/images/safari-pinned-tab.svg" %}" color="#000000">
        <link rel="shortcut icon" href="{% static "rca/images/favicon.ico" %}">
        <meta name="msapplication-TileColor" content="#000000">
        <meta name="msapplication-config" content="{% static "rca/images/browserconfig.xml" %}">
        <meta name="theme-color" content="#000000">

        {% comment %}
            Set "noindex" if the site is not being served by a configured
            domain to prevent search engines crawling admin domains.
            This ignores ports for simplicity.
            It's also possible to make the website to be not indexable
            by setting SEO_NOINDEX to True.
        {% endcomment %}
        {% if SEO_NOINDEX %}
            <meta name="robots" content="noindex">
        {% endif %}


        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MJ4J2Q8');</script>
        <!-- End Google Tag Manager -->

        <!-- twitter cards -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{{ self.title }}">
        <meta name="twitter:description" content="{% if self.social_text %}{{ self.social_text }}{% else %}Royal College of Art{% endif %}">
        {% image self.social_image width-320 as social_img %}
        <meta name="twitter:image:src" content="http://{% if self.social_image %}{{ social_img.url }}{% else %}{{ request.site.hostname }}/static/rca/images/social.png{% endif %}">

        <!--facebook opengraph-->
        <meta property="fb:app_id" content="775982992428351" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ self.url }}" />
        <meta property="og:title" content="{{ self.title }}" />
        <meta property="og:image" content="http://{% if self.social_image %}{{ social_img.url }}{% else %}{{ request.site.hostname }}/static/rca/images/social.png{% endif %}" />
        <meta property="og:description" content="{% if self.social_text %}{{ self.social_text }}{% else %}Royal College of Art{% endif %}" />
        <meta property="og:site_name" content="Royal College of Art" />

        {% if SILVERPOP_BRANDEDDOMAINS %}
            <meta name="com.silverpop.brandeddomains" content="{{ SILVERPOP_BRANDEDDOMAINS }}" />
        {% endif %}

        {% block css %}{# Block defined for timing breakdowns in django debug toolbar - not expected to be overridden #}
            <link rel="stylesheet" href="//cloud.typography.com/7787252/679822/css/fonts.css" />
            <link rel="stylesheet" href="//cloud.webtype.com/css/2dc77ba2-6663-49b6-9e6c-aa009c06648b.css" />

            {% compress css %}
                <link rel="stylesheet" href="{% static "rca/css/vendor/normalize.css" %}" />
                <link rel="stylesheet" href="{% static "rca/css/vendor/jquery.bxslider.css" %}" />
                <link rel="stylesheet" type="text/css" href="{% static "student_profiles/css/vendor/jquery.datetimepicker.css" %}" />
                <link rel="stylesheet" type="text/less" href="{% static "rca/css/core.less" %}" />
                <link rel="stylesheet" type="text/less" href="{% static "rca/css/desktop-small.less" %}" media="screen and (min-width:768px)" />
                <link rel="stylesheet" type="text/less" href="{% static "rca/css/desktop-regular.less" %}" media="screen and (min-width:1024px)" />
                <link rel="stylesheet" type="text/less" href="{% static "rca/css/desktop-large.less" %}"  media="screen and (min-width:1280px)" />
            {% endcompress %}

            <!--[if lt IE 9]>
                {% compress css %}
                    <link rel="stylesheet" type="text/less" href="{% static "rca/css/desktop-small.less" %}" />
                    <link rel="stylesheet" type="text/less" href="{% static "rca/css/desktop-regular.less" %}" />
                {% endcompress %}
            <![endif]-->

            {% block extra_css %}{% endblock %}
        {% endblock %}

        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

        <!-- Hotjar Tracking Code for www.rca.ac.uk -->
        <script>
            (function (h, o, t, j, a, r) {
                h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
                h._hjSettings = { hjid: 986942, hjsv: 6 };
                a = o.getElementsByTagName('head')[0];
                r = o.createElement('script'); r.async = 1;
                r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
                a.appendChild(r);
            })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
        </script>

        {% block extra_js_head %}{% endblock %}

    </head>

    <body class="{% block body_class %}{% endblock %} app theme-dark">

        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJ4J2Q8" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <a href="#maincontent" class="hidden" tabindex="1">Skip to main content</a>

        {% wagtailuserbar %}

        {# ADD CAMPAIGNS TRACKERS https://projects.torchbox.com/projects/rca-django-cms-project/tickets/898 #}
        {% include "rca/includes/campaigns_trackers.html" %}

        {% include "rca/includes/sprites.html" %}
        {% include "rca/includes/modules/outdated-banner.html" %}

        <!--[if lt IE 9]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser which this site does not fully support. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- New site header include. -->
        <header class="app__header">
            {% include "rca/includes/header.html" %}
        </header>

        <div class="app__navigation" data-nav-container>
            <section class="header__menus">
                {% include "rca/includes/modules/navigation/primarynav.html" %}
            </section>
        </div>

        {% block enquiry_form_button %}{% endblock %}

        <div class="mobile-content-wrapper">

            <div class="page-overlay">
                <div id="loading-spinner"></div>
            </div>
            <div class="pjax-wrapper">
                <button type="button" class="pjax-close" id="pjax-close" aria-label="close">X</button>
                <div class="pjax-content"></div>
            </div>

            {% block hero %}{% endblock %}

            <div class="page-wrapper">

                <div class="page-content">
                    {% block logo %}{% endblock %}
                    {% block layout %}
                        <div class="inner" id="maincontent">
                            {% block top %}{% endblock %}
                            {% block content %}{% endblock %}
                        </div>
                    {% endblock %}
                </div>
                {% block aside %}
                    <aside>
                        {% block sidebar %}{% endblock %}
                    </aside>
                {% endblock %}
            </div>

            {% block extra_footer %}{% endblock %}

        {% block footer_inclusion %}
            {% include "rca/includes/footer.html" %}
        {% endblock %}

        </div>

        {% block bottom %}{% endblock %}

        {% block js %}
            {% get_debug as DEBUG %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script src="//a.vimeocdn.com/js/froogaloop2.min.js"></script>
            <script src="https://js.stripe.com/v2/"></script>

            {% if SILVERPOP_ID %}
                <script src="https://www.sc.pages05.net/lp/static/js/iMAWebCookie.js?{{ SILVERPOP_ID }}&h=www.pages05.net" type="text/javascript"></script>
            {% endif %}

            <script type="text/javascript">
                var domainroot = "{{ request.site.hostname }}";
            </script>

            {% use_lightbox %}

            {% compress js %}
                <script src="{% static "rca/js/vendor/imagesloaded.pkgd.min.js" %}"></script>
                <script src="{% static "rca/js/vendor/packery.pkgd.min.js" %}"></script>
                <script src="{% static "rca/js/vendor/harvey.js" %}"></script>
                <script src="{% static "rca/js/vendor/jquery.dlmenu.js" %}"></script>
                <script src="{% static "rca/js/vendor/jquery.hoverintent.min.js" %}"></script>
                <script src="{% static "rca/js/vendor/fluidvids.js" %}"></script>
                <script src="{% static "rca/js/vendor/jquery.bxslider.min.js" %}"></script>
                <script src="{% static "student_profiles/js/vendor/jquery.datetimepicker.js" %}"></script>
                <script src="{% static "rca/js/vendor/bootstrap-affix.js" %}"></script>
                <script src="{% static "rca/js/vendor/bootstrap-tab.js" %}"></script>
                <script src="{% static "rca/js/vendor/jquery-ui-1.10.3.autocomplete-only.min.js" %}"></script>
                <script src="{% static "rca/js/vendor/jquery.customSelect.js" %}"></script>
                <script src="{% static "rca/js/vendor/jquery.once.min.js" %}"></script>
                <script src="{% static "rca/js/vendor/history.js/scripts/bundled/html4+html5/jquery.history.js" %}"></script>
                <script src="{% static "rca/js/vendor/jquery.pjax.js" %}"></script>
                <script src="{% static "rca/js/vendor/froogaloop2.min.js" %}"></script>
                <script src="{% static "rca/js/jquery.toggle.js" %}"></script>
                <script src="{% static "rca/js/carousel-news.js" %}"></script>
                <script src="{% static "rca/js/tweets.js" %}"></script>
                <script src="{% static "rca/js/site.js" %}"></script>
                <script src="{% static "rca/js/nav.js" %}"></script>
                <script src="{% static "rca/js/populate-primary-nav.js" %}"></script>
                <script src="{% static "rca/js/populate-audience-nav.js" %}"></script>
                <script src="{% static "rca/js/populate-footer-nav.js" %}"></script>
                <script src="{% static "rca/js/populate-footer-links.js" %}"></script>

                {# ADROLL https://projects.torchbox.com/projects/rca-django-cms-project/tickets/846 #}
                <script type="text/javascript">
                    adroll_adv_id = "JW4C3E32PVGTNHWCCSW7MQ";
                    adroll_pix_id = "5WH5HK36CFBYVKZZQVGY4H";
                    /* OPTIONAL: provide email to improve user identification */
                    /* adroll_email = "username@example.com"; */
                    (function () {
                    var _onload = function(){
                    if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
                    if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
                    var scr = document.createElement("script");
                    var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                    scr.setAttribute('async', 'true');
                    scr.type = "text/javascript";
                    scr.src = host + "/j/roundtrip.js";
                    ((document.getElementsByTagName('head') || [null])[0] ||
                    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
                    };
                    if (window.addEventListener) {window.addEventListener('load', _onload, false);}
                    else {window.attachEvent('onload', _onload)}
                    }());
                </script>

                {% if DEBUG %}
                    <script type="text/javascript">
                        //set global var for media_url so that it can be used by the script being called
                        var media_url = document.location.origin + "{{ MEDIA_URL }}";
                        // convenience feature for js switching during development
                        var debug = true;
                    </script>
                    <script src="{% static "rca/js/local_images.js" %}"></script>
                {% endif %}
            {% endcompress %}

            <script type="text/javascript">
                {% if not request.is_ajax %}
                    // onDocumentReady wraps all the startup code in site.js
                    jQuery(onDocumentReady);
                {% endif %}
            </script>

            <script src="//www.rca.ac.uk/static2/js/main.js"></script>

            {% block show_js %}{% endblock %}
            {% block extra_js %}{% endblock %}
        {% endblock %}

        {% block enquiry_form_sidebar %}
            {% if settings.rca.EnquiryFormSettings.form_page %}
                {% enquiry_form %}
            {% endif %}
        {% endblock %}
        {{ navigation_via_api_primary|json_script:"navigation_via_api_primary" }}
        {{ navigation_via_api_footer_links|json_script:"navigation_via_api_footer_links" }}
        {{ navigation_via_api_quick_links|json_script:"navigation_via_api_quick_links" }}
        {{ navigation_via_api_footer_navigation|json_script:"navigation_via_api_footer_navigation" }}
    </body>
</html>
