{% extends "rca/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <h1 class="h1 major"><span class="dark-grey">{{ self.title }}</span></h1>

    <section class="row">

        <div class="featured-content">

        {% with general_enquiries=page.general_enquiries.all %}

            {% if general_enquiries %}
                <div class="featured-content__contacts">

                    <h2>General Enquiries</h2>

                    {% for contact in general_enquiries %}

                        {# if a contact snippet linked, display it #}
                        {% if contact.contact_snippet %}
                            <div class="featured-content__contacts__item">

                                <p>
                                    {% if contact.contact_snippet.contact_title %}
                                        <h3>{{ contact.contact_snippet.contact_title }}</h3>
                                    {% endif %}
                                    {% if contact.contact_snippet.contact_address %}
                                        {{ contact.contact_snippet.contact_address|linebreaksbr }}
                                    {% endif %}
                                </p>
                                {% if contact.contact_snippet.contact_link and contact.contact_snippets.contact_link_text %}
                                    <p><a href="{{ contact.contact_link }}">{{ contact.contact_snippet.contact_link_text }}</a></p>
                                {% endif %}

                                {% with contact.contact_snippet.contact_phone.all as phone_nos %}
                                    {% if phone_nos %}
                                        {% for phone_no in phone_nos %}
                                            <b>{{ phone_no.phone_number }}</b><br />
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                {% with contact.contact_snippet.contact_email.all as emails %}
                                    {% if emails %}
                                        {% for email in emails %}
                                            <a href="mailto:{{ email.email_address }}">{{ email.email_address }}</a><br />
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}

                            </div>
                        {# if th contact snippet is not linked, display text field #}
                        {% else %}
                            <div class="featured-content__contacts__item">
                                {{ contact.text|richtext }}
                            </div>
                        {% endif %}

                    {% endfor %}

                </div> <!-- /featured-contacts__contacts -->
            {% endif %}

                <div class="featured-content__action-container">

            {% comment %}
            To display this button,
            you need to add a from page in the enquiry form settings menu
            {% endcomment %}
            {% if settings.rca.EnquiryFormSettings.form_page %}
                <div class="featured-content__enquire">
                    <h2>Enquire to Study</h2>
                    <button class="js-enquiry-form-trigger">
                        Make an enquiry
                    </button>
                </div> <!-- /featured-content__enquire -->
            {% endif %}

            {% comment %}
            To display this select box,
            you need to add at least one programme contact
            and contact form page.
            {% endcomment %}
            {% with programme_contacts=self.programme_contacts.all %}
                {% if self.contact_form_page or programme_contacts %}
                    <div class="featured-content__programme-contact">
                        <h2>Programme Contacts</h2>
                        <select class="js-contact-us-form-trigger">
                            <option value="" disabled selected>Browse programmes</option>

                            {% for programme_contact in programme_contacts %}
                                {% if programme_contact.programme and not programme_contact.programme.disabled%}

                                    <option value="{{ programme_contact.pk }}">
                                        {{ programme_contact.programme.display_name }}
                                    </option>

                                {% endif %}
                            {% endfor %}

                        </select>
                    </div> <!-- /featured-content__programme-contact -->
                {% endif %}
            {% endwith %}

        </div> <!-- /featured-content__action-container -->

        {% endwith %}

        </div> <!-- /featured-content -->

        <section class="body-text">
            {{ self.body|richtext }}
        </section>

        <section class="four map-column">
            {% with links=self.middle_column_links.all %}
                {% if links or self.middle_column_map %}
                    <div>

                        {% if self.middle_column_map %}
                            <iframe src="{{ self.middle_column_map }}" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                        {% endif %}

                        {% if links %}
                            <ul class="map-column__links">
                            {% for link in links %}
                                {% if link.link_page %}
                                    <li class="map-column__links__item">
                                        <a class="map-column__links__link" href="{% pageurl link.link_page %}">{{ link.link_page.title }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ul> <!-- /map-column__links -->
                        {% endif %}

                    </div>
                {% endif %}
            {% endwith %}
            <div class="single borders">
                {% include "rca/includes/modules/share-button.html" %}
            </div>
        </section>
    </section>
    {% include "rca/includes/modules/twitter-feed.html" %}
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" collapseToday=self.collapse_upcoming_events showRelatedLinks="true" showAdverts="true" %}
{% endblock %}
