{% extends "rca/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}type-standard{% endblock %}

{% block content %}
    <h1 class="h1">{{ self.title }}</h1>
    <section class="row">
        {% with general_enquiries=page.general_enquiries.all %}

            {# Needs styling #}
            {% if general_enquiries %}
                <div>

                    {% for contact in general_enquiries %}

                        {# if a contact snippet linked, display it #}
                        {% if contact.contact_snippet %}
                            <div style="border: 1px dotted #783cac;">

                                <p>
                                    {% if contact.contact_snippet.contact_title %}
                                        <strong>{{ contact.contact_snippet.contact_title }}</strong><br />
                                    {% endif %}
                                    {% if contact.contact_snippet.contact_address %}
                                        {{ contact.contact_snippet.contact_address|linebreaksbr }}
                                    {% endif %}
                                </p>
                                {% if contact.contact_snippet.contact_link and contact.contact_snippets.contact_link_text %}
                                    <p><a href="{{ contact.contact_link }}">{{ contact.contact_snippet.contact_link_text }}</a></p>
                                {% endif %}

                                {% with contact.contact_snippet.contact_phone.all as phone_nos %}
                                    {% if phone_nos %}
                                        {% for phone_no in phone_nos %}
                                            <b>{{ phone_no.phone_number }}</b><br />
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                {% with contact.contact_snippet.contact_email.all as emails %}
                                    {% if emails %}
                                        {% for email in emails %}
                                            <a href="mailto:{{ email.email_address }}">{{ email.email_address }}</a><br />
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}

                            </div>
                        {# if th contact snippet is not linked, display text field #}
                        {% else %}
                            <div style="border: 1px dotted #00AEEF;">
                                {{ contact.text|richtext }}
                            </div>
                        {% endif %}

                    {% endfor %}

                </div>
            {% endif %}

            {% comment %}
            Needs styling. To display this button,
            you need to add a from page in the enquiry form settings menu
            {% endcomment %}
            {% if settings.rca.EnquiryFormSettings.form_page %}
                <div>
                    <button class="js-enquiry-form-trigger">
                        Make an enquire
                    </button>
                </div>
            {% endif %}

            {% comment %}
            Needs styling. To display this select box,
            you need to add at least one programme contact
            {% endcomment %}
            {% with programme_contacts=self.programme_contacts.all %}
                {% if programme_contacts %}
                    <div>
                        <select>
                            <option value="" disabled selected>Browse programmes</option>

                            {% for programme_contact in programme_contacts %}
                                {% if programme_contact.programme and not programme_contact.programme.disabled%}

                                    <option value="{{ programme_contact.programme.pk }}">
                                        {{ programme_contact.programme.display_name }}
                                    </option>

                                {% endif %}
                            {% endfor %}

                        </select>
                    </div>
                {% endif %}
            {% endwith %}

        {% endwith %}

        <section class="body-text">
            {{ self.body|richtext }}
        </section>

        <section class="four">
            {% with links=self.middle_column_links.all %}
                {% if links or self.middle_column_map %}
                    <div class="body-text middle-column-body-text">

                        {# Needs styling: should responsive at least #}
                        {% if self.middle_column_map %}
                            <iframe src="{{ self.middle_column_map }}" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                        {% endif %}

                        {# Needs styling #}
                        {% for link in links %}
                            <p>
                                <a href="{% pageurl link.link_page %}">{{ link.link_page.title }}</a>
                            </p>
                        {% endfor %}

                    </div>
                {% endif %}
            {% endwith %}
            <div class="single borders">
                {% include "rca/includes/modules/share-button.html" %}
            </div>
        </section>
    </section>
    {% include "rca/includes/modules/twitter-feed.html" %}
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" collapseToday=self.collapse_upcoming_events showRelatedLinks="true" showAdverts="true" %}
{% endblock %}
