{% extends "rca/base.html" %}
{% load compress rca_tags rich_text image_tags %}

{% block body_class %}type-donations{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        // Stripe.js is includded in base.html
        Stripe.setPublishableKey('{{ STRIPE_PUBLISHABLE_KEY }}');
    </script>
    {# TODO: what's with these sources that don't use {% static %}? #}
    <script type="text/javascript" src="/static/donations/js/jquery.payment.js"></script>
    <script type="text/javascript" src="/static/donations/js/donation.js"></script>
{% endblock extra_js %}

{% block content %}
    <h1 class="h1">{{ self.title }}</h1>

    {% include "rca/includes/modules/strapline.html" %}
    {% include "rca/includes/modules/carousel.html" %}

    <section class="row">

        {% include "rca/includes/modules/body-text.html" with showIntro="true" showReusableText="true" body=self.body %}

        <section class="body-text">
            <form action="" method="POST" id="payment-form">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="messages error">
                    <ul class="errorlist"></ul>
                </div>

                <fieldset>
                    <legend>Your donation</legend>
                    <ul>
                        {% with form.amounts as field %}{% include "rca/includes/field_as_li.html" %}{% endwith %}
                        {% with form.amount as field %}{% include "rca/includes/field_as_li.html" %}{% endwith %}
                        
                        {% with form.donation_for as field %}{% include "rca/includes/field_as_li.html" %}{% endwith %}
                        {% with form.number as field %}{% include "rca/includes/field_as_li.html" %}{% endwith %}
                        {% with form.expiration as field %}{% include "rca/includes/field_as_li.html" %}{% endwith %}
                        {% with form.cvc as field %}{% include "rca/includes/field_as_li.html" %}{% endwith %}
                        {% with form.is_gift_aid as field %}{% include "rca/includes/field_as_li.html" with field_title="Gift Aid" %}{% endwith %}
                        {% with form.not_included_in_supporters_list as field %}{% include "rca/includes/field_as_li.html" %}{% endwith %}
                    </ul>
                </fieldset>

                <fieldset>
                    <legend>Billing details</legend>
                    <ul>
                        {% with form.title as field %}{% include "rca/includes/field_as_li.html" %}{% endwith %}
                        {% with form.first_name as field %}{% include "rca/includes/field_as_li.html" %}{% endwith %}
                        {% with form.last_name as field %}{% include "rca/includes/field_as_li.html" %}{% endwith %}
                        {% with form.address_line1 as field %}{% include "rca/includes/field_as_li.html" %}{% endwith %}
                        {% with form.address_line2 as field %}{% include "rca/includes/field_as_li.html" %}{% endwith %}
                        {% with form.address_city as field %}{% include "rca/includes/field_as_li.html" %}{% endwith %}
                        {% with form.address_state as field %}{% include "rca/includes/field_as_li.html" %}{% endwith %}
                        {% with form.address_zip as field %}{% include "rca/includes/field_as_li.html" %}{% endwith %}
                        {% with form.address_country as field %}{% include "rca/includes/field_as_li.html" %}{% endwith %}
                        {% with form.phone as field %}{% include "rca/includes/field_as_li.html" %}{% endwith %}
                    </ul>
                </fieldset>

                <fieldset>
                    <legend>A little more about you</legend>
                    <ul>
                        {% with form.email as field %}{% include "rca/includes/field_as_li.html" %}{% endwith %}
                        {% with form.affiliation as field %}{% include "rca/includes/field_as_li.html" %}{% endwith %}
                        {% with form.class_year as field %}{% include "rca/includes/field_as_li.html" %}{% endwith %}
                    </ul>
                </fieldset>

                <div class="hidden-field">
                    {% with form.stripe_token as field %}{% include "rca/includes/field_as_li.html" %}{% endwith %}
                </div>

                {% csrf_token %}

                <h3>Data Protection</h3>

                <p>Information provided by you on this form will be used by the Royal College of Art for the purpose of correctly recording and acknowledging your gift. Personal information contained in the RCA’s Development Office records is used only for College-related business.</p>

                <p>Please click here for the College’s full <a href="/more/contact-us/about-this-website/privacy-cookies/">Privacy Policy</a> or contact <a href="mailto:development@rca.ac.uk">development@rca.ac.uk</a>.</p>

                <input type="submit" value="Donate now" /><div class="spinner">&nbsp;</div>

                <p>Thank you for supporting the RCA!</p>
            </form>
        </section>


        <section class="four">
            {% if self.middle_column_body %}
                <div class="body-text middle-column-body-text">
                    {{ self.middle_column_body|richtext }}
                </div>
            {% endif %}
            {% include "rca/includes/modules/downloads.html" %}
            {% include "rca/includes/modules/quotation.html" %}
            {% with self.images.all as images %}
                {% if images %}
                    {% for image in images %}
                        <figure>
                            <div class="image">{% image image.image width-400 %}</div>
                            <figcaption class="a4">{{ image.image.caption_html }}</figcaption>
                        </figure>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="single borders">
                {% include "rca/includes/modules/share-button.html" %}
            </div>
        </section>
    </section>
    {% include "rca/includes/modules/twitter-feed.html" %}
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" showRelatedLinks="true" showAdverts="true" %}
{% endblock %}