{% extends "rca/base.html" %}
{% load rca_tags rich_text pageurl %}


{% block body_class %}
    type-events-index
{% endblock %}

{% block content %}

	{% include "rca/includes/modules/h1-major.html" %}

	{% if self.intro %}
		<div class="content bc3">{{ self.intro|richtext }}</div>
	{% endif %}

	<form id="programme-listing-filter" action="{% pageurl self %}" method="GET">
		<fieldset>
			<legend>School</legend>
			{% for key, value in global_schools %} 
			  	<input type="radio" name="school" value="{{ key }}"><label for="{{ key }}">{{ value }}</label>
			{% endfor %}
		</fieldset>
		<fieldset>
			<legend>Programme</legend>
			{% for key, value in global_programmes %} 
			  	<input type="radio" name="programme" value="{{ key }}"><label for="{{ key }}">{{ value }}</label>
			{% endfor %}
		</fieldset>
		<fieldset>
			<legend>Location</legend>
			{% for key, value in global_locations %} 
			  	<input type="radio" name="location" value="{{ key }}"><label for="{{ key }}">{{ value }}</label>
			{% endfor %}
		</fieldset>
		<label for="location_other">other location:</label><input type="text" name="location_other">
		<fieldset>
			<legend>Area</legend>
			{% for key, value in global_areas %} 
			  	<input type="radio" name="area" value="{{ key }}"><label for="{{ key }}">{{ value }}</label>
			{% endfor %}
		</fieldset>
		<fieldset>
			<legend>Audience</legend>
			{% for key, value in global_audiences %} 
			  	<input type="radio" name="audience" value="{{ key }}"><label for="{{ key }}">{{ value }}</label>
			{% endfor %}
		</fieldset>
		<fieldset>
			<legend>Upcoming?</legend>
			<input type="radio" name="past" value="upcoming" selected="selected"><label for="past">past</label>
			<input type="radio" name="past" value="past"><label for="past">past</label>
		</fieldset>
		<input type="submit">
	</form>
    
    <div id="listing">
    	{% include "rca/includes/events_listing.html" %}
	</div>

    {% include "rca/includes/modules/twitter-feed.html" %}
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" showRelatedLinks="true" %}
{% endblock %}


{% block extra_js %}
	<script src="/static/rca/js/events-listing.js"></script>
{% endblock %}

<!-- To dos
	- listing image not feature image
	- ads
	- js when selecting each radio button
	- styling of filters
	- values to be set on radio buttons based on filters
-->