{% extends "rca/base.html" %}
{% load rca_tags wagtailcore_tags %}

{% block body_class %}type-events-index{% endblock %}

{% block content %}

	{% include "rca/includes/modules/h1-major.html" %}

	{% include "rca/includes/modules/intro-large.html" %}

	{% if self.body %}
        <section class='row'>
            {% include "rca/includes/modules/body-text.html" with body=self.body %}
        </section>
    {% endif %}

	<section class="filters six-filters row">
	    <form id="filters" action="{% pageurl self %}" method="GET">
	        <ul>
	        	<li class="filter">
	                <label for="school">School</label>
	                <select id="school" name="school">
	                    <option value="">All schools</option>
	                    {% for key, value in global_schools %}
	                    	<option value="{{ key }}" {% if request.GET.school == key %}selected="selected"{% endif %}>{{ value }}</option>
						{% endfor %}
	                </select>
	            </li>
				<li class="filter three-cols">
	                <label for="programme">Programme</label>
	                <select id="programme" name="programme">
	                    <option value="">All programmes</option>
	                    {% for key, value in global_programmes %}
	                    	<option value="{{ key }}" {% if request.GET.programme == key %}selected="selected"{% endif %}>{{ value }}</option>
						{% endfor %}
	                </select>
	            </li>
	            <li class="filter">
	            	<label for="location">Location</label>
                	<select id="location" name="location">
	                    <option value="">All locations</option>
	                    {% for key, value in global_locations %}
	                    	<option value="{{ key }}" {% if request.GET.location == key %}selected="selected"{% endif %}>{% if key == 'other' %}Other location{% else %}{{ value }}{% endif %}</option>
						{% endfor %}
					</select>
	            </li>
				<li class="filter">
	                <label for="area">Area</label>
	                <select id="area" name="area">
	                    <option value="">All areas</option>
	                    {% for key, value in global_areas %}
	                    	<option value="{{ key }}" {% if request.GET.area == key %}selected="selected"{% endif %}>{{ value }}</option>
						{% endfor %}
	                </select>
	            </li>
	            <li class="filter">
	                <label for="audience">Audience</label>
	                <select id="audience" name="audience">
	                    <option value="">All audiences</option>
	                    {% for key, value in global_audiences %}
	                    	<option value="{{ key }}" {% if request.GET.audience == key %}selected="selected"{% endif %}>{{ value }}</option>
						{% endfor %}
	                </select>
	            </li>
	            <li class="filter">
	                <label for="period">Upcoming or past</label>
	                <select id="period" name="period">
	                    <option value="upcoming" {% if request.GET.period == 'upcoming' %}selected="selected"{% endif %}>Upcoming events</option>
	                    <option value="past" {% if request.GET.period == 'past' %}selected="selected"{% endif %}>Past events</option>
	                </select>
	            </li>
				<input type="submit" />
			</ul>
		</form>
	</section>

    <div id="listing">
    	{% include "rca/includes/events_listing.html" %}
	</div>

    {% include "rca/includes/modules/twitter-feed.html" %}
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" showAdverts="true" showRelatedLinks="true" %}
{% endblock %}


{% block extra_js %}
	<script type="text/javascript">
		//global var for current_page set here so that it can be used by the script being called
		var current_page = "{{ global_events_index_url }}";

		var filters = {{ filters|safe }};
	</script>
	<script src="/static/rca/js/filters.js"></script>
{% endblock %}

<!-- TODOs
	- filter of programme by school (or other filtering to be discussed)
-->