{% extends "rca/base.html" %}
{% load rca_tags wagtailcore_tags %}

{% block body_class %}type-innovationrca-index{% endblock %}

{% block content %}

  <h1 class="h1 major">{{ self.title }}</h1>

  {% include "rca/includes/modules/intro-large.html" %}

  <section class="filters two-filters row">
      <form id="filters" action="{% pageurl self %}" method="GET">
          <ul>
              <li class="filter">
                  <label for="project_type">Type of project</label>
                  <select id="project_type" name="project_type">
                      <option value="">All project types</option>
                      {% for key, value in global_innovationrca_project_types %}
                        <option value="{{ key }}" {% if request.GET.project_type == key %}selected="selected"{% endif %}>{{ value }}</option>
                      {% endfor %}
                  </select>
              </li>
            <li class="filter">
                  <label for="current_past">Current / Past</label>
                  <select id="current_past" name="current_past">
                      <option value="both" {% if request.GET.current_past == 'both' %}selected="selected"{% endif %}>Current / Past</option>
                      <option value="current" {% if request.GET.current_past == 'current' or not request.GET.current_past %}selected="selected"{% endif %}>Current</option> {# show current items by default #}
                      <option value="past" {% if request.GET.current_past == 'past' %}selected="selected"{% endif %}>Past</option>
                  </select>
              </li>
          </ul>
          <input type="submit" />
      </form>
  </section>

  <div id="listing">
      {% include "rca/includes/innovation_rca_listing.html" %}
  </div>

  {% include "rca/includes/modules/twitter-feed.html" %}
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" showAdverts="true" %}
{% endblock %}


{% block extra_js %}
  <script type="text/javascript">
    //global var for current_page set here so that it can be used by the script being called
    var current_page = "{% pageurl self %}";
  </script>
  <script src="/static/rca/js/filters.js"></script>
{% endblock %}

<!-- TODO:
- filter of programmes when school is selected (or other filtering to be discussed)
 -->