{% extends "rca/base.html" %}
{% load rca_tags rich_text %}

{% block body_class %}
    type-job
{% endblock %}

{% block content %}

	<h1 class="h1">{{ self.title }}</h1>

	<ul class="row">
		<li class="three">
			<section class="job-summary">
				<h3 class="a2">Closing date</h3>
				<p>{{ self.closing_date|date:"j F Y" }}</p>

				{% if self.interview_date %}
					<h3 class="a2">Interview date</h3>
					<p>{{ self.interview_date|date:"j F Y" }}</p>
				{% endif %}

				{% if self.school %}
					<h3 class="a2">School</h3>
					<p>{{ self.get_school_display }}</p>
				{% endif %}

				{% if self.programme %}
					<h3 class="a2">Programme</h3>
					<p>{{ self.get_programme_display }}</p>
				{% endif %}

				{% if self.other_department %}
					<h3 class="a2">Department</h3>
					<p>{{ self.other_department }}</p>
				{% endif %}

				{% if self.responsible_to %}
					<h3 class="a2">Responsible to</h3>
					<p>{{ self.responsible_to }}</p>
				{% endif %}

				{% if self.required_hours %}
					<h3 class="a2">Required hours</h3>
					<p>{{ self.required_hours }}</p>
				{% endif %}

				{% if self.campus %}
					<h3 class="a2">Campus</h3>
					<p>{{ self.get_campus_display }}</p>
				{% endif %}

				{% if self.salary %}
					<h3 class="a2">Salary</h3>
					<p>{{ self.salary }}</p>
				{% endif %}

				{% if self.ref_number %}
					<h3 class="a2">Ref no</h3>
					<p>{{ self.ref_number }}</p>
				{% endif %}

				{% if self.grade %}
					<h3 class="a2">Grade</h3>
					<p>{{ self.grade }}</p>
				{% endif %}

				<div class="row">
					<div class="single borders">
		                {% include "rca/includes/modules/share-button.html" %}
		            </div>
				</div>

			</section>
		</li>
		<li class="nine">
			<section class="job-details">
				<section class="module job-description">
					<ul class="row">
						<li class="col-8">
							<h2 class="module-title">Job Description</h2>
							<div class="body-text-style">
								{{ self.description|richtext }}
							</div>
							{% if self.download_info %}
								<ul class="button-bar">
					            	<li><a href="{{ self.download_info.url }}" class="button icon icon-download">Download information pack</a></li>
					        	</ul>
							{% endif %}
						</li>
					</ul>
				</section>

				<section class="module">
					<ul class="row">
						<li class="col-8">
							<h2 class="module-title">Application and equal opportunities monitoring form</h2>
							<div class="body-text-style">
								<p>Please use the links below to download the Application Form and Equal Opportunities Monitoring Form.</p>
								
								<p>Please note it is vital that all sections of the application form are completed. CVs cannot be accepted as a substitute for any section.</p>

								<p>The ‘Additional Information’ section is particularly important to the selection process; you should use this to outline the skills, knowledge and experience that you have that relates specifically to the job description and person specification for the post. You may continue sections on separate sheets if necessary.</p>

								<p>If you are disabled and require help completing your application form, or if you will require help or special facilities should you be short-listed for interview, please telephone the Personnel Assistant on +44 (0)20 7590 4148 or email <a href="mailto:personnel@rca.ac.uk">personnel@rca.ac.uk</a>.</p>

								{% job_documents %}
								
							</div>

						</li>
					</ul>
				</section>

				<section class="module contact">
					<h2 class="module-title">Personnel contact</h2>
					<ul class="row">
						<li class="col col-1">
							<p>
								Royal College of Art<br />
								Kensington Gore<br />
								London<br />
								SW7 2EU<br />
							</p>
						</li>
						<li class="col col-2">
							<p>
								Tel: +44 (0)20 7590 4138 (24-hour answerphone)<br />
								<a href="mailto:personnel@rca.ac.uk">personnel@rca.ac.uk</a>
							</p>
						</li>
					</ul>
				</section>
			</section>
		</li>
	</ul>

	{% include "rca/includes/modules/twitter-feed.html" %}

{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showJobs="true" %}
{% endblock %}