{% extends "rca/base.html" %}
{% load rca_tags rich_text %}

{% block body_class %}type-job{% endblock %}

{% block content %}

	<h1 class="h1">{{ self.title }}</h1>

	<ul class="row">
		<li class="three">
			<section class="job-summary">
				<h3 class="a2">Closing date</h3>
				<p>{{ self.closing_date|date:"j F Y" }}</p>

				{% if self.interview_date %}
					<h3 class="a2">Interview date</h3>
					<p>{{ self.interview_date|date:"j F Y" }}</p>
				{% endif %}

				{% if self.school %}
					<h3 class="a2">School</h3>
					<p>{{ self.get_school_display }}</p>
				{% endif %}

				{% if self.programme %}
					<h3 class="a2">Programme</h3>
					<p>{{ self.get_programme_display }}</p>
				{% endif %}

				{% if self.other_department %}
					<h3 class="a2">Department</h3>
					<p>{{ self.other_department }}</p>
				{% endif %}

				{% if self.responsible_to %}
					<h3 class="a2">Responsible to</h3>
					<p>{{ self.responsible_to }}</p>
				{% endif %}

				{% if self.required_hours %}
					<h3 class="a2">Required hours</h3>
					<p>{{ self.required_hours }}</p>
				{% endif %}

				{% if self.campus %}
					<h3 class="a2">Campus</h3>
					<p>{{ self.get_campus_display }}</p>
				{% endif %}

				{% if self.salary %}
					<h3 class="a2">Salary</h3>
					<p>{{ self.salary }}</p>
				{% endif %}

				{% if self.ref_number %}
					<h3 class="a2">Ref no</h3>
					<p>{{ self.ref_number }}</p>
				{% endif %}

				{% if self.grade %}
					<h3 class="a2">Grade</h3>
					<p>{{ self.grade }}</p>
				{% endif %}

				<div class="row">
					<div class="single borders">
		                {% include "rca/includes/modules/share-button.html" %}
		            </div>
				</div>

			</section>
		</li>
		<li class="nine">
			<section class="job-details">
				<section class="module job-description">
					<ul class="row">
						<li class="col-8">
							<h2 class="module-title">Job Description</h2>
							<div class="body-text-style">
								{{ self.description|richtext }}
							</div>
							{% if self.download_info %}
								<ul class="button-bar">
					            	<li><a href="{{ self.download_info.url }}" class="button icon icon-download">Download information pack</a></li>
					        	</ul>
							{% endif %}
						</li>
					</ul>
				</section>
				{% if self.reusable_text_snippets %}
					{% with self.reusable_text_snippets.all as text_snippets %}
							{% if text_snippets %}
							    {% for text_snippet in text_snippets %}
					<section class="module">
						<ul class="row">
							<li class="col-8">
								<h2 class="module-title">{{ text_snippet.reusable_text_snippet.name }}</h2>
									<div class='body-text-style'>
					        			{{ text_snippet.reusable_text_snippet.text|richtext }}
							    	</div>
								</li>
							</ul>
						</section>
				        		{% endfor %}
				        	{% endif %}
						{% endwith %}
					{% endif %}


				<section class="module contact">
					<h2 class="module-title">Personnel contact</h2>
					<ul class="row">
						<li class="col col-1">
							<p>
								Royal College of Art<br />
								Kensington Gore<br />
								London<br />
								SW7 2EU<br />
							</p>
						</li>
						<li class="col col-2">
							<p>
								Tel: <a href="tel:+442075904148">+44 (0)20 7590 4148</a><br />
								<a href="mailto:personnel@rca.ac.uk">personnel@rca.ac.uk</a>
							</p>
						</li>
					</ul>
				</section>
			</section>
		</li>
	</ul>

	{% include "rca/includes/modules/twitter-feed.html" %}

{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showJobs="true" %}
{% endblock %}