{% extends "rca/base.html" %}

{% block content %}

	<h1 class="h1">{{ self.title }}</h1>

	<ul class="row">
		<li class="three body-text-style">
			{% include modules/job-summary.html %}
			<section class="job-summary">
		<h3 class="a2">Closing date</h3>
		<p>17th May 2013</p>

		<h3 class="a2">Interview date</h3>
		<p>17th May 2013</p>

		<h3 class="a2">School</h3>
		<p>School of design</p>

		<h3 class="a2">Responsible to</h3>
		<p>GID Head of Programme</p>

		<h3 class="a2">Required hours</h3>
		<p>Full time</p>

		<h3 class="a2">Programme</h3>
		<p>The Global Innovation Design</p>

		<h3 class="a2">Campus</h3>
		<p>Kensington</p>

		<h3 class="a2">Salary</h3>
		<p>&pound;49,448 - &pound;55,367 pro-rata</p>

		<h3 class="a2">Ref no</h3>
		<p>8110560</p>

		<h3 class="a2">Grade</h3>
		<p>10</p>

		<div class="row">
			{% include modules/download-button.html %}
			{% include modules/share-button.html %}
		</div>

	</section>
		</li>
		<li class="nine body-text-style">
			{% include modules/job-details.html %}
			<section class="job-details">
		<section class="module job-description body-text-style">
			<ul class="row">
				<li class="col-8">
					<h2 class="module-title">Job Description</h2>
					<p>The Global Innovation Design (GID) programme is a new programme and offers a two-year double Masters MA (RCA) / MSC (Imperial College London) where students study in London, New York and Tokyo.</p>

					<p>The programme is run jointly with Imperial College London and currently collaboratively with Keio university in Japan and the Pratt Institute in the U.S.A. It takes a diverse range of applicants (engineers, technologists, designers, commercially experienced people and from many other disciplines) and introduces them.</p>
				</li>
			</ul>
		</section>

		<section class="module body-text-style">
			<ul class="row">
				<li class="col-8">
					<h2 class="module-title">Application and equal opportunities monitoring form</h2>
					<p>Please the <a href="">Application Form</a> (Word version or PDF version) and <a href="">Equal Opportunities Monitoring Form</a> (Word version).
					Please note it is vital that all sections of the application form are completed. CVs cannot be accepted as a substitute for any section.
					The ‘Additional Information’ section is particularly important to the selection process; you should use this to outline the skills, knowledge and experience that you have that relates specifically to the job description and person specification for the post. You may continue sections on separate sheets if necessary.</p>

					<p>If you are disabled and require help completing your application form, or if you will require help or special facilities should you be short-listed for interview, please telephone the personnel Assistant on +44 (0)20 7590 4148 or email personnel@rca.ac.uk.</p>
				</li>
			</ul>
		</section>

		{% include "rca/includes/modules/contact.html" %}
	</section>
		</li>
	</ul>

	{% include "rca/includes/modules/twitter-feed.html" %}

{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showJobs="true" %}
{% endblock %}