{% extends "rca/base.html" %}
{% load image_tags rich_text rca_tags %}

{% block body_class %}
    type-student-profile
{% endblock %}

{% block content %}
    <h1 class="h1">{{ self.title }}</h1>

        {% if student.ma_in_show %}
        {% with student.show_carousel_items.all as carousel_items %}
            {% include "rca_show/includes/modules/carousel.html" %}
        {% endwith %}
    {% else %}
        {% with student.research_carousel_items.all as carousel_items %}
            {% include "rca_show/includes/modules/carousel.html" %}
        {% endwith %}
    {% endif %}


    {% tabdeck %}
        {% if self.is_phd_student %}
            {% tab "PhD Work" %}
                {% with self.phd_carousel_items.all as carousel_items %}
                    {% include "rca_show/includes/modules/carousel.html" %}
                {% endwith %}

                <section class="row">
                    <div class="three-nine-cols">
                        <div class="col col-9 last body-text">
                            <h3>{{ self.phd_dissertation_title }}</h3>

                            {{ self.phd_statement|richtext }}
                        </div>
                        <div class="col col-3 first">
                            <div class="meta-data">
                                <dl>
                                    <dd>Programme</dd>
                                    <dt>
                                        {{ self.get_phd_programme_display }}
                                    </dt>
                                    {% if self.phd_collaborators.all %}
                                        <dd>Collaborators</dd>
                                        <dt>
                                            {% for collaborator in self.phd_collaborators.all %}
                                                {{ collaborator.name }}<br />
                                            {% endfor %}
                                        </dt>
                                    {% endif %}

                                    {% if self.phd_supervisors.all %}
                                        <dd>Supervisors</dd>
                                        <dt>
                                            {% for collaborator in self.phd_supervisors.all %}
                                                {{ collaborator.name }}<br />
                                            {% endfor %}
                                        </dt>
                                    {% endif %}

                                    {% if self.phd_sponsors.all %}
                                        <dd>Sponsors</dd>
                                        <dt>
                                            {% for sponsor in self.phd_sponsors.all %}
                                                {{ sponsor.name }}<br />
                                            {% endfor %}
                                        </dt>
                                    {% endif %}
                                </dl>
                            </div>
                        </div>
                    </div>
                </section>

            {% endtab %}
        {% endif %}

        {% if self.is_mphil_student %}
            {% tab "MPhil work" %}
                {% with self.mphil_carousel_items.all as carousel_items %}
                    {% include "rca_show/includes/modules/carousel.html" %}
                {% endwith %}

                <section class="row">
                    <div class="three-nine-cols">
                        <div class="col col-9 last body-text">
                            <h3>{{ self.mphil_dissertation_title }}</h3>

                            {{ self.mphil_statement|richtext }}
                        </div>
                        <div class="col col-3 first">
                            <div class="meta-data">
                                <dl>
                                    <dd>Programme</dd>
                                    <dt>
                                        {{ self.get_mphil_programme_display }}
                                    </dt>
                                    {% if self.mphil_collaborators.all %}
                                        <dd>Collaborators</dd>
                                        <dt>
                                            {% for collaborator in self.mphil_collaborators.all %}
                                                {{ collaborator.name }}<br />
                                            {% endfor %}
                                        </dt>
                                    {% endif %}
                                    {% if self.mphil_supervisors.all %}
                                        <dd>Supervisors</dd>
                                        <dt>
                                            {% for collaborator in self.mphil_supervisors.all %}
                                                {{ collaborator.name }}<br />
                                            {% endfor %}
                                        </dt>
                                    {% endif %}
                                    {% if self.mphil_sponsors.all %}
                                        <dd>Sponsors</dd>
                                        <dt>
                                            {% for sponsor in self.mphil_sponsors.all %}
                                                {{ sponsor.name }}<br />
                                            {% endfor %}
                                        </dt>
                                    {% endif %}
                                </dl>
                            </div>
                        </div>
                    </div>
                </section>

            {% endtab %}
        {% endif %}

        {% if self.is_ma_student and self.ma_in_show %}
            {% tab "MA work" %}

                {% with self.show_carousel_items.all as carousel_items %}
                    {% include "rca_show/includes/modules/carousel.html" %}
                {% endwith %}

                <section class="row">
                    <div class="three-nine-cols">
                        <div class="col col-9 last body-text">
                            <h3>{{ self.show_work_title }}</h3>

                            {{ self.show_work_description|richtext }}
                        </div>
                        <div class="col col-3 first">
                            <div class="meta-data">
                                <dl>
                                    <dd>Programme</dd>
                                    <dt>
                                        {{ self.get_ma_programme_display }}
                                    </dt>
                                    {% if self.show_collaborators.all %}
                                        <dd>Collaborators</dd>
                                        <dt>
                                            {% for collaborator in self.show_collaborators.all %}
                                                {{ collaborator.name }}<br />
                                            {% endfor %}
                                        </dt>
                                    {% endif %}
                                    {% if self.show_sponsors.all %}
                                        <dd>Sponsors</dd>
                                        <dt>
                                            {% for sponsor in self.show_sponsors.all %}
                                                {{ sponsor.name }}<br />
                                            {% endfor %}
                                        </dt>
                                    {% endif %}
                                </dl>
                            </div>
                        </div>
                    </div>
                </section>
            {% endtab %}
        {% endif %}

        {% tab "Info" %}
            <div class="profile">
                <ul class="four-cols">
                    <li class="col first">
                        {% if self.profile_image %}
                            {% image self.profile_image width-300 %}
                        {% else %}
                            <img src="/static/rca/images/rca-placeholder-square.jpg" width="300">
                        {% endif %}
                    </li>
                     {% if self.is_phd_student %}
                        <li class="col">
                            <h2 class="h6">PhD</h2>

                            <h3 class="a2">School</h3>
                            <p class="h7">{{ self.get_phd_school_display }}</p>

                            <h3 class="a2 space">Programme</h3>
                            <p class="h7">{% if self.phd_programme %}{{ self.get_phd_programme_display }}{% endif %}{% if self.phd_start_year %}, {{ self.phd_start_year }}{% endif %}&ndash;{% if self.phd_graduation_year %}{{ self.phd_graduation_year }}{% endif %}</p>
                        </li>
                    {% endif %}
                    {% if self.is_mphil_student %}
                        <li class="col">
                            <h2 class="h6">MPhil</h2>

                            <h3 class="a2">School</h3>
                            <p class="h7">{{ self.get_mphil_school_display }}</p>

                            <h3 class="a2 space">Programme</h3>
                            <p class="h7">{% if self.mphil_programme %}{{ self.get_mphil_programme_display }}{% endif %}{% if self.mphil_start_year %}, {{ self.mphil_start_year }}{% endif %}&ndash;{% if self.mphil_graduation_year %}{{ self.mphil_graduation_year }}{% endif %}</p>
                        </li>
                    {% endif %}
                    {% if self.is_ma_student %}
                        <li class="col">
                            <h2 class="h6">MA Degree</h2>

                            <h3 class="a2">School</h3>
                            <p class="h7">{{ self.get_ma_school_display }}</p>

                            <h3 class="a2 space">Programme</h3>
                            <p class="h7">MA {{ self.get_ma_programme_display }}{% if self.ma_graduation_year %}, {{ self.ma_graduation_year }}{% endif %}</p>

                            {% if self.ma_specialism %}
                                <h3 class="a2 space">Specialism</h3>
                                <p class="h7">{{ self.ma_specialism }}</p>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>

                {% if self.emails.all|length > 0  or self.phones.all|length > 0 or self.websites.all|length > 0 or self.student_twitter_feed %}
                  
                    <div class="divider"></div>
                    <ul class="three-nine-cols">
                        <li class="col col-3 first">
                            <h2 class="module-title">Contact</h2>
                        </li>
                        <li class="col col-9 last body-text-style">
                            {% with self.emails.all as emails %}
                                {% if emails %}
                                    {% for email in emails %}
                                        <div><a href="mailto:{{ email.email }}">{{ email.email }}</a></div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            {% with self.phones.all as phone_nos %}
                                {% if phone_nos %}
                                    {% for phone_no in phone_nos %}
                                        <div>{{ phone_no.phone }}</div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            {% with self.websites.all as websites %}
                                {% if websites %}
                                    {% for website in websites %}
                                        <div><a href="{{ website.website }}">{{ website.website }}</a></div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            {% if self.twitter_handle %}
                                <div><a href="http://www.twitter.com/{{ self.twitter_handle }}">&#64;{{ self.twitter_handle }}</a></div>
                            {% endif %}
                        </li>
                    </ul>
                   
                {% endif %}
                <div class="divider"></div>
                <ul class="three-nine-cols">
                    <li class="col col-3 first">
                        <div class="row">
                            {% include "rca/includes/modules/share-button.html" %}
                        </div>
                    </li>
                    <li class="col col-9 last body-text-style">
                        {{ self.statement|richtext }}
                    </li>
                </ul>

     <!--                    
                            <h2 class="h6">Contact</h2>
                            <ul>
                                {% with self.emails.all as emails %}
                                    {% if emails %}
                                        {% for email in emails %}
                                            <li><a href="mailto:{{ email.email }}">{{ email.email }}</a></li>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                {% with self.phones.all as phone_nos %}
                                    {% if phone_nos %}
                                        {% for phone_no in phone_nos %}
                                            <li>{{ phone_no.phone }}</li>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                {% with self.websites.all as websites %}
                                    {% if websites %}
                                        {% for website in websites %}
                                            <li><a href="{{ website.website }}">{{ website.website }}</a></li>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                {% if self.twitter_handle %}
                                    <a href="http://www.twitter.com/{{ self.twitter_handle }}">&#64;{{ self.twitter_handle }}</a>
                                {% endif %}
                            </ul>
                         -->
                  


                <!--degrees-->
                {% with self.previous_degrees.all as degrees %}
                    {% if degrees %}
                        <div class="divider"></div>
                        <ul class="three-nine-cols">
                            <li class="col col-3 first">
                                <h2 class="module-title">Degrees</h2>
                            </li>
                            <li class="col col-9 last body-text-style">
                                {% for degree in degrees %}
                                    {{ degree.degree }}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    {% endif %}
                {% endwith %}

                <!-- experience -->
                {% with self.experiences.all as experiences %}
                    {% if experiences %}
                        <div class="divider"></div>
                        <ul class="three-nine-cols">
                            <li class="col col-3 first">
                                <h2 class="module-title">Experience</h2>
                            </li>
                            <li class="col col-9 last body-text-style">
                                {% for experience in experiences %}
                                    {{ experience.experience }}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    {% endif %}
                {% endwith %}

                <!-- exhibitions -->
                {% with self.exhibitions.all as exhibitions %}
                    {% if exhibitions %}
                        <div class="divider"></div>
                        <ul class="three-nine-cols">
                            <li class="col col-3 first">
                                <h2 class="module-title">Exhibitions</h2>
                            </li>
                            <li class="col col-9 last body-text-style">
                                {% for exhibition in exhibitions %}
                                    {{ exhibition.exhibition }}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    {% endif %}
                {% endwith %}

                <!-- awards -->
                {% with self.awards.all as awards %}
                    {% if awards %}
                        <div class="divider"></div>
                        <ul class="three-nine-cols">
                            <li class="col col-3 first">
                                <h2 class="module-title">Awards</h2>
                            </li>
                            <li class="col col-9 last body-text-style">
                                {% for award in awards %}
                                    {{ award.award }}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    {% endif %}
                {% endwith %}

                <!-- conferences -->
                {% with self.conferences.all as conferences %}
                    {% if conferences %}
                        <div class="divider"></div>
                        <ul class="three-nine-cols">
                            <li class="col col-3 first">
                                <h2 class="module-title">Conferences</h2>
                            </li>
                            <li class="col col-9 last body-text-style">
                                {% for conference in conferences %}
                                    {{ conference.name }}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    {% endif %}
                {% endwith %}

                <!-- publications -->
                {% with self.publications.all as publications %}
                    {% if publications %}
                        <div class="divider"></div>
                        <ul class="three-nine-cols">
                            <li class="col col-3 first">
                                <h2 class="module-title">Publications</h2>
                            </li>
                            <li class="col col-9 last body-text-style">
                                {% for publication in publications %}
                                    {{ publication.name }}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    {% endif %}
                {% endwith %}

                <div class="inner">
        
                    <!-- research -->
                    {% research_related person=self %}

                    <!-- rca now -->
                    {% rca_now_related author=self.title %}

                    <!-- innovation rca -->
                    {% innovation_rca_related person=self %}
                </div>
            </div>
        {% endtab %}
    {% endtabdeck %}

    {% include "rca/includes/modules/twitter-feed.html" %}
{% endblock %}

{% block sidebar %}
    {% comment %}
    If the student has some work, show related work for that student, otherwise
    show related students
    {% endcomment %}
    {% if self.carousel_items.all|length > 0 %}
        {% include "rca/includes/sidebar.html" with showRelatedStudentsWork="true" %}
    {% else %}
        {% include "rca/includes/sidebar.html" with showRelatedStudents="true" %}
    {% endif %}
{% endblock %}