{% extends "rca/base.html" %}
{% load image_tags rich_text rca_tags %}

{% block body_class %}
    type-student-profile
{% endblock %}

{% block content %}
    <h1 class="h1">{{ self.title }}</h1>

    {% tabdeck %}
        <!-- links and ids added by javascript -->
        {% tab "Research" class="flush" %}
            Content

             <h3>{{ self.show_work_title }}</h3>

                        {% if self.ma_in_show %}
                            {{ self.show_work_description|richtext }}
                        {% else %}
                            {{ self.research_statement|richtext }}
                        {% endif %}
                        

             FieldPanel('research_in_show'),
            FieldPanel('research_school'),
            FieldPanel('research_programme'),
            FieldPanel('research_dissertation_title'),
            FieldPanel('research_statement'),
            FieldPanel('research_start_year'),
            FieldPanel('research_graduation_year'),
            FieldPanel('research_qualification'),
            FieldPanel('research_work_location'),
            InlinePanel(NewStudentPage, 'research_carousel_items', label="Carousel item"),
            InlinePanel(NewStudentPage, 'research_collaborators', label="Collaborator"),
            InlinePanel(NewStudentPage, 'research_sponsors', label="Sponsor"),
            InlinePanel(NewStudentPage, 'research_supervisors', label="Supervisor"),
        {% endtab %}

        {% if self.ma_in_show or self.research_in_show %}
            {% tab "Show" class="flush" %}
                 <section class="row">
                    
                    <ul class="three-nine-cols">
                        <li class="col col-3 first">
                            <h2 class="module-title">
                                {% if self.ma_in_show %}
                                    {# Only show type/title if a type is chosen, else nothing #}
                                    {% if self.show_work_type %}
                                        <span>{{ self.get_show_work_type_display }}:</span>
                                    {% endif %}
                                {% else %}
                                    Dissertation 
                                {% endif %}
                            </h2>
                        </li>
                        <li class="col col-9 last body-text-style">
                            <h3>{{ self.show_work_title }}</h3>

                            {% if self.ma_in_show %}
                                {{ self.show_work_description|richtext }}
                            {% else %}
                                {{ self.research_statement|richtext }}
                            {% endif %}
                        </li>
                    </ul>
                </section>
            {% endtab %}
        {% endif %}

        {% tab "Info" class="flush" %}

            <div class="profile">
                <ul class="four-cols">
                    <li class="col first">
                        {% if self.profile_image %}
                            {% image self.profile_image width-300 %}
                        {% else %}
                            <img src="/static/rca/images/rca-placeholder-square.jpg" width="300">
                        {% endif %}
                    </li>
                    {% if self.is_ma_student %}
                        <li class="col">
                            <h3 class="a1">MA Degree</h3>

                            <h3 class="a2">School</h3>
                            <p class="h7">{{ self.get_ma_school_display }}</p>

                            <h3 class="a2 space">Programme</h3>
                            <p class="h7">MA {{ self.get_ma_programme_display }}{% if self.ma_graduation_year %}, {{ self.ma_graduation_year }}{% endif %}</p>

                            {% if self.ma_specialism %}
                                <h3 class="a2 space">Specialism</h3>
                                <p class="h7">{{ self.ma_specialism }}</p>
                            {% endif %}
                        </li>
                    {% endif %}
                    {% if self.is_research_student %}
                        <li class="col">
                            <h3 class="a1">Research</h3>

                            <h3 class="a2">School</h3>
                            <p class="h7">{{ self.get_research_school_display }}</p>

                            {% if self.research_qualification  %}
                                <h3 class="a2 space">Programme</h3>
                                <p class="h7">{% if self.research_qualification %}{{ self.get_research_qualification_display }} {% endif %}{% if self.research_programme %}{{ self.get_research_programme_display }}{% endif %}{% if self.research_start_year %}, {{ self.research_start_year }}{% endif %}{% if self.research_graduation_year %}&ndash;{{ self.research_graduation_year }}{% endif %}</p>
                            {% endif %}
                        </li>
                    {% endif %}
                    <li class="col">
                        {% if self.emails.all|length > 0  or self.phones.all|length > 0 or self.websites.all|length > 0 or self.student_twitter_feed %}
                        
                            <h3 class="a2">Contact</h3>
                            <ul>
                                {% with self.emails.all as emails %}
                                    {% if emails %}
                                        {% for email in emails %}
                                            <li><a href="mailto:{{ email.email }}">{{ email.email }}</a></li>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                {% with self.phones.all as phone_nos %}
                                    {% if phone_nos %}
                                        {% for phone_no in phone_nos %}
                                            <li>{{ phone_no.phone }}</li>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                {% with self.websites.all as websites %}
                                    {% if websites %}
                                        {% for website in websites %}
                                            <li><a href="{{ website.website }}">{{ website.website }}</a></li>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                {% if self.twitter_handle %}
                                    <a href="http://www.twitter.com/{{ self.twitter_handle }}">&#64;{{ self.twitter_handle }}</a>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </li>
                    <li class="col last">
                    </li>
                </ul>
                <div class="divider"></div>
                <ul class="three-nine-cols">
                    <li class="col col-3 first">
                        <div class="row">
                            {% include "rca/includes/modules/share-button.html" %}
                        </div>
                    </li>
                    <li class="col col-9 last body-text-style">
                        {{ self.statement|richtext }}
                    </li>
                </ul>

                <!--degrees-->
                {% with self.previous_degrees.all as degrees %}
                    {% if degrees %}
                        <div class="divider"></div>
                        <ul class="three-nine-cols">
                            <li class="col col-3 first">
                                <h2 class="module-title">Degrees</h2>
                            </li>
                            <li class="col col-9 last body-text-style">
                                {% for degree in degrees %}
                                    {{ degree.degree }}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    {% endif %}
                {% endwith %}

                <!-- experience -->
                {% with self.experiences.all as experiences %}
                    {% if experiences %}
                        <div class="divider"></div>
                        <ul class="three-nine-cols">
                            <li class="col col-3 first">
                                <h2 class="module-title">Experience</h2>
                            </li>
                            <li class="col col-9 last body-text-style">
                                {% for experience in experiences %}
                                    {{ experience.experience }}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    {% endif %}
                {% endwith %}

                <!-- exhibitions -->
                {% with self.exhibitions.all as exhibitions %}
                    {% if exhibitions %}
                        <div class="divider"></div>
                        <ul class="three-nine-cols">
                            <li class="col col-3 first">
                                <h2 class="module-title">Exhibitions</h2>
                            </li>
                            <li class="col col-9 last body-text-style">
                                {% for exhibition in exhibitions %}
                                    {{ exhibition.exhibition }}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    {% endif %}
                {% endwith %}

                <!-- conferences -->
                {% with self.conferences.all as conferences %}
                    {% if conferences %}
                        <div class="divider"></div>
                        <ul class="three-nine-cols">
                            <li class="col col-3 first">
                                <h2 class="module-title">Conferences</h2>
                            </li>
                            <li class="col col-9 last body-text-style">
                                {% for conference in conferences %}
                                    {{ conference.name }}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    {% endif %}
                {% endwith %}

                <!-- publications -->
                {% with self.publications.all as publications %}
                    {% if publications %}
                        <div class="divider"></div>
                        <ul class="three-nine-cols">
                            <li class="col col-3 first">
                                <h2 class="module-title">Publications</h2>
                            </li>
                            <li class="col col-9 last body-text-style">
                                {% for publication in publications %}
                                    {{ publication.name }}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    {% endif %}
                {% endwith %}

                <div class="inner">
        
                    <!-- research -->
                    {% research_related person=self %}

                    <!-- rca now -->
                    {% rca_now_related author=self.title %}

                    <!-- innovation rca -->
                    {% innovation_rca_related person=self %}
                </div>
            </div>
        {% endtab %}
    {% endtabdeck %}

    {% include "rca/includes/modules/twitter-feed.html" %}
{% endblock %}

{% block sidebar %}
    {% comment %}
    If the student has some work, show related work for that student, otherwise
    show related students
    {% endcomment %}
    {% if self.carousel_items.all|length > 0 %}
        {% include "rca/includes/sidebar.html" with showRelatedStudentsWork="true" %}
    {% else %}
        {% include "rca/includes/sidebar.html" with showRelatedStudents="true" %}
    {% endif %}
{% endblock %}