{% extends "rca/editorial_page.html" %}

{% load image_tags %}

{% block pre_content %}
    {% if self.author %}
        {% image self.author.mugshot 64x64 %}
        <p>By <a href="{{ self.author.url }}">{{ self.author.title }}</a></p>
    {% endif %}

    {% image self.lead_image 400x300 %}
{% endblock %}

{% block sidebar %}
    {% with self.related_links.all as related_links %}
        {% if related_links %}
            <h2>Related links</h2>
            <ul>
                {% for link in related_links %}
                    <li>
                        <a href="{{ link.url }}">
                            {% image link.image 64x64 %}
                            {{ link.link_text }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}
