{% extends "rca/base.html" %}
{% load compress static rca_tags wagtailcore_tags wagtailimages_tags %}

{% block body_class %}type-donations{% endblock %}

{% block extra_js %}
    <script>
        window.bboxInit = function () {
           bbox.showForm('{{ self.form_id }}');
        };
        (function () {
           var e = document.createElement('script'); e.async = true;
           e.src = 'https://bbox.blackbaudhosting.com/webforms/bbox-min.js';
           console.log(e);
           document.getElementsByTagName('head')[0].appendChild(e);
        } ());
    </script>
    <script type="text/javascript" src="{% static 'rca/js/donation-form.js' %}"></script>
{% endblock extra_js %}

{% block content %}
    <h1 class="h1">{{ self.title }}</h1>

    {% include "rca/includes/modules/strapline.html" %}
    {% include "rca/includes/modules/carousel.html" %}

    <section class="row">

        {% include "rca/includes/modules/body-text.html" with showIntro="true" showReusableText="true" body=self.body %}

        <div id="bbox-root"></div>

        <section class="four">
            {% if self.middle_column_body %}
                <div class="body-text middle-column-body-text">
                    {{ self.middle_column_body|richtext }}
                </div>
            {% endif %}
            {% include "rca/includes/modules/downloads.html" %}
            {% include "rca/includes/modules/quotation.html" %}
            {% with self.images.all as images %}
                {% if images %}
                    {% for image in images %}
                        <figure>
                            <div class="image">{% image image.image width-400 %}</div>
                            <figcaption class="a4">{{ image.image.caption_html }}</figcaption>
                        </figure>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="single borders">
                {% include "rca/includes/modules/share-button.html" %}
            </div>
        </section>
    </section>

    <div class="row">
        <section class="bc5 body-text">
            <h3>Data Protection</h3>

            <p>Information provided by you on this form will be used by the Royal College of Art for the purpose of correctly recording and acknowledging your gift. Personal information contained in the RCA’s Development Office records is used only for College-related business.</p>

            <p>Please click here for the College’s full <a href="/contact-us/about-this-website/privacy-cookies/">Privacy Policy</a> or contact <a href="mailto:development@rca.ac.uk">development@rca.ac.uk</a>.</p>
        </section>
    </div>

    {% include "rca/includes/modules/twitter-feed.html" %}
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" showRelatedLinks="true" showAdverts="true" %}
{% endblock %}
