{% extends "rca/base.html" %}
{% load compress static rca_tags rich_text image_tags %}

{% block body_class %}type-donations{% endblock %}

{% block extra_js %}
    <script>
        window.bboxInit = function () {
           bbox.showForm('{{ self.form_id }}');
        };
        (function () {
           var e = document.createElement('script'); e.async = true;
           e.src = 'https://bbox.blackbaudhosting.com/webforms/bbox-min.js';
           console.log(e);
           document.getElementsByTagName('head')[0].appendChild(e);
        } ());

        $(function() {
           var blackbaudLoad = function() {
              //Remove the JS added Blackbaud CSS when loaded. 
              var el = 'link[href^="https://bbox.blackbaudhosting.com/webforms/Funds-and-appeals---7516"]';
              var blackbaudElementCheckInterval = setInterval(function(){
                //Run once form has loaded
                if ($(el).length) {
                    $(el).remove();
                    $('#bbox-root #mongo-form').css({opacity: 0, visibility: "visible"}).animate({opacity: 1.0}, 200); //Smooth intro for the form.
                    clearInterval(blackbaudElementCheckInterval);
                    // FORM HELPERS for Donations
                    // If other amount label selected show the other amount input
                    $('.BBFormRadioLabelGivingLevelOther').on('click', function() {
                      $('#bboxdonation_gift_fldOtherLevelAmount').show(200);
                    });
                    // Click was on an actual amount so hide the 'other' amount input box
                    $('.BBFormRadioLabelGivingLevel:not(.BBFormRadioLabelGivingLevelOther)').on('click', function() {
                      $('#bboxdonation_gift_fldOtherLevelAmount').hide(250);
                    });  
                    $('.BBFormSelectList').customSelect({customClass:'select'});                  


                }
              }, 1000);
           }
           blackbaudLoad();

        });
    </script>
{% endblock extra_js %}

{% block content %}
    <h1 class="h1">{{ self.title }}</h1>

    {% include "rca/includes/modules/strapline.html" %}
    {% include "rca/includes/modules/carousel.html" %}

    <section class="row">

        {% include "rca/includes/modules/body-text.html" with showIntro="true" showReusableText="true" body=self.body %}

        <div id="bbox-root"></div>

        <section class="four">
            {% if self.middle_column_body %}
                <div class="body-text middle-column-body-text">
                    {{ self.middle_column_body|richtext }}
                </div>
            {% endif %}
            {% include "rca/includes/modules/downloads.html" %}
            {% include "rca/includes/modules/quotation.html" %}
            {% with self.images.all as images %}
                {% if images %}
                    {% for image in images %}
                        <figure>
                            <div class="image">{% image image.image width-400 %}</div>
                            <figcaption class="a4">{{ image.image.caption_html }}</figcaption>
                        </figure>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="single borders">
                {% include "rca/includes/modules/share-button.html" %}
            </div>
        </section>
    </section>
    {% include "rca/includes/modules/twitter-feed.html" %}
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" showRelatedLinks="true" showAdverts="true" %}
{% endblock %}