{% extends "rca/base.html" %}

{% block body_class %}type-news{% endblock %}

{% block content %}
    <h1 class="h1">{{ self.title }}</h1>
    {% include "rca/includes/modules/carousel.html" %}
    <section class="row">
        {% include "rca/includes/modules/body-text.html" with showIntro="true" body=self.body %}
        {% include "rca/includes/modules/news-meta-data.html" %}
    </section>
    {% include "rca/includes/modules/twitter-feed.html" %}
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday='True' %}
{% endblock %}