{% extends "rca/base.html" %}
{% load pageurl %}

{% block content %}
    {% include "rca/includes/modules/h1-major.html" %}
    {% include "rca/includes/modules/carousel.html" %}

    {% if self.head_of_programme %}
    <section class="head-of-programme row module">
        <h2 class="module-title"><a href="{% pageurl self.head_of_programme %}">Head of programme</a></h2>
        <a href="#">
            <div class="image"><img src="http://instasrc.com/176x176/people" /></div>
            <p class="content bc1"><strong>Neville Brody</strong> The Royal Collage of Arts sits at the threshold of a new and vital moment in communications history, an extraordinary time and one that will deeply affecta all of us...<span class="bc4 caps">Continue</span></p>
        </a>
    </section>
    {% endif %}
    
    {% include "rca/includes/modules/twitter-feed.html" %}
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" showAds="true" showRelatedLinks="true" %}
{% endblock %}

{% comment %}
{% block content %}
    <div><h2>head of programme</h2> {{ self.head_of_programme }}</div>
    <div><h2>head of programme's statement</h2> {{ self.head_of_programme_statement|richtext }}</div>
    <h2>A carousel</h2>
    <ul>
        {% for item in self.carousel_items.all %}
            <li><a href="{{ item.url }}">{{ item.url }}</a></li>
        {% endfor %}
    </ul>

    <h2>Related links</h2>
    <ul>
        {% for item in self.related_links.all %}
            <li><a href="{{ item.url }}">{{ item.url }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
{% endcomment %}
