{% extends "rca/base.html" %}
{% load wagtailimages_tags wagtailcore_tags rca_tags %}

{% block body_class %}type-news-index{% endblock %}

{% block content %}
    <h1 class="h1 major">{{ page.title }}</h1>

    {% include "rca/includes/modules/intro-large.html" %}

    <section class="filters two-filters row">
        <form id="filters" action="{% pageurl self %}" method="GET">
            <ul>
                <li class="filter">
                    <label for="level">Level of study</label>
                    <select id="level" name="level">
                        <option value="">All levels</option>
                        {% for level in degree_levels %}
                            <option value="{{ level.slug }}" {% if filter_degree_level == level.slug %}selected{% endif %}>{{ level }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li class="filter">
                    <label for="school">School</label>
                    <select id="school" name="school">
                        <option value="">All schools</option>
                        {% for school in schools %}
                            <option value="{{ school.slug }}" {% if filter_school == school.slug %}selected{% endif %}>{{ school }}</option>
                        {% endfor %}
                    </select>
                </li>
            </ul>
            <input type="submit" />
        </form>
    </section>

    <div id="listing">
        {% include "rca/includes/news_listing.html" with news=courses %}
    </div>

    {% include "rca/includes/modules/twitter-feed.html" %}

{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" showRelatedLinks="true" showAdverts="true" %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        //global var for current_page set here so that it can be used by the script being called
        var current_page = "{{ global_news_index }}";

        var filters = {{ filters|safe }};
    </script>
    <script src="/static/rca/js/filters.js"></script>
{% endblock %}
