{% extends "rca/base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags rca_tags %}
{% load cycle from future %}

{% block body_class %}type-programme{% endblock %}

{% block content %}

    {% include "rca/includes/modules/background-image.html" with fade=True %}
    {% include "rca/includes/modules/h1-major.html" %}

    <!-- pathways -->
    {% with self.pathways.all as pathways %}
        {% if pathways %}
            <section class="row module thicker-border offset">
                <h2 class="module-title offset-title module-title-black">{{ self.title }} pathways</h2>

                <div class="offset-content">
                    <ul class="pathways block-list">
                    {% for pathway in pathways %}
                        <li><a href="{% pageurl pathway %}">{{ pathway.title }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </section>
        {% endif %}
    {% endwith %}

    <!-- About the programme -->
    {% if self.head_of_programme_statement or self.head_of_programme_link or self.programme_specification_document or self.contact_snippet_placements.all or self.head_of_programme or self.key_details.all or self.how_to_apply.all or self.ma_programme_description_link or self.ma_entry_requirements_link or self.facilities_link or self.graduate_destinations_link or self.get_school_url %}
        <section class="row module offset">
            <h2 class="module-title module-title-black offset-title">About the programme</h2>

            <div class="offset-content">
                <div class="programme-details {% if self.head_of_programme_second %}double-photo{% endif %} row row-flush">
                    <div class="right">

                        <!-- Head of programme and second head of programme -->
                        {% if self.head_of_programme %}

                            <div class="row row-flush">
                                <a href="{% pageurl self.head_of_programme %}">
                                    <div class="image">
                                        {% if self.head_of_programme.profile_image %}
                                            {% image self.head_of_programme.profile_image width-200 %}
                                        {% else %}
                                            <img src="/static/rca/images/light-grey-placeholder.png" width="200">
                                        {% endif %}
                                    </div>
                                </a>
                                {% if self.head_of_programme_second %}
                                    <a href="{% pageurl self.head_of_programme_second %}">
                                        <div class="image">
                                            {% if self.head_of_programme_second.profile_image %}
                                                {% image self.head_of_programme_second.profile_image width-200 %}
                                            {% else %}
                                                <img src="/static/rca/images/light-grey-placeholder.png" width="200">
                                            {% endif %}
                                        </div>
                                    </a>
                                {% endif %}
                            </div>

                            <h4 class="programme-head">Head{% if self.head_of_programme_second %}s{% endif %} of Programme</h4>
                            <ul>
                                <li class="programme-head-name"><a href="{% pageurl self.head_of_programme %}" class="a3">{{ self.head_of_programme.title }}</a></li>
                                {% if self.head_of_programme_second %}
                                    <li class="programme-head-name"><a href="{% pageurl self.head_of_programme_second %}" class="a3">{{ self.head_of_programme_second.title }}</a></li>
                                {% endif %}
                            </ul>

                        {% endif %}

                        <!-- Key details -->
                        {% with self.key_details.all as key_details_list %}
                            {% if key_details_list %}
                                <ul class="key-details">
                                    {% for key_details in key_details_list %}
                                        <li>{{ key_details.text }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                
                    <div class="left">
                        <!-- Head of programme statement -->
                        {% if self.head_of_programme_statement %}
                            <div class="head-of-programme">
                                {{ self.head_of_programme_statement|richtext }}
                            </div>
                        {% endif %}

                        <!-- Head of programme link -->
                        {% if self.head_of_programme_link %}
                            <a href="{% pageurl self.head_of_programme_link %}"><span class="head-of-programme-readmore">Read more</a></span>
                        {% endif %}

                        <!-- Programme specification document -->
                        {% if self.programme_specification_document %}
                            <ul class="button-bar one-button">
                                <li><a href="{{ self.programme_specification_document.url }}" class="button icon icon-download">Download programme specification</a></li>
                            </ul>
                        {% endif %}

                        {% if self.contact_snippets.all %}
                            <div class="contact-dropdown">
                                <div class="contact-dropdown-header">
                                    <h3>Contact</h3>
                                </div>
                                <div class="dropdown">
                                    {% include "rca/includes/modules/contact_snippet.html" with in_dropdown=True %}
                                </div>
                            </div>
                            
                        {% endif %}
                    </div>
                </div>

                {% if self.how_to_apply.all or self.ma_programme_description_link or self.ma_entry_requirements_link or self.facilities_link or self.graduate_destinations_link or self.get_school_url %}
                    <div class="row">
                        <ul class="block-list top-border">

                            <!-- MA programme description -->
                            {% if self.ma_programme_description_link %}
                                <li>
                                    <a href="{% pageurl self.ma_programme_description_link %}">
                                        {% if self.ma_programme_description_link_text %}
                                            {{ self.ma_programme_description_link_text }}
                                        {% else %}
                                            {{ self.ma_programme_description_link.title }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endif %}

                            <!-- MA programme overview -->
                            {% if self.ma_programme_overview_link %}
                                <li>
                                    <a href="{% pageurl self.ma_programme_overview_link %}">
                                        {% if self.ma_programme_overview_link_text %}
                                            {{ self.ma_programme_overview_link_text }}
                                        {% else %}
                                            {{ self.ma_programme_overview_link.title }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endif %}
                            
                            <!-- MA Entry requirements -->
                            {% if self.ma_entry_requirements_link %}
                                <li>
                                    <a href="{% pageurl self.ma_entry_requirements_link %}">
                                        {% if self.ma_entry_requirements_link_text %}
                                            {{ self.ma_entry_requirements_link_text }}
                                        {% else %}
                                            {{ self.ma_entry_requirements_link.title }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endif %}

                            <!-- Programme staff -->
                            {% if self.ma_programme_staff_link %}
                                <li>
                                    <a href="{{ self.ma_programme_staff_link }}">
                                        {% if self.ma_programme_staff_link_text %}
                                            {{ self.ma_programme_staff_link_text }}
                                        {% else %}
                                            {{ self.ma_programme_staff_link.title }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endif %}

                            <!-- Facilities -->
                            {% if self.facilities_link %}
                                <li>
                                    <a href="{% pageurl self.facilities_link %}">
                                        {% if self.facilities_link_text %}
                                            {{ self.facilities_link_text }}
                                        {% else %}
                                            {{ self.facilities_link.title }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endif %}

                            <!-- Graduate destinations -->
                            {% if self.graduate_destinations_link %}
                                <li>
                                    <a href="{% pageurl self.graduate_destinations_link %}">
                                        {% if self.graduate_destinations_link_text %}
                                            {{ self.graduate_destinations_link_text }}
                                        {% else %}
                                            {{ self.graduate_destinations_link.title }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endif %}

                            <!-- School -->
                            {% if self.get_school_url %}
                                <li>
                                    <a href="{{ self.get_school_url }}">{{ self.school.display_name }}</a>
                                </li>
                            {% endif %}

                            <!-- How to apply -->
                            {% with self.how_to_apply.all as how_to_apply_links %}
                                {% if how_to_apply_links %}
                                    {% for how_to_apply in how_to_apply_links %}
                                        <li>
                                            <a href="{% pageurl how_to_apply.link %}">
                                                {% if how_to_apply.link_text %}
                                                    {{ how_to_apply.link_text }}
                                                {% else %}
                                                    {{ how_to_apply.link.title }}
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}

                        </ul>
                    </div>
                {% endif %}
            </div> <!-- end offset content -->
        </section> <!-- end of about the programme -->
    {% endif %}

    
    <!-- open days -->
    {% upcoming_events_related opendays=1 programme=self.programmes.all.0.programme offset=1 %}

    <!-- other key content -->
    {% with self.key_content.all as key_content_links %}
        {% if key_content_links %}
            <section class="row module thick-border offset">
                <h2 class="module-title offset-title">{% if self.key_content_header %}{{ self.key_content_header }}{% else %}Key content{% endif %}</h2>
                <div class="offset-content">
                    <ul class="block-list">
                        {% for key_content in key_content_links %}
                            <li>
                                <a href="{% pageurl key_content.link %}">
                                    {% if key_content.link_text %}
                                        {{ key_content.link_text }}
                                    {% else %}
                                        {{ key_content.link.title }}
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        {% endif %}
    {% endwith %}

    <!-- twitter feed -->
    <section class="row module offset">
        <h2 class="module-title offset-title">Twitter</h2>
        <div class="offset-content">
            {% include "rca/includes/modules/twitter-feed.html" with module=False %}
        </div>
    </section>


    <!-- our sites -->
    {% include "rca/includes/modules/our_sites.html" with offset=True %}

    <!-- find out more -->
    {% with self.find_out_more.all as find_out_more_links %}
        {% if find_out_more_links %}
            <section class="row module thick-border offset">
                <h2 class="module-title offset-title">Find out more</h2>
                <div class="offset-content">
                    <ul class="block-list">
                        {% for find_out_more in find_out_more_links %}
                            {% if find_out_more.get_link and find_out_more.get_link_text %}
                                <li><a href="{{ find_out_more.get_link }}">{{ find_out_more.get_link_text }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </section>
        {% endif %}
    {% endwith %}

{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" collapseToday=self.collapse_upcoming_events showAdverts="true" showOpenDays="true" showRelatedLinks="true" %}
{% endblock %}
