{% extends "rca/base.html" %}
{% load wagtailcore_tags taxonomy_tags %}

{% block body_class %}type-rcablog{% endblock %}

{% block content %}
    {% include "rca/includes/modules/carousel.html" %}
    <section class="row">
        {% include "rca/includes/modules/body-text.html" with showTitle="true" body=self.body%}

        {# Meta data #}
        <section class="four">
            <div class="meta-data">
                <dl>
                    {% if self.author %}
                        <dd>By</dd>
                        <dt>{{ self.author }}</dt>
                    {% endif %}

                    <dd>Date</dd>
                    <dt>{{ self.date|date:"j F Y" }}</dt>

                    {% if self.programme %}
                        <dd>Programme</dd>
                        <dt>{% programme_historical_display_name self.programme self.date.year %}</dt>
                    {% endif %}

                    {% if self.tags.all.count > 0 %}
                        <dd>Tags</dd>
                        <dt>
                            {% with self.tags.all as tags %}
                                {% for tag in tags %}
                                    {{ tag }}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            {% endwith %}
                        </dt>
                    {% endif %}
                </dl>
            </div>
            <div class="single">
                {% include "rca/includes/modules/share-button.html" %}
            </div>
        </section>
    </section>

    {% include "rca/includes/modules/twitter-feed.html" %}
{% endblock %}
{% block sidebar %}
    {% include 'rca/includes/sidebar_related_blog.html' %}
{% endblock %}
