{% extends "rca/base.html" %}
{% load wagtailcore_tags taxonomy_tags %}

{% block body_class %}type-rcanow{% endblock %}

{% block content %}
    {% include "rca/includes/modules/carousel.html" %}
    <section class="row">
        {% include "rca/includes/modules/body-text.html" with showTitle="true" body=self.body%}

        {# Meta data #}
        <section class="four">
            <div class="meta-data">
                <dl>
                    {% with self.author_profile_page as author_profile_page %}
                        {% if author_profile_page %}
                            <dt>By</dt>
                            <dd><a href="{% pageurl author_profile_page %}">{{ author_profile_page.title }}</a></dd>
                        {% elif self.author %}
                            <dt>By</dt>
                            <dd>{{ self.author }}</dd>
                        {% endif %}
                    {% endwith %}

                    <dt>Date</dt>
                    <dd>{{ self.date|date:"j F Y" }}</dd>

                    <dt>Programme</dt>
                    <dd>{% programme_historical_display_name self.programme self.date.year %}</dd>

                    {% if self.tags.all.count > 0 %}
                        <dt>Tags</dt>
                        <dd>
                            {% with self.tags.all as tags %}
                                {% for tag in tags %}
                                    {{ tag }}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            {% endwith %}
                        </dd>
                    {% endif %}
                </dl>
            </div>
            <div class="single">
                {% include "rca/includes/modules/share-button.html" %}
            </div>
        </section>
    </section>

    {% include "rca/includes/modules/twitter-feed.html" %}
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showRCANow="true" %}
{% endblock %}
