{% extends "rca/base.html" %}
{% load rca_tags wagtailcore_tags %}

{% block body_class %}type-news-index{% endblock %}

{% block content %}

	{% include "rca/includes/modules/h1-major.html" %}

	<section class="filters three-filters row">
	    <form id="filters" action="{% pageurl self %}" method="GET">
	        <ul>
	        	<li class="filter">
	                <label for="school">Schools and Centres</label>
	                <select id="school" name="school">
	                    <option value="">All schools</option>
	                    {% for key, value in global_schools %}
	                    	<option value="{{ key }}" {% if request.GET.school == key %}selected="selected"{% endif %}>{{ value }}</option>
						{% endfor %}
	                </select>
	            </li>
				<li class="filter three-cols">
	                <label for="programme">Programme</label>
	                <select id="programme" name="programme">
	                    <option value="">All programmes</option>
	                    {% for key, value in global_programmes %}
	                    	<option value="{{ key }}" {% if request.GET.programme == key %}selected="selected"{% endif %}>{{ value }}</option>
						{% endfor %}
	                </select>
	            </li>
                <li class="filter">
                    <label for="period">Current or past</label>
                    <select id="period" name="period">
                        <option value="current" {% if request.GET.period == 'current' %}selected="selected"{% endif %}>Current students</option>
                        <option value="past" {% if request.GET.period == 'past' %}selected="selected"{% endif %}>Past students</option>
                    </select>
                </li>
				<input type="submit" />
			</ul>
		</form>
	</section>

	{% if self.intro %}
		<div class="content bc3">{{ self.intro|richtext }}</div>
	{% endif %}

    <div id="listing">
    	{% include "rca/includes/research_students_pages_listing.html" %}
	</div>

    {% include "rca/includes/modules/twitter-feed.html" %}
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showAdverts="true" showToday="true" %}
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		//global var for rca_now_index set here so that it can be used by the script being called
		var current_page = "{% pageurl self %}";

		var filters = {{ filters|safe }};
	</script>
	<script src="/static/rca/js/filters.js"></script>
{% endblock %}

<!-- TODOs
	- Tags
-->