{% extends "rca/base.html" %}
{% load rca_tags wagtailcore_tags %}

{% block body_class %}type-news-index{% endblock %}

{% block content %}
	<h1 class="h1 major">Reviews</h1>

	{% include "rca/includes/modules/intro-large.html" %}

	<div id="listing">
	    {% include "rca/includes/reviews_listing.html" %}
	</div>

	{% include "rca/includes/modules/twitter-feed.html" %}

{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" showRelatedLinks="true" showAdverts="true" %}
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		//global var for current_page set here so that it can be used by the script being called
		var current_page = "{% pageurl self %}";
	</script>
	<!--script src="/static/rca/js/filters.js"></script-->
{% endblock %}

<!-- TODOs:
	- filter of programme by school (or other filtering to be discussed)
 -->