{% extends "rca/base.html" %}
{% load pageurl image_tags rich_text rca_tags %}

{% block body_class %}type-programme{% endblock %}

{% block content %}
	{% include "rca/includes/modules/background-image.html" %}
    {% include "rca/includes/modules/h1-major.html" %}
    {% include "rca/includes/modules/carousel.html" %}

   <!-- head of school -->
    {% if self.head_of_school or self.head_of_school_statement %}
        <section class="head-of-programme row module">
            {% if self.head_of_school %}
                <h2 class="module-title"><a href="{% pageurl self.head_of_school %}">Dean of School</a></h2>
                <a href="{% pageurl self.head_of_school %}">
                    <div class="image">
                        {% if self.head_of_school.profile_image %}
                            {% image self.head_of_school.profile_image width-200 %}
                        {% else %}
                            <img src="/static/rca/images/staff-default-image.png" width="200">
                        {% endif %}
                    </div>
                </a>
            {% endif %}

            <div class="content bc2{% if not self.head_of_school.profile_image %} flushleft{% endif %}">
                {% if self.head_of_school %}
                    <strong>{{ self.head_of_school.title }}</strong>
                {% endif %}
                {% if self.head_of_school_statement %}
                    {{ self.head_of_school_statement|richtext }}
                {% endif %}
                {% if self.head_of_school_link %}
                    ...<a href="{% pageurl self.head_of_school_link %}"><span class="bc4 caps">Continue</a></span>
                {% endif %}
            </div>
        </section>
    {% endif %}

    <!-- programmes -->
    {% programme_by_school school=self.school %}

    
    <!-- head of research -->
    {% if self.head_of_research or self.head_of_research_statement %}
        <section class="head-of-programme row module">
            {% if self.head_of_research %}
                <h2 class="module-title"><a href="{% pageurl self.head_of_research %}">Research Leader</a></h2>
                <a href="{% pageurl self.head_of_research %}">
                    <div class="image">
                        {% if self.head_of_research.profile_image %}
                            {% image self.head_of_research.profile_image width-200 %}
                        {% else %}
                            <img src="/static/rca/images/staff-default-image.png" width="200">
                        {% endif %}
                    </div>
                </a>
            {% endif %}

            <div class="content bc2{% if not self.head_of_research.profile_image %} flushleft{% endif %}">
                {% if self.head_of_research %}
                    <strong>{{ self.head_of_research.title }}</strong>
                {% endif %}
                {% if self.head_of_research_statement %}
                    {{ self.head_of_research_statement|richtext }}
                {% endif %}
                {% if self.head_of_research_link %}
                    ...<a href="{% pageurl self.head_of_research_link %}"><span class="bc4 caps">Continue</a></span>
                {% endif %}
            </div>
        </section>
    {% endif %}

    <!-- research -->
    <div id="listing">
        {% include "rca/includes/research_listing.html" %}
    </div>

        <!-- events -->
    {% upcoming_events_related school=self.school display_name=self.get_school_display %}

    <!-- news carousel -->
    {% news_carousel school=self.school %}

    <!-- open days -->
    {% upcoming_events_related opendays=1 school=self.school %}

	{% include "rca/includes/modules/contact.html" %}

    {% include "rca/includes/modules/twitter-feed.html" %}
    
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" showAdverts="true" showRelatedLinks="true" %}
{% endblock %}