{% extends "rca/base.html" %}
{% load compress wagtailcore_tags wagtailimages_tags rca_tags wagtailembeds_tags static %}

{% block body_class %}type-programme{% endblock %}

{% block extra_css %}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static "rca/css/vendor/colorbox.less" %}" />
    {% endcompress %}
{% endblock %}

{% block content %}
	{% include "rca/includes/modules/background-image.html" with fade=True  %}
    {% include "rca/includes/modules/h1-major.html" %}

    <!-- programmes and pathways -->
    {% programme_by_school school=self.school %}  {# rca/tags/programmes_by_school.html #}


    <!-- research -->
    {% with self.research_link.all as research_links %}
        {% if research_links %}
            <section class="row module thick-border offset">
                <h2 class="module-title offset-title">Research</h2>
                <div class="offset-content">
                    <ul class="school-research-list block-list">
                        {% for research in research_links %}
                            {% if forloop.counter0 == 3 %}
                                <div class="research-more">
                            {% endif %}
                            <li>
                                <a href="{% pageurl research.related_page %}">
                                    {% if research.link_text %}
                                        {{ research.link_text }}
                                    {% else %}
                                        {{ research.related_page.title }}
                                    {% endif %}
                                </a>
                            </li>
                            {% if forloop.last and forloop.counter0 >= 3 %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="research-show-more read-more"><a href="#">View</a></div>
                    </ul>
                </div>
            </section>
        {% endif %}
    {% endwith %}

    <!-- About the school -->
    {% if self.head_of_school or self.school_brochure or self.video_url %}
        <section class="row module offset">
            <h2 class="module-title offset-title"><a href="{% pageurl self.head_of_school %}">About the school</a></h2>
            <div class="offset-content school-details">

                <div class="row row-flush">
                    <div class="left">
                        {% if self.head_of_school %}
                            <!-- Head of school photo -->
                            <a href="{% pageurl self.head_of_school %}">
                                <div class="image">
                                    {% if self.head_of_school.profile_image %}
                                        {% image self.head_of_school.profile_image width-200 %}
                                    {% else %}
                                        <img src="/static/rca/images/staff-default-image.png" width="200">
                                    {% endif %}
                                </div>
                            </a>
                        {% endif %}
                    </div>
                    <div class="right">
                        {%if self.head_of_school or self.head_of_school_link %}
                            <div class="school-head-wrapper">
                                <!-- Head of school -->
                                {% if self.head_of_school %}
                                    <h4 class="school-head">Dean of {{ self.title|cut:"School of " }}</h4>
                                    <div class="school-head-name">{{ self.head_of_school.title }}</div>
                                {% endif %}

                                <!-- Head of school link -->
                                {% if self.head_of_school_link %}
                                    <a href="{% pageurl self.head_of_school_link %}"><span class="read-more">Read more</a></span>
                                {% endif %}
                            </div>
                        {% endif %}

                        <!-- Video -->
                        {% if self.video_url %}
                            <ul class="button-bar one-button {% if self.school_brochure %}align-second-bottom{% else %}align-bottom{% endif %}">
                                <li><a href="#school_video" class="lightbox inline button icon icon-chevron">{{ self.title }} video</a></li>
                            </ul>
                            <!-- this is the hidden content that gets loaded by colorbox -->
                            <div style="display:none">
                                <div id="school_video" class="videoembed vimeo">
                                    {{ self.video_url|embed:"680" }}
                                </div>
                            </div>
                        {% endif %}

                        <!-- School brochure -->
                        {% if self.school_brochure %}
                            <ul class="button-bar one-button align-bottom">
                                <li><a href="{{ self.school_brochure.url }}" class="button icon icon-download">School brochure</a></li>
                            </ul>
                        {% endif %}
                    </div>
                </div>

                {% if self.contact_snippets.all %}
                    <div class="contact-dropdown">
                        <div class="contact-dropdown-header">
                            <h3>Contact</h3>
                        </div>
                        <div class="dropdown">
                            {% include "rca/includes/modules/contact_snippet.html" with hide_title=True %}
                        </div>
                    </div>
                    
                {% endif %}
                
            </div>
        </section>
    {% endif %}

    <!--featured content-->
    {% with self.featured_content.all as featured_content %}
        {% if featured_content %}
            <section class="two-plus x-plus module">
                <div class="item-container">
                    <ul class="row">
                        {% for feature in featured_content %}
                            {% if forloop.counter0 == 6 %}
                                <li class="newrow load-more-target">
                            {% elif forloop.counter0|divisibleby:"3" %}
                                <li class="newrow">
                            {% else %}
                                <li>
                            {% endif %}
                                <a href="{% pageurl feature.content %}">
                                    <div class="image">{% image feature.content.specific.feed_image width-400 %}</div>
                                    <div class="content">
                                        <h3 class="h7">{{ feature.content.title }}</h3>
                                        <!-- show dates for news and events -->
                                        {% if feature.content.specific|content_type == 'newsitem' %}
                                            {% if feature.content.specific.date %}
                                                {{ feature.content.specific.date|date:"j F Y" }}
                                            {% endif %}
                                        {% endif %}

                                        {% if feature.content.specific|content_type == 'eventitem' %}
                                            {% with feature.content.specific.dates_times.all as dates %}
                                                {% if dates %}
                                                    {% for date in dates %}
                                                        {{ date.date_from|date:"j F Y" }}{% if date.date_to %} - {{ date.date_to|date:"j F Y" }}<br />{% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endwith %}
                                        {% endif %}

                                        <p class="a2">{{ feature.content.specific|content_type_display }}</p>
                                    </div>
                                </a>
                                {% comment %}
                               {#  News item has date
                                Event has date_from and date_to #}
                                {% endcomment %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        {% endif %}
    {% endwith %}

    <!-- Packery -->
    {% if packery %}
        {% include "rca/includes/school_page_packery.html" %}

        <script>
            var current_page = "{% pageurl self %}";
            var excludeIds = [{% for item in packery %}{% if item.id %}{{ item.id }}{% if not forloop.last %},{% endif %}{% endif %}{% endfor %}];
        </script>
    {% endif %}

   <!-- head of school -->
   {% comment %}
    {% if self.head_of_school or self.head_of_school_statement %}
        <section class="head-of-programme row module">
            {% if self.head_of_school %}
                <h2 class="module-title"><a href="{% pageurl self.head_of_school %}">Dean of School</a></h2>
                <a href="{% pageurl self.head_of_school %}">
                    <div class="image">
                        {% if self.head_of_school.profile_image %}
                            {% image self.head_of_school.profile_image width-200 %}
                        {% else %}
                            <img src="/static/rca/images/staff-default-image.png" width="200">
                        {% endif %}
                    </div>
                </a>
            {% endif %}

            <div class="content bc2{% if not self.head_of_school.profile_image %} flushleft{% endif %}">
                {% if self.head_of_school %}
                    <strong>{{ self.head_of_school.title }}</strong>
                {% endif %}
                {% if self.head_of_school_statement %}
                    {{ self.head_of_school_statement|richtext }}
                {% endif %}
                {% if self.head_of_school_link %}
                    ...<a href="{% pageurl self.head_of_school_link %}"><span class="bc4 caps">Continue</a></span>
                {% endif %}
            </div>
        </section>
    {% endif %}
    {% endcomment %}

    


        <!-- events -->
    {% upcoming_events_related school=self.school display_name=self.school.display_name %}

    <!-- news carousel -->
    {% news_carousel school=self.school %}

    <!-- open days -->
    {% upcoming_events_related opendays=1 school=self.school %}

	{% include "rca/includes/modules/contact.html" %}

    {% include "rca/includes/modules/twitter-feed.html" %}

{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" collapseToday=self.collapse_upcoming_events showAdverts="true" showRelatedLinks="true" %}
{% endblock %}

{% block extra_js %}
    <script src="{% static "rca/js/vendor/jquery.colorbox-min.js" %}"></script>
    <script src="{% static "rca/js/lightbox.js" %}"></script>
    <!--<script type="text/javascript">
        $(".inline").colorbox({inline:true, width:"50%"});
    </script>-->
{% endblock %}
