{% extends "rca/base.html" %}
{% load rca_tags wagtailcore_tags %}

{% block body_class %}type-news-index{% endblock %}

{% block content %}

	{% include "rca/includes/modules/h1-major.html" %}

	{% include "rca/includes/modules/intro-large.html" %}

	{% if self.body %}
        <section class='row'>
            {% include "rca/includes/modules/body-text.html" with body=self.body %}
        </section>
    {% endif %}

	<section class="filters four-filters row">
	    <form id="filters" action="{% pageurl self %}" method="GET">
	        <ul>
	        	<li class="filter">
	                <label for="school">Schools &amp; Centres</label>
	                <select id="school" name="school">
	                    <option value="">All schools</option>
	                    {% for key, value in global_schools %}
	                    	<option value="{{ key }}" {% if request.GET.school == key %}selected="selected"{% endif %}>{{ value }}</option>
						{% endfor %}
	                </select>
	            </li>
				<li class="filter three-cols">
	                <label for="programme">Programme</label>
	                <select id="programme" name="programme">
	                    <option value="">All programmes</option>
	                    {% for key, value in global_programmes %}
	                    	<option value="{{ key }}" {% if request.GET.programme == key %}selected="selected"{% endif %}>{{ value }}</option>
						{% endfor %}
	                </select>
	            </li>
	            <li class="filter">
	                <label for="staff_type">Role</label>
	                <select id="staff_type" name="staff_type">
	                    <option value="">All roles</option>
	                    {% for key, value in global_staff_types %}
	                    	<option value="{{ key }}" {% if request.GET.staff_type == key %}selected="selected"{% endif %}>{{ value }}</option>
						{% endfor %}
	                </select>
	            </li>
	            <li class="filter">
	                <label for="area">Area</label>
	                <select id="area" name="area">
	                    <option value="">All staff</option>
	                    {% for key, value in global_areas %}
	                    	<option value="{{ key }}" {% if request.GET.area == key %}selected="selected"{% endif %}>{{ value }}</option>
						{% endfor %}
	                </select>
	            </li>
				<input type="submit" />
			</ul>
		</form>
	</section>

	{% if self.intro %}
		<div class="content bc3">{{ self.intro|richtext }}</div>
	{% endif %}

    <div id="listing">
    	{% include "rca/includes/staff_pages_listing.html" %}
	</div>

    {% include "rca/includes/modules/twitter-feed.html" %}
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showAdverts="true" showToday="true" %}
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		//global var for rca_now_index set here so that it can be used by the script being called
		var current_page = "{% pageurl self %}";

		var filters = {{ filters|safe }};
	</script>
	<script src="/static/rca/js/filters.js"></script>
{% endblock %}

<!-- TODOs
	- Tags
-->