{% extends "rca/base.html" %}
{% load image_tags rich_text pageurl rca_tags %}

{% block body_class %}
    type-standard-index
{% endblock %}

{% block content %}
	{% include "rca/includes/modules/background-image.html" %}

	{% include "rca/includes/modules/h1-major.html" %}

	{% include "rca/includes/modules/carousel.html" %}

	{% if self.intro %}
	<section class="index-intro row module">
	    
	        <div class="content bc0">{{ self.intro|richtext }}{% if self.intro_link %}<a href="{% pageurl self.intro_link %}">...<span class="bc4 caps">Continue</span></a>{% endif %}</div>
	    
	</section>
	{% endif %}

	<!--teaser block-->
	{% with self.teasers.all as teasers %}
        {% if self.teasers %}

        	<section class="two-plus x-plus module">
        		{% if self.teasers_title %}
			    	<h2 class="module-title">{{ self.teasers_title }}</h2>
			    {% endif %}
			    <div class="item-container">
			        <ul class="row">

                     {% for teaser in teasers %}
                     	{% if forloop.counter == 6 %}
                     		<li class="load-more-target">
                     	{% elif forloop.counter0|divisibleby:"3" %}
                     		<li class="newrow">
                     	{% else %}
                     		<li>
                     	{% endif %}
                     	{% comment %}{% cycle '<li>' '<li>' '<li>' '<li class="newrow"> <li> <li class="load-more-target">' %}{% endcomment %}
                     		{% if teaser.url %}
                     		<a href="{{ teaser.url }}">
                     		{% endif %}
                     			{% if teaser.image %}
                     			<div class="image">{% image teaser.image width-400 %}</div>
                     			{% endif %}
			                    <div class="content">
			                    	{% if teaser.title %}
			                        <h3 class="h8">{{ teaser.title }}</h3>
			                        {% endif %}
			                        {% if teaser.text %}
			                        <p class="bc5">{{ teaser.text }}</p>
			                        {% endif %}
			                    </div>
			                {% if teaser.url %}
			                </a>
			                {% endif %}
                    {% endfor %}

                    {% if teasers|length > 6 %}
                		<li class="load-more"><a href="#">+</a></li>
                	{% endif %}
		        </ul>
		    </div>
		</section>

        {% endif %}
    {% endwith %}

    {% if self.news_carousel_area %}
    	{% news_carousel area=self.news_carousel_area %}
    {% endif %}

    {% include "rca/includes/modules/contact.html" %}
    {% include "rca/includes/modules/twitter-feed.html" %}

{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" showRelatedLinks="true" %}
{% endblock %}