{% extends "rca/base.html" %}
{% load wagtailimages_tags wagtailcore_tags rca_tags %}

{% block body_class %}type-standard-index{% endblock %}

{% block content %}
	{% include "rca/includes/modules/background-image.html" %}

	{% include "rca/includes/modules/h1-major.html" %}

    {% include "rca/includes/modules/strapline.html" %}

	{% include "rca/includes/modules/carousel.html" %}

	{% include "rca/includes/modules/intro-large.html" %}

<!--     {% if self.body %}
        <section class='row {% if self.hide_body %}hide-body{% endif %}'>
            {% include "rca/includes/modules/body-text.html" with body=self.body %}
        </section>
        {% if self.hide_body %}<span class="bc4 caps showmore showbody">Read more</span>{% endif %}
    {% endif %} -->

    {% if self.body %}
        <section class='row'>
            {% include "rca/includes/modules/body-text.html" with body=self.body %}
        </section>
    {% endif %}


    {% include "rca/includes/modules/staff_feed.html" %}
    
    <!--custom module block-->
    {% with self.custom_content_modules.all as custom_modules %}
        {% if custom_modules|length > 0 %}
            {% for custom_module in custom_modules %}
                <section class="two-plus x-plus module">
                    <h2 class="module-title">{{ custom_module.custom_content_module.title }}</h2>
                    <div class="item-container">
                        <ul class="row">
                            {% for block in custom_module.custom_content_module.blocks.all %}
                                {% if forloop.counter0 == 6 %}
                                    <li class="newrow load-more-target">
                                {% elif forloop.counter0|divisibleby:"3" %}
                                    <li class="newrow">
                                {% else %}
                                    <li>
                                {% endif %}
                                {% if block.link %}
                                    <a href="{% pageurl block.link %}">
                                {% endif %}
                                {% if block.image %}
                                    <div class="image">{% image block.image width-400 %}</div>
                                {% endif %}
                                <div class="content">
                                    {% if block.item_title %}
                                        <h3 class="h8">{{ block.item_title }}</h3>
                                    {% endif %}
                                    {% if block.text %}
                                        <p class="bc5">{{ block.text }}</p>
                                    {% endif %}
                                </div>
                                {% if block.link %}
                                    </a>
                                {% endif %}
                            {% endfor %}

                            {% if custom_module.custom_content_module.blocks.all|length > 6 %}
                                <li class="newrow load-more"><a href="#">+</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </section>
            {% endfor %}
        {% endif %}
    {% endwith %}

	<!--teaser block-->
	{% with self.teasers.all as teasers %}
        {% if self.teasers.all|length > 0 %}

        	<section class="two-plus x-plus module">
        		{% if self.teasers_title %}
			    	<h2 class="module-title">{{ self.teasers_title }}</h2>
			    {% endif %}
			    <div class="item-container">
			        <ul class="row">

                     {% for teaser in teasers %}
                     	{% if forloop.counter == 6 %}
                     		<li class="load-more-target">
                     	{% elif forloop.counter0|divisibleby:"3" %}
                     		<li class="newrow">
                     	{% else %}
                     		<li>
                     	{% endif %}
                     		{% if teaser.url %}
                     		<a href="{{ teaser.url }}">
                     		{% endif %}
                     			{% if teaser.image %}
                     			<div class="image">{% image teaser.image width-400 %}</div>
                     			{% endif %}
			                    <div class="content">
			                    	{% if teaser.title %}
			                        <h3 class="h8">{{ teaser.title }}</h3>
			                        {% endif %}
			                        {% if teaser.text %}
			                        <p class="bc5">{{ teaser.text }}</p>
			                        {% endif %}
			                    </div>
			                {% if teaser.url %}
			                </a>
			                {% endif %}
                    {% endfor %}

                    {% if teasers|length > 6 %}
                		<li class="load-more"><a href="#">+</a></li>
                	{% endif %}
		        </ul>
		    </div>
		</section>

        {% endif %}
    {% endwith %}

    {% if self.news_carousel_area %}
    	{% news_carousel area=self.news_carousel_area %}
    {% endif %}

    {% if self.show_events_feed %}
        <div id="listing">
            {% include "rca/includes/standard_index_events_listing.html" %}
        </div>
    {% endif %}

    {% if self.our_sites %}
        {% include "rca/includes/modules/our_sites.html" %}
    {% endif %}

    {% include "rca/includes/modules/contact.html" %}
    {% include "rca/includes/modules/contact_snippet.html" %}
    
    {% if self.exclude_twitter_block != True %}
        {% include "rca/includes/modules/twitter-feed.html" %}
    {% endif %}

{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" collapseToday=self.collapse_upcoming_events showRelatedLinks="true" showAdverts="true" %}
{% endblock %}