{% extends "rca/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}type-standard{% endblock %}

{% block extra_js_head %}
    <script id='player_embed' src='//player.cloud.wowza.com/hosted/nhyjq8rd/wowza.js' type='text/javascript'></script>
{% endblock %}

{% block content %}
    <h1 class="h1">{{ self.title }}</h1>

    <section class="row">
        <div id='wowza_player'></div>
    </section>

    <section class="row">
        {% include "rca/includes/modules/body-text.html" with showIntro="true" body=self.body %}

        <section class="four">
            <div class="single borders">
                {% include "rca/includes/modules/share-button.html" %}
            </div>
        </section>
    </section>
    {% include "rca/includes/modules/twitter-feed.html" %}
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" showRelatedLinks="true" showAdverts="true" %}
{% endblock %}
