{% extends "rca/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}type-standard{% endblock %}

{% block content %}
    <h1 class="h1">{{ self.title }}</h1>

    <section class="row">
        {% if self.poster_image %}
            {% image self.poster_image fill-1920x1080 %}
        {% endif %}
    </section>

    <section class="row">
        {% include "rca/includes/modules/body-text.html" with showIntro="true" body=self.body %}

        <section class="four">
            <div class="single borders">
                {% include "rca/includes/modules/share-button.html" %}
            </div>
        </section>
    </section>
    {% include "rca/includes/modules/twitter-feed.html" %}
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" showRelatedLinks="true" showAdverts="true" %}
{% endblock %}
