{% extends "rca/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}type-standard{% endblock %}

{% block extra_js_head %}
    <script src="https://cdn.jwplayer.com/libraries/tM4QASU8.js"> </script>
{% endblock %}

{% block content %}
    <h1 class="h1">{{ self.title }}</h1>

    <section class="row">
        <div id="playerElement"></div>

        <script type="text/javascript">
            var playerInstance = jwplayer("playerElement");

            playerInstance.setup({
                file: "https://wowzaprod192-i.akamaihd.net/hls/live/766214/bc46a873/playlist.m3u8",
                {% if self.poster_image %}
                    {% image self.poster_image original as poster_image %}
                    image: '{{ poster_image.url|escapejs }}',
                {% endif %}
                mediaid: "xxxxYYYY",
                autostart: 'true',
                mute: 'false',
                volume: '5',
                androidhls: 'true'
            });

            // Load custom video file on error
            playerInstance.on('error', function() {
                playerInstance.load({
                    file:"https://player.vimeo.com/external/318463120.hd.mp4?s=6815a7b947819afd296f363d3175ded4d58530d0&profile_id=175",
                    {% if self.poster_image %}
                        {% image self.poster_image original as poster_image %}
                        image: '{{ poster_image.url|escapejs }}',
                    {% endif %}
                });
                playerInstance.play();
            });
        </script>
    </section>

    <section class="row">
        {% include "rca/includes/modules/body-text.html" with showIntro="true" body=self.body %}

        <section class="four">
            <div class="single borders">
                {% include "rca/includes/modules/share-button.html" %}
            </div>
        </section>
    </section>
    {% include "rca/includes/modules/twitter-feed.html" %}
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" showRelatedLinks="true" showAdverts="true" %}
{% endblock %}
