{% extends "rca/base.html" %}
{% load rca_tags wagtailcore_tags %}

{% block body_class %}type-news-index{% endblock %}

{% block content %}
	{% include "rca/includes/modules/h1-major.html" %}

	{% include "rca/includes/modules/intro-large.html" %}

	{% if self.body %}
        <section class='row'>
            {% include "rca/includes/modules/body-text.html" with body=self.body %}
        </section>
    {% endif %}


	{% upcoming_events_related with display_name='Upcoming RCA talks' audience='rcatalks' %}

	<div id="listing">
	    {% include "rca/includes/talks_listing.html" %}
	</div>

	{% include "rca/includes/modules/twitter-feed.html" %}

{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" showRelatedLinks="true" showAdverts="true" %}
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		//global var for current_page set here so that it can be used by the script being called
		var current_page = "{% pageurl self %}";
	</script>
	<!--script src="/static/rca/js/filters.js"></script-->
{% endblock %}

<!-- TODOs:
	- filter of programme by school (or other filtering to be discussed)
 -->