/**
 * Base
 * Override existing styles
 */

.stream-page {
    .strapline {
        display: inline-block;
        vertical-align: top;
        width: 75%;
    }

    .icons {
        display: inline-block;
        vertical-align: top;
        width: 100%;

        .share-wrapper {
            display: inline-block;
        }

        .share {
            float: right;
        }
    }

    .icons--right {
        width: 100%;

        .share-wrapper {
            float: left;
        }

        .stream-page__download {
            float: left;
            margin-left: 20px;
        }

        @media @media-desktop-small {
            width: 25%;

            .share-wrapper {
                float: right;
            }

            .stream-page__download {
                float: right;
                margin-left: 0;
            }
        }
    }

    &__download {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        float: left;
        width: 48px;
        height: 48px;
        background-color: #0C99FF;
        transition: background-color 300ms ease;

        &:hover {
            background-color: darken(#0C99FF, 10%);
        }

        &:after{
            content:"";
            display:inline-block;
            .sprite-load-54(
                @positionX: -306px,
                @positionY: -15px,
                @retinaPositionX: -613px,
                @retinaPositionY: -30px,
                @width: 41px,
                @height: 49px
            );
            zoom:0.6;
            -moz-transform:scale(0.6);
            -moz-transform-origin: 0 0;
            position: absolute;
            right: 0;
            left: 0;
            top: 16px;
            margin: auto;
        }
    }
}
