.showcase {
    &__title {
        margin: 0 0 @spacing-one 0;

        @media @media-desktop-regular {
            font-size: @font-size-72;
            // wrap text and sit over carousel
            max-width: 260px;
            position: relative;
            margin-bottom: -50px;
        }
    }

    &__slide {
        float: left; // stops so much jumping before the carousel loads

        @media @media-desktop-regular {
            padding-left: @spacing-half;
            padding-right: @spacing-half;
        }
        
    }

    &__image-wrapper {
        width: 100%;
        position: relative;
    }

    img {
        width: 100%;
    }

    &__details {
        display: none;

        @media @media-desktop-regular {
            display: block;
            font-weight: 400;
            margin-bottom: @spacing-half;
            font-size: 19px;
        }
    }

    &__page-title {
        font-weight: 700;
    }

    &__link {
        display: none;

        @media @media-desktop-regular {
            display: block;
            color: @color-highlight-blue;
            font-weight: 700;
        }
    }

    // SLICK STYLE OVERRIDES
    // Much of this is layout rejigging to account for the large central slide

    .slick-slide {
        .showcase__wrapper {
            padding: 0;
        }
    }

    // Used throughout for the slick layout
    @imagePadding: 75px;



    // Anything that isn't the centre slide
    .slick-slide:not(.slick-center) {
        // smaller image size
        .showcase__wrapper {
            @media @media-desktop-regular {
                padding-top: @imagePadding;
            }
        }

        img {
            // greyscale image
            filter: grayscale(100%);
        }

        .showcase__image-wrapper {

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: @color-black;
                .opacity(20);
            }
        }

    }

    // the 2 inactive slides (partially hidden)
    .slick-slide:not(.slick-active) {
        .showcase__wrapper {

            // adjusts layout to account for the larger image in the middle
            // this is set for both partially hidden images, but then overriden for the
            // image on the right - due to limitations of CSS selectors
            @media @media-desktop-regular {
                padding-right: @imagePadding;
                transform: translate(@imagePadding, 0);
            }
        }

        // hide the text at desktop for partially hidden images (already hidden at mobile)
        .showcase__details,
        .showcase__link {
            @media @media-desktop-regular {
                display: none;
            }
        }
    }

    // all 3 active slides
    .slick-active {
        .showcase__wrapper {
            // adjusts the layout for the 3 active slides
            // in the end we only want this style on the slide to the left of the centre slide
            // subsequent rules override this for the other 2 active slides - due to CSS selector limitations
            @media @media-desktop-regular {
                padding-right: @imagePadding;
            }
        }
    }

    // the slide after the centre one
    .slick-center + .slick-slide {
        .showcase__wrapper {
            // reset the padding
            @media @media-desktop-regular {
                padding-left: @imagePadding;
                padding-right: 0;
            }
        }
    }

    // the last partially visible slide
    .slick-center + .slick-slide + .slick-slide {
        .showcase__wrapper {
            // resets the padding and adjusts the offset
            @media @media-desktop-regular {
                padding-right: 0;
                padding-left: @imagePadding;
                transform: translate(-@imagePadding, 0);
            }
        }
    }

    // the centre slide
    .slick-center {
        .showcase__wrapper {
            // enlarge and reposition it
            @media @media-desktop-regular {
                transform: translate(-@imagePadding, 0px);
                width: calc(~"100% + 152px");
                padding: 0;
            }
        }

        .showcase__details {
            font-size: 23px;
        }
    }
}
