.block-video {
    position: relative;
    overflow: hidden;

    &__title {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__poster {
        // position: absolute;
        // left: 0;
        // right: 0;
        // top: 50%;
        // transform: translateY(-50%);
        // pointer-events: none;
    }
}
