{% load image_tags %}

<header>
    <h1>Choose an image</h1>
</header>

<div class="row row-flush nice-padding">
    <div class="col6">
        <h2>Search</h2>
        <form class="image-search" action="{% url 'verdantimages_chooser' %}{% if will_select_format %}?select_format=true{% endif %}" method="GET">
            <ul class="fields">
                {% for field in searchform %}
                    {% include "verdantadmin/shared/field_as_li.html" with field=field %}
                {% endfor %}
                <li><input type="submit" value="Search" /></li>
            </ul>
        </form>
        <div id="image-results" class="listing images">
            {% include "verdantimages/chooser/search_results.html" %}
        </div>
    </div>

    <div class="col6">
        <h2>Or upload a new one:</h2>
        <form class="image-upload" action="{% url 'verdantimages_chooser_upload' %}{% if will_select_format %}?select_format=true{% endif %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <ul class="fields">
                {% for field in uploadform %}
                    {% include "verdantadmin/shared/field_as_li.html" with field=field %}
                {% endfor %}
                <li><input type="submit" value="Upload" /></li>
            </ul>
        </form>
    </div>
</div>
