/* 
min z-index: 1;
max z-index: 5;
*/

@import "variables.less";
@import "mixins.less";
@import "grid.less";

body{
    font-family:Open Sans,Arial,sans-serif;
    font-size:85%;
    line-height:1.5em;
    color:@color-text-base;
    overflow-x: hidden;
    position: relative;
}

h1,h2,h3,h4,h5,h6{
    font-weight:normal;
}

h1{
    line-height:1.3em;
    font-size:1.6em;
    text-transform:uppercase;
    color:@color-grey;
    font-weight:bold;
}

a{
    color:@color-link;

    &:hover{
        color:@color-link-hover;
    }
}

code{
    .box-shadow(inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2));
    background-color:@color-fieldset-hover;
    padding:2px 5px;
}

kbd{
    .border-radius(3px);
    font-family:Open Sans, Arial, sans-serif;
    border:1px solid @color-grey;
    border-color:rgba(0,0,0,0.2);
    padding:0.3em 0.5em;
}

img{
    max-width:100%;
    height:auto;
}

.wrapper{
    overflow:hidden;
}

.nav-wrapper{
    .box-shadow(inset -5px 0px 10px 0px rgba(0, 0, 0, 0.5));
    position:relative;
    background: @color-grey-dark;
    margin-left: -100%;
    width: 80%;
    float: left;
    height:100%;
    min-height:800px;
}  
    .nav-main{
        .box-shadow(inset -5px -10px 10px 0px rgba(0, 0, 0, 0.5));
        margin-top:150px;
        background: @color-grey-dark;
        height:100%;
        position:absolute;
    }
    .explorer{
        margin-top:150px; /* same as .nav-main */
    }

    .logo{
        background: url(~"@{static-root}sprites.png") 0 0 no-repeat;
        background-size:500px 500px;
        position:absolute;
        margin:3em 0;
        height:89px;
        width:78px;
        overflow:hidden;
    }

    #nav-toggle{
        cursor:pointer;
        position:fixed;
        left:0px;
    }

    .nav-main{
        ul, li{
            margin:0;
            padding:0;
            list-style-type:none;
        }

        ul{
            border-top:1px solid rgba(200,200,200,0.2);
        }

        li{
            border-bottom:1px solid rgba(200,200,200,0.1);
        
            &.selected{
                background-color:@color-grey-dark;
            }
        }

        a {
            width:240px;       
            text-decoration:none;
            text-transform:uppercase;
            display: block;
            opacity:0.5;
            color: white;
            font-weight: 600;
            padding: 1em;
            position:relative;
           
            &:before{
                opacity:1;
            }
            &:hover{
                opacity:1;
            }
        }
    }
    body.nav-open{
        .nav-wrapper .nav-main{
            width:100%;

            a{
                text-indent:15px;
            }

        }
    }

.content-wrapper{
    width:100%;
    float: right;
    position: relative;
}
    .content{
        .row();

        padding-bottom:100px;
        .push(@grid-content-indent);
        .pull(@grid-content-indent);
    }

/* positioning and setup for sliding items */
.nav-wrapper, .content-wrapper{
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

body.nav-open .nav-wrapper{
    transform: translate3d(125%,0,0);
    -webkit-transform: translate3d(125%,0,0);
}
body.nav-open .content-wrapper{
    transform: translate3d(80%,0,0);
    -webkit-transform: translate3d(80%,0,0);

    
    position:fixed;
    
}


header{
    .full-width-padded();
    padding-top:1em;
    padding-bottom:1em;
    background-color:@color-header-bg;
    .box-shadow(0 1px 3px 0 rgba(0,0,0,0.1));
    margin-bottom:2em;

    h2{
        margin:0;
    }
    .right{
        text-align:right;
    }
}


footer{
    .row();
    background: @color-grey-dark;
    background: rgba(0,0,0,0.7);
    position:fixed;
    bottom:0;
    height:3em;
    width:90%;
    margin:0 5%;

    ul{
        .unlist();
    }
    li{
        float:left;
    }

    .actions{
        width:250px;

        .dropdown-toggle{
            text-transform:uppercase;
            background-color:@color-teal;
            line-height:3em;
            color:white;
            padding-left:1em;
            padding-right:1em;
        }
    }   
}

/* Z-indexes */
#nav-toggle{
    z-index:5;
}
.nav-wrapper{
    z-index:2;
}
footer, .logo{
    z-index:1;
}

/* Transitions */
.content-wrapper,
.nav-wrapper,
.nav-main,
footer,
.logo,
a {
    .transition(all 0.2s ease)
}

@media screen and (min-width: @breakpoint-mobile){
    .col1{
        .column(1);
    }
    .col2{
        .column(2);
    }
    .col3{
        .column(3);
    }
    .col4{
        .column(4);
    }
    .col5{
        .column(5);
    }
    .col6{
        .column(6);
    }
    .col7{
        .column(7);
    }
    .col8{
        .column(8);
    }
    .col9{
        .column(9);
    }
    .col10{
        .column(10);
    }
    .col11{
        .column(11);
    }
    .col12{
        .column(12);
    }
    
    body{
        margin-left:60px;
    }

    .nav-wrapper, .content-wrapper{
        -webkit-transform:none;
        transform:none;
    }

    .nav-wrapper{
        position:absolute;
        height:100%;
        margin-left:-60px;
        left:0;
        width:60px;
    } 

    .explorer{
        margin-top:0;
    }
    .nav-main{
        position:relative;
    }

    .logo, .nav-main{
        position:fixed;
        width:60px;
        overflow:hidden;
    }

    .logo{
        left:-10px;
        width:70px;
    }

    .nav-main a{
        text-indent:25px;
    }

    #nav-toggle{
        left:10px;
        color:lighten(@color-grey, 20%);
        text-transform:uppercase;
        padding:0.5em;
        text-indent:-200px;
        font-size:0.9em;
        .icon-left(10px, 12px, 273px, 215px, 0.6);
        position:fixed;
        
        &:hover{
            color:white;
        }
    }

    /* UN-set the transformations used on mobile */
    body.nav-open .nav-wrapper, body.nav-open .content-wrapper{
        transform: none;
        -webkit-transform: none;
    }
    body.nav-open .content-wrapper .content{
        position:initial;
    }
    body.nav-open .nav-wrapper{
         width:240px;

        .logo{
            left:70px;
            width:80px;
        }
        .nav-main{
            width:240px;

            a{
                text-indent:15px;
            }
        }
    }
    body.nav-open #nav-toggle{
        left:70px;

        &:before{
            .sprite(305px, 215px, 0.6);
        }
        &:after{
            text-indent: 0;
            content: attr(data-afteropen);
            line-height: 1em;
            padding-left: 25px;
            position: absolute;
            left: 0;
            top: 1em;
        }
    }
    
    footer{
        width:80%;
        margin-left:40px;
    }
}

/* bits and pieces */

@import "components/icons.less";
@import "components/explorer.less";
@import "components/dropdowns.less";
@import "components/modals.less";
@import "components/forms.less";
@import "components/listing.less";

/* specific page layouts, that require their own styles */

@import "layouts/page-editor.less";