@static-root: "/static/verdantadmin/images/";

@grid-columns: 12; 
@grid-gutter-width: 3%;
@grid-max-width: 1200px;
@grid-content-indent:0.7;

@breakpoint-mobile:600px;

// generic colours
@color-teal: #49c0c1;
@color-grey: #666;
@color-grey-dark: #333;
@color-red: #FF0000;
@color-green: #00FF00;

@color-thead-bg: lighten(@color-grey, 58%);
@color-header-bg: lighten(@color-grey, 58%);
@color-fieldset-hover: lighten(@color-grey, 58%);
@color-input-border: #CCC;
@color-input-border-focus: darken(@color-input-border, 25%);
@color-input-focus: lighten(@color-teal, 46%);
@color-input-error-bg: lighten(@color-red, 47%);
@color-button: @color-teal;
@color-button-hover: darken(@color-button, 8%);
@color-button-yes: @color-green;
@color-button-yes-hover: darken(@color-button-yes, 8%);
@color-button-no: @color-red;
@color-button-no-hover: darken(@color-button-no, 8%);
@color-link: @color-teal;
@color-link-hover: darken(@color-button, 8%);

@color-context-popup-bg: @color-teal;
@color-context-popup-bg-hover: darken(@color-teal, 20%);

@color-text-base: #555;
@color-text-input: #222;
@color-text-grey: @color-grey;
@color-text-help: lighten(@color-grey, 30%);