{% extends "rca/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}type-standard{% endblock %}

{% block content %}
    <h1 class="h1">{{ self.title }}</h1>
    {% include "rca/includes/modules/strapline.html" %}
    {% include "rca/includes/modules/carousel.html" %}
    <section class="row">

        <section class="body-text">
            {% if self.intro %}
                <div class="bc3 intro">{{ self.intro|richtext }}</div>
            {% endif %}

            {% if self.details %}
                <div class="bc4 details">{{ self.details|richtext }}</div>
            {% endif %}

            {% if self.enquiry_link %}
                <p><a href="{{ self.enquiry_link }}">Register your interest</a></p>
            {% endif %}

            {% if self.details %}<hr>{% endif %}

            {{ page.body|richtext }}

        </section>

        <section class="four">
            {% if self.middle_column_body %}
                <div class="body-text middle-column-body-text">
                    {{ self.middle_column_body|richtext }}
                    {% if self.enquiry_link %}
                        <p>Please <a href="{{ self.enquiry_link }}">register your interest</a>
                        to download the full course description.</p>
                    {% endif %}
                </div>
            {% endif %}
            {% include "rca/includes/modules/downloads.html" %}
            {% include "rca/includes/modules/quotation.html" %}
            {% with self.images.all as images %}
                {% if images %}
                    {% for image in images %}
                        <figure>
                            <div class="image">{% image image.image width-400 %}</div>
                            <figcaption class="a4">{{ image.image.caption_html }}</figcaption>
                        </figure>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="single borders">
                {% include "rca/includes/modules/share-button.html" %}
            </div>
        </section>

    </section>
    {% include "rca/includes/modules/twitter-feed.html" %}
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" collapseToday=self.collapse_upcoming_events showRelatedLinks="true" showAdverts="true" %}
{% endblock %}
