{% extends "rca/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}type-standard{% endblock %}

{% block content %}
    <h1 class="h1" id="enquiry-form--title">{{ self.title }}</h1>
    {% include "rca/includes/modules/strapline.html" %}
    {% include "rca/includes/modules/carousel.html" %}
    <section class="row">

        <section class="body-text">
            <div class="bc3 intro">{{ self.intro|richtext }}</div>

            <div id="booking-form--message"></div>

            <div id="course-booking-form">Loading course dates</div>

            <script src="{{ access_planit_url }}"></script>

            <script type="text/javascript">

                const urlParams = new URLSearchParams(window.location.search);
                const courseID = urlParams.get('course_id')? encodeURIComponent(urlParams.get('course_id')) : null
                const courseIDOption = (courseID ? [courseID] : [])

                // See django-verdant/rca/static/rca/js/site.js for breakpoints
                const mediaQueryList = window.matchMedia("screen and (max-width:767px)");

                function handleViewportChange(mql) {
                    if (mediaQueryList.matches) {
                        /* Mobile */
                        bookingColumns = [
                            CourseManager.columns.Book,
                            CourseManager.columns.CourseName,
                            CourseManager.columns.StartDate,
                            CourseManager.columns.EndDate,
                        ]
                    } else {
                        /* Desktop */
                        bookingColumns = [
                            CourseManager.columns.CourseName,
                            CourseManager.columns.StartDate,
                            CourseManager.columns.EndDate,
                            CourseManager.columns.Book,
                        ]
                    }

                    var options = {
                        ContainerID: 'course-booking-form',
                        CompanyID: "{{ access_planit_company_id }}",
                        CourseIDs: courseIDOption,
                        Columns: bookingColumns
                    }
                    CourseManager.coursesTable(options);
                }

                document.addEventListener("DOMContentLoaded", function (e) {
                    CourseManager.columns.CourseName = "Title";
                    handleViewportChange(mediaQueryList);
                    mediaQueryList.addListener(handleViewportChange);
                });

            </script>
        </section>

    </section>
{% endblock %}

{% block sidebar %}
    {% include "rca/includes/sidebar.html" with showToday="true" collapseToday=self.collapse_upcoming_events showRelatedLinks="true" showAdverts="true" %}
{% endblock %}
