Django==1.6.5
Embedly==0.5.0
Fabric==1.6.1
Jinja2==2.7.2
Markdown==2.3.1
MarkupSafe==0.18
Pillow==2.0.0
PyYAML==3.10
South==0.8.3
Sphinx==1.2
anyjson==0.3.3
celery-with-redis==2.5
django-appconf==0.6
django-auth-ldap==1.1.7
django-celery==2.5.5
django-debug-toolbar==0.11.0
django-debug-toolbar-template-timings==0.5.3
django-devserver==0.7.0
django-picklefield==0.3.1
django-redis==3.3
docutils==0.11
ecdsa==0.10
html2text==3.200.3
httplib2==0.8
kombu==2.1.8
psycopg2==2.4.6
pycrypto==2.6.1
python-dateutil==1.5
requests==2.2.0
simplejson==3.3.1
sphinx-rtd-theme==0.1.5
sqlparse==0.1.10
stripe==1.9.8
tweepy==2.1
-e git://github.com/torchbox/wagtail.git@4f8cfa6346fd645af7a37cbaca3be9183d68b8b3#egg=wagtail-master
wsgiref==0.1.2
humanize==0.5
unicodecsv==0.9.4
elasticsearch==0.4.5
gunicorn==0.17.4