{# TODO: fix the egregious copy-and-pasting and terminology subversion (e.g. calling this 'page-editor') from verdantadmin/pages #}
{% extends "verdantadmin/base.html" %}

{% block bodyclass %}page-editor{% endblock %}

{% block content %}
    <header>
        <h1>New {{ snippet_type_name }}</h1>
    </header>


    <form action="{% url 'verdantsnippets_create' content_type.app_label content_type.model %}" method="POST">
        {% csrf_token %}
        {{ edit_handler.render_form_content }}
        
        <footer>
            <ul>
                <li class="actions">
                    <div class="dropdown dropup match-width">
                        <div><input type="submit" value="Save" /></div>
                    </div>
                </li>
                <li>Something</li>
            </ul>
        </footer>
    </form>
   
{% endblock %}

{% block extra_css %}
    {% include "verdantadmin/pages/_css.html" %}
{% endblock %}
{% block extra_js %}
    {% include "verdantadmin/pages/_js.html" %}
{% endblock %}
