{# TODO: fix the egregious copy-and-pasting and terminology subversion (e.g. calling this 'page-editor') from verdantadmin/pages #}
{% extends "verdantadmin/base.html" %}

{% block bodyclass %}page-editor{% endblock %}

{% block content %}
    <header>
        <h1>Editing: <span>{{ snippet_type_name }} "{{ instance }}"</span></h1>
    </header>

    
    <form action="{% url 'verdantsnippets_edit' content_type.app_label content_type.model instance.id %}" method="POST">
        {% csrf_token %}
        {{ edit_handler.render_as_object }}
        {{ edit_handler.render_missing_fields }}
    
        <footer>
            <ul>
                <li class="actions">
                    <div class="dropdown dropup match-width">
                        <input type="submit" value="Save" class="button" />
                        <div class="dropdown-toggle icon icon-arrow-up"><input type="submit" value="Save" /></div>
                        <ul role="menu">
                            <li><a href="{% url 'verdantsnippets_delete' content_type.app_label content_type.model instance.id %}" class="shortcut">Delete <span class="kbd"><kbd>Shift</kbd> + <kbd>P</kbd></span></a></li>
                        </ul>
                    </div>
                   
                </li>
                <li>Something</li>
            </ul>
        </footer>
    </form>


{% endblock %}

{% block extra_css %}
    {% include "verdantadmin/pages/_css.html" %}
{% endblock %}
{% block extra_js %}
    {% include "verdantadmin/pages/_js.html" %}
{% endblock %}
