{% load rca_tags wagtailcore_tags %}

{% for page, children in nodes %}
    <li class="nav__item{% if children %} has-children {% endif %} ">
        <a class="nav__link" href="{% pageurl page %}" tabindex="5">
            <svg class="nav__active-item-arrow">
                <use xlink:href="#arrow"></use>
            </svg>
            {{ page.title }}
        </a>
        {% if children %}
            <button class="nav__children-button children">
                <svg class="nav__plus">
                    <use xlink:href="#plus"></use>
                </svg>
            </button>
            <ul class="nav__subnav subnav dl-submenu">
                {% menu_subnav children %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
