{% load rca_tags pageurl %}

{% for page, children in nodes %}
    <li class="main">{{ page.title }}
    <div class="submenu-block">
        <ul>
            <li class="parentlink"><a href="{% pageurl page %}">{{ page.title }}</a></li>
            {% for sublist in children|rows_distributed:"3" %}
            <section>
                {% for child, grandchildren in sublist %}
                    <li><a href="{% pageurl child %}">{{ child.title }}</a></li>
                    {% if grandchildren %}
                        <ul class="dl-submenu">
                            {% for grandchild, greatgrandchildren in grandchildren %}
                            {% if grandchild.show_in_menus %}
                                <li><a href="{% pageurl grandchild %}">{{ grandchild.title }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </section>
            {% endfor %}
        </ul>
    </div>
    <span class="footer-expand"></span>
{% endfor %}
