 {% if projects %}
    <section class="three-plus x-plus row module">
        <h2 class="module-title">InnovationRCA Projects</h2>
        <div class="item-container">
            <ul class="row">
                {% for project in projects %}
                    {% if forloop.counter == 4 %}
                        <li class="load-more-target">
                    {% elif forloop.counter0|divisibleby:"4" %}
                        <li class="newrow">
                    {% else %}
                        <li>
                    {% endif %}
                        {% include "rca/includes/modules/innovation_rca_project.html" %}
                    </li>
                {% endfor %}
                {% if projects|length > 4 %} 
                    <li class="load-more"><a href="#">+</a></li>
                {% endif %}
            </ul>
        </div>
    </section>
{% endif %}