{% load rca_tags wagtailcore_tags %}

{% for page, children in nodes %}
    <li class="nav__item nav__item--priority{% if children %} has-children {% endif %} js-priority">
        <a class="nav__link nav__link--priority" href="{% pageurl page %}" tabindex="4">
            <svg class="nav__chevron">
                <use xlink:href="#chevron"></use>
            </svg>
            <span>{{ page.title }}</span>
        </a>
        {% if children %}
            <div class="nav__inner nav__inner--priority js-priority-nav">
                <ul class="nav__subnav nav__subnav--priority menu js-menu">
                    {% menu_subnav children %}
                </ul>
            </div>
        {% endif %}
    </li>
{% endfor %}
