{% load wagtailcore_tags wagtailimages_tags rca_tags %}

{% if programmes %}

	<section class="row module">
		<h2 class="module-title">
			Programmes
			{% if has_pathways %}
				 > <span class="section-breadcrumb-pathways">Pathways</span>
			{% endif %}
		</h2>
		<ul class="programmes-and-pathways">
			{% for programme in programmes %}
				<li>
                    {% pathway_by_programme programme as pathways %}
                    <a href="{% pageurl programme %}" {% if pathways %} class="chevron-after" {% endif %}>{{ programme.title }}</a>
                    {% for pathway in pathways %}
                        <a href="{% pageurl pathway %}" class="pathway-link {% if not forloop.last %} separator-after {% endif %}">{{ pathway.title }}</a>
                    {% endfor %}
				</li>
			{% endfor %}
		</ul>
	</section>

{% endif %}
