{% load wagtailcore_tags wagtailimages_tags rca_tags %}

{% if programmes %}

	<section class="row module offset thicker-border">
		<h2 class="module-title offset-title module-title-black">
			Programmes
			{% if has_pathways %}
				 &amp; Pathways
			{% endif %}
		</h2>
        <div class="offset-content">
    		<ul class="block-list">
    			{% for programme in programmes %}
    				<li>
                        {% pathway_by_programme programme as pathways %}
                        <a href="{% pageurl programme %}">{{ programme.title }}</a>
                        {% if pathways %}
                            <ul>
                                {% for pathway in pathways %}
                                    <li><a href="{% pageurl pathway %}">{{ pathway.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
    				</li>
    			{% endfor %}
    		</ul>
        </div>
	</section>

{% endif %}
