{% load wagtailcore_tags wagtailimages_tags %}

{% if programmes %}

	<section class="row module">
		<h2 class="module-title">Programmes</h2>
		<ul class="programmes-and-pathways">
			{% for programme in programmes %}
				<li>
					<a href="{% pageurl programme %}" {% if programme.pathways.exists %} class="chevron-after" {% endif %}>{{ programme.title }}</a>
					{% for pathway in programme.pathways %}
						<a href="{% pageurl pathway %}" class="pathway-link {% if not forloop.last %} separator-after {% endif %}">{{ pathway.title }}</a>
					{% endfor %}
				</li>
			{% endfor %}
		</ul>
	</section>

{% endif %}
