{% load pageurl image_tags %}
{% if rcanow_pages %}
    <section class="three-plus x-plus row module">
        <h2 class="module-title">RCA now</h2>
        <div class="item-container">
            <ul class="row">
                {% for rcanow in rcanow_pages %}
                    {% if forloop.counter == 4 %}
                        <li class="load-more-target">
                    {% elif forloop.counter0|divisibleby:"4" %}
                        <li class="newrow">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{% pageurl rcanow %}">
                            {% if rcanow.feature_image %}
                                <div class="image">{% image rcanow.feature_image width-400 %}</div>
                            {% endif %}
                            <div class="content">
                                <h3 class="h8">{{ rcanow.title }}</h3>
                                {% if rcanow.author %}
                                    <p class="bc5">{{ rcanow.author }}</p>
                                {% endif %}
                            </div>
                        </a>
                    </li>
                {% endfor %}
                {% if rcanow_pages|length > 6 %} 
                    <li class="load-more"><a href="#">+</a></li>
                {% endif %}
            </ul>
        </div>
    </section>
{% endif %}