{% load pageurl image_tags %}
{% if rcanow_pages %}
    <ul class="related-projects">
        {% for rcanow in rcanow_pages %}
            <li>
                <a href="{% pageurl rcanow %}">
                    {% if rcanow.feed_image %}
                        {% image rcanow.feed_image width-180 %}
                    {% else %}
                        {% with rcanow.carousel_items.all as carousel_items %}
                            {% with carousel_items|first as carousel_item %}
                                {% if carousel_item.image %}
                                    {% image carousel_item.image fill-300x169 %}
                                {% else %}
                                    <img src="/static/rca/images/16x9-light-grey-placeholder.png" width="180">
                                {% endif %}
                            {% endwith %}
                        {% endwith %}
                    {% endif %}
                    <div class="content">
                        <h2 class="h8">{{ rcanow.title }}</h2>
                        {% if rcanow.author %}
                            <p class="bc5">{{ rcanow.author }}</p>
                        {% else %}
                            <p class="bc5"></p>{% comment %}make sure the spacing works out even without an author{% endcomment %}
                        {% endif %}
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
