{% load wagtailcore_tags %}
{% load cycle from future %}

{% comment %} The cycle of colours is needed by both adverts and open days. Open days only appear on the programme page where there are already adverts, so it is safe to start the cycle within the adverts block.{% endcomment %}
<div class="adverts">
    {% for advert in global_adverts %}
        <div class="{% cycle 'advert-pale-blue' 'advert-green' 'advert-blue' 'advert-pink' 'advert-grey' as adcolors %}">
            {% if advert.url %}<a href="{{ advert.url }}">{% elif advert.page %}<a href="{% pageurl advert.page %}">{% endif %}
                <h2>{{ advert.text }}</h2>
                {% if advert.plain_text %}{{ advert.plain_text }}{% endif %}
            {% if advert.url or advert.page %}</a>{% endif %}
        </div>
    {% endfor %}

    {% for advert in self.manual_adverts.all %}
        <div class="{% cycle adcolors %}">
            {% if advert.ad.url %}<a href="{{ advert.ad.url }}">{% elif advert.ad.page %}<a href="{% pageurl advert.ad.page %}">{% endif %}
            <h2>{{ advert.ad.text }}</h2>
            {% if advert.ad.plain_text %}{{ advert.ad.plain_text }}{% endif %}
        {% if advert.ad.url or advert.ad.page %}</a>{% endif %}
        </div>
    {% endfor %}
</div>

<!--open days-->
{% if show_open_days %}
    <div class="{% cycle adcolors %}">
        <a href="{{ global_events_index_url }}?audience=openday&amp;programme={{ self.programme }}">
            <h2>Open Days</h2>
        </a>
    </div>
{% endif %}
