{% load pageurl image_tags %}
{% if staff %}

    {% for staff_member in staff %}
        <div class="related-content-item">
            <a href="{% pageurl staff_member %}">
                <figure class="staff">
                    <div class="image">
                    {% if staff_member.profile_image %}
                        {% image staff_member.profile_image width-180 %}
                    {% else %}
                        <img src="/static/rca/images/medium-grey-placeholder.png" width="180">
                    {% endif %}
                    </div>
                    <figcaption>{{ staff_member.first_name }}<span>{{ staff_member.last_name }}</span></figcaption>
                </figure>
            </a>
        </div>
    {% endfor %}
{% endif %}
