{% load pageurl image_tags %}
{% if students %}

    {% for student in students %}
        <div class="related-content-item">
            <a href="{% pageurl student %}">
                <figure class="staff">
                    <div class="image">
                        {% if student.feed_image %}
                            {% image student.feed_image width-180 %}
                        {% elif student.get_profile.carousel_items %}
                            {% with student.get_profile.carousel_items.all as carousel_items %}
                                {% with carousel_items|first as carousel_item %}
                                    {% if carousel_item.image %}
                                        {% image carousel_item.image fill-180x101 %}
                                    {% else %}
                                        <img src="/static/rca/images/rca-placeholder-square.jpg" width="width-180">
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        {% else %}
                            <img src="/static/rca/images/rca-placeholder-square.jpg" width="200">
                        {% endif %}

                        </div>
                    <figcaption>{{ student.first_name }}<span>{{ student.last_name }}</span></figcaption>
                </figure>
            </a>
        </div>
    {% endfor %}
{% endif %}
