{% with formset.extra_forms.0 as empty_form %}
    {{ formset.management_form }}
    <ul class="multiple" id="id_{{ formset.prefix }}-FORMS">
        {% for form in formset.initial_forms %}
            {% include "verdantsearch/editorspicks/includes/editorspicks_form.html" with form=form only %}
        {% endfor %}
    </ul>

    <script type="text/django-form-template" id="id_{{ formset.prefix }}-EMPTY_FORM_TEMPLATE">
        {% include "verdantsearch/editorspicks/includes/editorspicks_form.html" with form=empty_form only %}
    </script>

    <p class="add">
        <a class="icon icon-plus-inverse" id="id_{{ formset.prefix }}-ADD" value="Add">Add editors pick</a>
    </p>

{% endwith %}