<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="assets/css/normalize.css">
        <link rel="stylesheet" href="assets/css/core.css">
        <link href="assets/css/desktop.css" rel="stylesheet" media="screen and (min-width:600px)" />
        <link href="assets/css/desktop-large.css" rel="stylesheet" media="screen and (min-width:1280px)" />
        <!--[if lt IE 9]>
        <link href="assets/css/desktop.css"" rel="stylesheet" />
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
        </script>
        <![endif]-->

        <!--webfonts-->
        <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7787252/679822/css/fonts.css" />
        <link href="//cloud.webtype.com/css/2dc77ba2-6663-49b6-9e6c-aa009c06648b.css" rel="stylesheet" type="text/css" />

        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="wrapper">
            <div class="content">
        <!-- Add your site or application content here -->
            {{ content }}
            </div>
            <aside>
                <div class="related sidebar-links">
                    <h2>Related links</h2>
                    <ul>
                        <li><a href="">Studying at the RCA</a></li>
                        <li><a href="">Tuition fees and funding</a></li>
                        <li class="last"><a href="">Partnerships Awards &amp; scholarships</a></li>
                    </ul>
                </div>
                <div class="today sidebar-links">
                    <h2>Today</h2>
                    <ul>
                        <li>
                            <a href="">
                                <h3>21 March</h3>
                                <p>Neville Brody in Conversation</p>
                            </a>
                            <span>public</span>
                        </li>
                        <li>
                            <a href="">
                                <h3>7 May</h3>
                                <p>Not dressed for Conqering - Ines Doujak's Loomshuttles Warpaths</p>
                            </a>
                            <span>private</span>
                        </li>
                        <li class="last">
                            <a href="">
                                <h3>14 March</h3>
                                <p>SHOW RCA 2013</p>
                            </a>
                            <span>public</span>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-advert">
                    <h2>Apply to Study</h2>
                    <p>at the Royal College of Art</p>
                </div>
            </aside>
        </div>
        <div class="full-width-footer">
            <div class="footer-wrapper">
                <footer>
                    <ul>
                        <li>some test thing</li>
                        <li>another test thing</li>
                    </ul>
                </footer>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <!--<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>-->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
