{% load wagtailimages_tags %}

{# Full-width quote #}
{% if value.position == 'full' %}

    {% spaceless %}
    <div class="blockquote-{{ value.position }}">
        <blockquote class="blockquote-{{ value.position }}__quote">
            <p class="blockquote-{{ value.position }}__quote-text">
                {{ value.quotation }}

                <span>
                    {% if value.quotee %} 

                        {{ value.quotee }}

                        {% if value.quotee_job_title %}
                            ({{ value.quotee_job_title }})
                        {% endif %}

                    {% endif %}
                </span>
            </p>
        </blockquote>
        <div class="blockquote-{{ value.position }}__image">
            {% if value.image %}
                {% image value.image fill-330x400-c100 %}
            {% endif %}
        </div>
    </div>
    {% endspaceless %}

{# Right-aligned quote #}
{% else %}

    {% spaceless %}
    <div class="blockquote-{{ value.position }}">
        {{ value.quotation }}
        {% if value.quotee %} 

            {{ value.quotee }}

            {% if value.quotee_job_title %}
                ({{ value.quotee_job_title }})
            {% endif %}

        {% endif %}
    </div>
    {% endspaceless %}

{% endif %}
