{% load wagtailimages_tags %}

{# Full-width quote #}
{% if value.position == 'full' %}

    {% spaceless %}
    <div class="blockquote-{{ value.position }}">
        <blockquote class="blockquote-{{ value.position }}__quote">
            <p class="blockquote-{{ value.position }}__quote-text">
                {{ value.quotation }}

                <span>
                    {% if value.quotee %} 

                        {{ value.quotee }}

                        {% if value.quotee_job_title %}
                            ({{ value.quotee_job_title }})
                        {% endif %}

                    {% endif %}
                </span>
            </p>
        </blockquote>
        <div class="blockquote-{{ value.position }}__image">
            {% if value.image %}
                {% image value.image fill-330x400-c100 %}
            {% endif %}
        </div>
    </div>
    {% endspaceless %}

{# Right-aligned quote #}
{% else %}

    {% spaceless %}
    <div class="blockquote-{{ value.position }}">
        <div class="blockquote-{{ value.position }}__body">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel turpis tristique nunc dapibus viverra eu a libero. Quisque consequat arcu id sollicitudin luctus. Aliquam sit amet pretium risus, at placerat felis. Mauris auctor, risus at dignissim fermentum, diam augue accumsan libero, ut tincidunt enim orci at arcu. Nullam egestas congue nisl. Mauris tempus eros purus, eu imperdiet sem tincidunt ac. Sed sit amet blandit felis, ut suscipit diam. Nulla facilisi. Maecenas dapibus, felis at finibus aliquam, neque justo mollis magna, at scelerisque turpis leo vitae nulla.
            </p>
        </div>
        <div class="blockquote-{{ value.position }}__quote">
            <p>
                {{ value.quotation }}

                <span>
                    {% if value.quotee %} 

                        {{ value.quotee }}

                        {% if value.quotee_job_title %}
                            ({{ value.quotee_job_title }})
                        {% endif %}

                    {% endif %}
                </span>
            </p>
        </div>
    </div>
    {% endspaceless %}

{% endif %}
