{% load demo_tags cache %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% if self %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %} | Wagtail Demo{% endblock %}</title>
  </head>
  <body>
    <h1>Wagtail Demo</h1>

    {% block menu %}
      {% cache 500 menu %}
        {% get_site_root as site_root %}
        {% include "demo/includes/menu.html" with self=site_root only %}
      {% endcache %}
    {% endblock %}

    {% block search_box %}
      {% include "demo/includes/search_box.html" only %}
    {% endblock %}

    {% block content %}

    {% endblock %}
  </body>
</html>