{% extends "demo/base.html" %}
{% load pageurl %}

{% block content %}

    {% include "demo/includes/intro.html" with intro=self.intro only %}

    <div class="list-group">
        {# Uses blogs method defined in models.py - allows for paging if required #}
        {# See also standard index for creating a listing with a tag #}
        {% for blog in self.blogs %}
            <a class="list-group-item" href="{% pageurl blog %}">
                <h4 class="list-group-item-heading">{{ blog.title }}</h4>
                {% if blog.search_description %}
                    <p class="list-group-item-text">{{ blog.search_description }}</p>
                {% endif %}
            </a>
        {% empty %}
            No blogs found
        {% endfor %}
    </div>

    {% include "demo/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}