{% extends "demo/base.html" %}

{% block content %}

    {% include "demo/includes/carousel.html" with carousel_items=self.carousel_items.all only %}

    {% include "demo/includes/body.html" with body=self.body only %}

    <h3>Audience</h3>
    {# From EVENT_AUDIENCE_CHOICES in models.py #}
    {{ self.get_audience_display }}

    <h3>Location</h3>
    {{ self.location }}

    <h3>Speakers</h3>
    <ul>
    {% for speaker in self.speakers.all %}
        {% if speaker.link %}
            <li><a href="{{ speaker.link }}">{{ speaker.name_display }}</a></li>
        {% else %}
            <li>{{ speaker.name_display }}</li>
        {% endif %}
    {% empty %}
        <li>No speakers found</li>
    {% endfor %}
    </ul>

    {% include "demo/includes/related_links.html" with related_links=self.related_links.all only %}

{% endblock %}