fieldset, input, textarea, select{
     .transition(all linear 0.2s);
}
form {
    ul, li{
        list-style-type:none;
    }
    ul{
        margin:0;
        padding:0;
    }
    li{
        .row();
    }
}

fieldset{
    border:0;
    padding:1.5em 0;
    margin:0;
    position:relative;   
}

legend{
    .visuallyhidden();
}

.fields li{
    padding-top:0.5em;
    padding-bottom:0.5em;
}

.field{
    padding:0 0 0.5em 0;
}

label{
    font-weight:300;
    display:block;
    padding:0 0 0.5em 0;
    line-height:1em;

    .checkbox &,
    .radio &{
        display:inline;
    }
}

input, textarea, select, .richtext, .tagit{
    .border-radius(6px);
    .border-box();
    font-family:Open Sans,Arial,sans-serif;
    width:100%;
    border:1px dashed @color-input-border;
    padding:1.2em;
    background-color:white;
    -webkit-appearance: none;
    color:@color-text-input;
    font-size:1em;

    &:hover{
        background-color:@color-fieldset-hover;
    }
    &:focus{
        border-color: darken(@color-input-focus, 40%);
        outline:none;
        background-color:@color-input-focus;
    }
}

.tagit{
    padding:0.9em 1.2em;
}


input[type=radio],input[type=checkbox]{
    cursor:pointer;
}

input[type=radio]{
    -webkit-appearance: radio;
    width:auto;
    position:relative;
    margin-right:15px;
}

input[type=radio]:before{
    text-align:center;
    position:absolute;
    top:-5px;
    left:-2px;
    cursor:pointer;
    display:block;
    content:"";
    width:20px;
    height:20px;
    background-color:white;
    border:1px solid lighten(@color-grey, 50%);
    .border-radius(100%);
}
input[type=radio]:checked:before{
    .sprite(106px, 329px, 1);
}


input[type=checkbox]{
    -webkit-appearance: checkbox;
    width:auto;
    position:relative;
    margin-right:15px;
}

input[type=checkbox]:before{
    text-align:center;
    position:absolute;
    top:-5px;
    cursor:pointer;
    display:block;
    content:"";
    width:20px;
    height:20px;
    background-color:white;
    border:1px solid lighten(@color-grey, 50%);
}
input[type=checkbox]:checked:before{
    .sprite(-5px, 332px, 1);
}

input[type=submit], input[type=reset], a.button, input.button, button{
    .border-radius(2px);
    width:auto;
    padding:1.3em 2em;
    border:none;
    background-color: @color-button;
    color:white;
    text-decoration:none;
    text-transform:uppercase;
    font-size:0.95em;
    white-space: nowrap;
    position:relative;
    
    &:hover{
        background-color: @color-button-hover;
    }

    &.yes{
        background-color: @color-button-yes;
        &:hover{
            background-color: @color-button-yes-hover;
        }
    }
    &.no{
        background-color: @color-button-no;
        &:hover{
            background-color: @color-button-no-hover;
        }
    }
}
a.button{
    line-height:3.5em;
}
.button.icon{
    padding-left:45px;
}

/* Other text */
.help, .error-message{
    font-size:0.85em;
    font-weight:300;
    margin-top:0;
}
.help{
    .transition(opacity 0.2s ease); /* TODO: This makes the browser go nuts. Find way to solve */
    color:@color-grey;
    opacity:0;
}

/* permanently show checkbox/radio help as they have no focus state */
.checkbox .help, .radio .help{
    opacity:;
}


fieldset:hover > .help,
.field.focused + .help,
.field:focus + .help,
.field:hover + .help,
li.focused > .help{
    opacity:1;
}

.error-message{
    margin:0;
    color:@color-red;
    clear:both;
}
.error input, .error textarea, .error select{
    border-color:@color-red;
    background-color:lighten(@color-red, 45%);
}

/* field sizing */
.field{ 
    &.col1,
    &.col2,
    &.col3,
    &.col4,
    &.col5,
    &.col6,
    &.col7,
    &.col8,
    &.col9,
    &.col10,
    &.col11,
    &.col12{clear:both;}
}

li.inline .field{
    &.col1,
    &.col2,
    &.col3,
    &.col4,
    &.col5,
    &.col6,
    &.col7,
    &.col8,
    &.col9,
    &.col10,
    &.col11,
    &.col12{clear:none;} 
}

/* solve gutter issues of inline fields */
ul.inline li:first-child, li.inline:first-child{
    margin-left:-@grid-gutter-width / 2;
}

form .icon.add{
    position:relative;
    text-decoration:none;
    font-weight:700;
    &:before{
        left:0;
    }
}