.messages{
	.full-width();

	ul{
		.unlist();
	}
	li{
		.artist-indent();
		padding-top:1.3em;
		padding-bottom:1.3em;
		color:white;
	}
	.error{
		background-color:@color-red;
	}
	.success{
		background-color:@color-teal-dark;
	}
}