{% extends "verdantadmin/base.html" %}

{% block content %}
    <header>
        <h1>Create a page in <span>{{ parent_page.title }}</span></h1>
    </header>

    <div class="nice-padding">
        {% if page_types %}
            <p>Page types that a regular editor would be allowed to add:</p>
            <ul class="listing">
                {% for content_type in page_types %}
                    <li><a href="{% url 'verdantadmin_pages_create' content_type.app_label content_type.model parent_page.id %}" class="icon icon-plus-inverse">{{ content_type.name|title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if all_page_types %}
            <p>Page types that you can add as a superuser:</p>
            <ul class="listing">
                {% for content_type in all_page_types %}
                    <li><a href="{% url 'verdantadmin_pages_create' content_type.app_label content_type.model parent_page.id %}" class="icon icon-plus-inverse">{{ content_type.name|title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
