{% load pageurl image_tags show_tags %}

<li class="item {% if gallery_image.is_landscape %}landscape{% else %}portrait{% endif %}" >
    <a href="{% show_subpage_url self.show_index 'student' school=student.school programme=student.programme slug=student.slug %}">
        <div class="gallery-image">
            {% if image_format == "fill" %}
                {% image gallery_image fill-300x300 %}
            {% elif image_format == "video" %}
                {% image gallery_image.poster_image fill-600x400 %}
            {% else %}
                {% image gallery_image height-300 %}
            {% endif %}
        </div>
        <div class="content">
            <h2 class="h6"><i>{{ student.title }}</i></h2>
            {% comment %}
            <p>{{ galleryitem.title }}</p>
            <p class="meta a2">{{ galleryitem.get_programme_display }}</p>
            {% endcomment %}
        </div>
    </a>
</li>