{% load pageurl image_tags show_tags %}

<ul class="showgallery">
    {% if self.programme %}
        {% for student in rand_students %}
            <li class="item" >
                <a href="{% get_student_url self student %}">
                    {% if student.profile_image %}
                        <div class="gallery-image">
                            {% image student.profile_image fill-300x300 %}
                        </div>
                    {% endif %}
                    <div class="content">
                        <h2 class="h6"><i>{{ student.title }}</i></h2>
                    </div>
                </a>
            </li>
        {% endfor %}
    {% else %}
        {% for student in rand_students %}
            {% include "rca_show/includes/modules/gallery_include.html" with student=student galleryitem=student gallery_image=student.postcard_image %}
        {% endfor %}
    {% endif %}
</ul>
