{% load wagtailimages_tags wagtailembeds_tags %}

<section class="row">
    <div id='playerofeAeYdLaGHz'></div>
    <script type='text/javascript'>
        jwplayer('playerofeAeYdLaGHz').setup({
            file: 'http://uh8w7w.cloud.influxis.com:1935/live/ngrp:myStream_all/playlist.m3u8',
            {% if poster_image %}
                {% image poster_image original as poster_image_rendition %}
                image: '{{ poster_image_rendition.url }}',
            {% endif %}
            width: '100%',
            aspectratio: '16:9',
            autostart: 'true',
            ga: '{}',
            sharing: '{}',
            androidhls: 'true'
        });

        jwplayer().onError(function(){
            jwplayer().load({
                file:"{% static 'rca_show/stream-error.mp4' %}",
                {% if poster_image %}
                    {% image poster_image original as poster_image_rendition %}
                    image: '{{ poster_image_rendition.url }}',
                {% endif %}
            });
            jwplayer().play();
        });
    </script>
</section>


<!--     		<div id='my-video'></div>

		<script type='text/javascript'>			 
			jwplayer('my-video').setup({
				playlist: [{
			        image: 'http://www.rca.ac.uk/static/rca/images/livestream.holding.2.jpg',
			        sources: [{
			            file: "rtmp://uh8w7w.live.cloud.influxis.com/uh8w7w/_definst_/rca",
			           
			        },{
			            file: "http://uh8w7w.live.cloud.influxis.com/uh8w7w/rca/playlist.m3u8"

			        },{
			            file: "http://influx.is/dtJk2K"

			        }]
			    }],
			    width: '100%',
			    aspectratio: '16:9',
			    controls: 'true',
			    title: '',
			    autostart: 'true'
			});
		</script> -->