.grid {
    .grid-layout();
}

.footer {
    //Font fix for new site.
    font-family: @font--primary;
    a {
        font-family: @font--secondary;
    }

    //Background fix for mobile.
    margin-left: -@gutter;
    margin-right: -@gutter;
    margin-top: (@gutter * 2);
    padding-left: @gutter;
    padding-right: @gutter;
    padding-top: (@gutter * 2);
    padding-bottom: @gutter;
    background-color: @color--black;
    color: @color--white;

    @media @media-medium {
        padding-top: (@gutter * 5);
    }

    @media @media-large {
        padding-top: (@gutter * 8);
        padding-bottom: (@gutter * 5);
    }
    
    .showrca & {
        margin-top: 0;
        padding-top: (@gutter * 4);
    }

    &__upper {
        margin: 0 auto;
        padding-left: 0;
        align-items: end;
        padding-left: @gutter;
        padding-right: @gutter;
        
        @media @media-desktop-regular {
            padding-left: (@gutter * 3);
        	padding-right: (@gutter * 3);
        }
        
    }

    &__lower {
        margin: 0 auto;
        padding-left: 0;
        padding-top: (@gutter * 3);
        padding-left: @gutter;
        padding-right: @gutter;

        @media @media-desktop-regular {
            padding-top: (@gutter * 5.5);
            padding-left: (@gutter * 3);
        	padding-right: (@gutter * 3);
        }
    }

    &__mid {
        margin: 0 auto;
        padding-top: (@gutter * 2.5);
        padding-left: @gutter;
        padding-right: @gutter;
        
        @media @media-desktop-regular {
            padding-left: (@gutter * 3);
        	padding-right: (@gutter * 3);
        }
    }

    &__logo {
        @media @media-large {
            grid-column: 1 / span 2;
        }
    }

    &__action {
        grid-column-start: 2;

        @media @media-large {
            grid-column-start: 3;
        }
    }

    &__social-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;

        @media @media-medium {
            justify-content: flex-start;
            width: auto;
        }

        @media @media-large {
            grid-column-start: 1;
        }
    }

    &__links {
        @media @media-large {
            grid-column-start: 1;
            grid-column-end: 4;
            display: flex;
            flex-direction: row;
        }
    }

    &__credit {
        font-size: 12px;
        grid-column-start: 1;
        grid-column-end: 3;

        @media @media-medium {
            grid-column-end: auto;
        }

        @media @media-large {
            grid-column-start: 4;
        }
    }

    &__credit-item {
        max-width: 220px;

        @media @media-medium {
            max-width: none;
        }

        &:first-child {
            padding-bottom: @gutter;
            border-bottom: 1px solid @color--grid-line-light;
        }
    }
}
