.grid {
    .grid-layout();
}

.footer {
    //Font fix for new site.
    font-family: @font--primary;
    a {
        font-family: @font--secondary;
    }

    //Background fix for mobile.
    margin-left: -@gutter;
    margin-right: -@gutter;
    padding-left: @gutter;
    padding-right: @gutter;

    padding-top: (@gutter * 2);
    padding-bottom: @gutter;
    background-color: @color--black;
    color: @color--white;

    @media @media-medium {
        padding-top: (@gutter * 5);
    }

    @media @media-large {
        padding-top: (@gutter * 8);
        padding-bottom: (@gutter * 5);
    }

    &__upper {
        align-items: end;
    }

    &__lower {
        padding-top: (@gutter * 3);

        @media @media-medium {
            padding-top: (@gutter * 5.5);
        }
    }

    &__mid {
        padding-top: (@gutter * 2.5);
    }

    &__logo {
        @media @media-large {
            grid-column: 2 / span 2;
        }
    }

    &__action {
        grid-column-start: 2;

        @media @media-large {
            grid-column-start: 4;
        }
    }

    &__social-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;

        @media @media-medium {
            justify-content: flex-start;
            width: auto;
        }

        @media @media-large {
            grid-column-start: 2;
        }
    }

    &__links {
        @media @media-large {
            grid-column-start: 2;
            grid-column-end: 5;
            display: flex;
            flex-direction: row;
        }
    }

    &__credit {
        font-size: 12px;
        grid-column-start: 1;
        grid-column-end: 3;

        @media @media-medium {
            grid-column-start: 2;
            grid-column-end: auto;
        }

        @media @media-large {
            grid-column-start: 5;
        }
    }

    &__credit-item {
        max-width: 220px;

        @media @media-medium {
            max-width: none;
        }

        &:first-child {
            padding-bottom: @gutter;
            border-bottom: 1px solid @color--grid-line-light;
        }
    }
}
