
/**
 * $Header
 */

/* header has to match width of page-content below so has left and right
margins like the wrapper. When page-content scrolls up, especially the full width
footer, we don't want stuff appearing behind the header. This 100% width wrapper
makes sure that doesn't happen. NB may no longer be needed if we definitely have a transparent background */


.header {
    height: @header-height-mobile;
    z-index: 4000;
    position: relative;
    display: flex;

    &__site-name {
        display: block;
        height: 100px;
        width: 240px;
    }

    &__logo {
        height: 100%;
        width: 100%;
    }

    &__button {
        border: 0;
        background: transparent;
    }

    &__icon {
        width: 21px;
        height: 21px;
        fill: @color-dark-grey;
    }
}




