
/**
 * $Search
 */

 form.search {
    display: none; /* initially hidden */
    position: fixed;
    background-color: @color-white;
    margin-left: -2px;
    left: 0;
    top: 0;
    height: @header-height-mobile;
    width: 70%;

    input[type="text"] {
        width: 90%;
        .bc5;
        color: @color-dark-grey;
        padding: 28px;
        border: none;
        border-image-width: 0;
        background-color:transparent;
    }
    ::-webkit-input-placeholder {
        padding: 2px 0 0 0;
       .t2;
    }

    :-moz-placeholder { /* Firefox 18- */
        padding: 2px 0 0 0;
       .t2;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        padding: 2px 0 0 0;
       .t2;
    }

    :-ms-input-placeholder {
        padding: 2px 0 0 0;
       .t2;
    }
    input[type="text"]:focus{
        outline:none;
    }
    input[type="submit"] {
        .sprite-load-23(
            @positionX: -89px,
            @positionY: -48px,
            @retinaPositionX: -179px,
            @retinaPositionY: -97px,
            @width: 13px,
            @height: 23px
        );
        background-color:transparent;
        text-indent: -9999px;
        border: 0;
        position: relative;
        top: 0px;
        padding: 0;
    }
 }

form.search.expanded {
    display: block;
}

/**
 * Search field autocomplete
 */
.ui-autocomplete{
    width: 100%;
    position:absolute;
    background-color:white;
    z-index:3500;

    li{
        border-top:1px solid @color-light-grey;
        &:first{
            border:0;
        }
        a{
            .h7;
            display:block;
            padding:0.5em 10px;
        }
        a:hover{
            background-color:@color-pale-grey;
        }
        span{
            .a1;
            display:block;
        }
    }
}
.ui-helper-hidden-accessible{
    display:none;
}
