{% load image_tags ellipsistrim%}

{% include "verdantadmin/shared/header.html" with title="Insert embed" merged=1 %}

<div class="tab-content">
    <section id="form" class="active nice-padding">
        <form class="embed-form" action="{% url 'verdantembeds_chooser_upload' %}" method="POST">
            {% csrf_token %}
            <ul class="fields">
                {% for field in form %}
                    {% include "verdantadmin/shared/field_as_li.html" with field=field %}
                {% endfor %}
                <li><input type="submit" value="Insert" /></li>
            </ul>
        </form>
    </section>
</div>