.bx-wrapper {
	width: 500px;
	margin-left: 0;
}

.bxslider li {
	position: relative;
}

.bxslider .poster {
	position: absolute;
	top: 0;
	left: 0;
}

.body-content {
	img {
		margin-bottom: 2%;
		margin-top: 2%;
	}

	img.full-width {
		width: 100%;
	}

	img.left {
		width: 45%;
		margin-right: 5%;
		float: left;
	}

	img.right {
		width: 45%;
		margin-left: 5%;
		float: right;
	}
}