{% comment %}
    Javascript declarations to be included on the 'create page' and 'edit page' views
{% endcomment %}

<script src="{{ STATIC_URL }}verdantadmin/js/jquery-ui-1.10.2.js"></script>
<script src="{{ STATIC_URL }}verdantadmin/js/expanding_formset.js"></script>
<script src="{{ STATIC_URL }}verdantadmin/js/rangy-core.js"></script>
<script src="{{ STATIC_URL }}verdantadmin/js/hallo.js"></script>
<script src="{{ STATIC_URL }}verdantadmin/js/modal-workflow.js"></script>
<script type="text/coffeescript" src="{{ STATIC_URL }}verdantadmin/js/hallo-verdantlink.coffee"></script>
<script type="text/coffeescript" src="{{ STATIC_URL }}verdantimages/js/hallo-verdantimage.coffee"></script>
<script src="{{ STATIC_URL }}verdantadmin/js/verdant-admin.js"></script>

{% comment %}
    TODO: have a mechanism to specify this include (and hallo-verdantimage.js)
    within the verdantimages app -
    ideally verdantadmin shouldn't have to know anything at all about verdantimages
{% endcomment %}
<script src="{{ STATIC_URL }}verdantimages/js/image-chooser.js"></script>

<script>
    (function() {
        function fixPrefix(str) {return str;}

        {{ admin.render_setup_js }}
    })();
</script>
