{% comment %}
    Javascript declarations to be included on the 'create page' and 'edit page' views
{% endcomment %}

<script src="{{ STATIC_URL }}verdantadmin/js/jquery-ui-1.10.2.js"></script>
<script src="{{ STATIC_URL }}verdantadmin/js/expanding_formset.js"></script>
<script src="{{ STATIC_URL }}verdantadmin/js/rangy-core.js"></script>
<script src="{{ STATIC_URL }}verdantadmin/js/hallo.js"></script>
<script src="{{ STATIC_URL }}verdantadmin/js/verdant-admin.js"></script>

<script>
    (function() {
        function fixPrefix(str) {return str;}

        {{ admin.render_setup_js }}
    })();
</script>
