{% extends "verdantadmin/base.html" %}
{% block titletag %}Unpublish {{ page.title }}{% endblock %}
{% block bodyclass %}menu-explorer{% endblock %}
{% block content %}

    {% include "verdantadmin/shared/header.html" with title="Unpublish" subtitle=page.title %}

    <div class="nice-padding">
        <p>Are you sure you want to unpublish this page?</p>
        <form action="{% url 'verdantadmin_pages_unpublish' page.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Yes, unpublish it">
        </form>
    </div>
{% endblock %}
