{% extends "verdantadmin/base.html" %}

{% block bodyclass %}page-editor{% endblock %}

{% block content %}
    <header class="merged">
        <h1>Editing: <span>{{ page.title }}</span></h1>
    </header>

    <form action="{% url 'verdantadmin_pages_edit' page.id %}" method="POST">
        {% csrf_token %}
        {{ edit_handler.render_as_object }}
        {{ edit_handler.render_missing_fields }}
    
        <footer>
            <ul>
                <li class="actions">
                    <div class="dropdown dropup match-width">
                        <input type="submit" value="Save" class="button" />
                        <div class="dropdown-toggle icon icon-arrow-up"></div>
                        <ul role="menu">
                            <li><a href="{{ page.url }}" class="shortcut">View</a></li>
                            <li><a href="{% url 'verdantadmin_pages_delete' page.id %}" class="shortcut">Delete</a></li>
                        </ul>
                    </div>
                </li>
                <li>Something</li>
            </ul>
        </footer>
    </form>

{% endblock %}

{% block extra_css %}
    {% include "verdantadmin/pages/_css.html" %}
{% endblock %}
{% block extra_js %}
    {% include "verdantadmin/pages/_js.html" %}
{% endblock %}
