{% extends "verdantadmin/base.html" %}

{% block content %}
    <header>
        <h1>Editing page '{{ page.title }}'</h1>
    </header>

    <form action="{% url 'verdantadmin_pages_edit' page.id %}" method="POST">
        {% csrf_token %}
        <ul class="fields">
            {{ admin.render }}
            <li class="button"><input type="submit" value="Save"></li>
        </ul>
    </form>
{% endblock %}

{% block extra_css %}
    {% include "verdantadmin/pages/_css.html" %}
{% endblock %}
{% block extra_js %}
    {% include "verdantadmin/pages/_js.html" %}
{% endblock %}
