{% extends "verdantadmin/base.html" %}

{% block content %}
    <header>
        <h1>Explorer</h1>

        <p class="breadcrumb">
            {% for page in parent_page.get_ancestors %}
                <a href="{% url 'verdantadmin_explore' page.id %}">{{ page.title }}</a> /
            {% endfor %}
        </p>

        <div class="row row-flush">
            <div class="left col9">
                <h2 class="icon folder-black">
                    {{ parent_page.title }}

                    {% comment %}
                        The root node should serve as a container for the homepages of all
                        the sites on this Verdant installation, and not be a usable page itself (and
                        as such, we don't offer these edit actions for it).
                    {% endcomment %}
                    {% if not parent_page.is_root %}
                        <div class="dropdown">
                            <div class="dropdown-toggle inline icon arrow-down-black">Open drop-down</div> 
                            <ul role="menu">
                                <li><a href="{% url 'verdantadmin_pages_edit' parent_page.id %}" class="shortcut">Edit this page</a></li>
                                <li><a href="#" class="shortcut">Delete</a></li>
                                <li><a href="#" class="shortcut">Preview</a></li>
                                <li><a href="#" class="shortcut">Something</a></li>
                            </ul>
                        </div>
                    {% endif %}
                </h2>
            </div>
            <div class="right col3">
                <a href="{% url 'verdantadmin_pages_add_subpage' parent_page.id %}" class="button icon add-teal">Add page here</a>
            </div>
        </div>
    </header>

    <div class="listing flush">
        <table>
            <thead>
                <tr>
                    <th class="bulk"><label for="bulk-select-all"><span>Select all</span><input type="checkbox" id="bulk-select-all"/></label></th>
                    <th class="title"><a href="#" class="icon orderable-up">Title</a></th>
                    <th class="type">
                        <div class="dropdown white match-width">
                            <a href="#" class="dropdown-toggle icon orderable-down">Type</a> 
                            <form>
                                <ul role="menu">
                                    <li><label><input type="radio" name="status" /> Published</label></li>
                                    <li><label><input type="radio" name="status" /> Deleted</label></li>
                                    <li><label><input type="radio" name="status" /> Archived</label></li>
                                    <li><label><input type="radio" name="status" /> Draft</label></li>
                                </ul>
                            </form>
                        </div>
                    </th>
                    <th class="status"><a href="#" class="icon orderable-up">Status</a></th>
                </tr>
            </thead>
            <tbody>
                {% for page in pages %}
                    <tr>
                        <td class="bulk"><label for=""><span>Select this item</span><input type="checkbox" /></label></td>
                        <td class="title">
                            <h2><a href="{% url 'verdantadmin_pages_edit' page.id %}">{{ page.title }}</a></h2>

                            <ul class="actions">
                                <li><a href="{{ page.url }}" target="_blank">View</a></li>
                                <li><a href="{% url 'verdantadmin_pages_edit' page.id %}">Edit</a></li>
                                <li><a href="#">Move</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="{% url 'verdantadmin_pages_add_subpage' page.id %}">Add subpage</a></li>
                            </ul>
                        </td>
                        <td class="type">{{ page.content_type }}</td>
                        <td class="status"></td>
                        {% if page.is_navigable %}
                            <td>
                                <a href="{% url 'verdantadmin_explore' page.id %}">Explore &raquo;</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
   
{% endblock %}
