{% extends "verdantadmin/base.html" %}

{% block bodyclass %}page-explorer{% endblock %}

{% block content %}
    <header>
        <h1>Explorer</h1>

        <p class="breadcrumb">
            {% for page in parent_page.get_ancestors %}
                <a href="{% url 'verdantadmin_explore' page.id %}">{{ page.title }}</a> /
            {% endfor %}
        </p>

        <div class="row row-flush">
            <div class="left col9">
                <h2>
                    {% comment %}
                        The root node should serve as a container for the homepages of all
                        the sites on this Verdant installation, and not be a usable page itself (and
                        as such, we don't offer these edit actions for it).
                    {% endcomment %}
                    {% if not parent_page.is_root %}
                        <div class="dropdown">
                            <div class="dropdown-toggle icon icon-cog text-replace">Open drop-down</div> 
                            <ul role="menu">
                                <li><a href="{% url 'verdantadmin_pages_edit' parent_page.id %}" class="shortcut">Edit this page</a></li>
                                {% if parent_page.live %}
                                    <li><a href="{{ parent_page.url }}" target="_blank" class="shortcut">View</a></li>
                                {% else %}
                                    <li><a href="{% url 'verdantadmin_pages_view_draft' parent_page.id %}" target="_blank" class="shortcut">View draft</a></li>
                                {% endif %}
                                <li><a href="{% url 'verdantadmin_pages_move' parent_page.id %}" class="shortcut">Move</a></li>
                                <li><a href="{% url 'verdantadmin_pages_delete' parent_page.id %}" class="shortcut">Delete</a></li>
                                {% if parent_page.live %}
                                    <li><a href="{% url 'verdantadmin_pages_unpublish' parent_page.id %}" class="shortcut">Unpublish</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}

                    {{ parent_page.title }}
                </h2>
                {% if not parent_page.live %}
                    <p>This page is currently unpublished.</p>
                {% endif %}
            </div>
            <div class="right col3">
                <a href="{% url 'verdantadmin_pages_add_subpage' parent_page.id %}" class="button icon white icon-plus-inverse">Add page here</a>
            </div>
        </div>
    </header>

    <table class="listing">
        <thead>
            <tr>
                
                <th class="title"><a href="#" class="icon icon-arrow-down-after">Title</a></th>
                <th class="type">Type</th>
                <th class="status">Status</th>
                <th class="children"></th>
            </tr>
        </thead>
        <tbody>
            {% if pages %}
                {% for page in pages %}
                    <tr {% if not page.live %}class="inactive"{% endif %}>
                       
                        <td class="title">
                            <h2><a href="{% url 'verdantadmin_pages_edit' page.id %}">{{ page.title }}</a></h2>
                            <ul class="actions">
                                {% if page.has_unpublished_changes %}
                                    <li><a href="{% url 'verdantadmin_pages_view_draft' page.id %}" target="_blank">View draft</a></li>
                                {% endif %}
                                {% if page.live %}
                                    <li><a href="{{ page.url }}" target="_blank">View live</a></li>
                                {% endif %}
                                <li><a href="{% url 'verdantadmin_pages_move' page.id %}">Move</a></li>
                                <li><a href="{% url 'verdantadmin_pages_delete' page.id %}">Delete</a></li>
                                {% if page.live %}
                                    <li><a href="{% url 'verdantadmin_pages_unpublish' page.id %}">Unpublish</a></li>
                                {% endif %}
                                <li><a href="{% url 'verdantadmin_pages_add_subpage' page.id %}">Add subpage</a></li>
                            </ul>
                        </td>
                        <td class="type">{{ page.content_type|title }}</td>
                        <td class="status">{{ page.status_string|capfirst }}</td>
                        {% if page.is_navigable %}
                            <td class="children">
                                <a href="{% url 'verdantadmin_explore' page.id %}" class="icon text-replace icon-arrow-right" title="Explorer subpages of '{{ page.title }}'">Explore</a>
                            </td>
                        {% else %}
                            <td class="no-children">
                                <a href="{% url 'verdantadmin_pages_add_subpage' page.id %}" class="icon text-replace icon-plus-inverse" title="Add a subpage to '{{ page.title }}'">Add subpage</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="3" class="no-results-message"><p>No pages have been created here. Why not <a href="{% url 'verdantadmin_pages_add_subpage' parent_page.id %}">add one</a>?</td></tr>
            {% endif %}
        </tbody>
    </table>
   
{% endblock %}
