{% extends "verdantadmin/base.html" %}

{% block bodyclass %}page-reorder{% endblock %}

{% block content %}
    <header class="merged">
        <h1>Reordering: <span>{{ parent_page.title }}</span></h1>
    </header>


    <form id="page-reorder-form" action="{% url 'verdantadmin_pages_reorder' parent_page.id %}" method="POST">
        {% csrf_token %}
        <input type='hidden' name='order' id='order'>

        <div class="nice-padding">
            <ul id="sortable">
             {% for page in pages %}
                <li id="page_{{ page.id }}"><h2>{{ page }}</h2></li>
             {% endfor %}
            </ul>
        </div>
    
        <footer>
            <ul>
                <li class="actions">
                    <input type="submit" value="Save Changes" class="button" />
                </li>
                <li>Something</li>
            </ul>
        </footer>
    </form>
{% endblock %}

{% block extra_css %}
    {% include "verdantadmin/pages/_css.html" %}
{% endblock %}
{% block extra_js %}
    {% include "verdantadmin/pages/_js.html" %}

    <script type="text/javascript">
        $(function() {
            $('#sortable').sortable();
            $('#page-reorder-form').submit(function() {
                $('#order').val($('#sortable').sortable('toArray'));
                return true;
            }); 
        })
    </script>
{% endblock %}
