{% load wagtailcore_tags %}

<section class="body-text">
	{% if showTitle %}
		<h1 class="h5">{{ self.title }}</h1>
	{% endif %}
	{% if showIntro %}
    	<div class="bc3 intro">{{ self.intro|richtext }}</div>
    {% endif %}
    
    {{ body|richtext }}

    {% if showReusableText %}
        {% with self.reusable_text_snippets.all as text_snippets %}
        	{% if text_snippets %}
        		{% for text_snippet in text_snippets %}
        			{{ text_snippet.reusable_text_snippet.text|richtext }}
        		{% endfor %}
        	{% endif %}
        {% endwith %}
    {% endif %}
</section>