{% load image_tags pageurl %}

{% comment %}
{% if news_items %}
    found something
{% endif %}

{% for news_item in news_items %}
    {% with news_item.feature_image as feature_image %}
        {% if feature_image %}
            {% image feature_image width-1000 %}
        {% endif %}
    {% endwith %}
{% endfor %}
{% endcomment %}

{% if news_items %}
    <section class="carousel-news row module">
        {% comment %}
        To do: add link to news index
        {% endcomment %}
        <h2 class="module-title"><a href="#">News</a></h2>
        <ul class="carousel-content">
            {% for news_item in news_items %}
                <li>
                    <a href="{% pageurl news_item %}">
                        {% with news_item.feature_image as feature_image %}
                            {% if feature_image %}
                                <div class="image">{% image feature_image width-1000 %}</div>
                            {% else%}

                            {% endif %}
                        {% endwith %}
                        <div class="caption">
                            <h3 class="h6">{{ news_item.title }}</h3>
                        </div>
                    </a>
                </li> 
            {% endfor %}
        </ul>
    </section>
{% endif %}

{% comment %}
<section class="carousel-news row module">
    <h2 class="module-title"><a href="#">News</a></h2>
    <ul class="carousel-content">
        <li>
            <a href="#">
                <div class="image"><img src="http://instasrc.com/600x300/art" width="600" height="300" /></div>
                <div class="caption">
                    <h3 class="h6">Kaorline Glusiec (MA Animation, 2012) has been awarded first prize for the Lorem Ipsum competition</h3>
                    <span class="a2">News</span>
                </div>
            </a>
        </li>
        <li class="active">
            <a href="#">
                <div class="image"><img src="http://instasrc.com/600x300/city" width="600" height="300" /></div>
                <div class="caption">
                    <h3 class="h6">RCA fashion graduates instrumental in Whitechapel Gallery's first catwalk fundraiser</h3>
                    <span class="a2">News</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="image"><img src="http://instasrc.com/600x300/fractal" width="600" height="300" /></div>
                <div class="caption">
                    <h3 class="h6">Explored in the Kingsdale Festival is one of the first contemporary public buildings in the UK to be built entirely of timber, </h3>
                    <span class="a2">News</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="image"><img src="http://instasrc.com/600x300/boat" width="600" height="300" /></div>
                <div class="caption">
                    <h3 class="h6">Tower Festival is one of the first contemporary public buildings in the UK </h3>
                    <span class="a2">News</span>
                </div>
            </a>
        </li>
        <li class="last">
            <a href="#">
                <div class="image"><img src="http://instasrc.com/600x300/village" width="600" height="300" /></div>
                <div class="caption">
                    <h3 class="h6">Kaorline Glusiec (MA Animation, 2012) has been awarded first prize for the Lorem Ipsum competition</h3>
                    <span class="a2">News</span>
                </div>
            </a>
        </li>
    </ul>
</section>
{% endcomment %}