
{% if self.contact_title or self.contact_address or self.contact_link or self.contact_link_text %}
	<section class="module contact">
		<h2 class="module-title">Contact</h2>
		<ul class="row">
			<li class="col col-1">
				<p>
					{% if self.contact_title %}
						<strong>{{ self.contact_title }}</strong><br />
					{% endif %}
					{% if self.contact_address %}
						{{ self.contact_address|linebreaks }}
					{% endif %}
					{% if self.contact_link and self.contact_link_text %}
						<a href="{{ self.contact_link }}" class="chevron">{{ self.contact_link_text }}</a>
					{% endif %}
				</p>
			</li>
			<li class="col col-2">
				<p>
					{% with self.contact_phone.all as phone_nos %}
						{% if phone_nos %}
							{% for phone_no in phone_nos %}
								{{ phone_no.phone_number }}<br />
							{% endfor %}
						{% endif %}
					{% endwith %}
					{% with self.contact_email.all as emails %}
						{% if emails %}
							{% for email in emails %}
								<a href="mailto:{{ email.email_address }}">{{ email.email_address }}</a><br />
							{% endfor %}
						{% endif %}
					{% endwith %}
				</p>
			</li>
		</ul>
	</section>
{% endif %}