{% load pageurl image_tags %}

<li class="item {% if gallery_image.is_landscape %}landscape{% else %}portrait{% endif %}">
    <a href="{% pageurl self %}{{ galleryitem.slug }}/">
        <div class="gallery_image {% if gallery_image.is_landscape %}landscape{% else %}portrait{% endif %}">
            {% image gallery_image width-600 %}
        </div>
        <div class="content">
            <h2 class="h6"><i>{{ gallery_image.title }}</i></h2>
            <p>{{ galleryitem.title }}</p>
            <p class="meta a2">{{ galleryitem.get_programme_display }}</p>
        </div>
    </a>
</li>