<section class="four">
    <div class="meta-data">
        <dl>
            {% if showNewsMeta %}

                {% if self.author %}
                    <dd>Writer</dd>
                    <dt>{{ self.author }}</dt>
                {% endif %}
                
                {% if self.date %}
                    <dd>Date</dd>
                    <dt>{{ self.date }}</dt>
                {% endif %}

                {% if self.area %}
                    <dd>Area</dd>
                    <dt>{{ self.get_area_display }}</dt>
                {% endif %}

                {% with self.related_schools.all as related_schools %}
                    {% if related_schools %}
                        <dd>From</dd>
                        <dt>
                            <ul>
                                 {% for school in related_schools %}
                                    <li>{{ school.get_school_display }}</li>
                                {% endfor %}
                            </ul>
                        </dt>
                    {% endif %}
                {% endwith %}

                {% with self.related_programmes.all as related_programmes %}
                    {% if related_programmes %}
                        <dd>Programme</dd>
                        <dt>
                            <ul>
                                 {% for programme in related_programmes %}
                                    <li>{{ programme.get_programme_display }}</li>
                                {% endfor %}
                            </ul>
                        </dt>
                    {% endif %}
                {% endwith %} 
                
                {% with self.related_links.all as related_links %}
                    {% if related_links %}
                        <dd>Links</dd>
                        <dt>
                            <ul>
                                {% for link in related_links %}
                                <li><a href="{{ link.link }}">{{ link.link_text }}</a></li>
                                {% endfor %}
                            </ul>
                        </dt>
                    {% endif %}
                {% endwith %} 

            {% endif %}

            {% if showResearchMeta %}

                {% with self.creator.all as creators %}
                    {% if creators %}
                        <dd>creator{% if creators|length > 1 %}s{% endif %}</dd>
                        <dt>
                            <ul>
                                {% for creator in creators %}
                                    <li>
                                        {% if creator.person %}
                                            {{ creator.person.title }}
                                        {% elif creator.manual_person_name %}
                                            {{ creator.manual_person_name }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </dt>
                    {% endif %}
                {% endwith %}

                <dd>Year</dd>
                <dt>{{ self.year }}</dt>

                <dd>School</dd>
                <dt>{{ self.get_school_display }}</dt>

                <dd>Type</dd>
                <dt>{{ self.get_work_type_display }}</dt>

                <dd>Theme</dd>
                <dt>{{ self.get_theme_display }}</dt>

                {% if self.programme %}
                    <dd>Programme</dd>
                    <dt>{{ self.get_programme_display }}</dt>
                {% endif %}

                {% with self.links.all as links %}
                    {% if links %}
                        <dd>Links</dd>
                        <dt>
                            <ul>
                                {% for link in links %}
                                <li><a href="{{ link.link }}">{{ link.link_text }}</a></li>
                                {% endfor %}
                            </ul>
                        </dt>
                    {% endif %}
                {% endwith %}

            {% endif %}

            {% if showRCANowMeta %}

                {% if self.author %}
                    <dd>By</dd>
                    <dt>{{ self.author }}</dt>
                {% endif %}

                <dd>Date</dd>
                <dt>{{ self.date|date:"j F Y" }}</dt>

                <dd>Programme</dd>
                <dt>{{ self.get_programme_display }}</dt>

                <dd>Tags</dd>
                <dt>Tags are TBD</dt>

            {% endif %}

            {% if showStudentMeta %}
                {% if self.work_location %}
                    <dd>Location</dd>
                    <dt>{{ self.get_work_location_display }}</dt>
                {% endif %}

                {% with self.collaborators.all as collaborators %}
                    {% if collaborators %}
                        <dd>Collaborators</dd>
                        <dt>
                            <ul>
                                {% for collaborator in collaborators %}
                                <li>{{ collaborator.name }}</li>
                                {% endfor %}
                            </ul>
                        </dt>
                    {% endif %}
                {% endwith %}

                {% with self.awards.all as awards %}
                    {% if awards %}
                        <dd>Awards</dd>
                        <dt>
                            <ul>
                                {% for award in awards %}
                                <li>{{ award.award }}</li>
                                {% endfor %}
                            </ul>
                        </dt>
                    {% endif %}
                {% endwith %}

                <dd>Programme</dd>
                <dt>{{ self.get_programme_display }}</dt>

                {% if self.work_type %}
                    <dd>Work type</dd>
                    <dt>{{ self.get_work_type_display }}</dt>
                {% endif %}

                {% with self.sponsor.all as sponsors %}
                    {% if sponsors %}
                        <dd>Sponsors</dd>
                        <dt>
                            <ul>
                                {% for sponsor in sponsors %}
                                <li>{{ sponsor.name }}</li>
                                {% endfor %}
                            </ul>
                        </dt>
                    {% endif %}
                {% endwith %}
                
            {% endif %}

        </dl>
    </div>
    <div class="single">
        {% include "rca/includes/modules/share-button.html" %}
    </div>
</section>