{% load wagtailcore_tags wagtailimages_tags %}

{% if self.staff_feed %}
    <section class="five-plus x-plus row module">
        <h2 class="module-title">Staff</h2>
        <div class="item-container">
            <ul class="row">
                {% for staff in self.staff_feed %}
                    {% if forloop.counter == 6 %}
                        <li class="load-more-target">
                    {% elif forloop.counter0|divisibleby:"6" %}
                        <li class="newrow">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{% pageurl staff %}">
                            <div class="image">
                            {% if staff.profile_image %}
                                {% image staff.profile_image width-200 %}
                            {% else %}
                                <img src="/static/rca/images/rca-placeholder-square.jpg" width="200">
                            {% endif %}
                            </div>
                            <div class="content">
                                <h3 class="a3">{{ staff.title }}</h3>
                                <p class="a3">{{ staff.staff_role }}</h3>
                                {% if staff.listing_intro %}
                                    <p class="a4">{{ staff.listing_intro }}</p>
                                {% endif %}
                            </div>
                        </a>
                    </li>
                {% endfor %}
                {% if self.staff_feed|length > 6 %}
                    <li class="load-more"><a href="#">+</a></li>
                {% endif %}
            </ul>
        </div>
    </section>
{% endif %}
