{% load wagtailimages_tags wagtailembeds_tags static %}


<section class="row">
    <div itemscope itemtype="http://schema.org/VideoObject"><meta itemprop="uploadDate" content="2017-06-27T11:51:19+0100" /><meta itemprop="name" content="RCA Convocation" /><meta itemprop="thumbnailUrl" content="http://YOURURL/Live streaming slides2.png" /><meta itemprop="contentUrl" content="https://ee3a48.entrypoint.cloud.wowza.com/app-46c4/ngrp:40197c94_all/playlist.m3u8" /><script src="//content.jwplatform.com/players/4HPt6KD8-CWFyJq91.js"></script></div>
</section>

<!-- 2016 embed code
<section class="row">
    <div id='playerofeAeYdLaGHz'></div>
    <script type='text/javascript'>
        jwplayer('playerofeAeYdLaGHz').setup({
            file: 'https://ee3a48.entrypoint.cloud.wowza.com/app-46c4/ngrp:40197c94_all/playlist.m3u8',
            {% if poster_image %}
                {% image poster_image original as poster_image_rendition %}
                image: '{{ poster_image_rendition.url }}',
            {% endif %}
            width: '100%',
            aspectratio: '16:9',
            autostart: 'true',
            ga: '{}',
            sharing: '{}',
            androidhls: 'true'
        });

        jwplayer().onError(function(){
            jwplayer().load({
                file:"{% static 'rca_show/stream-error.mp4' %}",
                {% if poster_image %}
                    {% image poster_image original as poster_image_rendition %}
                    image: '{{ poster_image_rendition.url }}',
                {% endif %}
            });
            jwplayer().play();
        });
    </script>
</section>
-->

<!-- pre-2016 embed code
<div id='my-video'></div>

		<script type='text/javascript'>
			jwplayer('my-video').setup({
				playlist: [{
			        image: 'https://www.rca.ac.uk/static/rca/images/livestream.holding.2.jpg',
			        sources: [{
			            file: "rtmp://uh8w7w.live.cloud.influxis.com/uh8w7w/_definst_/rca",

			        },{
			            file: "http://uh8w7w.live.cloud.influxis.com/uh8w7w/rca/playlist.m3u8"

			        },{
			            file: "http://influx.is/dtJk2K"

			        }]
			    }],
			    width: '100%',
			    aspectratio: '16:9',
			    controls: 'true',
			    title: '',
			    autostart: 'true'
			});
		</script> -->
