{% load pageurl %}
{% if events %}
    <div class="today expanded">
        <h2>Events</h2>
        <ul>
            {% for event in events %}
                <li>
                    <a href="{% pageurl event %}">
                        {% comment %}
                        {% with event.dates_times.all as dates %}
                            {% if dates %}
                                {% for date in dates %}
                                    {% if forloop.counter == 1 %}
                                        <h3>{{ date.date_from|date:"j F" }}</h3>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        {% endcomment %}
                        <p>{{ event.title }}</p>
                    </a>
                    <span>{{ event.audience }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
