/**
 * Author(s): Helen Chapman, Dave Cranwell
 *
 * Core
 *
 * Core / mobile styles go here. E.g h1, h2, h3, body, p and page furniture such as navigation
 * Specific styles for desktop and larger desktop go in desktop.less and desktop-large.less
 * Reusable module styles should go in modules.less (and desktop equivalents)
 * Parametric mixins go in mixins.less
 */

@import "variables.less";
@import "grid.less";
@import "mixins.less";

/**
 * Contents
 * To search quickly for a main section prefix search terms with $
 */

/**
 * Contents...................You’re reading it!
 * Reset and body styles......Any remaining browser reset styles, body text style
 * Mobile menu styles.........Only visible in mobile layout
 * Images & media.............img and other media
 * Links and lists............default styles for links and lists
 * Typography.................reusable typographical styles
 * Structure..................structure and layout
 * Header.....................header
 * Search.....................search bar
 * Top navigation.............nav
 * Show icons for search and menu at mobile size
 * Common grid divisions
 * Mixins for shared styles...reusable, non-parametric mixins
 * Sidebar elements...........anything in aside
 * Footer styles..............footer and bottom nav
 * Form styling...............default form styles
 * Template specific styles...toggled with a class on the body of all pages of the same template
 * * Programme
 * * News
 * Search results
 * Skip navigation link
 */

/**
 * $Reset and body styles
 */

*{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body {
    font-size: @font-size-base;
    font-family: @font-family-benton-light;
    -webkit-font-smoothing: antialiased; /* Do not remove! */
}

html, body {
    /*height: 100%; commented out 2014-02-24. Can't see why this is necessary */
    min-height:100%;
}

/**
 * $Mobile menu styles
 */

.mobile-content-wrapper{
    .transition(all 0.2s ease);
    position: relative;
    float:right;
    width:100%;
    overflow: hidden;
    padding: 0 15px 0 15px; /* padding for mobile */
}

.mobile-menu-wrapper{
    position:relative;
    float: left;
    width: 180px;
    margin-left:-180px;

    aside{
        display: block;
        width: 180px;
    }
}

.mobile-menu-button{
    @button-height:40px;
    font-family:@font-family-benton;
    position: fixed;
    z-index: 3000;
    left: @spacing-two;
    line-height:@spacing-two;
    top: 8em;
    background:#333;
    color: white;
    padding: 0 @grid-gutter-width*1.1;
    font-size: 1em;
    text-transform: uppercase;
    outline: none !important;
    display: none; /* javascript is now used to display this only if there is some content within the aside block */
    transform: rotate(90deg);
    transform-origin: top left;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: top left;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: top left;
    -o-transform: rotate(90deg);
    -o-transform-origin: top left;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    zoom: 1;

    &:hover{
        cursor: pointer;
    }
}

body.show-mobile-menu{
    overflow-x:hidden;

    .mobile-menu-wrapper{
        transform: translate3d(100%,0,0);
        -webkit-transform: translate3d(100%,0,0);
        -moz-transform: translate3d(100%,0,0);
        -o-transform: translate3d(100%,0,0);
        -ms-transform: translate3d(100%,0,0);
    }
    .mobile-content-wrapper{
        border-left:1px solid @color-pink;
        transform: translate3d(180px,0,0);
        -webkit-transform: translate3d(180px,0,0);
        -moz-transform: translate3d(180px,0,0);
        -o-transform: translate3d(180px,0,0);
        -ms-transform: translate3d(180px,0,0);
    }
    .mobile-menu-button{
        color:white;
        background-color:@color-pink;
        display: block;
    }
}


.lt-ie10 .mobile-menu-button{
    left: 0;
}


/**
 * $Images
 */

img, picture {
    width:100%;
    max-width: 100%;
    width: auto\9; /* IE7-8 hack needed to help adjusting responsive images */
    height: auto;

    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

/* Makes embedly embeds responsive
   From: http://embed.ly/docs/tutorials/responsive */

.responsive-object {
    position: relative;
    padding-bottom: 67.5%;
    height: 0;
    margin: 10px 0;
    overflow: hidden;
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


/**
 * $Links and lists
 */

a {
    .transition(color 0.2s ease);
    color: inherit;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        color: @color-highlight-blue;
        cursor: pointer;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

 dd {
    margin: 0; /* override normalize */
 }


.chromeframe{
    font-family:Arial;
    background:@color-dark-grey;
    padding:10px;
    color:white;
    margin:0;
    a{
        text-decoration:underline;
    }
}


 /**
  * $Typography
  *
  * Note that the names of all the typographic styles below are based on the names given to them by the design company.
  * .h1 to .h6 are not necessarily always used by the equivalent tags
  *
  */

/* Heading styles */

.ho-a-heading {
    font-family: @font-family-knockout;
    font-weight: @font-weight-knockout;
    font-size: @font-size-50;
    text-transform:uppercase;
    line-height: 1em;
    margin: -0.25em 0 0 0; /*negative margin because there is a smaller top margin above these headers */
    span.dark-grey{
        color:@color-dark-grey;
    }
    span.medium-grey{
        color:@color-medium-grey;
    }
    span.light-grey{
        color:@color-light-grey;
    }
    span.charcoal {
        color:@color-charcoal;
    }
    span.black {
        color:@color-black;
    }
}

.ho-b-heading {
    font-family: @font-family-knockout;
    font-size: @font-size-30;
    line-height: @line-height-11;
    text-transform:uppercase;
    margin:0;
}

.h1 {
    font-family: @font-family-benton;
    font-size: @font-size-24;
    line-height: @line-height-12;
    margin-top: 0;
    margin-bottom: @spacing-one;
    &.major {
        .ho-a-heading;

        span{
            margin-right:-0.1em;
        }
    }
}

.h2 {
    font-family: @font-family-benton;
    font-size: @font-size-16;
    line-height: @line-height-13;
    font-weight: normal;
}

.h3 {
    font-family: @font-family-benton;
    font-size: @font-size-14;
    line-height: @line-height-14;
}

.h4 {
    font-family: @font-family-benton;
    font-size: @font-size-30;
    line-height: @line-height-3;
    font-weight: normal;
}

.h5 {
    font-family: @font-family-benton;
    font-size: @font-size-22;
    line-height: @line-height-4;
    font-weight: normal;
}

.h6 {
    font-family: @font-family-benton;
    font-size: @font-size-18;
    line-height: @line-height-5;
    font-weight:normal;
}

.h7 {
    font-family: @font-family-benton;
    font-size: @font-size-15;
    line-height: @line-height-3;
    text-transform: none;
    font-weight: normal;
}

.h8 {
    font-family: @font-family-benton;
    font-size: @font-size-12;
    line-height: @line-height-6;
    text-transform: none;
}

/* Body copy styles */

.bc0 {
    font-family: @font-family-benton-light;
    font-size: @font-size-18;
    line-height: @line-height-2;
    text-transform: none;

    strong{
        font-family:@font-family-benton;
    }
}

.bc1 {
    font-family: @font-family-benton-light;
    font-size: @font-size-16;
    line-height: @line-height-13;
    text-transform: none;
    strong {
        font-family:@font-family-benton;
    }
}

.bc2 {
    font-family: @font-family-benton-light;
    font-size: @font-size-14;
    line-height: @line-height-14;
    text-transform: none;
}

.bc3 {
    font-family: @font-family-benton-light;
    font-size: @font-size-18;
    line-height: @line-height-5;
    text-transform: none;
 }

.bc4 {
    font-family: @font-family-benton-light;
    font-size: @font-size-15;
    line-height: @line-height-7;
    text-transform: none;
}

.bc5 {
    font-family: @font-family-benton-light;
    font-size: @font-size-12;
    line-height: @line-height-6;
    text-transform: none;
}

.module-title {
    font-family: @font-family-benton-light;
    font-size: @font-size-13;
    line-height: @line-height-1;
    color: @color-dark-grey;
    text-transform: uppercase;
}

/* 'Interative' styles */

.a0 {
    font-family: @font-family-benton;
    font-size: @font-size-12;
    line-height: @line-height-8;
    text-transform: uppercase;
    font-weight: normal;
}

.a1 {
    font-family: @font-family-benton-light;
    font-size: @font-size-12;
    line-height: @line-height-8;
    text-transform: uppercase;
}

.a2 {
    font-family: @font-family-benton-light;
    font-size: @font-size-12;
    line-height: @line-height-8;
    text-transform: uppercase;
    color: @color-dark-grey;
    font-weight: normal;
}

.a3 {
    font-family: @font-family-benton;
    font-size: @font-size-11;
    line-height: @line-height-9;
    text-transform: uppercase;
}

.a4 {
    font-family: @font-family-benton-light;
    font-size: @font-size-11;
    line-height: @line-height-9;
    text-transform: none;
}

.t0 {
    font-family: @font-family-benton;
    font-size: @font-size-15;
    line-height: @line-height-7;
    text-transform: uppercase;

}

.t1 {
    font-family: @font-family-benton;
    font-size: @font-size-10;
    line-height: @line-height-10;
    text-transform: uppercase;
}

.t2 {
    font-family: @font-family-benton-light;
    font-size: @font-size-10;
    line-height: @line-height-10;
    text-transform: uppercase;
}

.stat {
    .bold();
    font-size:@font-size-90;
    line-height: 1em;
}

.caps{
    text-transform:uppercase;
}

.highlight-blue{
    color:@color-highlight-blue;
}

/**
 * $Structure
 */

.standard-wrapper{
    .clearfix();
}

.page-wrapper {
    .clearfix();
    margin-top:1em;
}

.page-content {
    .column(12);
    .row();
}

footer {
    .column(12); /* matches page-content style */
    .row();
}

aside {
    display: none; /* hidden until large desktop size */
}

/* grey background bleeding to edge */
.full-width-footer {

    position:relative;
    z-index:200;
    margin: 32px -15px 0 -15px;

    background-color: @color-charcoal;
    color: @color-white;
    .clearfix();
}

/**
 * $Header
 */

/* header has to match width of page-content below so has left and right
margins like the wrapper. When page-content scrolls up, especially the full width
footer, we don't want stuff appearing behind the header. This 100% width wrapper
makes sure that doesn't happen. NB may no longer be needed if we definitely have a transparent background */
.header-wrapper {
    margin:0 -15px ;
    z-index: 199;
    .clearfix();
}

header {
    .clearfix();
    height: @header-height-mobile;
    z-index: 4000;
    position: relative;
    .site-name {
        margin-left:-2px; /* necessary to give space for 2 x 1px gaps beside other headers buttons */
        display: block;
        float: left;
        height:100%;
        background-color:rgba(250,250,250,0.9);
        width: 70%;
    }
    .site-name p { /* logo */
        text-indent: -2000px;
        background-image: url('@{path-static}images/logo-header-mobile.png');
        background-repeat: no-repeat;
        display: block;
        width: 110px;
        height:100%;
        margin: 10px 0 0 15px;

        @media @media-retina {
            background-image: url("@{path-static}images/logo-header.png");
            background-size:110px 48px;
        }
    }


}



/**
 * $Show icons for search and menu at mobile size
 */

.showsearch, .showmenu{
    text-indent: -2000px;
    float:right;
    width:15%;
    margin-left:1px;
    background-color:rgba(250,250,250,0.9);
    position:relative;
    height:100%;
    border-left:1px solid rgba(125,125,125,0.1);
    cursor: pointer;

    &:after {
        overflow:hidden;
        width:100%;
        content: " ";
        display:block;
        position:absolute;
        margin:auto;
        top: 0;
        left: 0;
        bottom:0;
        right:0;
    }
}

.showsearch {
    &:after {
        .sprite-load-23(
            @positionX: -229px,
            @positionY: -50px,
            @retinaPositionX: -459px,
            @retinaPositionY: -100px,
            @width: 20px,
            @height: 19px
        );
    }
}

.showmenu {
    &:after {
        .sprite-load-23(
            @positionX: -48px,
            @positionY: -48px,
            @retinaPositionX: -97px,
            @retinaPositionY: -97px,
            @width: 23px,
            @height: 13px
        );
    }

    &.expanded:after {
        .sprite-load-23(
            @positionX: -12px,
            @positionY: -48px,
            @retinaPositionX: -25px,
            @retinaPositionY: -97px,
            @width: 23px,
            @height: 13px
        );
    }

}


/**
 * $Search
 */

 form.search {
    display: none; /* initially hidden */
    position: fixed;
    background-color: @color-white;
    margin-left: -2px;
    left: 0;
    top: 0;
    height: @header-height-mobile;
    width: 70%;

    input[type="text"] {
        width: 90%;
        .bc5;
        color: @color-dark-grey;
        padding: 28px;
        border: none;
        border-image-width: 0;
        background-color:transparent;
    }
    ::-webkit-input-placeholder {
        padding: 2px 0 0 0;
       .t2;
    }

    :-moz-placeholder { /* Firefox 18- */
        padding: 2px 0 0 0;
       .t2;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        padding: 2px 0 0 0;
       .t2;
    }

    :-ms-input-placeholder {
        padding: 2px 0 0 0;
       .t2;
    }
    input[type="text"]:focus{
        outline:none;
    }
    input[type="submit"] {
        .sprite-load-23(
            @positionX: -89px,
            @positionY: -48px,
            @retinaPositionX: -179px,
            @retinaPositionY: -97px,
            @width: 13px,
            @height: 23px
        );
        background-color:transparent;
        text-indent: -9999px;
        border: 0;
        position: relative;
        top: 0px;
        padding: 0;
    }
 }

form.search.expanded {
    display: block;
}

/**
 * Search field autocomplete
 */
.ui-autocomplete{
    width: 100%;
    position:absolute;
    background-color:white;
    z-index:3500;
    
    li{
        border-top:1px solid @color-light-grey;
        &:first{
            border:0;
        }
        a{
            .h7;
            display:block;
            padding:0.5em 10px;
        }
        a:hover{
            background-color:@color-pale-grey;
        }
        span{
            .a1;
            display:block;
        }
    }
}
.ui-helper-hidden-accessible{
    display:none;
}

/**
 * $Top navigation
 */

/* General menu styles */
nav {
    background-color:white;
    background-color:rgba(255,255,255,0.95);
    border-bottom: 1px solid @color-medium-grey; /* fallback for ie 8 */
    border-bottom: 1px solid fade(@color-medium-grey, 40%);
    padding:8px @grid-gutter-width/2;
    position:relative;
    z-index:999;
    height:150px; /* gets overridden by finding tallest submenu */
    overflow:hidden;
    display: none;
}
    nav.expanded {
        display: block;
    }

    nav ul, nav li{
        margin:0;
        padding:0;
        list-style:none;
    }
    nav ul {
        position:absolute;
        top:0;
        width:100%;
    }
        nav > ul{
            top:8px; /* Same value as padding-top of nav element */
            left:70px;
            width:94%;
            max-width:800px;
        }
        nav li {
            display:block;
            overflow:hidden;
            line-height:1.3em;
        }
        nav a{
            font-size:12px;
            color:#454545;
            text-decoration:none;
            text-transform:uppercase;
            display:block;
            position:relative;
            padding-right:7%;

            &:hover{
                color:rgb(0, 150, 255) !important;
            }
        }

/* DL menu styles */
nav.dl-menuwrapper{
    margin:0;
    height:initial;
    overflow:visible;
    visibility:visible;
}
    nav.dl-menuwrapper ul{
        left:0;
        top:initial;
        background-color:white;
        position:relative;
        width:auto;
    }
    nav.dl-menuwrapper .children{
        display:block;
    }
        nav.dl-menuwrapper li {
            width:100%;
        }
            nav.dl-menuwrapper li > ul{
                display:block;
                left:0;
            }

/**
 *$Common grid divisions
*/
.eight {
}

.four {
}

.three {
}

.nine {
}

.row {
    .row();
}

.row-flush {
    .row-flush();
}

/**
 * $Mixins for shared styles
 */

/* related links and dialogue box - shared styles */
.mixin-grey-links {
    color: @color-white;
    h2, h3 {
        margin: 0;
        padding: 10px @spacing-half;
        .t2();
        background-color: lighten(@color-black, 60%);
    }
    h3 {
        border-bottom: 1px solid @color-light-grey;
        &.dark {
            background-color: fade(@color-charcoal,90%);
        }
    }
    ul {
        padding: 0;
        margin: 0;
        background-color: fade(@color-charcoal,90%);
        &.extra-links {
            background-color: lighten(@color-black, 60%);
        }
    }
    li {
        .h7();
        padding: 0 10px;
        a {
            padding: 10px 0;
            display: block;
            color: @color-white;
            border-bottom: 1px solid @color-light-grey;
            &:hover {
                color: @color-pink;
            }
        }
        &:last-child a {
            border-bottom: none;
        }
    }
}


/**
 * Sidebar elements
 */

/* advert */
.advert-grey {
    .mixin-sidebar-advert(@color-dark-grey, 20%);
}

.advert-pale-blue {
    .mixin-sidebar-advert(@color-advert-pale-blue, 85%);
}

.advert-green {
    .mixin-sidebar-advert(@color-green, 85%);
}

.advert-blue {
    .mixin-sidebar-advert(@color-rca-blue, 100%, white);
}

.advert-pink {
    .mixin-sidebar-advert(@color-advert-pink, 100%, white);
}

.other-jobs {
    .mixin-sidebar-advert(@color-light-grey, 80%);
    color:@color-black;
    border-bottom: 1px solid @color-medium-grey;
    &:last-child {
        border-bottom: none;
    }
}


/* Related links */

.related {
    .mixin-grey-links;

    h2 {
        .transition(background-color 0.3s ease);
        position: relative;
        cursor:pointer;
        &:after {
            content:' ';
            .sprite-load-23(
                @positionX: -48px,
                @positionY: -12px,
                @retinaPositionX: -97px,
                @retinaPositionY: -25px,
                @width: 23px,
                @height: 13px
            );
            position: absolute;
            top: @spacing-half;
            right: @spacing-half;
        }
    }
    &.expanded {
        h2:after {
            .sprite-load-23(
                @positionX: -12px,
                @positionY: -12px,
                @retinaPositionX: -25px,
                @retinaPositionY: -25px,
                @width: 23px,
                @height: 13px
            );
        }
    }
    h2:hover {
        background-color: @color-pink;
        color: @color-white;
    }
}

/* Today */

.today.expanded h2 {
    &:after {
        .sprite-load-23(
            @positionX: -12px,
            @positionY: -48px,
            @retinaPositionX: -25px,
            @retinaPositionY: -97px,
            @width: 23px,
            @height: 13px
        );
    }
    &:hover:after {
        .sprite-load-23(
            @positionX: -12px,
            @positionY: -12px,
            @retinaPositionX: -25px,
            @retinaPositionY: -25px,
            @width: 23px,
            @height: 13px
        );
    }
}

.today {

    h2 {
        .transition(background-color 0.3s ease);
        cursor:pointer;
        margin: 0;
        padding: @spacing-half 10px;
        .t2;
        background-color: @color-dark-grey; /* fallback for ie8 */
        background-color: fade(@color-dark-grey, 20%);
        position: relative;
        &:after {
            .sprite-load-23(
                @positionX: -48px,
                @positionY: -48px,
                @retinaPositionX: -97px,
                @retinaPositionY: -97px,
                @width: 23px,
                @height: 13px
            );
            content: ' ';
            position: absolute;
            top: @spacing-half;
            right: @spacing-half;

        }
        &:hover {
            background-color: @color-pink;
            color: @color-white;
            &:after {
                .sprite-load-23(
                    @positionX: -48px,
                    @positionY: -12px,
                    @retinaPositionX: -97px,
                    @retinaPositionY: -25px,
                    @width: 23px,
                    @height: 13px
                );
            }
        }
    }
    ul {
        background-color: @color-white; /* fallback for ie8 */
        background-color: fade(@color-white, 75%);
        padding: 0;
        margin: 0;
    }
    li {
        margin: 0;
        border-bottom: 1px solid @color-black;
        padding: @spacing-one 0;
        margin: 0 10px;
        &:last-child {
            border: none;
        }
        h3 {
            .bc4;
            margin: 0;
        }
        p {
            .h7;
            margin: 0;
        }
        span {
            .a2;
        }
    }
}

/* Related content */

figure {
    margin: 0;
}

div.related-content-item {
    margin: 0 0 30px 10px;
    overflow: hidden;
    a {
        //.clearfix();
    }
    a.index-page-link {
        .chevron();
    }
    .image-hover();
    img {
        //height: 150px;
    }
    figcaption {
        .h7();
        margin-top: 8px;
    }
}


/**
 * $Footer styles
 */

footer,
footer a {
    color: @color-white;
}

footer a:hover {
    color: lighten(@color-highlight-blue, 30%);
}

div.submenu-block {
    display: none; /* initially hidden */
    margin: @spacing-half 0 0 0;
    padding: @spacing-one 0;
}

footer {
    padding: 1em;
    li.main {
        .h7;
        text-transform: uppercase;
        border-top: 1px solid @color-dark-grey;
        padding: @spacing-half 0;
        position: relative;
        .clearfix();
        &.last {
            border-bottom: 1px solid @color-dark-grey;
        }
        .footer-expand {
            content: "";
            .sprite-load-23(
                @positionX: -48px,
                @positionY: -12px,
                @retinaPositionX: -97px,
                @retinaPositionY: -25px,
                @width: 23px,
                @height: 13px
            );
            position: absolute;
            right: @grid-gutter-width;
            top: 10px;
            cursor: pointer;
        }

        > a{
            display:inline-block;
            text-indent:2px;
        }

        &:hover {
            .footer-expand{
                .sprite-load-23(
                    @positionX: -48px,
                    @positionY: -84px,
                    @retinaPositionX: -97px,
                    @retinaPositionY: -169px,
                    @width: 23px,
                    @height: 13px
                );
            }
            cursor: pointer;
        }
    }


    li.main.expanded {
        padding-bottom: 0;
        .footer-expand {
            .sprite-load-23(
                @positionX: -12px,
                @positionY: -12px,
                @retinaPositionX: -25px,
                @retinaPositionY: -25px,
                @width: 23px,
                @height: 13px
            );
        }
        &:hover {
            .footer-expand {
                .sprite-load-23(
                    @positionX: -12px,
                    @positionY: -84px,
                    @retinaPositionX: -25px,
                    @retinaPositionY: -169px,
                    @width: 23px,
                    @height: 13px
                );
            }
            cursor:pointer;
            div.submenu-block {
                cursor: auto;
            }
        }
        div.submenu-block {
            .clearfix();
            border-top: 1px solid @color-dark-grey;
        }
        div.submenu-block:hover + .footer-expand {
            .sprite-load-23(
                @positionX: -12px,
                @positionY: -12px,
                @retinaPositionX: -25px,
                @retinaPositionY: -25px,
                @width: 23px,
                @height: 13px
            );
        }
    }
    a.footer-logo {
        display: block;
        background-image: url('@{path-static}images/logo-footer-mobile.png');
        background-repeat: no-repeat;
        padding-top: 60px;
        text-indent: -9999px;
        width: 110px;
        height: 47px;
        
        /*@media @media-retina {*/
            background-image: url("@{path-static}images/logo-footer.png");
            background-size:110px 47px;
       /* }*/
    }
    ul {
        margin: 0;
        padding: 0;
        &.menu {

        }
    }

    ul ul {
        margin-left: 1em;
    }

    ul ul li {
        .h8;
        text-transform: uppercase;
        padding: 0.25em 0 0 0;
    }

    ul ul ul li {
        .bc5;
        text-transform: uppercase;
        margin-left: 1em; /* Make a nice indent for the second line of text */
        text-indent: -1em; /* Make a nice indent for the second line of text */
        a {
            color: @color-pale-grey;
        }
    }

    li.parentlink {
        margin-bottom:1em;
    }

    h3 {
        .module-title;
        margin-top: 0;
        border-top: 1px solid @color-dark-grey;
        padding-top: @spacing-half;
    }

    ul.social {
        margin-bottom: @spacing-two;
        margin-left: 0;
        li {
            display: inline-block;
            color: @color-white;
            .h7;
            margin-left: @spacing-one;
            text-indent: -2000px;

            &:first-child{
                margin-left:0;
            }
            a {
                display: block;
                width: 57px; /* max social icon width plus spacing */
                height: 60px; /* max social icon height plus spacing */
                position: relative;
                &:hover {
                    background-color: @color-pink;
                    color: @color-white;
                }
                &:after {
                    content:" ";
                    position: absolute;
                    top: 50%;
                    left: 50%;

                }
            }
            .facebook {
                background-color: @color-facebook-blue;
                &:after {
                    .sprite-load-standard(
                        @positionX: -171px,
                        @positionY: -76px,
                        @retinaPositionX: -342px,
                        @retinaPositionY: -152px,
                        @width: 21px,
                        @height: 43px
                    );
                    margin-top: -21px;
                    margin-left: -10px;
                }
            }
            .vimeo {
                background-color: @color-vimeo-blue;
                &:after {
                    .sprite-load-standard(
                        @positionX: -14px,
                        @positionY: -80px,
                        @retinaPositionX: -29px,
                        @retinaPositionY: -161px,
                        @width: 40px,
                        @height: 35px
                    );
                    margin-top: -17px;
                    margin-left: -20px;
                }
            }
            .twitter {
                background-color: @color-twitter-blue;
                &:after {
                    .sprite-load-standard(
                        @positionX: -231px,
                        @positionY: -78px,
                        @retinaPositionX: -462px,
                        @retinaPositionY: -156px,
                        @width: 45px,
                        @height: 37px
                    );
                    margin-top: -18px;
                    margin-left: -23px;
                }
            }
            .youtube {
                background-color: @color-youtube-red;
                &:after {
                    .sprite-load-standard(
                        @positionX: -91px,
                        @positionY: -75px,
                        @retinaPositionX: -184px,
                        @retinaPositionY: -150px,
                        @width: 37px,
                        @height: 44px
                    );
                    margin-top: -22px;
                    margin-left: -19px;
                }
            }
        }
    }

    .smallprint {
        padding: @spacing-one 0;
        .bc5;
        li a {
            display: block;
            padding: @spacing-half 0;
        }
    }
    .address {
        display: block;
        border-top: 1px solid @color-dark-grey;
        padding-top: @spacing-half;
        margin-top: @spacing-one;
    }
}

/* link with chevron */
.chevron {
    .module-title();
    position: relative;
    &:after {
        content: '';
        .sprite-load-11(
            @positionX: -12px,
            @positionY: -36px,
            @retinaPositionX: -25px,
            @retinaPositionY: -73px,
            @width: 7px,
            @height: 11px
        );
        opacity: 0.3;
        position: absolute;
        right: -10px;
        top: 2px;
    }
}

/**
 * $Template specific styles
 */

.type-programme{
    .tab-pane .bx-wrapper { /* this is for the programme page video, which is a one off carousel in a tab content that shouldn't
    have any bottom spacing */
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.type-news {

}

.type-staff-profile,
.type-student-profile {
    div.related-content-item{
        img {
            max-width: 125px;
        }
        .staff figcaption {
            .a3();
            .name();
        }
    }
}

.type-staff-profile{
    #tab2 {
        h3 {
            margin: @spacing-half 0 0 0;
        }
    }
    #tab3 {
        p {
            margin: @spacing-half 0;
        }
        .flushleft {
            padding-left: 0;
        }
    }
    #tab4 {
        .module {
            clear:both;
            .clearfix();
            margin-top: @spacing-two;
        }
        h3 {
            margin: @spacing-half 0 0 0;
        }
    }
}

.type-student-profile {
    .tab-pane .three-plus {
        margin-top: @grid-gutter-width;
    }
    .profile h3 {
        margin: @spacing-half 0 0 0;
    }
    .profile h2{
        margin-top:0;
    }
    .profile .four-cols .col ul li{
        white-space: nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }
}

.type-event {

    .five {
        margin-bottom: @spacing-three;
    }

}

.type-standard {
    .button-bar,
    .teaser-image,
    .quotation,
    .middle-column-body-text {
        margin-bottom: @spacing-two;
        clear:both;
    }
    .button-bar li {
        width: 100%;
    }
    .four figcaption {
        float: right;
        text-align: right;
        margin-top: @spacing-one;
    }

    .four figure {
        .clearfix();
        margin-bottom: @spacing-one;
    }
}

.type-events-index,
.type-jobs-index {
    .one-plus {
        p {
            margin: @spacing-half 0;
        }
        .details p {
            margin: 0;
        }
        h2 {
            margin: -0.15em 0 0 0;
        }
        .location {
            color: @color-medium-grey;
            display: block;
            text-overflow: ellipsis;
            overflow:hidden;
        }
    }
}

.type-jobs-index {
    .one-plus {
        li {
            margin-top: @spacing-one;
        }
        li.col {
                margin-top: @spacing-half;
        }
    }
}

.type-rcanow {
    h1 {
        margin-bottom: 0;
    }
}

.type-contact {
    .map {
        width: 100%;
        height: 300px;
        background-color: #ccc;
    }
}

.type-donations{
    .amounts{
        ul{
            .row();
            .row-flush();
        }
        ul li{
            .column(4);
            
            label{
                font-size:2em;
                margin:0;
                line-height:1em;
                font-style:normal;
                background-color:@color-advert-pale-blue;
                padding:@grid-gutter-width;
                text-transform:none;
                cursor:pointer;

                &:hover{
                    color:white;
                    background-color:@color-highlight-blue;
                }

                &.selected{
                    color:white;
                    background-color:@color-pink;
                }
            }
        }
        input{
            display:none;
        }
    }
    .amount{
        margin-top:-@grid-gutter-width;
        display:none;
        position:relative;

        .field:before{
            opacity:0.5;
            position:absolute;
            content: "£";
            font-size:3em;
            top:0.85em;
            left:0.3em;
        }
        input{
            background-color:@color-advert-pale-blue;
            width:7em;
            padding-left:1.4em;
            font-size:2.5em;
        }
    }
    .select{
        font-family:Arial,sans-serif;
    }
    .selectInner{
        width:auto !important;
    }
    .number{
        .column(6);
        padding-left:0;
    }
    .expiration{
        .column(6);
    } 
    .cvc{
        clear:both;
        .field{
            float:left;
        }
        .help{
            float:left;
            width:50%;
            padding-top:2em;
            padding-left:@grid-gutter-width;
        }
    }
    .is_gift_aid{
        clear:both;
    }

    .title, .first_name,.last_name{
        width:40%;
        float:left;
        margin-left:3%;
    }
    .title{
        width:12%;
        margin-left:0;
    }

    .address_state, .address_zip{
        width:45%;
        float:left;
    }
    .address_zip{
        margin-left:3%;
    }
    .donation-amount{ /* autocomplete ui */
        a{
            color:@color-pink;
            font-size:2em;
        }
    }
}

/**
 * &Search results
 */

.search-results {
    li {
        border-top: 1px solid @color-pale-grey;
        padding:@grid-gutter-width 0;
        min-height:130px;  
    }

    .picks{
        padding:0 @grid-gutter-width;
        background-color:@color-pale-grey;
        margin-bottom:1em;
    }
    .picks li{
        border-top:1px solid white;
        &:first-child{
            border:0;
        }
    }

    .image{
        .column(3);
        padding-left:0;
    }
    .content{
        .column(9);
    }
    h4{
        margin:0;
    }
}

/**
 * &Skip navigation link
 */

 a.hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
 }

@import "modules.less";
@import "dlmenu.less";
