/**
 * Author(s): Helen Chapman, Dave Cranwell
 *
 * Desktop-large
 *
 * Overrides core.less and desktop.less for large desktop sizes
 * Reusable module styles should go in modules.less (and desktop equivalents)
 * Parametric mixins go in mixins.less
 */

@import "variables.less";
@import "grid.less";
@import "mixins.less";

/**
 * Contents
 * To search quickly for a main section prefix search terms with $
 */

/**
 * Contents...................You’re reading it!
 * Structure..................structure and layout
 */

/**
 * $Structure
 */

body.lightbox-view .pjax-wrapper{
    margin: 0 auto;
    max-width: @site-max-width - @right-col-width;
}

// Special case for contact us page
body.contact-us-form-modal.lightbox-view .pjax-wrapper{
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.header-wrapper .page-header {
    margin-top: @gutter;
}


.type-donations{
    .number{
        .column(4);
        padding-left:0;
    }
    .expiration{
        .column(4);
    }
    .cvc{
        .column(4);
        clear:none;
        .error-message{
            clear: none;
        }
    }
}


@import "modules-desktop-large.less";