/* Custom styles passed to the rich text editor to match RCA's front-end styling */

.richtext {

    h2 {
        border-top:1px solid #CCC;
        padding-top:0.5em;
    }

    .bodytext-image {
        margin-top: 3px; /* close as possible to match line-height space above p */
        img {
            width:100%;
        }
        figcaption {
            display: block;
            width: 100%;
            text-align: left;
            margin-top: 16px;
            margin-bottom: 16px;
        }
        &.small {
            max-width: 45%;
        }
        &.left {
            float: left;
            margin-right: 16px;
        }
        &.right {
            float: right;
            margin-left: 16px;
        }
    }
}