{% load wagtailcore_tags wagtailimages_tags %}

{# More news link #}
<p><a href="{% pageurl value.more_news_link %}">More news</a></p>

{% comment %}
    Let me know if the featured page would be better as part of the loop 
    and identified with 'forloop.counter == 3' for styling, instead of being
    separate, Rich.
{% endcomment %}

{# Featured #}
<p>
    <a href="{% pageurl value.featured_page %}">
        {% image value.featured_page.feed_image original %}
        {{ value.featured_page.title }}
        {{ value.featured_page.strapline }}
    </a>
</p>

{# News #}
{% for news_page in pages %}
    <p>
        <a href="{% pageurl news_page %}">
            {% image news_page.feed_image original %}
            {{ news_page.title }}
            {{ news_page.strapline }}
        </a>
    </p>
{% endfor %}
