{% load wagtailcore_tags wagtailimages_tags %}

<div class="news-block homepage-block">

    <div class="news-block__header">
        <h2 class="news-block__title homepage-h2">News</h2>

        {# More news link #}
        <a class="news-block__more" href="{% pageurl value.more_news_link %}">More news
            <svg class="news-block__arrow" aria-hidden="true">
                <title>Arrow</title>
                <use xlink:href="#arrow-thin"></use>
            </svg>
        </a>
    </div>

    <div class="news-block__wrapper">
        {# Featured #}
        <div class="news-item news-item--featured">
            <a class="news-item__link" href="{% pageurl value.featured_page %}">

                {% image value.featured_page.specific.feed_image fill-523x517 as featured_image %}
                <img
                    src="{{ featured_image.url }}"
                    width="{{ featured_image.width }}"
                    height="{{ featured_image.height }}"
                    alt="{{ featured_image.alt }}"
                    class="news-item__image news-item__image--featured" />

                <div class="news-item__details news-item__details--featured">

                    <h3 class="news-item__title news-item__title--featured">{{ value.featured_page.title }}</h3>{% if value.featured_page.specific.listing_intro %}:{% endif %}

                    <span class="news-item__intro news-item__intro--featured">{{ value.featured_page.specific.listing_intro }}</span>
                </div>
            </a>
        </div>

        {# News #}
        {% for news_page in pages %}
            <div class="news-item news-item__{{ forloop.counter }}">
                <a class="news-item__link" href="{% pageurl news_page %}">
                    {% image news_page.feed_image fill-327x184 as news_image %}

                    <img
                    src="{{ news_image.url }}"
                    width="{{ news_image.width }}"
                    height="{{ news_image.height }}"
                    alt="{{ news_image.alt }}"
                    class="news-item__image" />

                    <div class="news-item__details">

                        <h3 class="news-item__title">{{ news_page.title }}</h3>{% if news_page.listing_intro %}:{% endif %}

                        <span class="news-item__intro">{{ news_page.listing_intro }}</span>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
