{% load wagtailcore_tags wagtailimages_tags %}

<div class="showcase homepage-block homepage-block--full-width">
    <div class="homepage-block__wrapper homepage-block__header">
        <h2 class="homepage-block__title homepage-heading homepage-heading--dark-grey">{{ value.title }}</a></h2>

        {% if value.link_text and value.link_page %}
            <a class="homepage-block__more" href="{% pageurl value.link_page %}">
                {{ value.link_text }}
                <svg class="homepage-block__arrow" aria-hidden="true">
                    <title>Arrow</title>
                    <use xlink:href="#arrow-thin"></use>
                </svg>
            </a>
        {% endif %}
    </div>

    <div class="homepage-block__slider-wrapper">
        <div class="showcase__slider js-showcase">
            {% for showcase_page in showcase_pages %}
                <div class="showcase__slide">
                    <div class="showcase__wrapper">
                        <div class="showcase__image-wrapper">
                            {% image showcase_page.specific.feed_image fill-540x358 %}
                        </div>

                        <h3 class="showcase__details">
                            <span class="showcase__page-title">{{ showcase_page.title }}</span>{% if showcase_page.strapline %}:{% endif %}
                            {{ showcase_page.strapline }}
                        </h3>
                        <a class="showcase__link" href="{% pageurl showcase_page %}">
                            Find out more +
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
