{% load wagtailimages_tags %}

<div class="testimonial__slide">
    <div class="testimonial__content">
        {% image value.image fill-600x335 class="testimonial__image" %}

        <blockquote class="testimonial__quote">
            <p class="testimonial__quote-text">
                <span class="testimonial__quote--highlight">
                    <svg class="testimonial__quote-icon">
                        <title>Open quotation mark</title>
                        <use xlink:href="#quote"></use>
                    </svg>
                    {{ value.quote }}
                </span>
                {{ value.further_description }}”
            </p>

             <footer class="testimonial__reference">{{ value.reference }}</footer>
        </blockquote>
    </div>
</div>
