{% with self.quotations.all as quotations %}
    {% if quotations %}
        {% for quotation in quotations %}
        	<blockquote class="quotation">
	            <q class="bc2">"{{ quotation.quotation }}"</q>
	            {% if quotation.quotee %}
	            	<cite class="a0">{{ quotation.quotee }}</cite>
	            {% endif %}
	            {% if quotation.quotee_job_title %}
	            	<p class="a1">{{ quotation.quotee_job_title }}</p>
	            {% endif %}
            </blockquote>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}