<header class="merged tab-merged">
    <h1>Popular search terms</h1>
</header>

<form class="searchterms-search search-bar nice-padding" action="{% url 'verdantsearch_searchterms_chooserresults' %}" method="GET" autocomplete="off">
    <ul class="fields">
        {% for field in searchform %}
            {% include "verdantadmin/shared/field_as_li.html" with field=field %}
        {% endfor %}
        <li class="submit"><input type="submit" value="Search" /></li>
    </ul>
</form>
<div id="searchterms-results">
    {% include "verdantsearch/searchterms/chooser/results.html" %}
</div>