{% comment %}
The html rendering of any individual field, throughout verdant, is the same. It's always wrapped in an LI, for starters.

However each LI needs to know the kind of field it's wrapping, so it can adjust the content's positionining if necessary. 
The "TODO" in the class attr below reflects a need for every field throughout verdant to be able to output it's type as a class. e.g "text", "radio", "checkbox"

Also note that verdantadmin/templates/shared/field_as_li.html exists for rendering fields more generally outside the page editing UI. It's a duplicate of this file, and if possible should in fact share the very same file.
{% endcomment %} 

<li class="TODO {% if field.errors %}error{% endif %}">
    <div class="field">
        {{ field.label_tag }}
        {% block form_field %}
            {{ field }}
        {% endblock %}
    </div>

    {% if field.errors %}
        <p class="error-message">
            {% for error in field.errors %}
                <span>{{ error|escape }}</span>
            {% endfor %}
        </p>
    {% endif %}
    {% if field.help_text %}
        <p class="help">{{ field.help_text }}</p>
    {% endif %}
</li>
