{% extends "verdantadmin/panels/field_panel.html" %}
{% load image_tags %}
{% load static %}

{% comment %}
    Either the chosen-state or unchosen-state div will be shown, depending on the presence
    of the 'blank' class on the container.

    Any element with the 'action-choose-page' class will open the page chooser modal
    when clicked.

    TODO: eliminate the copy-and-paste-ness between this and image_chooser_panel
    TODO: make it possible to specify button labels that are better tuned to the
        particular use case: e.g. "Choose an author", "Choose a location"
{% endcomment %}

{% block form_field %}

    <div id="{{ field.id_for_label }}-chooser" class="page-chooser {% if not page %}blank{% endif %}">

        <div class="chosen-state">
            <span class="page-title">{{ page.title }}</span>

            {% if not field.field.required %}
                <input type="button" class="action-clear" value="Clear choice">
            {% endif %}
            <input type="button" class="action-choose-page" value="Choose another page">
        </div>

        <div class="unchosen-state">
            <input type="button" class="action-choose-page" value="Choose a page">
        </div>

    </div>

    {{ field }}

{% endblock %}
