{% extends "verdantadmin/skeleton.html" %}
{% load explorer_nav gravatar %}

{% block furniture %}
    <div id="nav-toggle" data-afteropen="Collapse" class="icon icon-verdant text-replace">Menu</div>
    <div class="nav-wrapper">
        <div class="inner">
            <a href="{% url 'verdantadmin_home' %}" class="logo"><em>V</em><span>erdant</span></a>
            <nav class="nav-main">
                <ul>
                    <li class="menu-explorer"><a href="#" class="icon icon-folder-open-inverse dl-trigger">Explorer</a></li>
                    <li class="menu-search">
                        <a href="{% url 'verdantadmin_pages_search' %}" id="menu-search-toggle" class="icon icon-search">Search</a>
                        {% comment %}
                            {# TODO: make this work #}
                            <form id="menu-search" action="{% url 'verdantadmin_pages_search' %}" method="get">
                                <ul class="fields">
                                    <li class="char_field">
                                        <div class="field">
                                            <label for="id_q">Search term:</label>
                                            <input id="id_q" name="q" type="text">
                                        </div>
                                    </li>
                                    <li class="submit"><input type="submit" value="Search" /></li>
                                </ul>
                            </form>
                        {% endcomment %}
                    </li>
                    <li class="menu-images"><a href="{% url 'verdantimages_index' %}" class="icon icon-image">Images</a></li>
                    <li class="menu-documents"><a href="{% url 'verdantdocs_index' %}" class="icon icon-doc-full-inverse">Documents</a></li>
                    <li class="menu-snippets"><a href="{% url 'verdantsnippets_index' %}" class="icon icon-snippet">Snippets</a></li>
                    {% if perms.auth %}
                        <li class="menu-users"><a href="{% url 'verdantusers_index' %}" class="icon icon-user">Users</a></li>
                    {% endif %}
                    {% comment %}
                        {# TODO: make this work #}
                        <li><a href="{% url 'verdantadmin_pages_select_type' %}" class="icon teal icon-plus-inverse">New page</a></li>
                    {% endcomment %}
                    <li class="footer">
                        {% if user.email %}
                            <div class="avatar icon icon-user"><a href="http://gravatar.com" title="Change or set your Gravatar"><img src="{% gravatar_url user.email %}" /></a></div>
                        {% endif %}
                        <a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>
                    </li>
                    <li class="more">
                        <a href="#" class="icon icon-arrow-down">More</a>
                        <ul>
                            <li class="menu-redirects"><a href="{% url 'verdantredirects_index' %}" class="icon icon-redirect">Redirects</a></li>
                            {% get_verdantadmin_tab_urls as verdantadmin_tab_urls %}
                            {% for name, title in verdantadmin_tab_urls %}
                                <li class="menu-{{ title|slugify }}"><a href="{% url name %}" class="icon icon-{{name}}">{{ title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                 
                </ul>
            </nav>
        </div>

        <nav class="explorer">
            <ul class="dl-menu">
                {% explorer_nav %}
            </ul>
        </nav>
    </div>

    <div class="content-wrapper">
        <div class="content">
            {# Always show messages div so it can be appended to by JS #}
            <div class="messages">
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}