<!DOCTYPE HTML>
<html>
    <head>
        <title>Verdant admin</title>
    </head>
    <body>
        <a href="{% url 'verdantadmin_home' %}"><h1>Verdant</h1></a>
        <ul class="menu">
            <a href="{% url 'verdantadmin_pages_index' %}">Pages</a>
        </ul>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}{% endblock %}
    </body>
</html>
