{% extends "verdantadmin/base.html" %}

{% block content %}
    <header>
        <h1>Homepage</h1>
    </header>

    {% if page_revisions_for_moderation %}
        <div class="nice-padding">
            <h2>Pages awaiting moderation:</h2>
            <table class="listing">
                <tr>
                    <th>Title</th>
                    <th>Submitted by</th>
                    <th>Submission date</th>
                    <th>Actions</th>
                </tr>
                {% for revision in page_revisions_for_moderation %}
                    <tr>
                        <td>{{ revision.page.title }}</td>
                        <td>{{ revision.user.get_full_name }}</td>
                        <td>{{ revision.created_at|date:"d M Y" }}</td>
                        <td>
                            <form action="{% url 'verdantadmin_pages_approve_moderation' revision.id %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" class="button" value="Approve">
                            </form>

                            <form action="{% url 'verdantadmin_pages_reject_moderation' revision.id %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" class="button" value="Reject">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}
