<section class="body-text">
	{% if include.studentProfile %}
		<h2 class="h5">Almost nothing</h2>
	    <span class="bc3">2012</span>
    {% endif %}

    {% if include.showIntro %}
    	{% include modules/intro.html %}
    {% endif %}

	<p>This is the first new building to be constructed on the golden Mile, Blackpool for many years. it provides a focal point for visitors, and contains a very unusual mix of uses: a large restaurant and local information office at promenade level, with registry offices and ceremony hall for weddings above.</p>
	<p>Designed with dRMM, tower Festival Headland pursues de Rijke’s cross- laminated timber (CLt) research agenda, which promotes the adoption by the British construction industry, of high performance, low environmental impact structural timber, locally sourced. A greater use of this building material would help the uK achieve its eu Co2 reduction targets, while providing the strength and safety of conventionally constructed buildings.</p>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit <a href="">Lorem ipsum dolor sit amet, volutpat.</a> </p>
	<h2>Body text examples should always include a variety of markup</h2>
	<p>tower Festival is one of the first contemporary public buildings in the UK to be built entirely of timber, with a timber core and stairs. its experimental structure consists of a combined horizontal and a vertical cantilever, and is the third in a series of structural typology studies using CLt, the previous two being the shed and the frame, explored in the Kingsdale Festival is one of the first contemporary public buildings</p>
	<ul>
		<li>Lets include a list to check that this all looks OK too</li>
		<li>low environmental impact structural timber, locally sourced</li>
		<li>explored in the Kingsdale Festival is one </li>
		<li>the previous two being the shed and the frame, explored in the Kingsdale Festival is one of the first contemporary public buildings in the UK to be built</li>
	</ul>
	<p>in the UK to be built entirely of timber, with a timber core and stairs. its experimental structure consists of a combined horizontal and a vertical cantilever, and is the third in a series of structural typology studies using CLt, the previous two being the shed and the frame, explored in the Kingsdale Festival is one of the first contemporary public buildings in the UK to be built </p>
	<h3>It breaks up the content and looks nicer</h3>
	<p>its experimental structure consists of a combined horizontal and a vertical cantilever, and is the third in a series of structural typology studies using CLt, the previous two being the shed and the frame,<p>
	<p>explored in the Kingsdale Festival is one of the first contemporary public buildings in the UK to be built entirely of timber, with a timber core and stairs. its experimental structure consists of a combined horizontal and a vertical cantilever, and is the third in a series of structural typology studies using CLt, the previous two being the shed and the frame, explored in the Kingsdale</p>
</section>