<section class="row">
    <ul class="carousel paginated">
        <li><div class="image"><img src="http://placekitten.com/1200/600" /></div></li>
        <li>
            <div class="image"><img src="http://placekitten.com/1200/600" /></div>
            <div class="content">
                <h3 class="bc2">The Royal College of Art sits at the threshold of a new and vital moment in communications history, an extraordinary time and one that wil deeply affect all of us...<a href="#" class="bc4 caps">Continue</a></h3>
            </div>
        </li>
        <li>
            <div class="image"><img src="http://placekitten.com/1200/600" /></div>
            <div class="hover-content">
                <h3 class="bc2">The Royal College of Art sits at the threshold of a new and vital moment in communications history, an extraordinary time and one that wil deeply affect all of us...<a href="#" class="bc4 caps">Continue</a></h3>
            </div>
        </li>
        <li><div class="image"><img src="http://placekitten.com/400/300" /></div></li>
    </ul>
</section>