<section class="row">
    <ul class="carousel paginated">
        {% if include.homepage != "true" %}
        <li><div class="image landscape"><img src="http://instasrc.com/944x531/art" width="944" height="531"/></div></li>
        {% endif %}
        <li>
            <div class="image landscape"><img src="http://instasrc.com/944x531/art" width="944" height="531"/></div>
            <div class="content">
                <h3 class="bc1"><a href="#"><strong>The Royal College of Art</strong> sits at the threshold of a new and vital moment in communications history, an extraordinary time and one that wil deeply affect all of us...<span class="bc4 caps">Continue</span></a></h3>
                <p class="caption a4">Caption Here</p>
            </div>
        </li>
        <li>
            <div class="image landscape"><img src="http://instasrc.com/944x531/art" width="944" height="531" /></div>
            <div class="hover-content">
                <h3 class="bc1"><a href="#">The Royal College of Art sits at the threshold of a new and vital moment in communications history, an extraordinary time and one that wil deeply affect all of us...<span href="#" class="bc4 caps">Continue</span></a></h3>
                <p class="caption a4">Caption Here</p>
            </div>
        </li>
        <li>
            <div class="image landscape"><img src="http://instasrc.com/944x531/aurora" width="944" height="531" /></div>
        </li>
        <li><div class="image portrait"><img src="http://instasrc.com/400x531/art" width="944" height="531" /></div></li>
        <li>
            <div class="videoembed vimeo">
                <div class="playpause play">Play</div>
                <div class="poster"><img src="http://b.vimeocdn.com/ts/167/267/167267482_640.jpg" height="531" /></div>
                <iframe src="http://player.vimeo.com/video/25401444?api=1&player_id=vimeoplayer1" width="944" height="531" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </li>
    </ul>
</section>