<section class="carousel-news row module">
    <h2 class="module-title"><a href="#">News</a></h2>
    <ul class="carousel-content">
        <li>
            <a href="#">
                <div class="image"><img src="http://instasrc.com/600x300/art" width="600" height="300" /></div>
                <div class="caption">
                    <h3 class="h6">Kaorline Glusiec (MA Animation, 2012) has been awarded first prize for the Lorem Ipsum competition</h3>
                    <span class="a2">News &gt;</span>
                </div>
            </a>
        </li>
        <li class="active">
            <a href="#">
                <div class="image"><img src="http://instasrc.com/600x300/city" width="600" height="300" /></div>
                <div class="caption">
                    <h3 class="h6">RCA fashion graduates instrumental in Whitechapel Gallery's first catwalk fundraiser</h3>
                    <span class="a2">News &gt;</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="image"><img src="http://instasrc.com/600x300/fractal" width="600" height="300" /></div>
                <div class="caption">
                    <h3 class="h6">Explored in the Kingsdale Festival is one of the first contemporary public buildings in the UK to be built entirely of timber, </h3>
                    <span class="a2">News &gt;</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="image"><img src="http://instasrc.com/600x300/boat" width="600" height="300" /></div>
                <div class="caption">
                    <h3 class="h6">Tower Festival is one of the first contemporary public buildings in the UK </h3>
                    <span class="a2">News &gt;</span>
                </div>
            </a>
        </li>
        <li class="last">
            <a href="#">
                <div class="image"><img src="http://instasrc.com/600x300/village" width="600" height="300" /></div>
                <div class="caption">
                    <h3 class="h6">Kaorline Glusiec (MA Animation, 2012) has been awarded first prize for the Lorem Ipsum competition</h3>
                    <span class="a2">News &gt;</span>
                </div>
            </a>
        </li>
    </ul>
</section>