<section class="row">
    <ul class="carousel paginated">
        <li><div class="image portrait"><img src="http://instasrc.com/200x900/art" width="200" height="900" /></div></li>
        <li><div class="image landscape"><img src="http://instasrc.com/944x531/art" width="944" height="531"/></div></li>
        <li>
            <div class="image landscape"><img src="http://instasrc.com/944x531/art" width="944" height="531"/></div>
            <div class="content">
                <h3 class="bc1"><a href="#"><strong>The Royal College of Art</strong> sits at the threshold of a new and vital moment in communications history, an extraordinary time and one that wil deeply affect all of us...<span class="bc4 caps">Continue</span></a></h3>
                <p class="caption a4">
                    Echoes, Rhythms and Deep Flows I<br />
                    100 biros diluted in alcohol, leather dye, car brake fluid oil<br />
                    3m x 4m &#124; &copy; RCA &#124; David Bailey
                </p>
            </div>
        </li>
        
        <li>
            <div class="image landscape"><img src="http://instasrc.com/944x531/art" width="944" height="531" /></div>
            <div class="hover-content">
                <h3 class="bc1"><a href="#">The Royal College of Art sits at the threshold of a new and vital moment in communications history, an extraordinary time and one that wil deeply affect all of us...<span href="#" class="bc4 caps">Continue</span></a></h3>
                <p class="caption a4">Caption Here</p>
            </div>
        </li>
        <li>
            <div class="image landscape"><img src="http://instasrc.com/700x200/aurora" width="700" height="200" /></div>
        </li>
        <li>
            <div class="image landscape"><img src="http://instasrc.com/600x500/aurora" width="600" height="531" /></div>
        </li>
        <li><div class="image portrait"><img src="http://instasrc.com/800x931/art" width="800" height="931" /></div></li>
        
        <li>
            <div class="videoembed vimeo">
                <div class="playpause play">Play</div>
                <div class="poster"><img src="http://b.vimeocdn.com/ts/167/267/167267482_640.jpg" height="531" /></div>
                <iframe src="http://player.vimeo.com/video/25401444?api=1&player_id=vimeoplayer1" width="944" height="531" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </li>
    </ul>
</section>

<!--

Example of all portrait images of arbitrary heights

<section class="row">
    <ul class="carousel paginated">
        <li><div class="image portrait"><img src="http://instasrc.com/200x900/art" width="200" height="900" /></div></li>
        <li><div class="image portrait"><img src="http://instasrc.com/444x531/art" width="444" height="531"/></div></li>
        <li>
            <div class="image portrait"><img src="http://instasrc.com/500x531/art" width="500" height="531"/></div>
            <div class="content">
                <h3 class="bc1"><a href="#"><strong>The Royal College of Art</strong> sits at the threshold of a new and vital moment in communications history, an extraordinary time and one that wil deeply affect all of us...<span class="bc4 caps">Continue</span></a></h3>
                <p class="caption a4">
                    Echoes, Rhythms and Deep Flows I<br />
                    100 biros diluted in alcohol, leather dye, car brake fluid oil<br />
                    3m x 4m &#124; &copy; RCA &#124; David Bailey
                </p>
            </div>
        </li>
        
        <li>
            <div class="image portrait"><img src="http://instasrc.com/400x700/art" width="400" height="700" /></div>
            <div class="hover-content">
                <h3 class="bc1"><a href="#">The Royal College of Art sits at the threshold of a new and vital moment in communications history, an extraordinary time and one that wil deeply affect all of us...<span href="#" class="bc4 caps">Continue</span></a></h3>
                <p class="caption a4">Caption Here</p>
            </div>
        </li>
        <li>
            <div class="image portrait"><img src="http://instasrc.com/300x800/aurora" width="300" height="800" /></div>
        </li>
        <li>
            <div class="image portrait"><img src="http://instasrc.com/500x600/aurora" width="500" height="600" /></div>
        </li>
        <li><div class="image portrait"><img src="http://instasrc.com/500x931/art" width="500" height="931" /></div></li>
        
    </ul>
</section>

-->

<!--

Example of mainly portrait caoursel ALL OF THE SAME HEIGHT, but also including a single landscape

<section class="row">
    <ul class="carousel paginated">
        <li><div class="image portrait"><img src="http://instasrc.com/200x900/art" width="200" height="900" /></div></li>
        <li>
            <div class="image portrait"><img src="http://instasrc.com/800x900/art" width="800" height="900"/></div>
            <div class="content">
                <h3 class="bc1"><a href="#"><strong>The Royal College of Art</strong> sits at the threshold of a new and vital moment in communications history, an extraordinary time and one that wil deeply affect all of us...<span class="bc4 caps">Continue</span></a></h3>
                <p class="caption a4">
                    Echoes, Rhythms and Deep Flows I<br />
                    100 biros diluted in alcohol, leather dye, car brake fluid oil<br />
                    3m x 4m &#124; &copy; RCA &#124; David Bailey
                </p>
            </div>
        </li>
        <li><div class="image portrait"><img src="http://instasrc.com/400x900/art" width="400" height="900"/></div></li>
        <li><div class="image landscape"><img src="http://instasrc.com/1200x900/art" width="1200" height="900"/></div></li>
        <li>
            <div class="image portrait"><img src="http://instasrc.com/530x900/art" width="530" height="900"/></div>
            <div class="content">
                <h3 class="bc1"><a href="#"><strong>The Royal College of Art</strong> sits at the threshold of a new and vital moment in communications history, an extraordinary time and one that wil deeply affect all of us...<span class="bc4 caps">Continue</span></a></h3>
                <p class="caption a4">
                    Echoes, Rhythms and Deep Flows I<br />
                    100 biros diluted in alcohol, leather dye, car brake fluid oil<br />
                    3m x 4m &#124; &copy; RCA &#124; David Bailey
                </p>
            </div>
        </li>
    </ul>
</section>
-->