<section class="one-plus x-plus module" data-pagination=".pagination">
    <div class="item-container">
        <ul class="row">
            <li class="newrow">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <ul class="content">
                        <li class="first">
                            <h2 class="h5">No one Lives Here</h2>
                            <p>This year’s graduating students present an exhibition by international artists exploring aspects of the digital age that permeate</p>
                            
                        </li>
                        <li class="second">
                            <h3 class="bc4 caps">21 Mar<span class="location">Kensington</span></h3>
                            <p class="a2">Public</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <ul class="content">
                        <li class="first">
                            <h2 class="h5">Cras quis elit eleifend</h2>
                            <p>A series of free, public exhibitions and events arranged by staff and students from the CCA programme.</p>
                        </li>
                        <li class="second"> 
                            <h3 class="bc4 caps">21 Mar <span class="locastion">Kensington</span></h3>
                            <p class="a2">Private</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="newrow">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <ul class="content">
                        <li class="first">
                            <h2 class="h5">Morbi non quam imperdiet</h2>
                            <p>A series of free, public exhibitions and events arranged by staff and students from the CCA programme.</p>
                        </li>
                        <li class="second">
                            <h3 class="bc4 caps">21 - 31 Mar <span class="location">Battersea</span></h3>
                            <p class="a2">Public</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <ul class="content">
                        <li class="first">
                            <h2 class="h5">Nam dictum vestibulum dolor</h2>
                            <p>A series of free, public exhibitions and events arranged by staff and students from the CCA programme.</p>
                        </li>
                        <li class="second">
                            <h3 class="bc4 caps">21 Mar - 4 Apr <span class="location">Battersea</span></h3>
                            <p class="a2">Private</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="newrow">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <ul class="content">
                        <li class="first">
                            <h2 class="h5">Nam dictum vestibulum dolor</h2>
                            <p>A series of free, public exhibitions and events arranged by staff and students from the CCA programme.</p>
                        </li>
                        <li class="second">
                            <h3 class="bc4 caps">21 Mar - 4 Apr <span class="location">Battersea</span></h3>
                            <p class="a2">Private</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <ul class="content">
                        <li class="first">
                            <h2 class="h5">Morbi non quam imperdiet</h2>
                            <p>A series of free, public exhibitions and events arranged by staff and students from the CCA programme.</p>
                        </li>
                        <li class="second">
                             <h3 class="bc4 caps">21 - 31 Mar <span class="location">Battersea</span></h3>
                             <p class="a2">Public</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="newrow">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <ul class="content">
                        <li class="first">
                            <h2 class="h5">Morbi non quam imperdiet</h2>
                            <p>A series of free, public exhibitions and events arranged by staff and students from the CCA programme.</p>
                        </li>
                        <li class="second">
                            <h3 class="bc4 caps">21 - 31 Mar <span class="location">Battersea</span></h3>
                            <p class="a2">Public</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <ul class="content">
                        <li class="first">
                            <h2 class="h5">No one Lives Here</h2>
                            <p>This year’s graduating students present an exhibition by international artists exploring aspects of the digital age that permeate</p>
                        </li>
                        <li class="second">
                            <h3 class="bc4 caps">21 Mar <span class="location">Kensington</span></h3>
                            <p class="a2">Public</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="newrow">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <ul class="content">
                        <li class="first">
                            <h2 class="h5">No one Lives Here</h2>
                            <p>This year’s graduating students present an exhibition by international artists exploring aspects of the digital age that permeate</p>
                        </li>
                        <li class="second">
                            <h3 class="bc4 caps">21 Mar <span class="location">Kensington &amp; other locations</span></h3>
                            <p class="a2">Public</p>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="load-more"><a href="#">+</a></li>
        </ul>
    </div>
</section>