<section class="events x-plus row module">
    <h2 class="module-title"><a href="#">Visual communication events</a></h2>
    <div class="item-container">
        <ul class="row">
            <li class="newrow">
                <a href="#">
                    <h3 class="bc4 caps">21 March <span class="location">Kensington</span></h3>
                    <p class="h7">Neville Brody in Conversation</p>
                    <p class="meta a2">Public</p>
                </a>  
            </li>
            <li>
                <a href="#">
                    <h3 class="bc4 caps">21 March <span class="location">Kensington</span></h3>
                    <p class="h7">Neville Brody in Conversation</p>
                    <p class="meta a2">Public</p>
                </a>  
            </li>
            <li class="load-more-target">
                <a href="#">
                    <h3 class="bc4 caps">21 March <span class="location">Kensington</span></h3>
                    <p class="h7">Neville Brody in Conversation</p>
                    <p class="meta a2">Public</p>
                </a>  
            </li>
            <li class="newrow">
                <a href="#">
                    <h3 class="bc4 caps">21 March <span class="location">Kensington</span></h3>
                    <p class="h7">Neville Brody in Conversation</p>
                    <p class="meta a2">Public</p>
                </a>  
            </li>
            <li>
                <a href="#">
                    <h3 class="bc4 caps">21 March <span class="location">Kensington</span></h3>
                    <p class="h7">Neville Brody in Conversation</p>
                    <p class="meta a2">Public</p>
                </a>  
            </li>
            <li class="load-more"><a href="#">+</a></li>
        </ul>
    </div>
</section>