<section class="filters {{ include.number }}-filters row module">
    <h2 class="module-title">Filters</h2>

    <form>
        <ul>
            <li class="select">
                <label for="">Filter label</label>
                <select name="">
                    <option value="">Filter label</option>
                    <option>Filter value 1</option>
                    <option>Filter value 2</option>
                    <option>Filter value 3</option>
                    <option>Filter value 4</option>
                    <option>Filter value 5</option>
                </select>
            </li>
            <li class="checkbox">
                <p class="label">Filter for checkboxes</p>
                <div class="checkboxes">
                    <label><input type="checkbox" value="" /> Filter value 1</label>
                    <label><input type="checkbox" value="" /> Filter value 2</label>
                    <label><input type="checkbox" value="" /> Longer Filter value one two lines 2</label>
                    <label><input type="checkbox" value="" /> Filter value 4</label>
                </div>
            </li>
            <li class="select">
                <label for="">Filter label</label>
                <select name="">
                    <option value="">Filter label longer</option>
                    <option>Filter value 1</option>
                    <option>Filter value 2</option>
                    <option>Filter value 3</option>
                    <option>Filter value 4</option>
                    <option>Filter value 5</option>
                </select>
            </li>
            <li class="select">
                <label for="">Filter label even longer</label>
                <select name="">
                    <option value="">Filter label</option>
                    <option>Filter value 1</option>
                    <option>Filter value 2</option>
                    <option>Filter value 3</option>
                    <option>Filter value 4</option>
                    <option>Filter value 5</option>
                </select>
            </li>
        </ul>
    </form>
</section>

