<section class="filters six-filters row">
    <form>
        <ul>
            <li>
                <p class="label">Filter for checkboxes</p>
                <div class="options three-cols">
                    <label><input type="radio" name="radio1" value="" /> Filter value 1</label>
                    <label><input type="radio" name="radio1" value="" /> Filter value 2</label>
                    <label><input type="radio" name="radio1" value="" /> Longer Filter value one two lines 2</label>
                    <label><input type="radio" name="radio1" value="" /> Filter value 4</label>
                    <label><input type="radio" name="radio1" value="" /> Filter value 1</label>
                    <label><input type="radio" name="radio1" value="" /> Filter value 2</label>
                    <label><input type="radio" name="radio1" value="" /> Longer Filter value one two lines 2</label>
                    <label><input type="radio" name="radio1" value="" /> Filter value 4</label>
                    <label><input type="radio" name="radio1" value="" /> Longer Filter value one two lines 2</label>
                    <label><input type="radio" name="radio1" value="" /> Filter value 4</label>
                    <label><input type="radio" name="radio1" value="" /> Filter value 1</label>
                    <label><input type="radio" name="radio1" value="" /> Filter value 2</label>
                    <label><input type="radio" name="radio1" value="" /> Longer Filter value one two lines 2</label>
                    <label><input type="radio" name="radio1" value="" /> Filter value 4</label>
                    <label><input type="radio" name="radio1" value="" /> Filter value 1</label>
                    <label><input type="radio" name="radio1" value="" /> Filter value 2</label>
                    <label><input type="radio" name="radio1" value="" /> Longer Filter value one two lines 2</label>
                    <label><input type="radio" name="radio1" value="" /> Filter value 4</label>
                    <label><input type="radio" name="radio1" value="" /> Longer Filter value one two lines 2</label>
                    <label><input type="radio" name="radio1" value="" /> Filter value 4</label>
                    <label><input type="radio" name="radio1" value="" /> Filter value 1</label>
                    <label><input type="radio" name="radio1" value="" /> Filter value 2</label>
                    <label><input type="radio" name="radio1" value="" /> Longer Filter value one two lines 2</label>
                    <label><input type="radio" name="radio1" value="" /> Filter value 4</label>
                    <label><input type="radio" name="radio1" value="" /> Filter value 1</label>
                    <label><input type="radio" name="radio1" value="" /> Filter value 2</label>
                    <label><input type="radio" name="radio1" value="" /> Longer Filter value one two lines 2</label>
                    <label><input type="radio" name="radio1" value="" /> Filter value 4</label>
                    <label><input type="radio" name="radio1" value="" /> Longer Filter value one two lines 2</label>
                    <label><input type="radio" name="radio1" value="" /> Filter value 4</label>
                </div>
            </li>
            <li>
                <p class="label">Filter 1</p>
                <div class="options">
                    <label><input type="checkbox" value="" /> Filter value 1</label>
                    <label><input type="checkbox" value="" /> Filter value 2</label>
                    <label><input type="checkbox" value="" /> Longer Filter value one two lines 2</label>
                    <label><input type="checkbox" value="" /> Filter value 4</label>
                </div>
            </li>
            <li>
                <p class="label">Filter 2</p>
                <div class="options">
                    <label><input type="checkbox" value="" /> Filter value 1</label>
                    <label><input type="checkbox" value="" /> Filter value 2</label>
                    <label><input type="checkbox" value="" /> Longer Filter value one two lines 2</label>
                    <label><input type="checkbox" value="" /> Filter value 4</label>
                </div>
            </li>
            <li>
                <p class="label">Much longer filter name</p>
                <div class="options">
                    <label><input type="checkbox" value="" /> Filter value 1</label>
                    <label><input type="checkbox" value="" /> Filter value 2</label>
                    <label><input type="checkbox" value="" /> Longer Filter value one two lines 2</label>
                    <label><input type="checkbox" value="" /> Filter value 4</label>
                </div>
            </li>
            <li>
                <p class="label">Filter for checkboxes</p>
                <div class="options">
                    <label><input type="checkbox" value="" /> Filter value 1</label>
                    <label><input type="checkbox" value="" /> Filter value 2</label>
                    <label><input type="checkbox" value="" /> Longer Filter value one two lines 2</label>
                    <label><input type="checkbox" value="" /> Filter value 4</label>
                </div>
            </li>
            <li>
                <p class="label">Filter for checkboxes</p>
                <div class="options">
                    <label><input type="checkbox" value="" /> Filter value 1</label>
                    <label><input type="checkbox" value="" /> Filter value 2</label>
                    <label><input type="checkbox" value="" /> Longer Filter value one two lines 2</label>
                    <label><input type="checkbox" value="" /> Filter value 4</label>
                </div>
            </li>
        </ul>
    </form>
</section>

