<section class="filters six-filters row">
    <form>
        <ul>
            <li class="filter three-cols">
                <label for="filters1">Filter for checkboxes</label>
                <select id="filters1">
                    <option value="">Any</option>
                    <option value="Filter value 1" selected>Goldsmithing, Metalwork, Jewelery and all manner of things</option>
                    <option value="Filter value 2">Filter value 2</option>
                    <option value="Longer Filter value one two lines 2">Longer Filter value one two lines 2</option>
                    <option value="Filter value 41">Filter value 41</option>
                    <option value="Filter value 412">Filter value 412</option>
                    <option value="Filter value 214">Filter value 214</option>
                    <option value="Longer Filter value one two lines 2 2">Longer Filter value one two lines 2 2</option>
                    <option value="A Filter value 4">A Filter value 4</option>
                    <option value="B Longer Filter value one two lines 2">B Longer Filter value one two lines 2</option>
                    <option value="C Filter value 4">C Filter value 4</option>
                    <option value="D Filter value 1">D Filter value 1</option>
                    <option value="E Filter value 2">Filter value 2</option>
                    <option value="F Longer Filter value one two lines 2">Longer Filter value one two lines 2</option>
                    <option value="G Filter value 4">G Filter value 4</option>
                    <option value="H Filter value 1">H Filter value 1</option>
                    <option value="I Filter value 2">I Filter value 2</option>
                    <option value="J Longer Filter value one two lines 2">J Longer Filter value one two lines 2</option>
                    <option value="K Filter value 4">K Filter value 4</option>
                    <option value="L Longer Filter value one two lines 2">L Longer Filter value one two lines 2</option>
                    <option value="M Filter value <">M Filter value 4</option>
                    <option value="N Filter value 1">N Filter value 1</option>
                    <option value="O Filter value 2">O Filter value 2</option>
                    <option value="P Longer Filter value one two lines 2">P Longer Filter value one two lines 2</option>
                    <option value="Q Filter value 4">Q Filter value 4</option>
                    <option value="R Filter value 1">R Filter value 1</option>
                    <option value="S Filter value 2">S Filter value 2</option>
                    <option value="T Longer Filter value one two lines 2">T Longer Filter value one two lines 2</option>
                    <option value="U Filter value 4">U Filter value 4</option>
                    <option value="V Longer Filter value one two lines 2">V Longer Filter value one two lines 2</option>
                    <option value="W Filter value 4">W Filter value 4</option>
                </select>
            </li>
            <li class="filter">
                <label for="filter2">Filter 2</label>
                <select id="filter2">
                    <option>Any</option>
                    <option value="P Longer Filter value one two lines 2">P Longer Filter value one two lines 2</option>
                    <option value="Q Filter value 4">Q Filter value 4</option>
                    <option value="R Filter value 1">R Filter value 1</option>
                    <option value="S Filter value 2">S Filter value 2</option>
                </select>
            </li>
            <li class="filter">
                <label for="filter3">Filter3</label>
                <select id="filter3">
                    <option>Any</option>
                    <option value="M Filter value <">M Filter value 4</option>
                    <option value="N Filter value 1">N Filter value 1</option>
                    <option value="O Filter value 2">O Filter value 2</option>
                    <option value="P Longer Filter value one two lines 2">P Longer Filter value one two lines 2</option>
                    <option value="Q Filter value 4">Q Filter value 4</option>
                </select>
            </li>
            <li class="filter">
                <label for="filters4">Much longer filter name</label>
                <select id="filters4">
                    <option>Any</option>
                    <option value="A Filter value 4">A Filter value 4</option>
                    <option value="B Longer Filter value one two lines 2">B Longer Filter value one two lines 2</option>
                    <option value="C Filter value 4">C Filter value 4</option>
                    <option value="D Filter value 1">D Filter value 1</option>
                    <option value="E Filter value 2">Filter value 2</option>
                    <option value="F Longer Filter value one two lines 2">Longer Filter value one two lines 2</option>
                </select>
            </li>
            <li class="filter">
                <label for="filters5">Filter for checkboxes</label>
                <select id="filters5">
                    <option>Any</option>
                    <option value="Q Filter value 4">Q Filter value 4</option>
                    <option value="R Filter value 1">R Filter value 1</option>
                    <option value="S Filter value 2">S Filter value 2</option>
                </select>
            </li>
            <li class="filter">
                <label for="filters6">Filter for checkboxes</label>
                <select id="filters6">
                    <option>Any</option>
                    <option value="D Filter value 1">D Filter value 1</option>
                    <option value="E Filter value 2">Filter value 2</option>
                    <option value="F Longer Filter value one two lines 2">Longer Filter value one two lines 2</option>
                    <option value="G Filter value 4">G Filter value 4</option>
                    <option value="H Filter value 1">H Filter value 1</option>
                    <option value="I Filter value 2">I Filter value 2</option>
                    <option value="J Longer Filter value one two lines 2">J Longer Filter value one two lines 2</option>
                    <option value="K Filter value 4">K Filter value 4</option>
                    <option value="L Longer Filter value one two lines 2">L Longer Filter value one two lines 2</option>
                    <option value="M Filter value <">M Filter value 4</option>
                    <option value="N Filter value 1">N Filter value 1</option>
                </select>
            </li>
        </ul>
    </form>
</section>

