<section class="four-plus x-plus row module">
    <h2 class="module-title">Research students</h2>
    <div class="item-container">
        <ul class="row">
            <li class="newrow">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/126x126/people" /></div>
                    <div class="content">
                        <p class="a3">Name<span>Surname</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/126x126/people" /></div>
                    <div class="content">
                        <p class="a3">Name<span>Surname</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/126x126/people" /></div>
                    <div class="content">
                        <p class="a3">Name<span>Surname</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/126x126/people" /></div>
                    <div class="content">
                        <p class="a3">Name<span>Surname</span></p>
                    </div>
                </a>
            </li>
            <li class="load-more-target">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/126x126/people" /></div>
                    <div class="content">
                        <p class="a3">Name<span>Surname</span></p>
                    </div>
                </a>
            </li>
            <li class="newrow">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/126x126/people" /></div>
                    <div class="content">
                        <p class="a3">Name<span>Surname</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/126x126/people" /></div>
                    <div class="content">
                        <p class="a3">Name<span>Surname</span></p>
                    </div>
                </a>
            </li>
            <li class="load-more"><a href="#">+</a></li>
        </ul>
    </div>
</section>