<section class="four-plus row module">
	<h2 class="module-title">Research</h2>
	<ul class="row">
		<li>
			<a href="#">
				<div class="image"><img src="http://instasrc.com/224x126/art" /></div>
				<div class="content">
					<h3 class="h8">Name of student project</h3>
					<p class="bc5">David Crowley</p>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="image"><img src="http://instasrc.com/224x126/art" /></div>
				<div class="content">
					<h3 class="h8">Name of student project</h3>
					<p class="bc5">David Crowley</p>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="image"><img src="http://instasrc.com/224x126/art" /></div>
				<div class="content">
					<h3 class="h8">Name of student project</h3>
					<p class="bc5">David Crowley</p>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="image"><img src="http://instasrc.com/224x126/art" /></div>
				<div class="content">
					<h3 class="h8">Name of student project</h3>
					<p class="bc5">David Crowley</p>
				</div>
			</a>
		</li>
		<li class="load-more"><a href="#">+</a></li>
	</ul>
</section>