<section class="gallery module">
    <ul class="gallery">
        <li>
            <a href="#">
                <div class="image portrait"><img src="http://instasrc.com/300x400/art/" /></div>
                <div class="content">
                    <h2 class="h5">The Dynamics of Interbeing and Monological Imperatives in Dick and Jane: A Study in Psychic Transrelational Gender Modes</h2>
                    <p class="bc4">Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="image landscape"><img src="http://instasrc.com/400x300/art/" /></div>
                <div class="content">
                    <h2 class="h5">Another Name of work</h2>
                    <p>Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="image portrait"><img src="http://instasrc.com/300x400/art/" /></div>
                <div class="content">
                    <h2 class="h5">A much longer name Name of work</h2>
                    <p>Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="image landscape"><img src="http://instasrc.com/400x300/art/" /></div>
                <div class="content">
                    <h2 class="h5">This name of the work "Might have quotes in"</h2>
                    <p>Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="image landscape"><img src="http://instasrc.com/400x300/art/" /></div>
                <div class="content">
                    <h2 class="h5"></h2>
                    <p>Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="image"><img src="http://instasrc.com/300x300/art/" /></div>
                <div class="content">
                    <h2 class="h5">Name of work</h2>
                    <p>Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="image portrait"><img src="http://instasrc.com/300x400/art/" /></div>
                <div class="content">
                    <h2 class="h5">Name of work</h2>
                    <p>Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="image portrait"><img src="http://instasrc.com/300x400/art/" /></div>
                <div class="content">
                    <h2 class="h5">Name of work</h2>
                    <p>Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="image landscape"><img src="http://instasrc.com/400x300/art/" /></div>
                <div class="content">
                    <h2 class="h5">Name of work</h2>
                    <p>Student name</p>
                    <p class="meta 2a">Visual communications</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="image portrait"><img src="http://instasrc.com/100x400/art/" /></div>
                <div class="content">
                    <h2 class="h5">Name of work</h2>
                    <p>Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
    </ul>
</section>