<section class="gallery module">
    <ul>
        <li class="item landscape">
            <a href="#">
                <div class="image landscape"><img src="http://instasrc.com/500x400/art/" /></div>
                <div class="content">
                    <h2 class="h6">Another Name of work</h2>
                    <p>Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
        <li class="item landscape">
            <a href="#">
                <div class="image landscape"><img src="http://instasrc.com/500x350/art/" /></div>
                <div class="content">
                    <h2 class="h6">Another Name of work</h2>
                    <p>Student name</p>
                    <p class="metaa a2">Visual communications</p>
                </div>
            </a>
        </li>
        <li class="item portrait">
            <a href="#">
                <div class="image portrait"><img src="http://instasrc.com/300x400/art/" /></div>
                <div class="content">
                    <h2 class="h6">The Dynamics of Interbeing and Monological Imperatives in Dick and Jane: A Study in Psychic Transrelational Gender Modes</h2>
                    <p class="bc4">Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
        <li class="item landscape">
            <a href="#">
                <div class="image landscape"><img src="http://instasrc.com/500x400/art/" /></div>
                <div class="content">
                    <h2 class="h6">Another Name of work</h2>
                    <p>Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
        <li class="item portrait">
            <a href="#">
                <div class="image portrait"><img src="http://instasrc.com/300x400/art/" /></div>
                <div class="content">
                    <h2 class="h6">A much longer name Name of work</h2>
                    <p>Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
        <li class="item portrait">
            <a href="#">
                <div class="image landscape"><img src="http://instasrc.com/100x400/art/" /></div>
                <div class="content">
                    <h2 class="h6">This name of the work "Might have quotes in"</h2>
                    <p>Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
        <li class="item landscape">
            <a href="#">
                <div class="image landscape"><img src="http://instasrc.com/500x400/art/" /></div>
                <div class="content">
                    <h2 class="h6">The Dynamics of Interbeing and Monological Imperatives in Dick and Jane: A Study in Psychic Transrelational Gender Modes</h2>
                    <p>Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
        <li class="item portrait">
            <a href="#">
                <div class="image landscape"><img src="http://instasrc.com/100x400/art/" /></div>
                <div class="content">
                    <h2 class="h6">This name of the work "Might have quotes in"</h2>
                    <p>Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
        <li class="item portrait">
            <a href="#">
                <div class="image landscape"><img src="http://instasrc.com/100x400/art/" /></div>
                <div class="content">
                    <h2 class="h6">This name of the work "Might have quotes in"</h2>
                    <p>Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
        <li class="item landscape">
            <a href="#">
                <div class="image landscape"><img src="http://instasrc.com/450x100/art/" /></div>
                <div class="content">
                    <h2 class="h6">This name of the work "Might have quotes in"</h2>
                    <p>Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
        <li class="item portrait">
            <a href="#">
                <div class="image"><img src="http://instasrc.com/400x400/art/" /></div>
                <div class="content">
                    <h2 class="h6">Name of work</h2>
                    <p>Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
        <li class="item portrait">
            <a href="#">
                <div class="image portrait"><img src="http://instasrc.com/300x400/art/" /></div>
                <div class="content">
                    <h2 class="h6">Name of work</h2>
                    <p>Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
        <li class="item landscape">
            <a href="#">
                <div class="image landscape"><img src="http://instasrc.com/400x300/art/" /></div>
                <div class="content">
                    <h2 class="h6">Name of work 2</h2>
                    <p>Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
        <li class="item landscape">
            <a href="#">
                <div class="image landscape"><img src="http://instasrc.com/800x400/art/" /></div>
                <div class="content">
                    <h2 class="h6">Name of work</h2>
                    <p>Student name</p>
                    <p class="meta 2a">Visual communications</p>
                </div>
            </a>
        </li>
        <li class="item portrait">
            <a href="#">
                <div class="image portrait"><img src="http://instasrc.com/100x400/art/" /></div>
                <div class="content">
                    <h2 class="h6">Name of work</h2>
                    <p>Student name</p>
                    <p class="meta a2">Visual communications</p>
                </div>
            </a>
        </li>
    </ul>
</section>