<section class="half-double module row ">
    <ul>
        <li>
            <a href="#">
                <div class="image"><img src="http://instasrc.com/464x295/art" /></div>
                <div class="content">
                    <h2 class="h5">Grayson Perry's talk "Turnup on time, be nice and put in thehours" reviewed by Fine Art student Justin Fawler</h2>
                    <p class="a2">News</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="image"><img src="http://instasrc.com/464x295/aurora" /></div>
                <div class="content">
                    <h2 class="h5">Grayson Perry's talk "Turnup on time"</h2>
                    <p class="bc4">Be nice and put in thehours" reviewed by Fine Art student Justin Fawler Be nice and put in thehours" reviewed by Fine Art student Justin Fawler</p>
                    <p class="a2">News</p>
                </div>
            </a>
        </li>
    </ul>
</section>