<section class="head-of-programme row module">
    <h2 class="module-title"><a href="#">Head of programme</a></h2>
    <a href="#">
        <div class="image"><img src="http://instasrc.com/176x176/people" /></div>
        <p class="content bc1"><strong>Neville Brody</strong> The Royal Collage of Arts sits at the threshold of a new and vital moment in communications history, an extraordinary time and one that will deeply affecta all of us...<span class="bc4 caps">Continue</span></p>
    </a>
</section>