<section class="job-summary">
	<h3 class="a2">Closing date</h3>
	<p>17th May 2013</p>

	<h3 class="a2">Interview date</h3>
	<p>17th May 2013</p>

	<h3 class="a2">School</h3>
	<p>School of design</p>

	<h3 class="a2">Responsible to</h3>
	<p>GID Head of Programme</p>

	<h3 class="a2">Required hours</h3>
	<p>Full time</p>

	<h3 class="a2">Programme</h3>
	<p>The Global Innovation Design</p>

	<h3 class="a2">Campus</h3>
	<p>Kensington</p>

	<h3 class="a2">Salary</h3>
	<p>&pound;49,448 - &pound;55,367 pro-rata</p>

	<h3 class="a2">Ref no</h3>
	<p>8110560</p>

	<h3 class="a2">Grade</h3>
	<p>10</p>

	<div class="row">
		{% include modules/download-button.html %}
		{% include modules/share-button.html %}
	</div>

</section>