<section class="module">
	<h2 class="module-title">Job Description</h2>
	<p>The Global Innovation Design (GID) programme is a new programme and offers a two-year double Masters MA (RCA) / MSC (Imperial College London) where students study in London, New York and Tokyo.</p>

	<p>The programme is run jointly with Imperial College London and currently collaboratively with Keio university in Japan and the Pratt Institute in the U.S.A. It takes a diverse range of applicants (engineers, technologists, designers, commercially experienced people and from many other disciplines) and introduces them.</p>
</section>