<section class="job-details">
	<section class="module job-description">
		<ul class="row">
			<li class="col-8 body-text-style">
				<h2 class="module-title">Job Description</h2>
				<p>The Global Innovation Design (GID) programme is a new programme and offers a two-year double Masters MA (RCA) / MSC (Imperial College London) where students study in London, New York and Tokyo.</p>

				<p>The programme is run jointly with Imperial College London and currently collaboratively with Keio university in Japan and the Pratt Institute in the U.S.A. It takes a diverse range of applicants (engineers, technologists, designers, commercially experienced people and from many other disciplines) and introduces them.</p>
			</li>
		</ul>
	</section>

	<section class="module">
		<ul class="row">
			<li class="col-8 body-text-style">
				<h2 class="module-title">Application and equal opportunities monitoring form</h2>
				<p>Please the <a href="">Application Form</a> (Word version or PDF version) and <a href="">Equal Opportunities Monitoring Form</a> (Word version).
				Please note it is vital that all sections of the application form are completed. CVs cannot be accepted as a substitute for any section.
				The ‘Additional Information’ section is particularly important to the selection process; you should use this to outline the skills, knowledge and experience that you have that relates specifically to the job description and person specification for the post. You may continue sections on separate sheets if necessary.</p>

				<p>If you are disabled and require help completing your application form, or if you will require help or special facilities should you be short-listed for interview, please telephone the personnel Assistant on +44 (0)20 7590 4148 or email personnel@rca.ac.uk.</p>
			</li>
		</ul>
	</section>

	{% include modules/contact.html %}
</section>