<section class="one-plus x-plus module" data-pagination=".pagination">
    <h2 class="module-title">Current vacancies</h2>
    <div class="item-container">
        <ul class="row">
            <li class="newrow">
                <div class="content">
                    <a href="#"><h2 class="h5">Senior Tutor, Global Innovation Design</h2></a>
                    <h3 class="bc3">School of Design</h3>
                    <ul class="details">
                        <li class="col">
                            <h3 class="a2">Salary</h3>
                            <p class="bc4">£49,448 - £55,367 pro-rata</p>
                        </li>
                        <li class="col">
                            <h3 class="a2">Closing date</h3>
                            <p class="bc4">17th May 2013</p>
                        </li>
                    </ul>
                    <p class="newrow">The Global Innovation Design (GID) programme is a new programme and offers a two-year double Masters MA (RCA) / MSC (Imperial College London) where students study in London, New York and Tokyo.</p>
                </div>
            </li>
            <li>
                <div class="content">
                    <a href="#"><h2 class="h5">Senior Tutor, Global Innovation Design</h2></a>
                    <h3 class="bc3">School of Design</h3>
                    <ul class="details">
                        <li class="col">
                            <h3 class="a2">Salary</h3>
                            <p class="bc4">£49,448 - £55,367 pro-rata</p>
                        </li>
                        <li class="col">
                            <h3 class="a2">Closing date</h3>
                            <p class="bc4">17th May 2013</p>
                        </li>
                    </ul>
                    <p class="newrow">The Global Innovation Design (GID) programme is a new programme and offers a two-year double Masters MA (RCA) / MSC (Imperial College London) where students study in London, New York and Tokyo. The Global Innovation Design (GID) programme is a new programme and offers a two-year double Masters MA (RCA) / MSC (Imperial College London) where students study in London, New York and Tokyo.</p>
                </div>
            </li>
            <li class="newrow">
                <div class="content">
                    <a href="#"><h2 class="h5">Senior Tutor, Global Innovation Design</h2></a>
                    <h3 class="bc3">School of Design</h3>
                    <ul class="details">
                        <li class="col">
                            <h3 class="a2">Salary</h3>
                            <p class="bc4">£49,448 - £55,367 pro-rata</p>
                        </li>
                        <li class="col">
                            <h3 class="a2">Closing date</h3>
                            <p class="bc4">17th May 2013</p>
                        </li>
                    </ul>
                    <p class="newrow">The Global Innovation Design (GID) programme is a new programme and offers a two-year double Masters MA (RCA) / MSC (Imperial College London) where students study in London, New York and Tokyo. The Global Innovation Design (GID) programme is a new programme and offers a two-year double Masters MA (RCA) / MSC (Imperial College London) where students study in London, New York and Tokyo.</p>
                </div>
            </li>
            <li>
                <div class="content">
                    <a href="#"><h2 class="h5">Senior Tutor, Global Innovation Design</h2></a>
                    <h3 class="bc3">School of Design</h3>
                    <ul class="details">
                        <li class="col">
                            <h3 class="a2">Salary</h3>
                            <p class="bc4">£49,448 - £55,367 pro-rata</p>
                        </li>
                        <li class="col">
                            <h3 class="a2">Closing date</h3>
                            <p class="bc4">17th May 2013</p>
                        </li>
                    </ul>
                    <p class="newrow">The Global Innovation Design (GID) programme is a new programme and offers a two-year double Masters MA (RCA) / MSC (Imperial College London) where students study in London, New York and Tokyo.</p>
                </div>
            </li>
        </ul>
    </div>
</section>