<section class="one-plus x-plus module" data-pagination=".pagination">
    <h2 class="module-title">A title</h2>
    <div class="item-container">
        <ul class="row">
            <li class="newrow">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <div class="content">
                        <h3 class="h5">Consectetur velit, in pretium sem ullamcorper quis. Praesent venenatis leo ac eros tincidunt, in fringilla diam vestibulum. Etiam in cursus</h3>
                        <p class="a2">News</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <div class="content">
                        <h3 class="h5">Cras quis elit eleifend quam sagittis sagittis vel sed sem. </h3>
                        <p class="a2">News</p>
                    </div>
                </a>
            </li>
            <li class="newrow">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <div class="content">
                        <h3 class="h5">Morbi non quam imperdiet, ultrices odio ut, condimentum massa. Aliquam gravida mi quis enim venenatis, nec rutrum mauris convallis.</h3>
                        <p class="a2">News</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <div class="content">
                        <h3 class="h5">Nam dictum vestibulum dolor, et dignissim dolor auctor vel. Maecenas sit amet nibh turpis.</h3>
                        <p class="a2">News</p>
                    </div>
                </a>
            </li>
            <li class="newrow">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <div class="content">
                        <h3 class="h5">Praesent est sapien, ultricies et libero id, luctus laoreet nisi. Aenean</h3>
                        <p class="a2">News</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <div class="content">
                        <h3 class="h5">Maecenas hendrerit elit in dui convallis ornare. Vestibulum quis eros dictum, mattis sem vitae, hendrerit lacus. Nam dictum vestibulum dolor, et dignissim dolor auctor vel. Maecenas sit amet nibh turpis. Phasellus eget hendrerit nisl.</h3>
                        <p class="a2">News</p>
                    </div>
                </a>
            </li>
            <li class="newrow">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <div class="content">
                        <h3 class="h5">In fringilla diam vestibulum. Etiam in cursus eros, eget semper eros. Nam a pharetra turpis, </h3>
                        <p class="a2">News</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <div class="content">
                        <h3 class="h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac nunc augue. Vivamus dolor diam, luctus lobortis fringilla ut</h3>
                        <p class="a2">News</p>
                    </div>
                </a>
            </li>
            <li class="newrow">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <div class="content">
                        <h3 class="h5">Cras quis elit eleifend quam sagittis sagittis vel sed sem.</h3>
                        <p class="a2">News</p>
                    </div>
                </a>
            </li>
            <li class="load-more"><a href="#">+</a></li>
        </ul>
    </div>
</section>