<section class="packery module row">
    <ul>
        <li class="item double">
            <div class="inner">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x136/aurora" width="304" height="136" /></div>
                    <div class="content">
                        <h3 class="h6">The Eglu</h3>
                        <p class="bc4">"It wasn't until I was looking for ideas for a final-year project and my mum suggested that I update my deign for a chicken coop that I decided to take that idea further."</p>
                        <p class="a2">News</p>
                    </div>
                </a>
            </div>
        </li>
        <li class="item single">
            <div class="inner">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/80x80/sky" width="80" height="80" /></div>
                    <div class="content">
                        <h3 class="h6">Fiona Raby</h3>
                        <p class="bc4">Fiona is a reader in Design Interactions. She is a partner in the design partnership Dunn &amp; Raby...</p>
                        <p class="a2">News</p>
                    </div>
                </a>
            </div>
        </li>
        <li class="item full">
            <div class="inner">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/944x455/military" width="944" height="455" /></div>
                    <div class="content">
                        <h3 class="h6">Fiona Raby</h3>
                        <p class="bc4">Fiona is a reader in Design Interactions. She is a partner in the design partnership Dunn &amp; Raby...</p>
                        <p class="a2">News</p>
                    </div>
                </a>
            </div>
        </li>
        <li class="item single">
            <div class="inner">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/80x80/people" width="80" height="80" /></div>
                    <div class="content">
                        <p class="bc4">Fiona is a reader in Design Interactions. She is a partner in the design partnership Dunn &amp; Raby...</p>
                        <p class="a0">David Hockney</p>
                        <p class="a1">Painting Graduate, 1962</p>
                        <p class="a2">Alumni</p>
                    </div>
                </a>
            </div>
        </li>
        <li class="item double">
            <div class="inner">
                <a href="#">
                    <div class="content">
                        <h3 class="h7 highlight-blue">@RCAevents</h3>
                        <p class="bc4">#FF our brilliant hunter gatherers @jrpielichaty @SerenaKatt @beckyallenart @Rachel_E_Taylor aka Rachy T. All amazing</p>
                        <p class="a2">15 mins ago from @rcavisualcomm</p>
                    </div>
                </a>
            </div>
        </li>
       
        <li class="item single">
            <div class="inner">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/80x80/people/new/" width="80" height="80" /></div>
                    <div class="content">
                        <p class="bc4">Fiona is a reader in Design Interactions. She is a partner in the design partnership Dunn &amp; Raby...</p>
                        <p class="a0">David Hockney</p>
                        <p class="a1">Painting Graduate, 1962</p>
                        <p class="a2">Alumni</p>
                    </div>
                </a>
            </div>
        </li>
        <li class="item double">
            <div class="inner">
                <a href="#">
                    <div class="content">
                        <h3 class="h7 highlight-blue">@RCAevents</h3>
                        <p class="bc4">#FF our brilliant hunter gatherers @jrpielichaty @SerenaKatt @beckyallenart @Rachel_E_Taylor aka Rachy T. All amazing</p>
                        <p class="a2">15 mins ago from @rcavisualcomm</p>
                    </div>
                </a>
            </div>
        </li>
        <li class="item three-quarters">
            <div class="inner">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/624x295/animal" width="624" height="295"/></div>
                    <div class="content">
                        <h3 class="h6">RCA Fasion Graduates Instrumental in Whitechapel Callery's First Catwalk Fundraiser</h3>
                        <p class="bc4">Fiona is a readt wasn't until I was looking for ideas for a final-year project and my mum suggested that I update my deign for a chicken coop that I er in Design Interactions. She is a partner in the design partnership Dunn</p>
                        <p class="a2">News</p>
                    </div>
                </a>
            </div>
        </li>
        <li class="item single">
            <div class="inner">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/80x80/animal" width="80" height="80" /></div>
                    <div class="content">
                        <h3 class="h6">Someone Else</h3>
                        <p class="bc4">Fiona is a reader in Design Interactions. She is a partner in the design partnership Dunn &amp; Raby...</p>
                        <p class="a2">News</p>
                    </div>
                </a>
            </div>
        </li>
        <li class="item double">
            <div class="inner">
                <a href="#">
                    <div class="content">
                        <h3 class="h7 highlight-blue">@RCAevents</h3>
                        <p class="bc4">#FF our brilliant hunter gatherers @jrpielichaty @SerenaKatt @beckyallenart @Rachel_E_Taylor aka Rachy T. All amazing</p>
                        <p class="a2">15 mins ago from @rcavisualcomm</p>
                    </div>
                </a>
            </div>
        </li>
        <li class="item single">
            <div class="inner">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/80x80/people/new/" width="80" height="80" /></div>
                    <div class="content">
                        <p class="bc4">Fiona is a reader in Design Interactions. She is a partner in the design partnership Dunn &amp; Raby...</p>
                        <p class="a0">David Hockney</p>
                        <p class="a1">Painting Graduate, 1962</p>
                        <p class="a2">Alumni</p>
                    </div>
                </a>
            </div>
        </li>
        <li class="item double">
            <div class="inner">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x136/village" width="304" height="136" /></div>
                    <div class="content">
                        <h3 class="h6">The Eglu</h3>
                        <p class="bc4">"It wasn't until I was looking for ideas for a final-year project and my mum suggested that I update my deign for a chicken coop that I decided to take that idea further."</p>
                        <p class="a2">News</p>
                    </div>
                </a>
            </div>
        </li>
        <li class="item single">
            <div class="inner">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/80x80/animal" /></div>
                    <div class="content">
                        <h3 class="h6">Someone Else</h3>
                        <p class="bc4">Fiona is a reader in Design Interactions. She is a partner in the design partnership Dunn &amp; Raby...</p>
                        <p class="a2">News</p>
                    </div>
                </a>
            </div>
        </li>
        <li class="stamp load-more"><a href="#">+</a></li>
    </ul>
</section>