<section class="four-cols profile">
	<li class="col">
		<img class="profile-pic" src="http://instasrc.com/200x200/people" alt="" />
	</li>
	<li class="col">
		<dl>
			<dt>School</dt>
			<dd>School of Fine Art</dd>
			<dt>Job</dt>
			<dd>
				Senior programme tutor
				<span>
				Sculpture
				<a href="">sculpture@rca.ac.uk</a>
				</span>
			</dd>
			<dd>
				Visiting tutor sculpture
				<span>
				Sculpture
				<a href="">sculpture@rca.ac.uk</a>
				</span>
			</dd>
			<dd>
				Tutor
				<span>
				Painting and printmaking
				<a href="">painting@rca.ac.uk</a>
				<a href="">printmaking@rca.ac.uk</a>
				</span>
			</dd>
		</dl>
	</li>
	<li class="col">
		<dl>
			<dt>Contact</dt>
			<dd>
				<span>
				<a href="">jeremy.hammond@rca.ac.uk</a>
				<a href="">www.jeremyhammond.com</a>
				<a href="">jeremyhammond.tumblr.com</a>
				<a href="">@jezzahammer</a>
				</span>
			</dd>
		</dl>
	</li>
	<li class="col">
	</li>
</section>