<section class="four-cols profile">
	<li class="col">
		<img class="profile-pic" src="http://instasrc.com/200x200/people" alt="" />
	</li>
	<li class="col">
		<h3 class="a2">School</h3>
		<p class="h7">School of Fine Art</p>

		<h3 class="a2 space">Job</h3>
		<p class="h7">Senior programme tutor</p>
		<ul class="bc4">
			<li>Sculpture</li>
			<li><a href="">sculpture@rca.ac.uk</a></li>
		</ul>
		<p class="h7 space">Visiting tutor sculpture</p>
		<ul class="bc4">
			<li>Sculpture</li>
			<li><a href="">sculpture@rca.ac.uk</a></li>
		</ul>
		<p class="h7 space">Tutor</p>
		<ul class="bc4">
			Painting and printmaking
			<li><a href="">painting@rca.ac.uk</a></li>
			<li><a href="">printmaking@rca.ac.uk</a></li>
		</ul>
	</li>
	<li class="col">
		<h3 class="a2">Contact</h3>
		<ul class="bc4">
			<li><a href="">jeremy.hammond@rca.ac.uk</a></li>
			<li><a href="">www.jeremyhammond.com</a></li>
			<li><a href="">jeremyhammond.tumblr.com</a></li>
			<li><a href="">@jezzahammer</a></li>
		</ul>
	</li>
	<li class="col">
	</li>
</section>