<section class="speakers module">
	<h2 class="module-title">Speakers</h2>
	<ul class="row">
		<li>
			<a href="#">
				<div class="image"><img src="http://instasrc.com/150x150/people" /></div>
				<div class="content">
					<p class="a3">Name<span>Surname</span></p>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="image"><img src="http://instasrc.com/150x150/people" /></div>
				<div class="content">
					<p class="a3">Name<span>Surname</span></p>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="image"><img src="http://instasrc.com/150x150/people" /></div>
				<div class="content">
					<p class="a3">Name<span>Surname</span></p>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="image"><img src="http://instasrc.com/150x150/people" /></div>
				<div class="content">
					<p class="a3">Name<span>Surname</span></p>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="image"><img src="http://instasrc.com/150x150/people" /></div>
				<div class="content">
					<p class="a3">Name<span>Surname</span></p>
				</div>
			</a>
		</li>
	</ul>
</section>