<section class="four-tab row module">

    <ul class="tab-nav tabs-4">
        <li class="active"><a href="#tab1" class="t0">Info</a></li>
        <li><a href="#tab2" class="t0">Selected work</a></li>
        <li><a href="#tab3" class="t0">Publications &amp; exhibitions</a></li>
        <li><a href="#tab4" class="t0">Research</a></li>
    </ul>

    <div class="tab-content">
        <h2 class="header"><a href="#tab1" class="a0 active">Info</a></h2>
        <div class="tab-pane active flush" id="tab1">
            {% include modules/profile.html %}
        </div>
        <h2 class="header"><a href="#tab2" class="a0">Selected work</a></h2>
        <div class="tab-pane" id="tab2">      
        </div>
        <h2 class="header"><a href="#tab3" class="a0">Publications &amp; exhibitions</a></h2>
        <div class="tab-pane" id="tab3">
            Contents of the third tab
        </div>
        <h2 class="header"><a href="#tab4" class="a0">Research</a></h2>
        <div class="tab-pane" id="tab4">
            Contents of the fourth tab
        </div>
    </div>
    
</section>