<section class="three-tab row module">
    <h2 class="module-title">Student info</h2>

    <!--
    <ul class="tab-nav tabs-2">
        <li class="active"><a href="#tab1" class="t0">Two tabs</a></li>
        <li><a href="#tab2" class="t0">Columnar content</a></li>
    </ul>
    -->
    <ul class="tab-nav tabs-3">
        <li class="active"><a href="#tab1" class="t0">Three tabs image</a></li>
        <li><a href="#tab2" class="t0">Columnar content</a></li>
        <li><a href="#tab3" class="t0">Carousel</a></li>
    </ul>
    <!-- 
    <ul class="tab-nav tabs-4">
        <li class="active"><a href="#tab1" class="t0">Four tabs image</a></li>
        <li><a href="#tab2" class="t0">Columnar content</a></li>
        <li><a href="#tab3" class="t0">Carousel</a></li>
        <li><a href="#tab3" class="t0">Carousel</a></li>
    </ul>
    <ul class="tab-nav tabs-5">
        <li class="active"><a href="#tab1" class="t0">Five tabs image</a></li>
        <li><a href="#tab2" class="t0">Columnar content</a></li>
        <li><a href="#tab3" class="t0">Carousel</a></li>
        <li><a href="#tab2" class="t0">Columnar content</a></li>
        <li><a href="#tab3" class="t0">Carousel</a></li>
    </ul>
    <ul class="tab-nav tabs-6">
        <li class="active"><a href="#tab1" class="t0">Six tabs image</a></li>
        <li><a href="#tab2" class="t0">Columnar content</a></li>
        <li><a href="#tab3" class="t0">Carousel</a></li>
        <li><a href="#tab2" class="t0">Columnar content</a></li>
        <li><a href="#tab3" class="t0">Carousel</a></li>
        <li><a href="#tab3" class="t0">Carousel</a></li>
    </ul> 
    -->

    <div class="tab-content">
        <h2 class="header"><a href="#tab1" class="a0 active">Three tabs image</a></h2>
        <div class="tab-pane active flush" id="tab1">
            <div class="image full"><img src="http://instasrc.com/944x531/art" /></div>
        </div>
        <h2 class="header"><a href="#tab2" class="a0">Columnar content</a></h2>
        <div class="tab-pane" id="tab2">      
            <ul class="two-cols">
                <li>
                    <div class="image"><img src="http://instasrc.com/96x96/art" /></div>
                    <div class="content">
                        <h3 class="h6">Liva Lima</h3>
                        <p class="bc3">Explored in the Kingsdale Festival is one of the first contemporary public buildings....<a href="#" class="bc5 caps">continue</a></p>
                    </div>
                </li>
                <li>
                    <div class="image"><img src="http://instasrc.com/96x96/architecture" /></div>
                    <div class="content">
                        <h3 class="h6">Lima Morgan</h3>
                        <p class="bc3">The UK to be built entirely of timber, with a timber core and stairs. its experimental structure consists of a combined horizontal and a vertical cantilever...<a href="#" class="bc5 caps">continue</a>
                    </div>
                </li>
                <li class="newrow">
                    <div class="image"><img src="http://instasrc.com/96x96/people" /></div>
                    <div class="content">
                        <h3 class="h6">Catrin Morgan Lima</h3>
                        <p class="bc3">And is the third in a series of structural typology studies using CLt, the previous two being the shed...<a href="#" class="bc5 caps">continue</a></p>
                    </div>
                </li>
                <li>
                    <div class="image"><img src="http://instasrc.com/96x96/water" /></div>
                    <div class="content">
                        <h3 class="h6">Morgan Lima</h3>
                        <p class="bc3">The previous two being the shed and the frame, explored in the Kingsdale...<a href="#" class="bc5 caps">continue</a></p>
                    </div>
                </li>
                <li class="newrow">
                    <div class="image"><img src="http://instasrc.com/96x96/city" /></div>
                    <div class="content">
                        <h3 class="h6">Catrin Lima</h3>
                        <p class="bc3">With a timber core and stairs. its experimental structure consists of a combined horizontal and a vertical <a href="#" class="bc5 caps">continue</a></p>
                    </div>
                </li>
                <li>
                    <div class="image"><img src="http://instasrc.com/96x96/animal" /></div>
                    <div class="content">
                        <h3 class="h6">Catrin Morgan Lima Liva Lima</h3>
                        <p class="bc3">Typology studies using CLt, the previous two being the shed and the frame, explored in the Kingsdale...<a href="#" class="bc5 caps">continue</a></p>
                    </div>
                </li>
            </ul>
        </div>
        <h2 class="header"><a href="#tab3" class="a0">More content</a></h2>
        <div class="tab-pane" id="tab3">
            Contents of the third tab
        </div>
    </div>
    <ul class="button-bar two-button">
        <li><a href="#" class="button icon icon-download">Button with icon</a></li>
        <li><a href="#" class="button icon icon-download">Button with icon</a></li>
    </ul>

    {% comment %}{% include modules/stats.html %}{% endcomment %}
    
</section>