<section class="six-tab row module">

    <ul class="tab-nav tabs-6">
        <li class="active"><a href="#tab1" class="t0">Admissions</a></li>
        <li><a href="#tab2" class="t0">Media</a></li>
        <li><a href="#tab3" class="t0">Business partnerships</a></li>
        <li><a href="#tab4" class="t0">Schools and programmes</a></li>
        <li><a href="#tab5" class="t0">Venue hire</a></li>
        <li><a href="#tab6" class="t0">Sponsorship opportunities</a></li>
    </ul>

    <div class="tab-content">
        <h2 class="header"><a href="#tab1" class="a0 active">Admissions</a></h2>
        <div class="tab-pane active" id="tab1">
            <ul class="row">
                <li class="two">
                    <h3 class="h7">Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, Aenean sed condimentum nisi.</p>
                    <p><a class="download" href="#"></a></p>
                </li>
                <li class="two">
                    <h3 class="h7">Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, Aenean sed condimentum nisi.</p>
                    <p><a class="download" href="#"></a></p>
                </li>

                <li class="two">
                    <h3 class="h7">Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, Aenean sed condimentum nisi.</p>
                    <p><a class="download" href="#"></a></p>
                </li>

                <li class="two">
                    <h3 class="h7">Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, Aenean sed condimentum nisi.</p>
                    <p><a class="download" href="#"></a></p>
                </li>

                <li class="two">
                    <h3 class="h7">Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, Aenean sed condimentum nisi.</p>
                    <p><a class="download" href="#"></a></p>
                </li>

                <li class="two">
                    <h3 class="h7">Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, Aenean sed condimentum nisi.</p>
                    <p><a class="download" href="#"></a></p>
                </li>

            </ul>
        </div>
        <h2 class="header"><a href="#tab2" class="a0">Media</a></h2>
        <div class="tab-pane" id="tab2">
            tab2
        </div>
        <h2 class="header"><a href="#tab3" class="a0">Business partnerships</a></h2>
        <div class="tab-pane" id="tab3">
            tab3
        </div>
        <h2 class="header"><a href="#tab4" class="a0">Schools and programmes</a></h2>
        <div class="tab-pane" id="tab4">
            tab4
        </div>
        <h2 class="header"><a href="#tab5" class="a0">Venue hire</a></h2>
        <div class="tab-pane" id="tab5">
            tab5
        </div>
        <h2 class="header"><a href="#tab6" class="a0">Sponsorship opportunities</a></h2>
        <div class="tab-pane" id="tab6">
            tab6
        </div>
    </div>
    
</section>