<section class="three-plus x-plus row module">
    <h2 class="module-title">RCA now</h2>
    <div class="item-container">
        <ul class="row">
            <li class="newrow">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/224x126/art" /></div>
                    <div class="content">
                        <h3 class="h8">Name of student project</h3>
                        <p class="bc5">Second line of text</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/224x126/architecture" /></div>
                    <div class="content">
                        <h3 class="h8">Name of student project</h3>
                        <p class="bc5">Second line of text</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/224x126/animal" /></div>
                    <div class="content">
                        <h3 class="h8">Name of student project</h3>
                        <p class="bc5">Second line of text</p>
                    </div>
                </a>
            </li>
            <li class="load-more-target">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/224x126/nature" /></div>
                    <div class="content">
                        <h3 class="h8">Name of student project</h3>
                        <p class="bc5">Second line of text</p>
                    </div>
                </a>
            </li>
            <li class="newrow">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/224x126/sky" /></div>
                    <div class="content">
                        <h3 class="h8">Name of student project</h3>
                        <p class="bc5">Second line of text</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/224x126/aurora" /></div>
                    <div class="content">
                        <h3 class="h8">Name of student project</h3>
                        <p class="bc5">Second line of text</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/224x126/military" /></div>
                    <div class="content">
                        <h3 class="h8">Name of student project</h3>
                        <p class="bc5">Second line of text</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/224x126/people" /></div>
                    <div class="content">
                        <h3 class="h8">Name of student project</h3>
                        <p class="bc5">Second line of text</p>
                    </div>
                </a>
            </li>
            <li class="newrow">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/224x126/art" /></div>
                    <div class="content">
                        <h3 class="h8">Name of student project</h3>
                        <p class="bc5">Second line of text</p>
                    </div>
                </a>
            </li>
            <li class="load-more"><a href="#">+</a></li>
        </ul>
    </div>
</section>