<section class="row three-search">
	<section class="nine current-research x-plus">
		<div class="module">
			<h2 class="module-title">Current research</h2>
			<div class="item-container">
		        <ul class="row">
		            <li>
		                <a href="#">
		                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
		                    <div class="content">
		                        <h3 class="h8">Name of student project</h3>
		                        <p class="bc5">Text optionally follows this</p>
		                    </div>
		                </a>
		            </li>
		            <li>
		                <a href="#">
		                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
		                    <div class="content">
		                        <h3 class="h8">Name of student project</h3>
		                        <p class="bc5">Text optionally follows this</p>
		                    </div>
		                </a>
		            </li>
		            <li class="load-more-target">
		                <a href="#">
		                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
		                    <div class="content">
		                        <h3 class="h8">Name of student project</h3>
		                        <p class="bc5">Text optionally follows this</p>
		                    </div>
		                </a>
		            </li>
		        </ul>
		    </div>
		</div>
	</section>
	<section class="three">
			<div class="module">
			<h2 class="module-title">Search research</h2>
			<form class="search research-search">
				<input type="text" placeholder="SEARCH" />
            	<input type="submit" value="search" />
			</form>
		</div>
	</section>
</section>