<section class="two-plus x-plus module">
    <h2 class="module-title">A title</h2>
    <div class="item-container">
        <ul class="row">
            <li class="newrow">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <div class="content">
                        <h3 class="h8">Name of student project</h3>
                        <p class="bc5">Text optionally follows this</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <div class="content">
                        <h3 class="h8">Name of student project</h3>
                        <p class="bc5">Text optionally follows this</p>
                    </div>
                </a>
            </li>
            <li class="load-more-target">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <div class="content">
                        <h3 class="h8">Name of student project</h3>
                        <p class="bc5">Text optionally follows this</p>
                    </div>
                </a>
            </li>
            <li class="newrow">
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <div class="content">
                        <h3 class="h8">Name of student project</h3>
                        <p class="bc5">Text optionally follows this</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <div class="content">
                        <h3 class="h8">Name of student project</h3>
                        <p class="bc5">Text optionally follows this</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="image"><img src="http://instasrc.com/304x171/art" /></div>
                    <div class="content">
                        <h3 class="h8">Name of student project</h3>
                        <p class="bc5">Text optionally follows this</p>
                    </div>
                </a>
            </li>
            <li class="load-more"><a href="#">+</a></li>
        </ul>
    </div>
</section>